/* 
* @Author: Tony
* @Date:   2016-02-19 10:06:25
* @Last Modified by:   Tony
* @Last Modified time: 2016-02-19 12:55:59
*/
.header{
	width:1000px;
	height:80px;
	margin:0 auto;
}

.span-logo{
	display:inline-block;
	width:273px;
	height:79px;
	background:url(../images/tlyunlogo.png) no-repeat;
}
.input-dl{
	float:right;
	width:177px;
	height:40px;
	border:1px solid #969696;
	border-radius:5px;
	padding-left:10px;
	margin:20px 17px 0 0 ;
}

.but-dl{
	float: right;
	width: 77px;
	height: 36px;
	background: #2874A6;
	border: 1px solid #2874A6;
	border-radius: 5px;
	color: #fff;
	margin: 29px 0 0 25px;
	cursor: pointer;
	display: inline-block;
	line-height: 37px;
	text-align: center;
	text-decoration: blink;
	padding:0;
}
.container{
	background:url(../images/main-bg.png);
	height:480px;
}
.cont-main{
	background:url(../images/yun-tlindexbg.png) no-repeat;
	height:480px;
	width:1000px;
	margin:0 auto;
}

.gototeac{
	width:750px;
	border-radius:21px;
	float:right;
	text-align:right;
}
.gototeac p{
	color:#fff;
	line-height: 13px;
	font-weight: normal;
	text-align: left;
}
.p2-rk{
	font-weight:bold !important;
	margin-top:105px;
	font-size: 14px;
}
.gototeac .p-rk{
	font-weight:bold !important;
	width: 536px;
	margin-top: 50px;
	font-size: 16px;
	text-align: right !important;
}
.dd-re{
	position: relative;
}
.div-ewm{
	position: absolute;
	right: 1px;
	top: -57px;
	width: 270px;
	height: 180px;
	line-height: 20px;
}
.div-ewm img{

	margin:0 15px;
}
.div-ewm span{
	display: inline-block;
	width: 108px;
	margin-right: 17px;
	/*font-size: 14px;*/
	color: #fff;font-weight: normal;
	/*letter-spacing: 2px;*/
}
.gototeac dl{
	line-height:67px;
	float: right;
	width: 811px;
}
.gototeac input{
	width:283px;
	height:37px;
	border:none;
	border-radius:25px;
	line-height:37px;
	padding:0 10px;
	background:#fff;
}
.gototeac button{
	width:303px;
	height:37px;
	border:none;
	border-radius:25px;
	line-height:37px;
	padding:0 10px;
	color:#fff;
	cursor:pointer;
	box-shadow:0 1px 1px #fff;
	background: #ffc438;
	/*background: -webkit-linear-gradient(#FECA4E, #EF9928); *//* Safari 5.1 - 6.0 *//*
	background: -o-linear-gradient(#FECA4E, #EF9928);*//* Opera 11.1 - 12.0 *//*
	background: -moz-linear-gradient(#FECA4E, #EF9928); *//* Firefox 3.6 - 15 *//*
	background: linear-gradient(#FECA4E, #EF9928); *//* 标准的语法 */
}
.gototeac button:hover{
	background: -webkit-linear-gradient(#FDB816, #FF7900); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#FDB816, #FF7900);/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#FDB816, #FF7900); /* Firefox 3.6 - 15 */
	background: linear-gradient(#FDB816, #FF7900); /* 标准的语法 */

}
.copyright{
	width:1000px;
	margin:0 auto;
	text-align:center;
	color:#929292;
	padding-top:30px;
	line-height:24px;
    color: #000000;
}

.copyright span{
	margin-right:15px;
}
.gotolive-A{
    display: inline-block;
    width: 185px;
    height: 45px;
}
.header{
	background:#4D586E;
	height:80px;
	width: 100% !important;
}
.headmid{
	width:1000px;
	margin: 0 auto;
	padding:12px 0 0 0;
}
.logo{
	width:423px;
	height:58px;
	background:url(/images/tllb-logo.png);
	float:left;
}
body{
	margin: 0px;
}
.errinfo
{
	/*margin-top: -20px;*/
	padding-top: -20px;
	height: 12px;
}