html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, a, b, i, em, strong, form, table, tr, th, td, span, input, fieldset, select, option, textarea, label, iframe, header, nav, aside, article, section, button {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

img {
    display: block;
}

ol, ul {
    list-style: none;
}

i, b, em, strong {
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

body {
    font-family: Microsoft YaHei;
    color: #656565;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif', 'simsun', 'Lucida Grande', 'Lucida Sans Unicode';
}

a:hover {
    color: #ff5a0b;
}

img {
    display: inline
}

input {
    outline: none;
}

ul {
    list-style-type: none
}

img {
    border-style: none
}

.main {
    width: 100%;
    height: 1024px;
    background: url("/static/images/404_logo_1.png");
}

.main_info {
    width: 833px;
    height: 487px;
    background: url("/static/images/404_logo_2.png") no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -243.5px;
    margin-left: -426.5px;
}

.main_info dl {
    position: absolute;
    left: 360px
}

.main_info dt {
    margin-top: 170px;
    color: #8c8c8c;
    font-size: 35px;
}

.main_info dd {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 20px;
    font-weight: bold;
}

.main_info button {
    height: 38px;
    width: 86px;
    background-color: #ff8800;
    border-radius: 5px;
    font-family: Microsoft Yahei;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}