@charset "utf-8";
*{ margin:0; padding:0; list-style:none;}
input[type="button"],
input[type="submit"],
input[type="reset"]
{
    -webkit-appearance: none;}
a{ text-decoration:none;color:#fff;}
a:hover{text-decoration:none;color:#fff;}
a,img{border:0;}
.body,html{ height:100%;}
.main{background:url(../img/bg.png); width:100%; text-align:center; margin-left:auto; margin-right:auto; bottom:0px; overflow:hidden; }
.main_1{ width:100%; text-align:center; margin-left:auto; margin-right:auto; bottom:0px; overflow:hidden;}
.t1{ width:100%; text-align:center; margin:0px auto; margin-top:50px;}
.t2{ width:100%; text-align:center; margin:0px auto;}
.t21{ width:33%; text-align:center; margin:0px auto; float:left; margin-top:100px;}
.tds{color:#FFF; padding-top:10px; font-family:'微软雅黑'; font-size:14px;}

.nav{ width:100%; height:40px; background:#f6f6f8; position:fixed;}
.nav_wz{ font:"微软雅黑"; font-size:12px; line-height:30px;}
.nav_wz:hover{ font:"微软雅黑"; font-size:12px; line-height:30px; color:#999;}
.nav_1{ float:left; width:50%; margin-top:5px;}
.nav_2{ float:right; width:50%; margin-top:5px;}

.xian{ width:80%; height:1px; text-align:center; background:#CCC; margin:0px auto; margin-top:20px;}

.xuanze{ width:100%; height:auto;  margin-top:20px;}
.xx{ width:80%;}
.left{ width:50%; line-height:30px; font-size:14px; font-family:"微软雅黑";  }
.right{ width:50%; float:left; margin-top:5px;}

.foot{ bottom:0px; position:fixed; text-align:center; overflow:hidden; left:0px; right:0px; line-height:18px; width:100%; background:#f6f6f8; height:40px;}
.footer{font-size:12px; color:#333; font-family:'微软雅黑';}
.zt{ margin-top:40px;}
.promptumenu_nav{
    z-index: 5;
    position: absolute;
    bottom:5px;
    left: 50%;
    margin-right: -50%;
}
.promptumenu_window{
    cursor: move;
    position: relative;
}
.promptumenu_nav a{
    cursor: pointer;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    outline: none;
    background: url(pagination1.png) 0 0 no-repeat;
    display: block;
    float: left;
    position: relative;
    left: -50%;
    margin: 0 2px;
}
.promptumenu_nav a.active{
    background: url(pagination2.png) 0 0 no-repeat;
}


.xian_c{ width:90%; height:30px; text-align:center; background:#f87676; margin:0px auto; margin-top:20px;}
.qp{font-size:12px; color:#fff; font-family:'微软雅黑'; line-height:30px;}
.b_main{ margin-top:50px;}

.left_1{ width:40%; float:left; border:#999 1px solid; height:110px;  border-radius:5px; margin-left:20px; margin-top:10px;}
.right_1{width:40%; float:right; border:#999 1px solid; height:110px;  border-radius:5px; margin-right:20px; margin-top:10px;}

.left_x{ width:100%; text-align:center; margin-top:10px;}
.left_w{font-size:10px; color:#999; font-family:'微软雅黑'; text-align:center; margin-top:5px;}

.login{ width:90%; text-align:center; margin:20px auto; }
.text{ margin:10px auto;  border-radius:20px; font-size:12px; color:#333; text-align:center; }
.text_1{ height:60px; margin:0px auto; text-align:center;  border-radius:20px; font-size:12px; color:#333; margin-left:10px; }
.foot_1{ width:100%; height:20px; color:#999; font-size:12px; margin:0px auto; text-align:center; margin-top:30px;}
.tet{width:80%; height:40px; border-radius:3px; border:#999 1px solid; font-size:14px; font-family:'微软雅黑'; text-align:left;}
.lg_btn{color:#fff; line-height:35px; background:#ff4d13; width:85%; height:35px; border-radius:3px;  border:0px;  margin:10px auto; font-size:14px; font-family:'微软雅黑';}

.hy{font-size:18px; color:#ff4d13; font-family:'微软雅黑'; text-align:center; margin-top:20px;}
.tx{font-size:12px; color:#666; font-family:'微软雅黑';  margin-top:10px; float:left; width:50%;}
.tc{font-size:12px; color:#09F; font-family:'微软雅黑';  margin-top:10px; float:right; width:50%;}
.tt{font-size:12px; color:#09F; font-family:'微软雅黑';  margin-top:10px; float:right; width:100%;}

.kk{ width:95%; margin:10px auto; border:#999 1px solid; height:100%; }

.wz{font-size:14px; font-family:'微软雅黑'; line-height:50px; color:#333; text-align:left; width:100%;}
.jj{font-size:14px; font-family:'微软雅黑'; line-height:50px; color:#333; text-align:right;}

.wz_1{ width:80%; font-size:12px; font-family:'微软雅黑'; color:#999; padding-bottom:20px;}
.wz_11{ font-size:12px; font-family:'微软雅黑'; color:#999; text-align:left; margin-left:20px;}
.wz_2{ width:30%; font-size:12px; font-family:'微软雅黑'; color:#666; padding-bottom:20px; float:left;}

.jz{ text-align:right; margin-right:10px; width:50%; font-size:18px; font-family:'微软雅黑'; color:#ff4d13;}

.wzwz{font-size:12px; font-family:'微软雅黑'; color:#090; width:50px; text-align:right; float:right; margin-top:5px;}

.wz_3{font-size:14px; font-family:'微软雅黑'; color:#333; text-align:left; width:100%; line-height:50px;}
.wz_4{font-size:12px; font-family:'微软雅黑'; color:#666; text-align:left; width:100%; line-height:20px; padding-bottom:10px;}
.dg{ margin-top:5px; float:left; font-size:12px; font-family:'微软雅黑'; color:#ff4d13;}

.jzz{ text-align:left;  width:120px; font-size:12px; font-family:'微软雅黑'; color:#ff4d13;}
.lg_bt{color:#fff; line-height:35px; background:#ff4d13; width:100%; height:35px;  border:0px;  margin:10px auto; font-size:12px; font-family:'微软雅黑';}











body{
    background: white;
}
.page{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}
.wei-top{
    background: black;
    height: 128px;
    color: white;
}
.wei-top>table{
    width: 100%;
    font-size: 18px;
    padding-top: 60px;
}
.wei-f{
    padding-left: 1em;
}
.wei-t{
    text-align: center;
}
.wei-k{
    text-align: right;
    padding-right: 1em;
}
.wei-top>table td{
    width: 33%;
    color: white;
}
.wei-x{
    height: 70px;
    border-bottom: 1px solid #dfdfdf;
    background: #f6f6f6;
}
.wei-L{
    float: left;
    width: 78%;
}
.lis{
    margin: .5em;
    width: 50px;
    height: 50px;
}
.wei-L-i{
    display: inline-block;
    vertical-align: top;
    margin-top: 0.6em;
    font-size: 14px;
    font-family: Microsoft yahei;
}
.wei-L-i span{
    display: block;
}


.wei-s{
    margin-top: 0.38em;
    color: #b5b5b5;
}
.wei-R{
    width: auto;
    margin: 22px .5em 0 0;
    float: right;
    text-align: center;
    border: 1px solid #ff7900;
    border-radius: 20px;
    color: #ff7900;
    font-size: 14px;
    padding: 5px 15px;
}
.wei-J{
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom:1px solid #dfdfdf;
    font-size: 14px;

}
.wei-J .tab-I{
    margin-left:1em;
    color: #b5b5b5;
}
.wei-J .tab-II{
    color: #3296dc;
    margin-left: 1em;
}
.wei-p{
    width: 100%;
    font-size: 20px;
    min-height: 195px;
    border-bottom:1px solid #dfdfdf;
}
.wei-top-p{
    width: 100%;
}
.icon-p{
    float: left;
}
.wei-p .wei-p-lis{
    width: 50px;
    height: 50px;
    margin: 0.8em;
    border-radius: 50%;
    float: left;
}
.wei-LL{
    margin-top:  15px;
     width: 70%;
    text-align: left;
}
.wei-p-i{
     display: inline-block;
    vertical-align: middle;
    margin-top: 0.1em;
    font-size: 18px;
    color: #000000;
     width: 100%;

}
.wei-p-i span{
    display: block;
}
.wei-p-s{
    margin-top: 0.5em;
    color: #b5b5b5;
    font-size: 12px;
}
.wei-p p{
    margin: 0.1em 1em 1em 1em;
    word-break: break-all;
}
.wei-M{
    width: 88%;
    margin: 0em 1em 1em 1em;
}
.wei-q{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom:1px solid #dfdfdf;
}
.wei-q span{
    margin: 0 1em;
    font-size: 20px;
}
.wei-v{
    margin-right: 1.2em;
}
.wei-v li{
    width: 100%;
    display: inline-block;
    min-height: 140px;
    border-bottom: 1px solid #dfdfdf;
}
.wei-v-lis{
    width: 50px;
    height: 50px;
    margin: 1em 0.1em 0.1em 0.8em;
    border-radius: 50%;
}
.wei-v-i{
    width: 75%;
    vertical-align: top;
    margin-top: 0.9em;
    font-size: 20px;
    color: #ff7900;
    float: right;
}
.wei-v-i span{
    display: block;
}
.wei-v-s{
    color: #000000;
    margin-top: 1.5em;
    word-wrap: break-word;
    width: 100%;
}
.wei-v-tx{
    float: left;
    width: 50%;
}
.wei-v-L{
    float: right;
    color: #989898;
    display: block;
    width: 50%;
    text-align: right;
}
.wei-bottom{
    background: #f6f6f6;
    min-height: 1435px;
}
.wei-b-top{
    width: 95%;
    margin-top:1.5em;
    padding: 1em .2em;
    text-align: center;
}
.wei-b-J{
    position: relative;
    text-align: center;
    /* width: 95%;*/
    margin: 1.5em;
    border: 1px solid #ff7900;
    border-radius: 3px;
    min-height: 318px;
}
.wei-b-J .wei-b-a{
    margin-top: 32px;
}
.wei-b-J p{
    line-height: 1.2;
    font-size: 20px;
    width: 85%;
    margin: 15px auto;
    text-align: left;
}
.wei-b-v{
    margin:15px
}
.wie-guanzhu{
    height: 40px;
    width: 95%;
    margin: 40px auto;;
    text-align: center;
}
.wie-guanzhu span{
    border-bottom: 1px solid #bebebe;
    display: inline-block;
    width: 35%;
}
.wie-guanzhu i{
    color: #bebebe;
    font-size: 18px;
    font-style: normal;
    margin: 0em 1em;
}
.wei-weixin{
    width: 95%;
    margin: 35px auto;
    min-height: 260px;
    text-align: center;
}
.wei-weixin img{
    margin: 0 1em;
}
.wei-D{
    width: 60%;
    margin: 60px auto;
    min-height: 90px;
    text-align: center;
    line-height: 1.2;
    color: #3296dc;
    font-size: 25px;
}
.wei-bottom-a{
    width: 100%;
    margin: 60px auto;
    min-height: 90px;
    text-align: center;
}
.wei-bottom-a span{
     display: block;
    border: 1px solid #ff7900;
    width: 210px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #ff7900;
    border-radius: 20px;
    font-size: 20px;
    margin: 60px auto;
}
.wei-f a{
    color: white!important;
}
.wei-DK{
    background: #ff7900!important;
    padding: 10px 15px;
}
.wei-R a{
    color: #ff7900;
}
.wei-b-top a{
    font-size: 18px;
    background: #ff7900!important;
    padding: 10px 15px;
}
.wei-bottom-a a{
    color: #ff7900;
}
.wei-K-bottom{
    display: inline-block;
    background: #f6f6f6;
    height: 75px;
    width: 100%;
}