/*new页面*/
body > div[ng-view] {
    width: 910px;
    margin: 0 auto;
    border: 1px #808080 solid;
}

.button {
    background: none;
    color: #303030;
    font-family: "Microsoft Yahei";
    font-size: 14px;

}

.button:hover {
    background: none;
}

.question-type.active {
    background-color: #008000;
}

.horiz_right {
    width: 250px;
    height: 800px;
    overflow: auto;
}

.new-question-header {
    border: solid 1px darkgray;
    background-color: #f8f5ee;
    padding: 10px;
}

.answer-sheet-head-container > div > span {
    vertical-align: top;
    padding: 4px 3px 0 0;
}

.answer-sheet-head-container div {
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 6px 0 0;
}

.answer-sheet-head-container div > span > span {
    padding: 2px 6px 0 0;

}

.category-option-container {
    width: 200px;
}

.category-container {
    display: inline-block;
}

.horiz-container {
    background-color: #ffffff;
}

.horiz-container > div {
    float: left;
}

.doc-container {
    position: absolute;
    left: 10px;
    top: 70px;
    width: 555px;
    bottom: 10px;
    border: 1px solid lightgray;
}

.doc-container > div[ng-include] {
    position: absolute;
    padding: 12px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.question-head {
    height: 45px;
    background-color: #EEEEEE;
    line-height: 45px;
    border-bottom: 1px solid #C3C3C3;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    overflow: visible;
}

.question-head > button {
    float: right;
}

.question-head > a {
    color: green;
    float: left;
}

.part-user-list {
    padding-top: 5px;
    margin: 5px;
    list-style: none;
    width: 300px;
    overflow: hidden;
}

.part-user-list > li {
    text-align: center;
    float: left;
    width: 72px;
    overflow: hidden;
    height: 100px;
    margin-left: 2px;
}

.part-user-list > li img {
    height: 70px;
    float: left;
    width: 70px;
}

.part-user-container {
    width: 380px;
    padding: 10px 10px 0 10px;
}

.part-user-container > button {
    float: right;
}

.underline {
    text-decoration: underline;
}

a.underline {
    cursor: pointer;
}

.returnIndex:hover {
    background: url("/images/return-index.png") no-repeat;
}

.returnIndex {
    width: 30px;
    height: 30px;
    background: url("/images/return-index.png") no-repeat;
}

.questionList h1, .scan, .delete {
    font-family: "microsoft yahei";
    font-size: 14px;
    color: rgb(255, 126, 0);
}

.questionList {
}

.questionnaire-list-header {
    border-bottom: 1px solid #d2d2d2;
    height: 30px;
    padding: 7px;
}

.questionnaire-list-header .vertical-fix {
    margin-top: 2px;
    float: right;
}

.questionnaire-list-header > * {
    vertical-align: middle;
    margin: 0 3px;
}

.listName-thead {
    margin-left: 0;
    width: 170px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-family: "microsoft yahei";
    font-size: 14px;
    float: left;
    padding-left: 40px;
}

.questionlistName {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12em;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    margin-left: 20px;
    font-family: "microsoft yahei";
    font-size: 14px;
    float: left;
}

.underline {

    font-family: "microsoft yahei";
    font-size: 14px;
    margin-left: 5px;
}

.underline:hover {
    color: gray;
}

.spark {
    float: left;
}

.scan {
    float: right;
}

.delete {
    float: right;
    background: #ffffff;
    margin-top: 4px;
    border-radius: 0;
    margin-right: 0;
    line-height: 30px;
}

.delete:hover {
    background: gainsboro;
}

.listForDetail {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d2d2d2;
    padding: 0 10px 0 20px;
    background: url(/images/spark_other.png) no-repeat 10px center;

}
.listForDetail.self-questionnaire{
    background: url(/images/spark_own.png) no-repeat 10px center;
}
.operation-inline {
    display: inline;

}

.listForDetail .vertical-fix {
    margin-top: 7px;
    float: right;
}

.star-title {
    background: url(/images/spark_other.png) no-repeat 10px center;
}

.selectMe {
    margin-right: 230px;
    line-height: 35px;
    float: right;
}

.questionnaire-btn-new {
    width: 100px;
    border: 1px solid lightgray;
    background: #ff7e00;
    color: #ffffff;
    padding: 0 15px;
    box-shadow: 1px 2px 3px lightgray;
    line-height: 25px;
    font-size: 12px;
    min-width: 50px;
    text-align: center;
}

.questionnaire-btn-new:hover {
    color: #ffffff;
    text-decoration: none;
    box-shadow: 2px 3px 8px darkgray;
}

.questionnaire-btn-fill {
    border: 1px solid lightgray;
    color: #000000;
    padding: 0 15px;
    box-shadow: 1px 2px 3px lightgray;
    line-height: 25px;
    font-size: 12px;
    min-width: 50px;
    text-align: center;
    margin-right: 30px;
}

.questionnaire-btn:hover {
    color: #000000;
    text-decoration: none;
    box-shadow: 2px 3px 8px darkgray;
}

.questionnaire-filled {
    padding: 0 50px;
    line-height: 25px;
    font-size: 12px;
    min-width: 50px;
    text-align: center;
}

.questionnaire-ul {
    background: #fff;
}

.questionnaire-ul-thead {
    background-color: #9a88c7;
}

.questionnaire-ul-thead span {
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-family: "microsoft yahei";
}
.questionlist-operation-thead{
    width: 140px;
    height: 40px;
    line-height: 40px;
    float: right;
    margin-right: 10px;
}
.questionlist-operation {
    width: 140px;
    height: 40px;
    line-height: 40px;


}

.bar {
    width: 100px;
}

.bar > div {
    background-color: orangered;
    height: 10px;
}

.stat-answers > li > div {
    display: inline-block;
}

.ctrl {
    font-family: "microsoft yahei";
    font-size: 18px;
    color: #464b56;
}

.span-break{
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.publish {
    line-height: normal;
    width: 85px;
    height: 30px;
    font-size: 15px;
    background-color: #60B760;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    font-family: "Microsoft YaHei";
}

.publish:hover {
    background-color: #EFAD58;
}

.change {
    line-height: 32px;
    width: 85px;
    height: 30px;
    font-size: 15px;
    background-color: #efad57;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    float: right;
    padding-top: 1px;
}

.change * {
    cursor: pointer;
}

.change:hover {
    background-color: #60B760;
}

.new_select {
    display: inline;
    padding: 4px 10px;
    background-color: #ffffff;
    border: 1px solid #C3C3C3;
    cursor: pointer;
    border-radius: 5px;
}

.new_select:hover {
    background-color: #61B760;
    color: #ffffff;
}

.new_select:active {
    background-color: #61B760;
    display: inline;
    padding: 4px 10px;
    border: 1px solid #C3C3C3;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff
}

.embed > span {
    width: 440px;
    height: 145px;
    background: #808080;
}

.sparkle-unread {
    background-color: #FF7E00;
    display: inline-block;
    min-width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 9px;
    margin-top: -15px;
}

.questionnaire-index-menu {
    border: 1px solid #D0D0D0;
    color: #000000;
    cursor: pointer;
    margin-bottom: 15px;
    background: url('/images/questioniare-logo.png') no-repeat #fff 60px center;
    padding: 12px 12px 12px 105px;
    font-size: 14px;
}

#questionnaire_section {
    min-height: 1200px;
    background: #F8F8F8;
    overflow: visible;
}

#questionnaire_section div {
    overflow: visible;
}

.absent-member-thead {
    height: 40px;
    line-height: 40px;
    width: 80px;
    position: relative;
}

.absent-member {
    height: 40px;
    line-height: 40px;
    width: 80px;
    position: relative;
}

.absent-member > a.underline {
    color: gray;
    font-size: 12px;
    width: 67px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.absent-popup-container {
    position: absolute;
    top: 25px;
    z-index: 9999;
}

.absent-popup-container.left {
    left: -500px;
}

/*对话泡泡*/
.absent-popup {
    position: relative;
    margin: 1em 0 3em;
    color: #000;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #888;
    border: 1px solid #666;
    background-color: white;
}

/* creates triangle */
.absent-popup:after {
    content: "";
    position: absolute;
    border-style: solid;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
    top: -5px; /* value = - border-top-width - border-bottom-width */
    left: 30px; /* controls horizontal position */
    bottom: auto;
    border-width: 0 7px 5px; /* vary these values to change the angle of the vertex */
    border-color: #fff transparent;
}

.absent-popup:before {
    content: "";
    position: absolute;
    border-style: solid;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
    top: -7px; /* value = - border-top-width - border-bottom-width */
    left: 28px; /* controls horizontal position */
    bottom: auto;
    border-width: 0 9px 7px; /* vary these values to change the angle of the vertex */
    border-color: #666 transparent;
}

.question-deadline {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.question-deadline.urgent {
    color: red;
}

.question-publisher-thead {
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.question-publisher {
    width: 80px;
    height: 55px;
    line-height: 40px;
    text-align: center;
}

.configuration_main_right {
    width: 300px;
    position: absolute;
    right: 10px;
    top: 70px;
    bottom: 70px;
    overflow: visible;
    font-size: 13px;
    height: 800px;
    overflow: auto;
}

.answer-sheet-container {
   /* max-height: 70%;*/
    border: solid #C3C3C3;
    border-width: 1px 0;
}

.answer-sheet-head-container {
    padding: 10px 5px 15px 5px;
    border: solid #C3C3C3;
    border-width: 1px 1px 0 1px;
   /* min-height: 35px;*/
    background-color: #F8F5EE;
    max-height: 160px;
    overflow: auto;

}

.answer-sheet-title {
    padding: 10px 5px 15px 5px;
    border: solid #C3C3C3;
    border-width: 0 1px 0 1px;
    background-color: #F8F5EE;
    text-align: center;
    color: #61B760;
    font-family: "microsoft yahei";
    vertical-align: middle;
}

.answer-sheet-option {
    min-height: 45px;
}

.deadline-input {
    width: 200px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #d0d0d0;
    margin-left: 12px;
    display: inline-block;

}

.newUl-verticalMid {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.textarea-container {
    display: inline;
}

.absent-popup-container.pop-left {
    left: auto;
    right: -5px;
}

.absent-popup-container.pop-left .absent-popup:before {
    left: auto;
    right: 28px;
}

.absent-popup-container.pop-left .absent-popup:after {
    left: auto;
    right: 30px;
}

.doc-uploader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -70px;
    margin-left: -220px;
    width: 440px;
}

.configuration_main_right_VVVV_I {
    border-bottom: 1px solid #C3C3C3;
    height: 45px;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 45px;
    color: #000000
}

.configuration_main_right_VVVV_II {
    width: 50px;
    height: 45px;
    text-align: center;
    float: left;
}

.question-new-index {
    border-left: 1px solid #C3C3C3;
    text-indent: 1em;
    width: 100px;
}

.question-new-row {
    border-right: 2px solid #C3C3C3;
}

.configuration_main_right_VVVV_IIII {
    height: 30px;
    font-size: 16px;
    text-indent: 0.5em;
    opacity: 0.4;
    filter: alpha(opacity=40)
}

.question-up-op {
    background: url("/img/questionnaire/up_disable.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.question-up-op:hover {
    background: url("/img/questionnaire/up.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.question-down-op {
    background: url("/img/questionnaire/down.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.question-down-op:hover {
    background: url("/img/questionnaire/down_disable.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.question-remove-op {
    background: url("/img/questionnaire/delete.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.question-remove-op:hover {
    background: url("/img/questionnaire/delete_diaable.png") no-repeat;
}

.configuration_main_right_VVVVV_I {
    border-bottom: 1px solid #C3C3C3;
    height: 45px;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 45px;
    color: #000000;
}

.configuration_main_right_VVVVV_II {
    width: 50px;
    height: 45px;
    border-right: 1px solid #C3C3C3;
    text-align: center;
    float: left
}

.question-type-button {
    display: inline;
    padding: 2px 8px;
    background-color: #ffffff;
    border: 1px solid #C3C3C3;
    cursor: pointer;
    border-radius: 5px;
    color: #9A9A9A;
}

.question-type-button:hover {
    background-color: #61B760;
    color: #ffffff;
}

.question-type-button.active {
    background-color: #61B760;
    color: #ffffff;
}

.configuration_main_right_VVVVV_III_active {
    margin-left: 10px;
    background-color: #61B760;
    display: inline;
    padding: 4px 10px;
    border: 1px solid #C3C3C3;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff
}

.configuration_main_right_VVVVVV_I {
    border-bottom: 1px solid #C3C3C3;
    min-height: 45px;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 45px;
    color: #000000;
    width: 300px;
    position: relative;
}

.V {
    border-left: 1px solid #C3C3C3;
    width: 150px;
    margin-left: 50px;
    position: relative;
    padding-left: 10px;
}

.VV {
    position: absolute;
    top: 45px;
    left: -15px;
}

.answer-option-item {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.answer-add-one {
    background: url("/img/questionnaire/+.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.answer-add-one:hover {
    background: url("/img/questionnaire/+_hover.jpg") no-repeat
}

.answer-minus-one {
    background: url("/img/questionnaire/-.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.answer-minus-one:hover {
    background: url("/img/questionnaire/-_hover.jpg") no-repeat
}

.configuration_main_right_VVVV_I > span {
    display: block;
    line-height: 20px;
}

/*底部*/
.configuration_bottom {
    text-align: center;
    margin-top: 20px;
}

.configuration_bottom_I {
    background-color: #61B760;
    color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.doc-uploader-label {
    background: #9a88c7 url(/img/questionnaire/arrow.png) no-repeat 20px;
    width: 440px;
    height: 140px;
    color: #ffffff;
    padding: 35px 0 0 150px;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 30px;
}

.doc-uploader-label .title {
    font-size: 35px;
    line-height: 50px;
}

.doc-uploader-container .tip {
    border: 1px solid #d1d1d1;
    box-shadow: 0 8px 10px -3px #a0a0a0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.doc-uploader-container .tip .content {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    line-height: 50px;
    background-color: white;
}

.doc-uploader-container .tip .header {
    background-color: #d1d1d1;
    padding: 5px 15px;
}

.doc-uploader-container .tip .content .fa {
    vertical-align: middle;
    font-size: 50px;
    color: deepskyblue;
}

.ng-hide-add, .ng-hide-remove {
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
    display: block !important;
}

.ng-hide-add.ng-hide-add-active, .ng-hide-remove {
    opacity: 0;
}

.ng-hide-add, .ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.questionnaire-pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca !important;
    border-color: #428bca;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.static-container {
    position: absolute;
    right: 6px;
    top: 70px;
    bottom: 10px;
    width: 255px;
    padding: 0 10px;
}

.static-header {
    padding: 20px 0px 20px 15px;
    border: solid 1px darkgrey;
}

.static-title {
    color: #64b238;
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    margin-right: 5px;
}

.static-question {
    border: solid 1px darkgrey;
    border-top: none;
    padding: 10px 5px;
}

.static-quesiton-title {
    padding: 5px 0;
}

.static-question .bar {
    margin: 5px 15px;
}

.stat-answers {
    padding: 0 5px;
}

.static-answers-container {
    padding: 3px 10px;
}

.expand-button {
    float: right;
}

.answer-text-item {
    background-color: #f8f5ee;
    margin: 10px 0;
    padding: 5px;
    width: 200px;
    word-wrap: break-word;
}

.answer-area {
    border: 1px solid lightgray;
    width: 310px;
    position: absolute;
    top: 70px;
    right: 4px;
    bottom: 10px;
}

.answer-list-ul > li {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.answer-list-ul > li > div:first-child {
    margin-bottom: 10px;
}

.answer-ul li {
    float: left;
    margin: 0 10px;

}

.answer-ul li input {
    margin-right: 5px;
}

.answer-table {
    width: 100%;
    border-collapse: collapse;
}

.answer-table td {
    border: solid #c1c1c1;
    border-width: 1px 1px 0;
    padding: 8px;
}

.answer-option-container {
    width: 160px;
    overflow: visible;
}

.answer-left-column {
    width: 40px;
}

.answer-list-ul textarea {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 260px;
    padding: 5px;
    margin-left: 10px;
}

.static-perAnswer {
    width: 10px;
}

.static-perPerson {

}

.questionnaire-out-div {
    height: 100%;
    border: 0 !important;
    position: relative;
}

.questionnaire-out-div > div.ng-scope {
    position: absolute;
    border: solid gray;
    border-width: 0 1px;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    background: white;
    overflow:hidden;
}

.doc-include {
    position: absolute;
    left: 10px;
    top: 70px;
    width: 530px;
    bottom: 10px;
    border: 1px solid lightgray;
    padding: 12px;
}
.quest-view-more{
    text-align: center;
    display: block;
    color: #ff8000;
}
.unfilled-container{
    background: #fff;
    width: 100%;
}
.title-bar{
    background: #eee;
    padding: 10px;
    position: relative;
}
.title-bar > span{
    display: inline-block;
    vertical-align: middle;
}
.title-bar span .goback{
    color: #60b75f;
}
.title-bar .title-btn{
    background: #efae57;
    color: #fff;
    position: absolute;
    top: 6px;
    right: 10px;
}
.notfilled-container{
    margin-top: 10px;
    border: 1px solid #ccc;
    position: relative;
}
.notfilled-container .title-bar button{
    position: absolute;
    top: 5px;
    right: 10px;
    background: #60b75f;
}
.unfilled-prs {
    display: inline-block;
    width: 33.2%;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
}
.unfilled-prs-img{
    width: 43px;
    height: 43px;
    margin-right: 15px;
}
.unfilled-prs div{
    padding: 9px 10px;
}
.unfilled-prs div > *{
    display: inline-block;
    vertical-align: middle;
}
.pagination-wrapper{
    overflow: visible;
    text-align: center;
    clear: both;
}
.batch-upload{
    overflow: visible;
    width: 266px;
    border: 1px solid #aaa;
}
.batch-upload:before{
    left: 200px;
    border-color: #aaa transparent;
}
.batch-upload:after{
    left: 202px;
}
.export-selected{
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 22px;
}
.chart-type-switch{
    height: 25px;
    float: right;
    overflow: hidden;
}

.chart-type-switch .bar-switcher, .chart-type-switch .pie-switcher {
    width: 20px;
    height: 20px;
    box-sizing: content-box;
    background: url(/img/icon_chart.png);
    margin-right: 5px;
}

.chart-type-switch .bar-switcher {
    background-position:-10px -35px;
}

.chart-type-switch .bar-switcher:hover, .chart-type-switch .bar-switcher.active {
    background-position:-10px -10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.chart-type-switch .pie-switcher {
    background-position:27px -35px;
}

.chart-type-switch .pie-switcher:hover, .chart-type-switch .pie-switcher.active {
    background-position:28px -10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}