html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;}
a{text-decoration:none; color:red;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}

input{outline:none}


/*内容*/
.mytest_title{background-color: #ffffff;width: 100%;height: 165px;text-align: center;border-bottom: 2px solid #FF7900}
.mytest_title_NR{width: 900px;height: 180px;margin: 0 auto;text-align: center;position: relative;font-size: 17px;}
.mutest_title_NR_I{width: 250px;height: 180px;float: left;position: relative;cursor:pointer;margin-left: 50px;}
.mutest_title_NR_I>img{position: absolute;top: 20px;left: 35%}
.mutest_title_NR_I>span{position: absolute;top: 130px;left: 40%;color: #FF7900}
.mutest_title_NR_II{width: 250px;height: 180px;float: left;position: relative;cursor: pointer}
.mutest_title_NR_II>img{position: absolute;top: 20px;left: 35%}
.mutest_title_NR_II>span{position: absolute;top: 130px;left: 38%;color: #D5D5D5}
.mutest_title_NR_III{width: 250px;height: 180px;float:left;position: relative;cursor: pointer}
.mutest_title_NR_III>img{position: absolute;top: 20px;left: 35%}
.mutest_title_NR_III>span{position: absolute;top: 130px;left: 45%;color: #D5D5D5}

/*中间部分-暂无考试记录*/
.mytest_main{width: 770px;min-height: 10px;margin: 0 auto;border: 1px solid #CCCCCC;border-top: none;position: relative}
.mytest_main_NO{/*position: absolute;top: 10%;left: 33%;*/height:1500px;padding: 10% 0 0 33%;font-size: 50px;color: #000000;opacity: 0.2;filter:alpha(opacity=20)}
/*中间部分-有考试记录*/
.mytest_main>ul>li{width: 770px;height: 45px;border-bottom: 1px solid #CCCCCC;}
.mytest_main_V{width: 900px;height: 45px;position: relative;}
/*左边*/
.mytest_main_V_LT{float: left;width: 500px;height:45px;line-height: 45px;}
.mytest_main_V_LT_I{float: left;position: relative;left: -210px;width: 20em;height: 45px;font-size: 15px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;cursor: pointer}
.mytest_main_V_LT_II{position:absolute;right:520px;font-size: 14px;}
/*右边*/
.mytest_main_V_RT{float: left;width: 300px;height: 5px;font-size: 14px;}
.mytest_main_V_RT_I{background-color:#4BA44B;border: 1px solid #999999;width:80px;height: 20px;text-align: center;border-radius: 3px;position: relative;top: 10px;color: #ffffff;cursor: pointer;}
.mytest_main_V_RT_II{ position: absolute;left: 110px;top: 12px;width: 100px;}
.mytest_main_V_RT_III{position: absolute; left: 245px;top: 12px;width: 100px;}
/*已经答题*/
.mytest_main_Y_LT_II{position:relative;left:-210px;font-size: 14px;color:#57A958;z-index: -99999}
.mytest_main_Y_RT_I{background-color:#FFAC27;border: 1px solid #999999;width:80px;height: 20px;text-align: center;border-radius: 3px;position: relative;top: 10px;color: #ffffff;cursor: pointer;}
/*等待批改*/
.mytest_main_D_RT_I{background-color:#ffffff;border: 1px solid #999999;width:80px;height: 20px;text-align: center;border-radius: 3px;position: relative;top: 10px;color: #A0A0A0;cursor: pointer;}
/*开始答题*/
.task_title{width: 100%;height: 45px;background-color:#EEEEEE}
.task_title_main{width:900px;margin: 0 auto;font-size: 15px;position: relative;top: 11px;text-align: center}
.task_title_main_I{color: #8EC78E;position: absolute;left: 0px;}
.task_title_main_II{}
.task_title_main_III{color: #9F9F9F;margin-left: 30px;}
.task_title_main_IIII{position: absolute;right: 0px;background-color: #60B760;padding: 5px 20px;color: #ffffff;border-radius: 5px;top: -3px;cursor: pointer}
.task_title_main_V{position: absolute;right: 200px;background-color: #60B760;padding: 5px 20px;color: #ffffff;border-radius: 5px;top: -3px;cursor: pointer}
.task_title_main_VI{position: absolute;right: 100px;background-color: #60B760;padding: 5px 20px;color: #ffffff;border-radius: 5px;top: -3px;cursor: pointer}
.task_title_main_IIII, .task_title_main_V, .task_title_main_VI:hover{opacity:0.8;filter:alpha(opacity=80)}

.task_center_main{width: 1150px;background-color: #ffffff;height: 900px;margin:0 auto;position: relative;top: 10px;}
.task_center_left{width: 800px;min-height: 1000px;float: left;}
.task_center_left_I{border:1px solid #C3C3C3; width: 788px;height: 890px;overflow:hidden}



.task_center_left_right{width: 330px;height: 900px;float: right;position: relative;overflow-y:auto;overflow-x:hidden; border:1px solid #C3C3C3;}
.task_center_left_right_I{width: 300px; }
.task_center_left_right_I_I{height: 45px;border-bottom:1px solid #C3C3C3;text-align: center;line-height: 45px;}
.task_center_left_right_I_II{min-height: 45px;border-bottom:1px solid #C3C3C3;}
.task_center_left_right_I_II_I{padding:0px 5px;background-color: #ffffff;color: #000000;border:1px solid #C3C3C3;border-radius: 3px;cursor: pointer;display: inline-block;margin: 10px 0 0 0; font-size: 13px;}
.task_center_left_right_I_II_I:hover{background-color: #60B760;color: #ffffff}
.task_center_left_right_I_II_I.active{background-color: #60B760;color: #ffffff}

.task_center_left_right_I_III{width: 250px;margin: 0 0 0 10px;}
.task_center_left_right_II_I{height: 45px;text-align: center;background-color:#F7F5ED;line-height: 45px;border-bottom: 1px solid #C3C3C3;color: #000000;font-size: 15px;}
.task_center_left_right_III{width: 300px;font-size: 15px;margin: 10px 0 0 5;height: 700px;}
.task_center_left_right_III_I{position: relative;width: 300px;height: 500px;}
.task_center_left_right_III_I1{position: relative;width: 300px;height:auto;}
.task_center_left_right_III_II{border: 1px solid #C3C3C3;width: 15em;height: 30em;position: absolute;left: 40px;top: 10px;outline: none;-moz-box-shadow: 3px;resize:none;overflown-y:none;text-indent: 1em}
.task_center_left_right_III_II1{border: 1px solid #C3C3C3;width: 22em;height: 10em;left: 40px;top: 10px;outline: none;-moz-box-shadow: 3px;resize:none;overflown-y:none;text-indent: 1em}
.task_center_left_right_III_III{position: absolute;top:10px;}
.task_center_left_right_IIII{position: absolute;right: 100px;cursor: pointer;padding: 10px 0;}
.task_center_left_right_IIII_I{position: absolute;right: -60px;top: 0px;display: inline-block;width: 60px;font-size: 14px;cursor: pointer;color: #F88D39}
.task_center_left_right_V{width: 300px;min-height: 100px;margin: 20px 0 0 20px;}
.task_center_left_right_V_II{position: relative;width: 80px;height: 80px;display: inline-block}
.task_center_left_right_V_I{width: 80px;height: 80px;display: inline-block;cursor: pointer;position: relative}
.task_center_left_right_V_III{position: absolute;top: -10px;background-color:#464646;width: 10px;height: 10px;display: inline-block;cursor: pointer}

/****************************************学生开始答题**************************************/
.answer_I{height: 45px;background-color: #ffffff;text-align: center;line-height: 45px;color: #60B760;border-bottom:1px solid #C3C3C3}
.answer_center_left_right_I_II{min-height: 45px;border-bottom:1px solid #C3C3C3;background-color: #F7F5ED}
.answer_center_left_right_I_III{height: 45px;line-height: 45px;text-align: center;border-bottom:1px solid #C3C3C3;background-color: #F7F5ED;color: #000000;font-size: 15px;color: #000000}
.answer_center_left_right_II{min-height: 45px;background-color: #ffffff;width: 300px;border-bottom: 1px solid #C3C3C3;color: #000000;font-size: 15px;padding: 10px 0}
.answer_center_left_right_II_I{}
.answer_center_left_right_II_II{min-height: 20px;width: 190px;margin-left: 30px;padding: 30px 0 10px; 0}
.answer_center_left_right_II_III{width: 190px;position: relative;top: -20px;left: 40px;}
.anser{margin: 0 5px;}

.answer_center_left_right_III{min-height: 45px;background-color: #ffffff;width: 300px;border-bottom: 1px solid #C3C3C3;color: #000000;font-size: 15px;padding: 10px 0}
.answer_center_left_right_III_I{}
.answer_center_left_right_III_II{min-height: 20px;width: 160px;margin-left: 30px;padding: 30px 0 20px; 0}

.answer_center_left_right_IIII{min-height: 45px;background-color: #ffffff;width: 300px;border-bottom: 1px solid #C3C3C3;color: #000000;font-size: 15px;padding: 10px 0}
.answer_center_left_right_IIII_I{}
.answer_center_left_right_IIII_II{height: 20px;width: 220px;margin-left: 30px;padding: 30px 0 20px; 0}
.anser_1{border:1px solid #C3C3C3;position: relative;left: 10px;width: 180px;height: 25px;text-indent: 0.5em;}


.answer_center_left_right_V{min-height: 45px;background-color: #ffffff;width: 300px;border-bottom: 1px solid #C3C3C3;color: #000000;font-size: 15px;padding: 10px 0}
.answer_center_left_right_V_I{}
.answer_center_left_right_V_II{height: 20px;width: 220px;margin-left: 30px;padding: 30px 0 20px; 0}
.answer_center_left_right_V_III{display: inline-block;width: 300px;height: 30px;font-size: 15px;color: #F77C0F;cursor: pointer}
.answer_center_left_right_V_IIII{display: inline;position: relative;top: 5px;}
.answer_center_left_right_V_V{display: inline;position: relative;top: 5px;}
.answer_center_left_right_V_VI{position: relative;top: -25px;display: inline-block;margin: 0 0 0 190px}
.answer_center_left_right_V_VII{position: relative:display: inline-block;margin: 0 0 0 100px}


.answer_center_left_right_VV{width: 300px;min-height: 100px;margin: 20px 0 0 20px;}
.answer_center_left_right_VV_II{position: relative;width: 80px;height: 80px;display: inline-block}
.answer_center_left_right_VV_I{width: 80px;height: 80px;display: inline-block;cursor: pointer;position: relative}
.answer_center_left_right_VV_III{position: absolute;top: -0px;left: 62px;background-color:#464646;padding:0px 5px;display: inline-block;color: #ffffff;cursor: pointer;display: none}
.answer_center_left_right_VV_I:hover+.answer_center_left_right_VV_III{display: inline-block}
.answer_center_left_right_VV_III:hover{display: inline-block}

.check_I{margin: 0 0 0 95px;}
.check_II{font-size: 15px;}
.check_II_I{margin: 0 0 0 40px;}
.check_II_II{margin: 0 0 0 40px;color: #359935}
.check_III_I{margin: 0 0 0 40px;display: inline-block;width: 11em;min-height: 20px;word-break: break-all;}
.check_III_II{margin: 0 0 0 40px;color:#359935;display: inline-block;width: 180px;}
.answer_center_left_right_VVV_III{width: 160px;position: relative;top: -20px;left: 40px;}




/*底部版权*/
#footer{  width: inherit;background-color:rgb(0, 0, 0); opacity:0.7;filter:alpha(opacity=70);height: 40px;min-width: 900px;color: white;line-height: 40px;}
#footer-w{ margin-left: auto;margin-right: auto;width: 900px;font-size: 12px;}
#footer a {color: white;cursor:pointer;}
#footer a:hover {color: red;}
#footer img{vertical-align: middle; margin-right:5px;display: inline;}
.mytest_main_Y_LT_VVVV{position:absolute;left:370px;top:10px;}

/*******************************************分页******************************************************/
#foot-fenye{text-align: center;/*width: 900px;*/position: absolute;bottom: 80px;}
#foot-fenye ul{list-style-type: none;margin:0 auto;display: inline-block;}
#foot-fenye>ul>li{display:inline;}
#foot-fenye>ul>li>a:hover{color: red}
.foot-fenye-F{border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-left-width: 1px;}
.foot-fenye-L{border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-right: 1px solid #dddddd;}
#foot-fenye ul li a{color:#4c4c4c;float: left;padding: 4px 12px;line-height: 20px;text-decoration: none;background-color: #ffffff;border-top: 1px solid #dddddd;border-left: 1px solid #dddddd;cursor: pointer;border-bottom: 1px solid #dddddd;border-right:1px solid #dddddd }


