html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, a, b, i, em, strong, form, table, tr, th, td, span, input, fieldset, select, option, textarea, label, iframe, header, nav, aside, article, section, button {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

img {
    display: block;
    border-style: none
}

ol, ul {
    list-style: none;
}

i, b, em, strong {
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

body {
    font-family: Microsoft YaHei;
    color: #656565;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: red;
    font-family: 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif', 'simsun', 'Lucida Grande', 'Lucida Sans Unicode';
}

a:hover {
    color: #ff5a0b;
}

img {
    display: inline
}

input {
    outline: none
}

.configuration_top {
    height: 45px;
    width: 100%;
    background-color: #EEEEEE;
    line-height: 45px;
    border-bottom: 1px solid #C3C3C3
}

.configuration_top_main {
    width: 1000px;
    height: 45px;
    margin: 0 auto;
}

.configuration_top_main_III {
    position: relative;
    left: 100px;
}

.configuration_top_main_I {
    height: 30px;
    width: 90px;
    border: 1px solid #C3C3C3;
    position: relative;
    top: -2px;
}

.configuration_top_main_II {
    display: inline;
    float: right
}

.configuration_top_main_II > img {
    position: relative;
    top: 5px;
}

.configuration_top_main_V {
    font-size: 14px;
    color: #60B760;
    margin-right: 20px;
    cursor: pointer;
}

.configuration_top_main_V:hover {
    text-decoration: underline
}

.configuration_top_main_VI {
    font-size: 15px;
    background-color: #60B760;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.configuration_top_main_VI:hover {
    background-color: #EFAD58;
}

.configuration_top_main_back {
    font-size: 15px;
    background-color: #F64444;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.configuration_top_main_back:hover {
    background-color: #EFAD58;
}

.configuration_top_main_VII {
    font-size: 15px;
    background-color: #60B760;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.configuration_top_main_VII:hover {
    background-color: #EFAD58;
}

.configuration_top_main_VIII {
    font-size: 15px;
    background-color: #F64444;
    color: #ffffff;
    padding: 5px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.configuration_top_main_VIII:hover {
    background-color: #EFAD58;
}

.configuration_main {
    width: 1150px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
 /*   top: 10px;*/
}

.configuration_main_left {
   min-height: 1020px;
    overflow: hidden;
    width: 800px;
    float: left;
}
/*
.configuration_main_left_I {
    width: 770px;
    height: 950px;
    border: 1px solid #C3C3C3;
    margin-top: 5px;
    overflow: hidden
}*/

.modify_2_left_I {
    height: 40px;
    color: #000000;
    position: absolute;
    left: 43%;
    display: inline-block;
    margin-top: 45px;
    z-index: 40
}

.modify_2_left_II {
    border: 1px solid #C3C3C3;
    padding: 5px 25px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.modify_2_left_II:hover {
    background-color: #CCCCCC
}

.modify_2_left_III {
    border: 1px solid #C3C3C3;
    padding: 5px 25px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.modify_2_left_III:hover {
    background-color: #CCCCCC
}

.size-zero {
    width: 0;
    height: 0;
}

.configuration_main_right {
    width: 330px;
    min-height: 1020px;
    overflow: auto;
    overflow-x: hidden;
    font-size: 15px;
    float: right;
    margin-top: 7px
}

.configuration_main_right_I {
    width: 300px;
    height: auto;
    border: 1px solid #C3C3C3;
    margin-top: 5px;
    overflow: hidden
}

.configuration_main_right_II {
    border-bottom: 1px solid #C3C3C3;
    height: 45px;
}

.configuration_main_right_III {
    color: #61B760;
    position: relative;
    left: 100px;
    font-size: 15px;
    top: 10px;
}

.configuration_main_right_IIII {
    color: #CCCCCC;
    position: relative;
    left: 110px;
    font-size: 15px;
    top: 10px;
}

.configuration_main_right_V {
    color: #61B760;
    position: relative;
    left: 120px;
    font-size: 15px;
    top: 10px;
}

.configuration_main_right_VV_I {
    border-bottom: 1px solid #C3C3C3;
    min-height: 45px;
    overflow: hidden;
    background-color: #F8F5EE
}

.configuration_main_right_VV_II {
    position: relative;
    left: 10px;
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #C3C3C3;
    padding: 0px 6px;
    border-radius: 3px;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 999
}

.configuration_main_right_VV_II:hover {
    background-color: #61B760;
    color: #ffffff
}

.configuration_main_right_VV_II.active {
    background-color: #61B760;
    color: #ffffff
}

.configuration_main_right_VV_III {
    position: relative;
    left: 35px;
    top: 10px;
    border: 1px solid #C3C3C3;
    padding: 2px 12px;
    border-radius: 3px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
}

.configuration_main_right_VV_III:hover {
    background-color: #61B760;
    color: #ffffff
}

.configuration_main_right_VV_V {
    width: 150px;
    float: left;
}

.configuration_main_right_VVV_I {
    border-bottom: 1px solid #C3C3C3;
    min-height: 70px;
    overflow: hidden;
    background-color: #F8F5EE;
    position: relative;
}

.configuration_main_right_VVV_II {
    color: #000000;
    position: relative;
    left: 10px;
    top: 20px;
}

.configuration_main_right_VVV_III {
    width: 70px;
    height: 30px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #C3C3C3;
    z-index: 999;
    margin-left: 3px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 50px;
}

.configuration_main_right_VVV_VI {
    position: absolute;
    height: 18px;
    top: 15px;
    left: 265px;
    width: 17px;
    background-color: #ffffff;
    border: 1px solid #C3C3C3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    cursor: pointer
}

.configuration_main_right_VVV_VI:hover {
    background-color: #61B760;
    color: #ffffff
}

.configuration_main_right_VVV_VII {
    position: absolute;
    height: 18px;
    top: 34px;
    left: 265px;
    width: 17px;
    background-color: #ffffff;
    border: 1px solid #C3C3C3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center;
    cursor: pointer
}

.configuration_main_right_VVV_VII:hover {
    background-color: #61B760;
    color: #ffffff
}

.configuration_main_right_VVVV_I {
    border-bottom: 1px solid #C3C3C3;
    height: 45px;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 45px;
    color: #000000
}

.configuration_main_right_VVVV_II {
    width: 50px;
    height: 45px;
    text-align: center;
    float: left;
    border-right: 1px solid #C3C3C3
}

.configuration_main_right_VVVV_III {
    text-indent: 1em;
    width: 100px;
}

.configuration_main_right_VVVV_IIII {
    height: 30px;
    font-size: 16px;
    text-indent: 0.5em;
    font-family: "Microsoft YaHei";
    opacity: 0.4;
    filter: alpha(opacity=40)
}

.VVVV {
}

.configuration_main_right_VVVV_VIII {
    position: relative;
    top: -32px;
    left: 205px;
    background: url("/img/exercise/up.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*.configuration_main_right_F_VVVV_VIII{position: relative;top: -32px;left: 205px;background: url("/img/exercise/up_disable.png")no-repeat;width: 20px;height: 20px;cursor: pointer;}*/
.configuration_main_right_VVVV_VIII.disable {
    position: relative;
    top: -32px;
    left: 205px;
    background: url("/img/exercise/up_disable.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*.configuration_main_right_VVVV_VIII:hover{background: url("/img/exercise/up.png")no-repeat;}*/
.configuration_main_right_VVVV_VV {
    position: relative;
    top: -52px;
    left: 235px;
    background: url("/img/exercise/down.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*.configuration_main_right_F_VVVV_VV{position: relative;top: -52px;left: 235px;background: url("/img/exercise/down.png")no-repeat;width: 20px;height: 20px;cursor:pointer;}*/
/*.configuration_main_right_VVVV_VV:hover{background: url("/img/exercise/down.png")no-repeat}*/
/*.configuration_main_right_L_VVVV_VIII{position: relative;top: -32px;left: 205px;background: url("/img/exercise/up.png")no-repeat;width: 20px;height: 20px;cursor: pointer;}*/
.configuration_main_right_VVVV_VV.disable {
    position: relative;
    top: -52px;
    left: 235px;
    background: url("/img/exercise/down_disable.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.configuration_main_right_VVVV_VVI {
    position: relative;
    top: -72px;
    left: 265px;
    background: url("/img/exercise/delete_diaable.png") no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.configuration_main_right_VVVV_VVI:hover {
    background: url("/img/exercise/delete.png") no-repeat;
}

.configuration_main_right_VVVVV_I {
    border-bottom: 1px solid #C3C3C3;
    height: 45px;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 45px;
    color: #000000;
    text-align: center
}

.configuration_main_right_VVVVV_II {
    width: 50px;
    height: 45px;
    border-right: 1px solid #C3C3C3;
    text-align: center;
    float: left
}

.configuration_main_right_VVVVV_III {
    display: inline;
    padding: 4px 10px;
    background-color: #ffffff;
    border: 1px solid #C3C3C3;
    cursor: pointer;
    border-radius: 5px;
}

.configuration_main_right_VVVVV_III:hover {
    background-color: #61B760;
    color: #ffffff;
}

.configuration_main_right_VVVVV_III_active {
    background-color: #61B760;
    display: inline;
    padding: 4px 10px;
    border: 1px solid #C3C3C3;
    cursor: pointer;
    border-radius: 5px;
    color: #ffffff
}

.configuration_main_right_VVVVVV_I {
    border-bottom: 1px solid #C3C3C3;
    min-height: 45px;
    overflow: hidden;
    background-color: #ffffff;
    line-height: 45px;
    color: #000000;
    width: 300px;
    position: relative;
}

.V {
    width: 150px;
    margin-left: 50px;
    border-left: 1px solid #C3C3C3;
    position: relative;
    padding-left: 10px;
}

.VV {
    position: absolute;
    top: 45px;
    left: -15px;
}

.configuration_main_right_VVVV_IIIII {
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.configuration_main_right_VVVV_IIIIII {
    background: url("/img/exercise/+.png") no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    left: 250px;
    margin-top: -33px;
    cursor: pointer
}

.configuration_main_right_VVVV_IIIIII:hover {
    background: url("/img/exercise/+_hover.jpg") no-repeat
}

.configuration_main_right_VVVV_VI {
    background: url("/img/exercise/-.png") no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    left: 280px;
    margin-top: -20px;
    cursor: pointer
}

.configuration_main_right_VVVV_VI:hover {
    background: url("/img/exercise/-_hover.jpg") no-repeat
}

/*底部*/
.configuration_bottom {
    width: 250px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: 30px;
}

.configuration_bottom_I {
    background-color: #61B760;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}

/**********************************************查看解析***************************************/
.examine_top {
    height: 45px;
    width: 100%;
    background-color: #EEEEEE;
}

.examine_top_main {
    width: 900px;
    height: 45px;
    margin: 0 auto;
}

.examine_top_main_left {
    font-size: 15px;
    width: 500px;
    float: left
}

.examine_top_main_left_I {
    color: #60B760;
    position: relative;
    top: 10px;
}

.examine_top_main_left_II {
    position: relative;
    left: 50px;
    color: #000000;
    top: 10px;
}

.examine_top_main_left_III {
    position: relative;
    left: 50px;
    color: #000000;
    top: 10px;
}

.examine_top_main_left_IIII {
    position: relative;
    left: 50px;
    color: #000000;
    top: 10px;
}

.examine_top_main_left_V {
    position: relative;
    left: 50px;
    top: 10px;
}

.examine_top_main_right {
    float: right;
    background-color: #EFAD58;
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 5px;
}

.examine_mian {
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    height: 1050px;
    margin-top: 10px;
}

.examine_main_text {
    border: 1px solid #C3C3C3;
    width: 880px;
    height: 1040px;
}

/**************************************进入批改***********************************************/
.modify_main {
    width: 900px;
    height: auto;
    border: 1px solid #DDDDDD;
    overflow-x: hidden;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff
}

.modify_main_I {
    height: 30px;
    line-height: 30px;;
    width: 900px;
    background-color: #ffffff;
    padding-left: 30px;
    border-bottom: 1px solid #DDDDDD;
}

.modify_main_II {
    height: 30px;
    line-height: 30px;;
    width: 900px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #DDDDDD;
}

.modify_main_II_I {
    display: inline-block;
    color: #676767;
    width: 150px;
    text-align: center
}

.modify_main_II_II {
    display: inline-block;
    color: #676767;
    width: 200px;
    text-align: center
}

.modify_main_III {
    min-height: 100px;
    width: 900px;
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
}

.modify_main_III_XZ_I {
    display: inline-block;
    color: #676767;
    width: 150px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 30px;
    line-height: 30px;
}

.modify_main_III_XZ_II {
    font-size: 18px;
    display: inline
}

.modify_main_III_XZ_III {
    font-size: 30px;
    color: #FF7900;
    display: inline-block;
    width: 150px;
    min-height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 15px;
    line-height: 30px;
}

.modify_main_III_XZ_IIII {
    display: inline-block;
    color: #676767;
    width: 200px;
    min-height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    top:10px;
}

.modify_main_III_XZ_V {
    position: absolute;
    left: 10px;
}

.modify_main_III_XZ_VI {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 70px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 10px;
}

.modify_main_III_XZ_VII {
    position: absolute;
    left: 155px;
    display: inline-block;
}

.modify_main_III_XZ_VV {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 100px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 35px;
}

.modify_main_III_XZ_VVV {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 50px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 60px;
}

.modify_main_III_XZ_VVVV {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 10px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 85px;
}

.modify_main_III_XZ_SU {
    display: inline-block;
    color: #676767;
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    line-height: 100px;
    font-size: 30px;
    color: #FF6000
}

.modify_main_III_XZ_CK {
    display: inline-block;
    color: #676767;
    /*width: 185px;*/
    height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    line-height: 100px;
}

.modify_main_III_XZ_CK_I {
    background-color: #60B760;
    padding: 5px 20px;;
    position: relative;
    display: inline;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer
}

.modify_main_III_PD_I {
    display: inline-block;
    color: #676767;
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    position: relative;
    top: 30px;
    line-height: 30px;
}

.modify_main_III_PD_II {
    position: absolute;
    left: 10px;
}

.modify_main_III_PD_III {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 10px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 10px;
}

.modify_main_III_PD_IIII {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 90px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 35px;
}

.modify_main_III_XZ_CK_II {
    background-color: #60B760;
    padding: 5px 5px;;
    position: relative;
    display: inline;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer
}

.modify_main_TK {
    display: inline-block;
    color: #676767;
    width: 200px;
    overflow: hidden;
    text-align: center;
    position: relative;
    line-height: 30px;
    top: 30px;
    min-height: 100px;
}

.modify_main_TK_I {
    display: inline-block;
    width: 180px;
    position: relative
}

.modify_main_III_TK_II {
    position: absolute;
    left: 0px;
}

.modify_main_III_TK_V_I {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 70px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 10px;
}

.modify_main_III_TK_V_II {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 80px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 35px;
}

.modify_main_III_TK_V_III {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 50px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 60px;
}

.modify_main_III_TK_V_IIII {
    background-color: #FF6000;
    border-radius: 3px;;
    width: 10px;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 35px;
    top: 85px;
}

.modify_main_III_TK_V_V {
    position: absolute;
    left: 145px;
}

/******************************************************批改试卷*************************************************************/
.modify_2_left_I {
    float: right
}

.modify_II_I {
    font-size: 15px;
    color: #64B864;
    margin-left: -100px;
}

.modify_2_I {
    border-bottom: 1px solid #C3C3C3;
    height: 45px;
    background-color: #ffffff;
    line-height: 45px;
    text-align: center;
    color: #659DCF
}

.modify_2_II {
    border: 1px solid #C3C3C3;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
}

.modify_2_II:hover {
    background-color: #659DCF;
    color: #ffffff
}

.modify_2_III {
    padding: 0 25px;
}

.modify_2_V {
    min-height: 60px;
    background-color: #F7F5ED;
    border-bottom: 1px solid #C3C3C3;
}

.modify_2_V_I {
    height: 35px;
    line-height: 35px;
    text-indent: 0.5em;
}

.modify_2_V_II {
    position: relative;
    left: 50px;
    color: #ACABAA;
    font-size: 14px;
}

.modify_2_V_V_I {
    min-height: 30px;
    line-height: 30px;
    text-indent: 2em;
}

.modify_2_V_V_II {
    color: #FD1F1E
}

.modify_2_V_V_III {
    margin: 0 0 0 30px;
}

.modify_2_V_V_IIII {
    color: #FD1F1E;
    margin: 0 0 0 30px;
}

.modify_2_V_VV_I {
    width: 280px;
    position: relative;
    height: 70px;
    margin-bottom: 10px;
}

.modify_2_V_VV_II {
    position: absolute;
    left: 30px;
}

.modify_2_V_VV_III {
    width: 170px;
    background-color: #FF6000;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 75px;
    top: 10px;
    border-radius: 5px;
}

.modify_2_V_VV_VII {
    position: absolute;
    left: 240px;
}

.modify_2_V_VV_IIII {
    width: 170px;
    background-color: #FF6000;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 30px;
    border-radius: 5px;
}

.modify_2_V_VV_V {
    width: 170px;
    background-color: #FF6000;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 50px;
    border-radius: 5px;
}

.modify_2_V_VV_VI {
    width: 170px;
    background-color: #FF6000;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 70px;
    border-radius: 5px;
}

.modify_2_V_VVV_I {
    border-bottom: 1px solid #C3C3C3;
    min-height: 40px;
    background-color: #ffffff;
    padding: 5px;
}

.modify_2_V_VVV_II {
    line-height: 35px;
    margin-top: 5px
}

.modify_2_V_VVV_III {
    margin: 0 0 0 30px;
}
.span-bold{
    font-weight: bold;
}
.span-orange{
    color: #FF6000;
    font-size: 16px;
}
.span-wrong{
    margin-left: 30px;
}
.modify_2_V_VVV_IIII {
    position: relative;
    left: 110px;
}

.modify_2_V_VVV_V {
    min-height: 30px;
    margin: 15px 0 0 30px;
    color: #6ABB6A
}

.modify_2_V_VVV_VI {
    height: 100px;
    margin: 10px 0 0 30px;
    color: #FD1F1E
}

.modify_2_V_PD_II {
    position: absolute;
    left: 30px;
    margin: 20px 0 0 0;
}

.modify_2_V_PD_III {
    width: 170px;
    background-color: #FF6000;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 10px;
    border-radius: 5px;
}

.modify_2_V_PD_VII {
    position: absolute;
    left: 240px;
    margin: 20px 0 0 0;
}

.modify_2_V_PD_IIII {
    width: 170px;
    background-color: #FF6000;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 30px;
    border-radius: 5px;
}

.modify_2_V_PD_V {
    width: 170px;
    background-color: #FF6000;
    height: 5px;
    display: inline-block;
    position: absolute;
    left: 55px;
    top: 50px;
    border-radius: 5px;
}

.modify_2_ZG_VVV_I {
    border-bottom: 1px solid #C3C3C3;
    min-height: 100px;
    background-color: #ffffff;
}

.modify_2_V_ZGV_V {
    min-height: 20px;
    margin: 10px 0 0 30px;
    color: #6ABB6A
}

.modify_2_V_ZG_I {
    color: #000000;
    position: relative;
    top: 0px;
    display: inline-block;
    width: 20px;
    float: left
}

.modify_2_V_ZG_II {
    color: #000000;
    word-wrap: break-word;
    display: inline-block;
    width: 15em;
    height: auto;
    margin-left: 8px;
    min-height: 20px;
}

.modify_2_V_ZG_V {
    min-height: 90px;
    line-height: 70px;
    margin-top: 10px;
    text-align: center;
}

.modify_2_V_ZG_IMG {
    width: 80px;
    height: 80px;
}

.modify_2_V_ZG_VV {
    height: 60px;
    margin: 0 0 0 30px;
}

.modify_2_V_ZG_VV_V {
    float: right;
    margin: -38px 10px 0 0;
    border: 1px solid #C3C3C3;
    width: 50px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px;
}

.modify_2_bottom_I {
    height: 45px;
    text-align: center;
    margin: 30px 0 0 0
}

.modify_2_bottom_II {
    padding: 7px 25px;
    background-color: #60B760;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/*****************************************我的测试********************************************/
.teacher_title {
    background-color: #ffffff;
    width: 100%;
    height: 200px;
    text-align: center;
    border-bottom: 2px solid #FF7900
}

.teacher_title_NR {
    width: 900px;
    height: 180px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-size: 20px;
}

.teacher_title_NR_I {
    width: 300px;
    height: 180px;
    float: left;
    position: relative;
    cursor: pointer
}

.teacher_title_NR_I > img {
    position: absolute;
    top: 20px;
    left: 35%
}

.teacher_title_NR_I > span {
    position: absolute;
    top: 140px;
    left: 37%;
    color: #FF7900
}

.teacher_title_NR_II {
    width: 300px;
    height: 180px;
    float: left;
    position: relative;
    cursor: pointer
}

.teacher_title_NR_II > img {
    position: absolute;
    top: 20px;
    left: 35%
}

.teacher_title_NR_II > span {
    position: absolute;
    top: 140px;
    left: 37%;
    color: #D5D5D5
}

.teacher_title_NR_III {
    width: 300px;
    height: 180px;
    float: left;
    position: relative;
    cursor: pointer
}

.teacher_title_NR_III > img {
    position: absolute;
    top: 20px;
    left: 35%
}

.teacher_title_NR_III > span {
    position: absolute;
    top: 140px;
    left: 40%;
    color: #D5D5D5
}

.test_mian {
    min-height: 220px;
    border: solid #ddd;
    border-width: 1px 1px 0;
    overflow: visible;
    marign-top: 10px;
    margin: 20px -10px 0 10px;
}

.test_left {
    min-height: 220px;
    width: 600px;
    position: relative;
    margin-top: 20px;
}

.test_left_I {
    height: 40px;
    width: 500px;
    position: relative;
    left: 30px;
}

.test_left_I_I {
    text-indent: 0.5em;
    width: 380px;
    height: 30px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    margin-top: 3px;
    margin-left: 11px;
}

.test_left_II {
    height: 40px;
    width: 500px;
    position: relative;
    left: 30px;
    top: 10px;
    overflow: hidden
}

.test_left_II_I {
    text-indent: 0.5em;
    width: 300px;
    height: 30px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    margin-top: 3px;
    background-color: #ffffff;
    line-height: 30px;
}

.test_V_V_I {
    width: 500px;
    min-height: 50px;
    position: relative;
    top: 15px;
    left: 30px;
    line-height: 30px;
}

.test_V_V_II {
    margin-right: 10px;
}

.test_V_V_III {
    margin-right: 10px;
}

.test_V_V_IIII {
    position: relative;
    top: -30px;
    left: 80px;
    width: 300px;
    min-height: 30px;
    overflow: visible
}

.test_V_V_V {
    position: absolute;
    top: 0px;
    left: 365px;
    cursor: pointer;
    color: #D75654;
    display: none
}

.test_V_V_V_I {
    overflow: auto;
    position: relative;
    top: -20px;
}

.test_V_V_V_III {
    background-color: #478DC9;
    padding: 0 16px;
    border-radius: 5px;
    border: 1px solid #C3C3C3;
    cursor: pointer;
    color: #ffffff;
    float: right;
    margin: 0 60px 10px 0;
}

.test_right {
    background-color: red;
    width: 250px;
    height: 250px;
    float: right
}

.test_bottom {
    /*width: 900px;*/
    border: solid #ddd;
    border-width: 0 1px 1px;
    min-height: 0px;
    margin: 0 -10px 0 10px;
}

.test_bottom table.table {
    margin-bottom: 0;
}

.test_bottom table td {
    vertical-align: middle !important;
}

.test_bottom_I {
    border-bottom: 1px solid #C3C3C3;
    height: 45px;
    position: relative;
}

.test_bottom_I_I {
    margin: 10px 0 0 10px;
    display: inline-block;
    width: 90px;
    position: absolute;
    right: -30px;
}

.test_bottom_I_II {
    font-size: 15px;
}

.test_bottom_I_III {
    font-size: 15px;
}

.test_bottom_II_I {
    max-width: 13em;
    position: absolute;
    left: 20px;
    margin: 13px 0 0 0;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.test_bottom_III {
    color: #ffffff;
    background-color: #EFAD58;
    position: absolute;
    left: 195px;
    top: 7px;
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.test_bottom_III:hover {
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.test_bottom_IIII {
    color: #ffffff;
    background-color: #4DA34E;
    position: absolute;
    left: 390px;
    top: 7px;
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.test_bottom_IIII:hover {
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.test_bottom_V {
    height: 25px;
    width: 95px;
    position: absolute;
    left: 290px;
    top: 7px;
    padding: 0px 0px 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #42B0D0;
    color: #ffffff;
    font-size: 15px;
    font-family: "Microsoft Yahei";
    outline: none;
    text-align: center
}

.test_bottom_V > option {
    background-color: #ffffff;
    color: #000000
}

.test_bottom_VI {
    color: #ffffff;
    background-color: #D03736;
    position: absolute;
    left: 485px;
    top: 7px;
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.test_bottom_VI:hover {
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.test_bottom_VII {
    width: 200px;
    position: absolute;
    right: 45px;
    top: 10px;
    font-size: 15px;
}

.test_bottom_VIII {
    margin: 0 0 0 15px;
}

.test_bottom_VV {
    margin: 0 0 0 10px;
}

/**********************************底部版权****************************************/
#footer {
    width: inherit;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    filter: alpha(opacity=70);
    height: 40px;
    min-width: 900px;
    color: white;
    line-height: 40px;
    clear: both
}

#footer-w {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    font-size: 12px;
}

#footer a {
    color: white;
    cursor: pointer;
}

#footer a:hover {
    color: red;
}

#footer img {
    vertical-align: middle;
    margin-right: 5px;
    display: inline;
}

/**********************************************上传解析弹出框*****************************************/
.teacher_popup_1 {
    position: fixed;
    width: 450px;
    height: 190px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    margin-top: -95px;
    margin-left: -225px;
    border: 1px solid #C3C3C3;
}

.teacher_popup_I {
    height: 35px;
    background-color: #D3D3D3;
    width: 100%;
    line-height: 35px;
}

.teacher_popup_II {
    color: #000000;
    margin: 0 0 0 20px;
}

.teacher_popup_III {
    color: #000000;
    height: 80px;
    line-height: 80px;
    margin: 0 0 0 20px;
}

.teacher_popup_IIII {
    float: right;
    height: 75px;
    line-height: 75px;
    font-size: 15px;
    margin: 0 5px 0 0;
}

.teacher_popup_IIII_I {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
}

.teacher_popup_IIII_I:hover {
    background-color: #60B75F;
    color: #ffffff
}

.teacher_popup_IIII_II {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
}

.teacher_popup_IIII_II:hover {
    background-color: #60B75F;
    color: #ffffff
}

.test_bottom_NO {
    color: #ffffff;
    background-color: #B8DAB7;
    position: absolute;
    left: 390px;
    top: 7px;
    padding: 3px 15px;
    border-radius: 5px;
    font-size: 15px;
}

.test_bottom_V > optgroup {
    background-color: #ffffff;
    color: #9E9E9E;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

/*******************************************分页******************************************************/
#foot-fenye {
    text-align: center; /*width: 900px;*/
    position: absolute;
    bottom: 80px;
}

#foot-fenye ul {
    list-style-type: none;
    margin: 0 auto;
    display: inline-block;
}

#foot-fenye > ul > li {
    display: inline;
}

#foot-fenye > ul > li > a:hover {
    color: red
}

.foot-fenye-F {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
}

.foot-fenye-L {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid #dddddd;
}

#foot-fenye ul li a {
    color: #4c4c4c;
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
}

.tab-col{
    border:1px solid #f1f1f1;
    position: relative;
    top: 45px;
    height: 50px;
}
.tab-col .tab-top{
    width: 100%;
    position: absolute;
    top:-46px;
    left: -1px;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
}
.tab-col .tab-top li{
    float: left;
    background:  #f1f1f1;
    padding: 12px 20px;
}
.tab-col .tab-top ul{
    float: left;
}
.tab-col .tab-top li a{
    color: #fda715;
    font-size: 16px;
}
.tab-col .tab-top .cur{
    background:#ffffff;
    border:1px solid #ddd;
    border-bottom: none;
    border-top: 3px solid #fda715;;
}
.tab-col .tab-top .cur a{
    color:#fda715;
}





.configuration_main_rightt{
	float:right;
	border:1px solid #ddd;
	width:300px;
}
.configuration_main_rightt_I dd{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.configuration_main_rightt_I dd,.configuration_main_rightt_I dt{
    padding: 10px;
}
.configuration_main_rightt_I dl{
    background:#F7F5ED;
}
.configuration_main_rightt_I span{
  /*   display:inline-block; */
}
.configuration_main_rightt_I dd{
    background: #ffffff;
}
.configuration_main_rightt_I dd .configuration_main_in{
    border:1px solid #dddddd;
    width: 50px;
    height:25px;
    border-radius: 3px;
}
.configuration_main_rightt_I dd button{
    padding: 7px 25px;
    background-color: #60B760;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 95px;
}
.modify_2_VV{
	position: relative;

right: -200px;
top: -37px;
width: 48px;
border: 1px solid #ddd;
height: 25px;
}
.configuration_dv{
    display: block;
    width: 15em;
    word-break: break-all;
}