body{
    font: 12px/18px "lucida grande", "lucida sans unicode", 'Microsoft YaHei', tahoma, verdana, arial, sans-serif;
    min-width: 900px;
    width: 100%;
    background: url("/images/bg.png") repeat;
    height: 100%;
    min-height: 100%;
    background-color: #ffffff;
}
ul{list-style:none}
textarea{
    resize:none;
}
hr {
    border: 0;
    height: 1px;
    background-color: #000000;
    color: #d4d4d4;
    margin: 10px 0 10px 0;
    top: 100px;
}
div {
    overflow: auto;
}
span {
    display: -moz-inline-box;
    display: inline-block;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:visited {
    color: none;
}
table {
    border-spacing: 0;
}
#post{position: absolute;left: 1200px;top: 10px;}
#user{ position:absolute;left:1295px;top:40px;color: #000000}
#phone{position:absolute; left:730px;top: 10px;  }
#phone-font{position:absolute;left:770px;top: 20px;display: inline;font-weight: bold;color: #989898;font-size: 14px;}
#top-title{}
#header {background:#CDCDCD;overflow:hidden;min-width:100%; position: absolute; left: 0px;top: 0px; height: 70px;}
#fz_liebiao{width: 900px;color: #FFF;margin-left: auto;margin-right: auto;overflow: hidden;}
#fz_me{width: auto;height: auto;float: right;margin-top: -15px;overflow: hidden;}
#fz_me a{margin-left: -4px;color: #FFF;}
.fz_xuanxiang{text-align: center;font: 16px/70px Microsoft Yahei;width: 220px;cursor: pointer;border-right: 1px solid #FF8C25;}
.fz_xuanxiang:hover{background: none repeat scroll 0% 0% #6E6E6E;border-top: 3px solid #FFF;height: 67px;line-height: 64px;}
.loading{background:#5B5B5B;position:fixed;left:0;top:0;opacity:0.5;width:100%;height:100%;display:none;z-index:5000;}
#fz_phone_geo{overflow: hidden;background: url('../img/phone.jpg') no-repeat scroll left center transparent;width: 160px;line-height: 60px;float: left;}
#fz_phone_geo span{margin-top: 20px;margin-left: 35px;display: inline;font-weight: bold;color: #989898;font-size: 14px;}
#teacher_info{margin:0 auto;width:900px;color:white;/* background:url(/img/bg_teachertop.png); */position:relative;height:160px;overflow:hidden;background: rgba(0,0,0,0.47);
 filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}/*中间背景图片*/
img{vertical-align: baseline;}
a:hover{color: black;}
.fix{clear:both\9;width:0; height:0;display:block; overflow:hidden;}
.blue{color:#0080FF;}
.backblue{background:#0080FF;color:white;}
#teacher_info_container{padding:5px 20px;background:url(img/fcteacherbackBig.png);}
#teacher_info{margin:0 auto;width:900px;color:white;/* background:url(/img/bg_teachertop.png); */position:relative;height:160px;overflow:hidden;background: rgba(0,0,0,0.47);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);}
#teacher_info >*{float:left;}
#teacher_info >img{width:124px;height:124px;margin:15px 10px;border:3px solid white;border-radius:5px;}
#teacher_info >div{width:600px;}
#teacher_info div.info >p:first-child{margin-left:10px;font-size: 20px;}
#teacher_info div.info >p:first-child  a{top:5px;position:relative;margin-left:10px;}
#teacher_info div.info >p:first-child +p{margin-top:10px;}
#teacher_info div.info{margin-top:12px;}
#teacher_info div.popu >div{display:inline-block;text-align:center;margin:0 10px;float:left;}
#teacher_info >div span{margin:0 10px;}
.popu{top: 150px;left: 228px;position: absolute;font-size: 15px;}

#fc_class_container{margin:0 auto;width:900px;min-height:66%;}
#fc_class_container h4{font-size: 17px;margin-top:10px;border-left:4px solid #ff7e00;padding-left:10px;}
#fc_class_list{transition-duration: 1.5s;transition-property: height;}
.fc_class_detail  >div{display:inline-block;float:left;margin-bottom:40px;border-bottom:none;}
.fc_class_detail  >div >*{float:left;}
.fc_class_detail  >div >div{text-align:center;background:white;border:1px solid #D0D0D0;}
.fc_class_detail  >div >div >div{margin:5px 0;padding:0 10px;float:left;min-width:80px;}
.fc_class_detail  >div >div >div >span:first-child{margin-top:20px;display:block;}
.fc_class_detail  >div >div >div >span:first-child +span{margin-bottom:20px;}
#user-help{
    border: 1px solid;
    display: inline-block;
    padding: 2px 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
}/*中间背景图片*/