.page-paginator {
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
  /*  display: none;*/
}
.first-page, .last-page {
    padding: 3px 15px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}
.page-paginator span.active {
    background-color: #E6E6E6;
    color: #779554;
}
.page-index span {
    padding: 3px 8px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}
.tab-head a{
	display: inline-block;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    font-size: 16px;
    margin-left: 15px;
}
.te-comments li{
	float: left;
	width: 150px;
	margin-right: 20px;
}
.te-comments li em{
	display: block;
	margin-bottom: 5px;
}
.te-comments li select{
	border:1px solid #dddddd;
	width: 150px;
	height: 34px;
}
.te-comments li input{
	border:1px solid #dddddd;
	width: 100px;
	height: 30px;
}
.te-comments{
    width: 770px;
    margin-top: -10px;
    margin-left: 10px;
}
.te-comments span{
	display: inline-block;
    width: 80px;
    height: 32px;
    border: 1px solid #c9c9c9;
    background: #eeeeee;
    color: black;
    text-align: center;
    line-height: 32px;
    margin-top: 25px;
    cursor: pointer;
} 
.te-comments-info{
	margin-top: 20px;
	background: #f8f8f8;
	width: 770px;
}
.te-comments-info table{
	display: inline-block;
	padding: 15px 5px;
}
.te-comments-info table th,.te-comments-info table td{
	height:55px; 
	border:1px solid #d2d2d2;
}
.te-comments-info table th{
	background: #5cb95b;
	color: white;
}
.te-comments-info table td{
	background: white;
	text-align: center;
}
.te-comments-info table td span{
	cursor: pointer;
	color: #4798c0;
}
.te-comments-info table td input{
	width: 80px;
	height: 30px;
	border:1px solid #d4d4d4;
	text-align: center;
}
.te-comments-info table td:first-child{
	background: #ececec;
}
.te-comments-bo{
	margin-top: 30px;
	padding-left: 15px;
	width: 770px;
	border-top: 1px solid #d9d9d9;
	padding-top: 25px;
}
.te-comments-bo p i{
    font-weight: bold;
}
.te-comments-bo li{
	min-height: 32px;
    display: inline-block;
    margin-bottom: 10px;
}
.te-comments-bo li em{
	display: inline-block;
    width: 8em;
}
.te-comments-bo li span{
    float: right;
    display: inline-block;
    width: 615px;

}
.te-comments-bo li p{
	word-break: break-all;
    width: 730px;
    /*float: right;*/
    line-height: 25px;
    margin-left: 10px;
    text-align: justify;
}
.comments-popup{
	display: none;
    position: fixed;
    width: 458px;
    height: 448px;
    top: 50%;
    left: 50%;
    margin-top: -224px;
    margin-left: -229px;
    background: white;
    z-index: 999999999999999999999;
}
.comments-popup-top{
    height: 45px;
    line-height: 45px;
    background: #616161;
    color: white;
    margin-bottom: 15px;
}
.comments-popup-top em{
    margin-left: 15px;
}
.comments-popup-top i{
    float: right;
    margin-right: 15px;
}
.comments-popup h1{
	font-size: 16px;
	display: inherit-block;
	width: 100%;
	text-align: center;
}
.comments-popu-info{
	margin-left: 45px;
}
.comments-popu-info span{
	margin-top: 25px;
	display: inline-block;
	border-left:8px solid #5eb85c;
	padding-left: 10px;
}
.comments-popu-info em{
	display: inline-block;
	border-top:1px solid #d6d6d6;
	width: 250px;
	height: 5px;
}
.comments-popup textarea{
	width: 370px;
	height: 155px;
	margin-left: 45px;
    margin-top: 15px;
}
.popup-XZZB-bottom {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}
.popup-XZZB-bottom span{
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin: 0 10px;
    cursor: pointer;
}
.popup-XZZB-bottom .XZZB-TJ {
    background: #5cb95b;
    color: white;
    border: 1px solid #5cb95b;
}
.popup-XZZB-bottom .XZZB-QX {
    background: #eeeeee;
    color: black;
    border: 1px solid #cacaca;
}
.comments-popupp{
	display: none;
    position: fixed;
    width: 458px;
    top: 50%;
    left: 50%;
    margin-top: -224px;
    margin-left: -229px;
    background: white;
    z-index: 999999999999999999999;
}
.comments-popup-top{
    height: 45px;
    line-height: 45px;
    background: #616161;
    color: white;
    margin-bottom: 15px;
}
.comments-popup-top em{
    margin-left: 15px;
}
.comments-popup-top i{
    float: right;
    margin-right: 15px;
}
.comments-popupp h1{
	font-size: 16px;
	display: inherit-block;
	width: 100%;
	text-align: center;
}
.comments-popu-info{
	margin-left: 45px;
}
.comments-popu-info span{
	margin-top: 25px;
	display: inline-block;
	border-left:8px solid #5eb85c;
	padding-left: 10px;
}
.comments-popu-info em{
	display: inline-block;
	border-top:1px solid #d6d6d6;
	width: 250px;
	height: 5px;
}
.comments-popupp p{
    width: 335px;
    height: 155px;
    margin-left: 65px;
    margin-top: 15px;
    word-break: break-all;
    overflow-y: auto;
}
.popup-XZZB-bottom {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}
.popup-XZZB-bottom span{
    display: inline-block;
    width: 80px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin: 0 10px;
    cursor: pointer;
}
.popup-XZZB-bottom .XZZB-TJ {
    background: #5cb95b;
    color: white;
    border: 1px solid #5cb95b;
}
.popup-XZZB-bottom .XZZB-QX {
    background: #eeeeee;
    color: black;
    border: 1px solid #cacaca;
}
.comments-popupp .popup-XZZB-bottom{
	margin-bottom: 25px;
}

.SQ-X {
    cursor: pointer;
}