/* body {
    background: #fff !important;
} */

.main-container {
    /*width: 900px;*/
    margin: 0px auto;
    float: left;
}

.class-name {
    height: 87px;
    font-size: 16px;
    color: #FF7900;
    padding-left: 15px;
    border: 1px solid #D0D0D0;
    width: 810px;
    font-weight: bold;
    position: relative;
}

.class-name > span {
    line-height: 85px;
}

.course-left-container {
    float: left;
    margin: 12px 0 0 12px;
    background-color: #EEEEEE;
    width: 235px;
    min-height: 700px;
    height: auto;
    overflow:visible ;
}

.course-left-container > .dir-tree {
    height: 650px;
}

.main-course-ul {
    list-style: none;
    margin: 0px;
    position: relative;
}

.main-course-ul > li {
    padding: 6px 0px;
    font-size: 15px;
    padding-left: 17px;
    cursor: pointer;
}

.main-course-ul > li > img {
    float: left;
    margin-right: 5px;
}

.main-course-ul > li.open > span {
    font-weight: bold;
}

.main-course-ul > li.unopen > img:first-child {
    opacity: 0;
}

.main-course-ul > li.active {
    background-color: #3AA4F5;
}

.main-course-ul > li.active > span {
    color: #fff;
}

.avtive-bg {
    background-color: #3AA4F5;
    height: 25px;
    width: 245px;
    position: absolute;
    left: 0;
    top: 193px;
}

.course-right-container {
    float: right;
    width:519px;
}

.right-container-title {
    min-height: 43px;
    overflow: visible;
    margin-top: 12px;
    background-color: #F0F8DE;
    width: 100%;
}

.course-title {
    /* float: left; */
    font-size: 14px;
    line-height: 22px;
}

.course-include {
    line-height: 43px;
    color: #363636;
    font-size: 14px;
    /* float: left; */

}

.add-folder-btn {
    background-color: #FBD937;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20px;
    width: 100px;
    text-align: center;
    float: left;
}

.search-file-input {
    display: none;
    float: right;
    padding: 5px 20px 5px 10px;
    border: 1px solid #BFBFBA;
    border-radius: 14px;
    background: #fff url(/img/K6KT/search.png) no-repeat 130px 3px;
    width: 155px;
    line-height: normal;
}

.course-list-container {
    background-color: #FAFAFA;
    height: 630px;
    position: relative;
    font-size: 12px;
    overflow: auto !important;
    width: 510px;
}

.course-container {
    /* padding: 15px 15px 0px 15px; */
    position: relative;
    margin: 8px 5px;
    width: 149px;
    height: 170px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #ddd;
    float: left;
    border: 1px solid rgb(224, 224, 224);
}

.student-course-container .course-container {
    height: 145px;
}

.course-container:hover {
    background-color: aliceblue;
}

.course-container.selected {
    box-shadow: none;
    border: 2px solid #ff9000;
    width: 150px;
    height: 149px;
}

.course-container.helper {
    overflow: hidden;
}

.course-container.helper, .course-container.helper .file-cover, .course-container.helper .file-img {
    width: 50px;
    height: 50px;
    cursor: url("/img/dragging.png"), move;
}

.course-container.helper .file-toolbar, .course-container.helper .stat-btn {
    display: none;
}

.course-setting {
    position: absolute;
    right: 1px;
    top: 3px;
    cursor: pointer;
}

.folder-img {
    width: 78px;
    margin: 10px auto 20px auto;
    display: block;
    cursor: pointer;
}

.folder-name {
    text-align: center;
    font-size: 15px;
}

.file-img {
    float: left;
    width: 147px;
    height: 117px;
    /* width: 132px;
    height: 99px;
    margin-right: 20px;
    margin-top: 35px; */
    cursor: pointer;
}

.file-info {
    background: rgba(0, 0, 0, 0.56);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000, endcolorstr=#7F000000);
    position: absolute;
    display: none;
    padding: 2px 13px;
    width: 147px;
    height: 117px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.file-cover:hover .file-info {
    display: block;
}

.file-info > div {
    line-height: 20px;
    position: relative;
    overflow: hidden;
}

.file-info img {
    vertical-align: middle;
}

.file-title {
    font-size: 13px;
    margin: 2px 0px;
    padding: 2px 5px;
    cursor: url(/img/draggable.png), auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    height: 20px;
}

.file-time {
    color: #D0D0D0;
    background: url(/img/K6KT/time.png) no-repeat 0px 0px;
    padding-left: 30px;
    line-height: 23px;
}

.file-uploader {
    color: #D0D0D0;
    font-size: 14px;
    float: left;
}

.file-student-uploader {
    float: right;
    font-size: 14px;
    color: #D0D0D0;
    margin-top: -20px;
}

.file-watch {
    font-size: 14px;
    color: #A4CF7B;
    border: 1px solid #A4CF7B;
    border-radius: 2px;
    padding: 2px 20px;
    background-color: #fff;
    float: right;
    margin-top: -5px;
    cursor: pointer;
}

.file-finish {
    position: absolute;
    top: 19px;
    left: 10px;
}

.course-opreate {
    width: 135px;
    background-color: #E6E6E6;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 1px 1px 2px #aaa;
    line-height: 30px;
    font-size: 15px;
    margin: 0;
    z-index: 100;
    padding: 10px 0px;
    display: none;
}

.course-opreate > li {
    padding-left: 10px;
    cursor: pointer;
}

.course-opreate > li:hover {
    background-color: #3AA4F5;
    color: #fff;
}

/*老师页面*/
.teacher-course-btn {
    width: 100px;
    color: #fff;
    background-color: #B3D465;
    border-radius: 2px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    float: right;
    overflow: hidden;
    font-weight: bold;
    margin-left: 10px;
    line-height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
}

.teacher-course-btn.active {
    background-color: darkolivegreen;
}

.haveDone {
    color: #B9B9B9;
}

.haveDone:hover {
    background-color: inherit !important;
    color: #B9B9B9 !important;
}

.model-bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 101;
    display: none;
}

.tuisong-container {
    position: fixed;
    top: 150px;
    width: 650px;
    left: 35%;
    background-color: #fff;
    z-index: 102;
    display: none;
}

.tuisong-title {
    width: 100%;
    border-bottom: 2px solid #70B4ED;
    padding: 10px 0px;
}

.tuisong-name {
    color: #70B4ED;
    font-size: 16px;
    float: left;
    font-weight: bold;
    margin-left: 20px;
    overflow: hidden;
}

.tuisong-cancel {
    float: right;
    margin-right: 10px;
    font-size: 16px;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
}

.tuisong-content {
    margin-top: 20px;
    margin-left: 0px;
    display: none;
}

.tuisong-content > li {
    margin-bottom: 30px;
}

.tuisong-select {
    float: left;
    margin-left: 25px !important;
    margin-right: 15px !important;
    margin-top: 8px !important;
}

.tuisong-class {
    line-height: 30px;
    float: left;
    font-size: 15px;
    width: 100px;
}

.tuisong-target {
    width: 455px;
    border: 1px solid #ECECEC;
    border-radius: 4px;
    height: 30px;
    padding: 2px;
}

.tuisong-target.active {
    border: 1px solid #B5B5B5;
}

.tuisong-step {
    width: 90px;
    height: 100%;
    background-color: #DBDBDB;
    border-radius: 3px;
    float: left;
    overflow: hidden;
    margin-right: 2px;
}

.tuisong-step > span {
    width: 65px;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
    line-height: 24px;
}

.tuisong-step > img {
    width: 15px;
    margin-bottom: 4px;
    cursor: pointer;
}

.tuisong-commit-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 0px 7px;
    line-height: 29px;
    background-color: #37A6FB;
    float: right;
    color: #fff;
    margin-bottom: 30px;
    margin-right: 40px;
    cursor: pointer;
}

.tuisong-folder {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    padding: 5px 0px;
    border: 1px solid #B5B5B5;
    box-shadow: 1px 1px 2px #999;
    display: none;
}

.tuisong-folder > div {
    background: url(/img/K6KT/close.png) no-repeat 5px 0px;
    padding-left: 30px;
    line-height: 22px;
    padding-right: 5px;
    cursor: pointer;
}

.tuisong-folder > div:hover {
    background-color: #3AA4F5;
}

.tuisong-blank {
    width: 585px;
    border: 1px solid #B5B5B5;
    border-radius: 4px;
    height: 30px;
    margin-left: 25px;
    padding: 2px;
    margin-bottom: 30px;
}

.context-menu-item span {
    font-size: 14px;
}

.context-menu-item.awesome {
    padding-left: 8px;
    font-size: 14px;
}

.context-menu-item.awesome li {
    white-space: nowrap;
}

.context-menu-item.awesome li span {
    text-decoration: underline;
}

.course-container a.stat-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: firebrick;
    border-radius: 4px;
    padding: 1px 11px;
    font-weight: bold;
    color: white;
    margin: auto 4px 4px auto;
}

/*.ui-popup {
    width: 300px;
    height: 600px;
}*/

.file-op {
    cursor: pointer;
    float: right;
}

#loading {
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 124px;
    height: 124px;
    overflow: hidden;
    /*background: url(/img/loaderc.gif) no-repeat;*/
    z-index: 7;
    margin: -62px 0 0 -62px;
}

#load-all-msg {
    text-align: center;
    color: #979797;
    margin-bottom: 5px;
    border-bottom: 1px solid #979797;
    box-shadow: 0px 3px 5px;
    padding-top: 10px;
}

#dialog-fast-newlesson {
    padding: 0px 10px 10px 15px;
    display: none;
}

.fast-label {
    color: #585858;
    font: 800 14px 'SimSun';
    /*text-align: center;*/
    width: 140px;
}

.fast-input {
    border: 1px solid #B2B2B2;
    border-radius: 4px;
    background: #FFFFFF;
    width: 354px;
    height: 35px;
    line-height: 18px;
    padding: 0px 8px;
}

.fast-item {
    line-height: 35px;
    padding: 5px 20px;
}

.course-fast-container {
    border: 1px solid #B2B2B2;
    border-radius: 2px;
    background: #FFFFFF;
    width: 495px;
    height: 180px;
    margin-left: 20px;
    margin-top: 10px;
    overflow: auto;
}

.fast-btns {
    padding: 10px 0px;
    width: 495px;
    margin-left: 20px;
}

.newlesson-next {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    float: right;
    border-radius: 2px;
    background: #FF7900;
    width: 81px;
    height: 31px;
    display: inline-block;
    vertical-align: middle;
    line-height: 31px;
}

.fast-newfolder {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    float: left;
    border-radius: 2px;
    background: #FBC84D;
    display: inline-block;
    width: 91px;
    height: 31px;
    vertical-align: middle;
    line-height: 31px;
}

#file-tools {
    background-color: #E5E5E5;
    height: 43px;
    padding: 7px 0px;
    overflow: hidden;
    color: #828282;
    background-attachment: fixed;
}

#file-tools ul li {
    margin-right: 15px;
}

#file-tools ul a {
    color: #585858;
    font: 600 13px 'SimSun';
    padding: 2px;
    padding-top: 5px;
    display: inline-block;
}

#file-tools ul a:hover {
    background: #c8c8c8;
}

#file-tools ul a:active {
    background: #989898;
}

.tool-not-allowed, .tool-not-allowed * {
    cursor: not-allowed;
    color: #828282;
}

.tool-allowed {
    cursor: pointer;
}

.course-left-container > ul {
    min-height: 700px;
    height: auto;
    overflow-y: auto;
}

.files {
    float: left;
}

.play {
    float: right;
    margin-top: 10px;
}

.hover-title {
    min-height: 50px;
    word-break: break-all;
}

.tool-icon {
    width: 22px;
    text-align: center;
    cursor: pointer;
}

.tool-icon:hover {
    border: 1px solid #ddd;
}

.disable {
    color: #888;
}

.disable:hover {
    cursor: not-allowed;
}
.file-toolbar {

    text-align: center;
}

.file-toolbar a.btn {
    width: 41px;
    height: 25px;
    padding: 5px;
    font-size: 14PX;
    line-height: 14px;
}

.unable{
	color:#aaa;
}
.notallow{
	background:#aaa !important;
	color:#fff !important;
	cursor:not-allowed  !important;
}
.league-tab{
	width: 50%;
	height:100%;
	border-radius: 0;
	border:2px solid #eb8a00;
	background:#ff6c00;
	border-left:0;
	margin:0;
	font-size: 16px;
}
.league-tab.select{
	background:#e5e5e5;
	border-bottom:0;
	font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb( 102, 102, 102 );
}
.dropdown-menu{
	min-width: 148px;
}