.nivo-controlNav {
    float:right;
    width: 342px;
	height: 326px;
	overflow:visible;
	/*padding-top:5px;*/
}
.nivo-controlNav a {
    opacity: 0.6;
    display: inline-block;
    /*margin-top: -5px;*/
    float:left;
}
.nivo-controlNav a.active {
    opacity: 1;
}

.nivo-controlNav a:hover {
    font-weight:bold;
    opacity: 1;
}

.nivo-controlNav a img {
        border: 2px solid transparent;
        box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.2);
		width: 110px;
		height: 105px;
    }

.nivo-controlNav a.active img {
        border: 2px solid #99cc33;
        
    }

.nivo-controlNav a:hover img {
        border: 2px solid white;
    }
    
div.nivo-slice img {
	width:900px !important;
	height: 326px !important;
	margin-left:-171px;
}

img.nivo-main-image {
	width:900px !important;
	height: 326px !important;
	margin-left:-171px;
}