body, dl, dd, h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

:focus {
    outline: 1;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    visibility: hidden
}

img {
    border: 0
}

body {
    color: #333;
    font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
    background: #fff
}

input, select, textarea, button {
    vertical-align: middle;
    font-size: 100%;
    outline: 0;
    font-family: 'Microsoft YaHei', Arial, sans-serif
}

a {
    color: #333;
    text-decoration: none;
    outline: 0
}

a:hover {
    color: #3764a0;
    text-decoration: none
}

i, em {
    font-style: normal
}

table {
    border: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    padding: 0;
}

#head {
    background: #fda417;
    height: 50px;
}

.examine_info {
    min-height: 870px;
}

.examine_top {
    padding: 10px 0 0 30px;
}

.examine_info span {
    display: inline-block;
    width: 70px;
    padding-right: 10px;
    text-align: right;
    vertical-align: top;
}

.examine_info dl {
    padding: 20px 5px 0 5px;
}

.examine_info select {
    border: 1px solid #dddddd;
    width: 220px;
    height: 32px;
}

.examine_info input {
    border: 1px solid #dddddd;
    width: 300px;
    height: 26px;
    border-radius: 5px;
}

.examine_IN {
    width: 15px !important;
    height: 15px !important;
}

.examine_info ul {
    width: 300px;
    display: inline-block;
}

.examine_info li {
    width: 100px;
    margin-bottom: 10px;
    float: left;
}

.examine_info i {
    display: inline-block;
    width: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.examine_info > div > dl > dt > button {
    width: 142px;
    height: 26px;
    color: #ffffff;
    background: #5cb95b;
    border: 1px solid #41a63f;
    text-align: center;
    margin-left: 88px;
    cursor: pointer;
}

.examine-list {
    width: 750px;
    height: 200px;
}

.examine-list h4 {
    text-align: center;
    line-height: 41px;
    border: #fae0c1 1px solid;
    background: #fff1d7;
    font-size: 18px;
    color: #be843f;
    margin-top: 10px;
}

.examine-list table {
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
}

.examine-list table th, .examine-list td {
    line-height: 39px;
    border-bottom: #ddd 1px solid;
    text-align: center;
    padding-left: 10px;
}

.examine-list table th {
    background: #f9f9f9;
}

.examine-list th em {
    background: url('../images/bg-th.png') 0 center no-repeat;
    display: block;
}

.examine-list th em i {
    width: 12px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/icon-up.png') center center no-repeat;
    margin-left: 5px;
}

.examine-list tr:nth-child(2n+1) td {
    background: url('../images/bg-td.png') 0 0 repeat-x;
}

.examine_bianji {
    display: inline-block;
    width: 60px;
    height: 25px;
    background: #4ca34d;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

.examine_delete {
    display: inline-block;
    width: 60px;
    height: 25px;
    background: #d03836;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

/****************************************************/
.managenent_info {
    padding: 10px 0 0 25px;
    min-height: 870px;
}

.managenent_info div {
    display: inline-block;
    height: 45px;
    color: #769a4d;
    line-height: 45px;
    font-size: 15px;
}

.managenent_info span {
    padding-left: 10px;
    display: inline-block;
}

.managenent_info img {
    vertical-align: middle;
}

.managenent_info li {
    margin-top: 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 580px;
    background: #f7f8f3;
    border: 1px solid transparent;
    font-size: 15px;
}

.managenent_info li:hover {
    border: 1px solid #bedb93;
}

.managenent_info li strong {
    padding-left: 30px;
}

.managenent_info li span {
    padding-left: 20px;
}

.managenent_info > ul > li > img {
    position: relative;
    left: 65%;
    top: -22%;
    padding-left: 10px;
    cursor: pointer;
}

/********************老师成绩*************************/
.result_col {
    padding: 25px 10px;
}

.result_info {
    width: 750px;
    min-height: 192px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    color: #666666;
}

.result_info li {
    padding: 16px 0 0 20px;
}

.result_col_I {
    border: 1px solid #dddddd;
    width: 325px;
    height: 32px;
}

.result_col_II {
    border: 1px solid #dddddd;
    width: 164px;
    height: 32px;
}

.result_col_III {
    border: 1px solid #dddddd;
    width: 115px;
    height: 32px;
}

.result_S {
    display: inline-block;
    width: 580px;
    height: auto;
}

.result_top {
    vertical-align: top;
}

.result_S div {
    display: inline-block;
    height: 30px;
}

.result_S span {
    display: inline-block;
    width: 8em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

.result_button_CJ {
    width: 234px;
    height: 26px;
    background: #5cb95b;
    border: 1px solid #3dab3b;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
}

.result_button_XZ {
    width: 149px;
    height: 26px;
    background: #5b9de7;
    border: 1px solid #367edb;
    margin-left: 20px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
}

.result_bottom {
    border-top: 1px solid #dddddd;
    margin-top: 20px;
}

.result_TB_I {
    background: #49ab49;
    width: 76px;
    height: 26px;
    border: 1px solid #49ab49;
    color: #ffffff;
    cursor: pointer;
}

.result_TB_II {
    background: #f52926;
    width: 76px;
    height: 26px;
    border: 1px solid #d21d29;
    color: #ffffff;
    cursor: pointer;
}

/***********************学生首页**********************/
.student_page input {
    border: 1px solid transparent;
    width: 4em;
}

.student_page input:hover {
    border: 1px solid #dddddd;
}

.student_page img {
    vertical-align: middle;
    cursor: pointer;
}

.student_list_dl {
    padding: 15px;
}

.student_list_dl dt {
    margin-top: 20px;
}

.student_list_dl dl {
    background: url("../images/student_lsit.png") no-repeat;
    font-size: 25px;
    text-align: center;
    padding: 20px 0 56px 0;
}

.student_list_dl dd {
    margin-top: 31px;
}

.student_list_dl em {
    font-size: 30px;
    color: #f58905;
}

.student_clearfix {
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
}

.student_clearfix ul li {
    display: inline-block;
    text-align: center;
    font-size: 17px;
}

.student_clearfix ul li em {
    display: block;
    font-size: 40px;
    line-height: 42px
}

.examine_col {
    width: 750px;
    margin: 0 auto;
    text-align: center;
}

.examine_col li {
    display: inline-block;
    text-align: center;
    font-size: 17px;
}

.examine_col li em, .examine_col {
    display: block;
    font-size: 40px;
    line-height: 42px;
}

.examine_col li em i {
    font-size: 17px;
}

.student_result_rol {
    width: 225px;
    float: left;
    margin-right: 20px;
}

.student_result_rol span {
    width: 400px;
    height: 400px;
    display: block;
    margin: 10px 0;
}

.student_result_rol ul, .charts-list .shuzi {
    width: 175px;
    margin: 0 auto;
    text-align: center;
}

.student_result_rol .shuzi {
    width: 100%;
}

.student_result_rol ul li, .student_result_rol .shuzi li {
    display: inline-block;
    text-align: center;
    font-size: 17px;
}

.student_result_rol .shuzi li {
    padding: 0 10px;
    font-size: 24px;
    line-height: 26px;
}

.student_result_rol ul li em, .student_result_rol .shuzi li em {
    display: block;
    font-size: 40px;
    line-height: 42px;
}

.student_result_rol ul li em i {
    font-size: 17px;
}
