html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;}
a{text-decoration:none; color:red;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
img{display: inline}
input{outline: none}

.fiery-skip-top{
    overflow: visible;
}
.fiery-skip-botton-I{
    overflow: visible;
}
.fiery-left{
   float: left;
    width:770px;
    min-height:1000px;
    border: 1px solid #D0D0D0;
    margin: 10px 0 0 7px;
}
.fiery-left-top{
    height: 40px;
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #D0D0D0;
    line-height: 40px;
    overflow: visible;
}
.fiery-left-top-huodong{
    display: inline-block;
    width: 100px;
    font-weight: bold;
    color: #fd8c03;
    background-color: #ffffff;
    border-top: 5px solid #fd8c03;
    border-right: 1px solid #D0D0D0;
    text-align: center;
    position: relative;
    top: -2px;
    cursor: pointer;
    font-size: 16px;
}
.fiery-left-bottom{
    padding-top: 25px;
}
.fiery-left-li{
    float: left;
}
.fiery-left-bottom>ul>div{
    background-color: #f7f8f3;
    height: 35px;
    width: 95%;
    margin-left: 3%;
    line-height: 35px;
    overflow: visible;
}
.fiery-left-bottom>ul>div>li{
    margin-left: 2%;
    color: #fd8c03;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}

.fiery-left-bottom-I{
    font-weight: bold;
}
.fiery-left-bottom-II{
    color: #000000;
    font-size: 14px;
}
.fiery-left-bottom-III{
    color: #8e8f8c;
    font-size:14px;
}
.fiery-right-li{
    float: right;
    color: #8e8f8c;
    margin-right: 3%;
}
.fiery-skip-top{
    text-align: center;
    border-bottom: 1px solid #D0D0D0;
    width: 90%;
    margin-left: 5%;
    color: #000000;
    font-weight: bold;
}
.fiery-skip-I{
    font-size: 20px;
}
.fiery-skip-bottom{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    padding-bottom: 50px;
}
.fiery-skip-botton-I{
    color: #000000;
}
.fiery-left-botton-II{
    font-size: 18px;
    font-weight: bold;
    vertical-align:top;
}
.fiery-left-botton-III{
    font-size: 15px;
    width: 680px;
}
.divcss
{
	display:none;
}

#version10 {
    background: #FF8A00 url('/img/JXHD.png') no-repeat 211px 5px !important;
    color: white;
}

#version10 a span {
    color: white !important;
}
.fiery-skip-botton-I{
    line-height: 2em;
}
.fiery-zf{
    font-size: 20px;
    overflow: visible;
    margin: 10px 0 10px 300px;
    font-weight: normal;
}