 body{font-family:Microsoft YaHei;}
 .center{margin:0 auto;width:900px;}
 .blue{color:#0080FF;}
 .green{color:#006000;}
 .brown{color:#642100;}
 .red{color:#CE0000;}
 .ypheader h4{font-size:17px;margin:10px 0;border-left:4px solid #ff7e00;padding-left:10px;}

.fc_statistics_summary{background:#F0F0F0;border-left:1px solid #D0D0D0;border-right:1px solid #D0D0D0;padding:10px 0;}
.fc_statistics_summary >div{display:inline-block;float:left;text-align:center;width:220px;overflow:hidden;}
.fc_statistics_summary >div:first-child +div{border-left:1px solid gray;}
.fc_statistics_summary >div:first-child +div +div{border-left:1px solid gray;}
.fc_statistics_summary >div:first-child +div +div +div{border-left:1px solid gray;}
.fc_statistics_summary >div >img{width:50px;height:60px;margin:30px 0;}
.fc_statistics_summary >div p{padding-bottom:20px;}
.fc_statistics_summary >div b{margin-left:10px;font-size:20px;}
.fz_bar{position: relative;height: 155px;width: 20px;margin-left: 30px;float: left;overflow: hidden;font-weight: bold;}
.fz_bar_inset{bottom: 25px;width: 20px;background-color: #4FA4CB;height: 90px;position: absolute;}
.fz_bar_inset div{background-color: #F0F0F0;}
.fz_bar span{position: absolute;bottom: 10px;left: 6px;}

.fc_statistics_list{background:white;/*height:850px;*/}
 .fc_statistics_list-li{
    height: 38px;
    width: 98px;
    text-align: center;
    border-right: 1px solid #DDDDDD;
    position: relative;
    float: left;
    font-weight: bold;
    line-height: 38px;
    cursor: pointer;
    font-size: 15px;

}
.fc_statistics_list .header{background:rgb(235,238,247);padding:10px 0;color:#004B97;border:1px solid #D0D0D0;border-top:none;}
.fc_statistics_list  span{text-align:center;display: inline-block}
.fc_statistics_list >ul{border:1px solid #D0D0D0;/*height:500px;*/overflow:auto;}
.fc_statistics_list >ul li:hover{background:rgb(235,238,247);}
 .fc_statistics_list >ul li a{cursor: pointer;}
.vedioname{background:url(/img/vedioname.png) no-repeat;width:28%;}
.vedioclick{background:url(/img/vedioclick.png) no-repeat;width:10%;}
.vediofinish{background:url(/img/vediofinish.png) no-repeat;width:10%;}
.unview{background:url(/img/vediounview.png) no-repeat;width:10%;}
.viewmore{width: 15%;text-align: right !important;padding-right: 20px;cursor: pointer;} 
.viewmore.up{background: url(/img/uparrow.png) no-repeat 100% 40%;}
.viewmore.down{background: url(/img/downarrow.png) no-repeat 100% 40%;}
.tatistics-num{padding:0px 5px;color: #448aca;;}
.tatistics-head{line-height: 2.7;padding: 2px;}
.tatistics-head span{padding-left:40px;text-align:left;color: rgb(51,51,51);}
.curr{
   /* border-top: 3px solid #FF8900;
    color: #FF8900;*/
    width: 98px;
    background: #ffffff;
    /* border-top: 4px solid #FF8900; */
   /* margin-top: -4px;*/
   /* border: 1px solid #bbbbbb;
    border-bottom: none;*/
    color: #000000;
    top: 0px;
}
.fc-ul{
    border-right: 1px solid #DDDDDD;
    width: 98px;
    height: 38px;
    line-height: 38px;
    color: #ffffff;
    background: #feaa00;
    background-repeat: no-repeat;
}
 .fc-ul a{
     color: #ffffff;
 }