#searchbar input[type="text"]{ border:1px solid red\9;} 
.forIECourseD{position:relative;}
.forIECourseD span:first-child +span{position:absolute;right:0px;}
.forIEFloatP{position:relative\9;}
.forIEFloatP .FloatC{position:absolute\9;right:0px\9;display:inline-block\9;}
.content1{position:relative;}
.content1 span:first-child{position:absolute;right:0px;top:0px;}
.dialog-ar .dialog-content-right .input-div{ position:relative\9;}
.dialog-ar .dialog-content-right .input-div input{ position:absolute\9; right:30px\9; top:7px\9;}
.dialog-ar .dialog-content-right .input-div select{ position:absolute\9; right:30px\9; top:7px\9;}
#login{ filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#60FFFFFF,endColorstr=#60FFFFFF); }
#logincontent form input[type="text"]:focus, #logincontent form input[type="password"]:focus{border:1px solid red\9;} 
#sl{font-family: 微软雅黑\9;}
.menu .menu-content >li >ul a{word-break:keep-all\9;}
.menu .menu-content >li{margin-bottom:20px\9;}
.menu-header >li{border-left:1px solid #4F4F4F\9;}
.menu-header >li:first-child{border:none\9;}
.left-navi-div{overflow:hidden;}
.teacher-class-div > div:first-child + div > div:first-child{color:#2e87d4\9;font-size:14px\9;font-weight:bold\9;margin-top:10px\9;}
.teacher-short-cut-link ul li{float:left\9;margin-left:5px\9;}
.forIEClear{height:0\9;content:"."\9;clear:both\9;display:block\9;visibility:hidden\9;}