div {
    overflow: hidden !important;
}
/* .headmaster-note-container div {
    overflow: visible !important;
} */
.receive_btn {
  float: right !important;
  font-size: 13px;
}
.main-container {
    margin: 0px auto 0px auto;
    background-color: #fff;
    font-size: 15px;
    font-family: 'microsoft YaHei';
    /*background: url(/img/fcteacherbackBig.jpg) repeat-x;*/
    background-size:auto 170px;
}

.color-red{
	color:red;
}

.index-bottom-img {
    position: absolute;
    left: 1114px;
    top: 260px;
}
/*微校园*/
.mycomment-container,.one_blog_container {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.myfriend_bar,.mycomment_bar,.one_blog_bar {
    border-bottom: 1px solid #d0d0d0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: bold;
}
.friend-main-container {
    border: 1px solid #d0d0d0;
    padding: 20px 20px;
    background-color: #fff;
    overflow: hidden;
}
.input-newthing {
    width: 100%;
    font-size: 16px;
    border:1px solid #d0d0d0;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 3px;
}
.upload-bar {
    font-size:12px;
    width:100px;
    margin-top: 5px;
    cursor:pointer;
    overflow: hidden;
}
.upload-img {
    position: absolute;
    z-index: 120;
    margin-left: 0px;
    font-size: 30px;
    opacity: 0;
    filter: alpha(opacity=0);
    margin-top: -30px;
    cursor: pointer;
    width: 55px;
}
.upload-btn {
    position: absolute;
    top: 0;
    cursor: pointer;
}
.publish-commit {
    float: right;
    background-color: #f80;
    width: 80px;
    margin: 0px;
    text-align: center;
    color: white;
    line-height: 30px;
}
.publish-commit:hover {
    background-color: #FFA33A;
}
.order-bar {
    width: 100%;
    border-bottom: 1px solid rgb(21,165,228);
    color: rgb(21,165,228);
    margin-top: 20px;
    padding-bottom: 3px;
}
.order-bar > .order-blue {
    padding: 0px 7px;
    cursor: pointer;
}
.order-bar > .active {
    background-color: #999;
    color: #fff
}
.select-order {
    float: right;
    background-color: #DADADA;
    padding: 2px 7px;
    border-radius: 11px;
}
.info-role {
	font-size: 12px;
    padding-left: 5px;
}
.info-container {
    margin-top: 20px;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
}
.info-container:last-child {
    border-bottom: 0px;
}
.blog-delete-btn {
    margin-right: 15px;
    margin-top: 3px;
    float: right;
    cursor: pointer;
}
.info-user-img,
.mycomment-user-img {
    float: left;
    width: 70px;
    margin-right: 15px;
}
.info-user-name {
    font-size: 16px;
    color: #646464;
    height: 33px;
}
.info-content {
    line-height: 20px;
    font-size: 13px;
    margin-bottom: 10px;
    word-break: break-all;
}

.info-content_hidden {

    line-height: 20px;
    font-size: 13px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;

}

.contentImg-container {
    width: 250px;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}
.content-img {
    height: 80px;
    width: 80px;
    margin:1px;
}
.info-controllBar {
    color: #999;
    margin-bottom: 5px;
}
.info-controllBar > div {
    overflow: hidden;
}
.fright {
    float: right;
}
.fleft {
    float: left;
}

.like-status {
    cursor: pointer;
}

.like-status .fa {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.like-status:hover,.like-status.active {
    color: orangered;
}

.comment-btn,
.reply-text {
    cursor: pointer;
    overflow: hidden;
    margin-right: 35px;
}

.content-all {
    position: relative;
    display: none;
}
.content-container-border1 {
    z-index: 101;
    position: absolute;
    top: 1px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FaFaFa;
}
.content-container-border2 {
    z-index: 100;
    position: absolute;
    top: 0px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d0d0d0;
}
.content-container {
    border:1px solid #d0d0d0;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #FaFaFa;
    margin-top: 8px;
}
.content-reply {
    width: 100%;
    border: 1px solid #d0d0d0;
    padding: 7px 10px;
}
.content-reply:focus {
    border: 1px solid #f80;
}
.reply-btn {
    float: right;
    margin: 5px 0px;
    background-color: #f80;
    color: #fff;
    width: 70px;
}
.reply-btn:hover {
    background-color: #FFA33A;
}
.reply-replier-all {
    position: relative;
    display: none;
}
.reply-replier-border1 {
    position: absolute;
    right: 7px;
    top: 6px;
    z-index: 100;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #d0d0d0;
}
.reply-replier-border2 {
    position: absolute;
    z-index: 101;
    right: 7px;
    top:7px;
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #EBEBEB;
}
.replier-container {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
    clear: both;
}

.replier-container:last-child {
    border-bottom: 0px;
}
.replier-container .replier-img {
    width: 40px;
    float: left;
    margin-right: 10px;
}
.replier-name,
.replier-reply,
.weibo-link {
    color: #4242FF;
}
.replier-name:hover,
.replier-reply:hover,
.weibo-link:hover {
    color: #4242FF;
    text-decoration: underline;
}
.reply-replier-container {
    margin-top:12px; 
    border:1px solid #d0d0d0;
    padding: 10px 15px;
    background-color: #EBEBEB;
    border-radius: 4px;
}
.reply-replier-container .reply-replier-input {
    padding: 7px 10px;
    border: 1px solid #d0d0d0;
    width: 100%;
}
.reply-replier-input:focus {
    border: 1px solid #f80;
}

/*班级*/
.class-list {
    padding: 0px;
}
.headmaster-select-class {
    margin-bottom: 30px;
    display: inline-block;
    margin-left: 0px;
}
.headmaster-select-class > li {
    float: left;
    padding: 5px 15px;
    color: #969696;
    cursor: pointer;
    margin:0px 15px;
    min-width:90px;
}
.headmaster-select-class > li.active {
    background-color: #4DC9F7;
    color: #fff;
    border-radius: 5px;
}
.class-content {
    display: block;
    margin-bottom: 20px;
}
.class-img {
    height: 130px;
    width: 100%;
    border-radius: 5px;
}
.class-headmaster-name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*title bar*/
.class-titlebar {
    display: none;
}
.class-tag {
    margin-top: 30px;
    margin-bottom: 30px;
}
.first-tag,
.second-tag {
    float: left;
    width: 110px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.first-tag {
    background:url(/img/first-tag.png) no-repeat;
    cursor: pointer;
}
.second-tag {
    background:url(/img/second-tag.png) no-repeat;
    margin-left: -6px;
}
.info-select-bar {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 2px solid #4DC9F7;
    color: #4DC9F7;
    margin-left: 0px;
    margin-bottom: 20px;
}
.info-select-bar li {
    font-size: 16px;
    float: left;
    width: 180px;
    text-align: center;
    position: relative;
}
.select-detail {
    overflow: hidden;
    cursor: pointer;
}
.select-img {
    background: url(/img/circle1.png) no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 31px;
    left: 80px;
    cursor: pointer;
}
.info-select-bar li.active >.select-detail {
    font-weight: bold;
    font-size: 20px;
}
.info-select-bar li.active >.select-img {
    background: url(/img/circle2.png) no-repeat;
}


.everything-container>div {
    display: none;
    width: 770px;
}
/*本班老师*/
.class-teacher-container {
    padding: 0px 10px 30px 10px;
}
.teacher-list-title {
    margin-top: 30px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 4px solid #FF7E00;
    margin-bottom: 15px;
}
.border {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    height: 1px;
}
.teacher-info {
    width: 80px;
    height: 125px;
    margin: 5px;
    float: left;
    display: block;
}
.teacher-img {
    height: 80px;
    border-radius: 5px;
}
.teacher-name, .teacher-experience {
    font-size: 12px;
    margin-top: 3px;
    overflow: hidden;
    color: #808080;
    text-align: center;
}

.experience-span{
    color: coral;
}

span.I {
    width: 153px;
    text-align: center !important;
    padding-left: 15px;
}

span.II {
    width: 120px;
    text-align:center;
}

span.III {
    width: 120px;
    text-align:center;
}

span.IV {
    width: 100px;
    text-align:center;
}

span.V {
    width: 105px;
    text-align:center;
}

span.VI {
    width: 105px;
    text-align:center;
}
span.head-II {
    width: 130px;
    text-align:center;
}

span.head-III {
    width: 130px;
    text-align:center;
}

span.head-IV {
    width: 110px;
    text-align:center;
}

span.head-V {
    width: 110px;
    text-align:center;
}

span.head-VI {
    width: 115px;
    text-align:center;
}


.header_foot{height:20px;background:#ECF5FF;border-left:1px solid #D0D0D0;border-right:1px solid #D0D0D0;}

#student-list li{display:block;border-bottom:1px solid #D0D0D0;padding:10px 0;}
#student-list li a{cursor: default}
.student_header{background:rgb(235,238,247);padding:10px 0;color:#004B97;border:1px solid #D0D0D0;border-top:none;width:770px;}
.header_foot span,
.student_header span{text-align:center;
    display: inline-block}
#student-list{border:1px solid #D0D0D0;height:500px;overflow:auto;margin: 0;width:770px;}
#student-list li:hover{background:rgb(235,238,247);}  
.teacher-list span{display: inline-block}
/*本班课程*/
.fc_course_detail {position: relative;width: 438px;float: left;}
.fc_course_detail>div {border: 1px solid #D0D0D0;}
.fc_course_detail>div>* {float: left;display: inline-block;}
.fc_course_detail>div>a img {margin: 10px;}
.fc_course_detail>div>div {width: 270px;margin-top: 10px;}
.fc_course_detail>div>div p {margin-bottom: 5px;word-wrap: break-word;word-break: keep-all;}
.fc_course_detail>div>p {width: 415px;padding: 10px;border-top: 1px solid #D0D0D0;}
.fc_course_detail>div>p a {float: right;}
.backblue{background:#0080FF;color:white;}
/*本班作业及通知*/
.class-work-container >div,
.class-note-container >div,
.release-headmaster-note > div {
    float:left;
    padding:10px;
    border-bottom:1px solid #d0d0d0;
}
.class-work-container >div:first-child,
.class-note-container >div:first-child,
.release-headmaster-note >div:first-child {
    border-top: 1px solid #d0d0d0;
    margin-top: 25px;
}
.class-work-container >div >*,
.class-note-container >div >*,
.release-headmaster-note >div >*{float:left;}
.class-work-container >div >img,
.class-note-container >div >img,
.release-headmaster-note >div >img{width:48px;height:48px;margin-right:10px;}
.class-work-container >div >p,
.class-note-container >div >p,
.release-headmaster-note >div >p{width:500px;}

#reply_list{background: white;border-top: none;}
.reply_detail{margin:21px 25px;border-top: 1px solid #d0d0d0;}
.reply_detail >*{float:left;}
.reply_detail >div{margin-top:15px;}
.reply_detail >div >p{margin:10px 0;}

.reply-word{
    word-break: break-word;
    word-wrap: break-word;
    width: 525px;
}

/*本班考试*/
.class-exam-container>div{float:left;padding:10px;border-bottom:1px solid #d0d0d0;}
.class-exam-container>div >*{float:left;}
.class-exam-container>div >img{width:48px;height:48px;margin-right:10px;}
.class-exam-container>div >p{width:500px;}
.class-exam-container>div:first-child {
    border-top:1px solid #d0d0d0;
    margin-top: 25px;
}
.exam_title {
    font-size: 16px;
    margin-right: 10px;
}

/*老师*/
.headmaster-teacher-container {
    padding: 30px;
}
.headmaster-teacher-subject {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #CECECE;
    margin-left: 0px;
    width: 100%;
}
.headmaster-teacher-grade {
    margin-left: 0px;
}
.headmaster-teacher-subject ,
.headmaster-teacher-grade {
    display: inline-table;
}
.headmaster-teacher-subject li,
.headmaster-teacher-grade li{
    float: left;
    line-height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.headmaster-teacher-subject li.active {
    background-color: #FB679F;
    color: #fff;
}
.headmaster-teacher-grade li.active {
    background-color: #4DC9F7;
    color: #fff;
}
.teacher-detail-img {
    width: 138px;
    height: 138px;
    border-radius: 5px;
}


/* 收到的评论**/
.mycomment-container,.one_blog_container {
    display: none;
    overflow: hidden;
}
.mycomment-main-container,.one_blog {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 20px 20px;
    background-color: #fff;
    overflow: hidden;
}
.mycomment-reply-form {
    margin: 10px 0px;
}
.mycomment-content-border1 {
    position: absolute;
    z-index: 101;
    left: 1px;
    top:27px;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #F3F3F3;
}
.mycomment-content-border2 {
    position: absolute;
    z-index: 100;
    left: 0px;
    top:27px;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #bdbdbd;
}
.mycomment-content {
    background-color: #F3F3F3;
    border:1px solid #bdbdbd;
    margin-left: 8px;
    border-radius:10px;
    padding: 10px;
    line-height:25px;
    font-size:14px;
}
.release-time {
    color:#999;
}
.mycomment-reply,
.mycomment-delete {
    color: #4242FF;
    margin-left: 15px;
}
.mycomment-reply-container {
    clear: both;
    width: 100%;
    padding-top: 15px;
    margin-top: 35px;
    border-top:1px solid #bdbdbd;
    display: none;
}
.mycomment-reply-input {
    width:432px;
    padding: 7px 10px;
    border:1px solid #d0d0d0;
}
.mycomment-reply-input:focus {
    border-color: #f80;
}
.mycomment-reply-btn {
    background-color: #f80;
    height: 23px;
    width: 55px;
    border-radius: 3px;
    float: right;
    margin: 5px 0px;
}
.mycomment-reply-btn:hover {
    background-color: #FFC077;
}

.blog-img-delete {
    float:left;
    line-height:50px;
    cursor:pointer;
}

.blog-img {
    width:50px;
    height:50px;
    float:left;
    margin-right:20px;
    margin-top: 10px;
}

/*个人名片*/
.info-card-person {
    height: 100px;
}
.info-card {
    position: absolute;
    width: 278px;
    height: 160px;
    left: 0;
    top: 0;
    display: none;
    box-shadow: 1px 1px 7px #818181;
    padding-top: 10px;
    z-index: 101;
    font-family: 'microsoft YaHei';
}
.info-card.teacher {
    background-image: url(/img/card_teacher.png);
}
.info-card.student {
    background-image: url(/img/card_student.png);
}
.info-card.master {
    background-image: url(/img/card_master.png);
}
.info-card.parent {
    background-image: url(/img/card_parent.png);
}
.info-card-img {
    width: 77px;
    height: 77px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}
.info-card-content {
    font-size: 14px;
    color: #fff;
    font-family: "SimSun";
    text-shadow: 1.5px 2.598px 5px #000;
    margin-top: 5px;
}
.info-card-send {
    margin-top: 14px;
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
    font-family: "SimSun";
    text-shadow: 1.5px 2.598px 5px #000;
    cursor: pointer;
    background:url(/img/K6KT/message.png) no-repeat -2px -5px;
    height: 22px;
}

.info-card-detail {
  font-size: 24px;
  color: rgb( 103, 155, 182 );
  text-align: center;
  
}
.info-card-detail div:first-child {
    margin-left: 0px;
}
.info-card-detail div {
    float: left;
    margin-left: 1px;
    width: 92px;
    line-height: 24px;
    overflow: hidden;
}
.card-student-detail {
    color: rgb( 0, 70, 100 );
    text-align: center;
    margin-top: 9px;
    width: 196px;
    overflow: hidden;
}
.card-student-petname {
    font-size: 18px;
    overflow: hidden;
}
.card-student-exp {
    font-size: 14px;
    overflow: hidden;
}
.card-student-pet {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 90px;
}

/*私信*/
.alert-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    filter:alpha(opacity=40); 
    -moz-opacity:0.4; 
    top: 0;
    left: 0;
    display: none;
    z-index: 99;
}
.letter-container {
    background-color: #fff;
    position: fixed;
    top: 30%;
    left: 38%;
    width: 400px;
    padding: 15px;
    box-shadow: 1px 1px 5px #888;
    display: none;
    z-index: 110;
}
.letter-title {
    font-size: 16px;
    overflow: hidden;
    float: left;
}
.letter-close {
    float: right;
    font-size: 19px;
    overflow: hidden;
    cursor: pointer;
}
.letter-input {
    margin: 15px 0px;
    border: 1px solid #A0A0A0;
    width: 368px;
    padding: 5px 15px;
    height: 65px;
}
.letter-release {
    float: right;
    padding:7px 20px;
    background-color: #FF7E00;
    color: #fff;
    font-size: 15px;
    overflow: hidden;
}
.send-result-bg {
    width: 250px;
    height: 130px;
    background-color: #000;
    opacity: 0.7;
    border-radius: 6px;
    position: fixed;
    top: 300px;
    left: 42%;
    display: none;
}
.send-result {
    position: fixed;
    top: 345px;
    left: 45%;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
    overflow: hidden;
    display: none;
}

/*通知页面*/
.release-note-container {
    padding: 40px 50px 10px 0px;
    border-bottom: 2px solid #ff7900;
    border-top: 2px solid #ff7900;
    min-height: 380px;
}

.zhankai {
    color: cornflowerblue;
}

.label-row span {
    line-height: 32px;
    width:50px;
}

.label-row input {
    border:1px solid #DADADA;
    border-radius: 4px;
    padding: 5px 10px;
}
.note-select {
    padding-left: 0px;
    padding-right: 0px;
}
.note-select-label {
    border-top: 1px solid #FF7900;
    padding-top: 6px;
    margin-bottom: 6px;
}
.note-select-label:first-child {
    border-top: none;
}
.label-textarea {
    width: 100%;
    border:1px solid #DADADA;
    border-radius: 4px;
    padding: 5px 10px;
}
.label-note-submit {
    color: #fff;
    margin-top: 5px;
    padding: 5px 15px;
    font-size: 14px;
    overflow: hidden;
    float: right;
    background-color: #ff7900;
}

.stu-list-img {
    width:60px;height:60px;vertical-align: middle;margin-right:10px;
}
.note-select-label .checkbox-inline{
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  margin-left:0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 105px;
}

.friend-container,.headmaster-note-container,.headmaster-teacher-container{
	/*width:900px;*/
	margin:0px auto;
	background-color:#fff;
	padding:40px 80px;
	box-shadow:0 3px 8px #ccc;
}
.headmaster-class-container{
	width:900px;
	margin:0px auto;
	background-color:#fff;
	padding:40px 0px;
	box-shadow:0 3px 8px #ccc;
}
.class-exam-container{
	padding:0 40px;
}
.myexam_bar{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 17px;
	line-height: 30px;
}
.ques-label {
	margin: 10px 0px;
}
.ques-title {
	width: 100%;
	border-bottom: 1px dashed #333;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.myexam_bar > span:first-child a:hover {
	color: skyblue;
}
.myexam_bar > span:first-child a {
	color: deepskyblue;
}
.correctexam-detail {
	border: 1px solid #d0d0d0;
	padding: 20px 20px;
	margin:0 20px;
}
a.blue-link {
	color: deepskyblue;
}
.correctexam-title {
width: 100%;
border-bottom: 1px dashed #333;
padding-bottom: 5px;
margin-bottom: 5px;
font-weight: bold;
}
#img-container{
    clear: both;
    width: 280px;
}
#img-container ul li{
	display: block;
}

#recordercontainer1 {
    float: left;
}

#attacher {
    float: left;
    font-size: 15px;
    margin: 8px 0 0 15px;
}

#attacher span {
    width: auto;
}
.bg
        {
            background-color: #000;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            filter: alpha(opacity=40);
            opacity: 0.4;
            z-index: 1;
            position: fixed !important; /*FF IE7*/
            position: absolute;
            _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/ 
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
        }
.myblog{
display: none;
	}
.viewexampaper-top{
    background: rgb(235,238,247);
    padding: 10px 0;
    color: #004B97;
    border: 1px solid #D0D0D0;
    border-top: none;
    width: 770px;
}
.viewexampaper-container ul li{
    border-bottom:1px solid #ddd;
    height: 50px;
    line-height:50px; ;
}
.viewexampaper-container .viewexampaper-top span{
    width: 24%;
    display: inline-block;
    text-align: center;
}
.viewexampaper-container ul{
    width: 830px;
}
.viewexampaper-container ul li span{
    width: 25%;
    display: inline-block;
    border-right: 1px solid transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}