#experience{
    width: 130px !important;
    height: 140px !important;
    right: 110px;
    position: absolute;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
}
.pet-name {
    overflow: hidden;
    font-size: 16px;
    position: absolute;
    right: 78px;
    bottom: 10px;
    text-shadow: 2px 0px 5px #000;
    width: 190px !important;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-name{
    width: 144px;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    right: 90px;
    bottom: 6px;
    display: none;
}
.change-name {
    position: absolute;
    bottom:33px;
    right: 110px;
    color: #00f;
    text-decoration: underline;
    font-size: 15px;
    display: none;
    font-weight: bold;
}
.user-exp {
    position: absolute;
    bottom:0px;
    right: 0px;
    border: none !important;
    width: auto !important;
    height: auto !important;
    margin: 0px !important;
}
.exp-level{
    position: absolute;
    bottom: 53px;
    right: 32px;
    font-size: 14px;
    cursor: pointer;
}
.exp-title{
    position: absolute;
    bottom:37px;
    right: 23px;
    font-size: 15px;
    margin: 0 !important;
}
.exp-number{
    position: absolute;
    bottom:19px;
    right: 21px;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    width: 47px !important;
}
.exp-number span {
    margin: 0px !important;
}
#makescore{
	position:absolute;
	z-index:100;
	background: url(/img/howto.png) no-repeat 0 50%;
	border-radius: 4px;
	padding: 5px 8px;
	top: 2px;
	right: 8px;
	cursor: pointer;
	color:#fff;
	font-size:13px;
	padding-left: 20px;
}
#makescore:hover{
	/* box-shadow: 2px 2px 3px #fff; */
	text-decoration: underline;
}
#user-exp{
	cursor:pointer;
}