html, body {
    font: 12px/18px "lucida grande", "lucida sans unicode", 'Microsoft YaHei', tahoma, verdana, arial, sans-serif;
}

@media screen {
    html, body {
        min-width: 900px;
    }
}

hr.k6kt-hr {
    border: 0;
    height: 1px;
    background-color: #d4d4d4;
    color: #d4d4d4;
    margin: 10px 0 10px 0;
}
#docUplaoder{
    opacity: 0;
}
.size-zero {
    width: 0;
    height: 0;
}

.inline-block {
    display: -moz-inline-box;
    display: inline-block;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.k6kt-body {
    min-height: 400px;
}

.transcript-table tbody tr td span{
    color:#FF6C00 !important;
}



.relative {
    position: relative;
}

.avatar-min {
    width: 48px;
    height: 48px;
}

/*表格样式*/
.table-k6kt {
    width: 100%;
    text-align: center;
}

.stars-container{
    width: 100px;
}

.table-k6kt .stars-container span{
    color: #FF6C00 ;
   /* position: relative;
    top:10px;
    left: -20px;*/
}

.table-k6kt * {
    vertical-align: middle;
}

.table-k6kt tr {
    border-bottom: 1px solid lightgray;
}

.table-k6kt tr:nth-child(2n+1) {
    background-color: #F3F9F9;
}

.table-k6kt tr:hover {
    background-color: #F3F9F9;
}

.table-k6kt th {
    text-align: center;
    font-weight: bold;
}

/*按钮*/
.inline-button {
    background: #00c2f3;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 5px 7px;
    overflow: hidden;
    display: -moz-inline-box;
    display: inline-block;
}

.inline-button:hover {
    background: #67E0FF;
}

.inline-button.btn-orange {
    background: #ff6c00;
}

.inline-button.btn-orange:hover {
    background: #FFBE58;
}

.inline-button.btn-yellow {
    background: #eb8a00;
}

.inline-button.btn-yellow:hover {
    background: #FFBE58;
}

.inline-button.fixed-size {
    padding: 0;
    width: 80px;
    height: 30px;
    line-height: 30px;
}

.inline-button.big {
    padding: 8px 10px;
}

.button-k6kt {
    background: #ff6c00;
    color: white;
    cursor: pointer;
    border: 0;
}

.button-k6kt:hover {
    background: #FFBE58;
}

.button-k6kt.button-yellow {
    background: #eb8a00;
}

.button-k6kt.button-yellow:hover {
    background: #FFBE58;
}

.button-k6kt.button-blue {
    background: #00c2f3;
}

.button-k6kt.button-blue:hover {
    background: #67E0FF;
}

.button-k6kt.fixed-size {
    width: 80px;
    height: 30px;
}

/*通用样式*/
.break-word {
    word-wrap: break-word;
    word-break: break-all;
}

.pre {
    white-space: pre;
}

.orange-color {
    color:#ff7e00;
}
.start-NUM{
    width: 60px;
    font-weight: bold;
}
.ellipsis{
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.fa-2 {
    font-size: 2em;
}

#fz_online {
    height: 70px;
    float: right;
    line-height: 100px;
}
.score-KK{
    color: red;
}