@charset "utf-8";
body{
    background: url("../img/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0px;
    min-width: 900px;
}

.jtz-header{
    height: 120px;
    background: red;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
}
.logo{
    position: absolute;
    left:0;
    top:0;
}
.des-bar{
    height: 30px;
    background: black;
}
.middle-container {
    width: 900px;
    margin: 0 auto;
    position: relative;

}
.des-bar-ul{
    list-style:none;
    margin:0 auto;
    display: block;
    float: right;
}
.des-bar-ul li{
    display: inline-block;
    line-height: 30px;
    color: white;
    width: 70px;
    float: right;
    font-size: 12px;
}

.nav{
    height: 90px;
    background: #bdd3db;
}
.nav-ul{
    list-style: none;
    display: block;
    margin: 0 auto;
    float: right;
    padding-top: 30px;
}
.nav-ul li{
    display: inline-block;
    width: 100px;
    line-height: 30px;
    color: black;
    font-size: 18px;
    text-align: center;
}

.nav-ul li:hover{
    text-align: center;
    line-height: 30px;
    background: #2a90c7;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}

.container{
    width: 900px;
    margin: 0 auto;
    min-height: 800px;
    margin-bottom: 30px;
}
.left-container{
    float: left;

}
.right-container{
    margin-left: 15px;
    width: 660px;
    height: 1100px;
    background: white;
    float: right;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow:0px 2px 3px #aaaaaa;
}
.teacher-short-cut{
    width: 220px;
    height: 250px;
    background: white;
    
}
.teacher-short-cut-back{
    height: 98px;
}
.teacher-short-cut-pic{
    width: 124px;
    height: 124px;
    margin-top: -70px;
    margin-left: 48px;
    border-radius: 62px;
    border: 2px white solid;
}

.teacher-short-cut-name{
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
.teacher-short-cut-back{
    float: left;
}
.teacher-short-cut-link ul{
    padding-left:12px;
    padding-right: 12px;
    list-style: none;

}
.teacher-short-cut-link ul li {
    display: inline-block;
    line-height: 25px;
    width: 95px;
    background: #1e568d;
    text-align: center;
    color: white;
}
.teacher-info-link{
    padding-left: 15px;
    border-radius: 10px;
    border: 1px;
}
.teacher-info-link ul {
    margin: 0px;
    list-style: none;
    padding: 12px 0;

}
.teacher-info-link ul li {
    display: inline-block;
    line-height: 25px;
    width: 95px;
    background: #1e568d;
    text-align: center;
    color: white;
}
.teacher-interest{
    margin-top: 20px;
    width: 220px;
    height: 360px;
}
.teacher-interest-title{
    height: 55px;
    background: #3185d0;
    line-height: 55px;
    font-size: 17px;
    text-align: center;
    color: white;
    border-radius: 5px 5px 0px 0px;
}

.teacher-interest-item-pic{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 30px;
    border: 2px white solid;
}
.teacher-interest ul{
    margin: 0px;
    list-style: none;
    padding: 0px;
    
    background: white;
}
.teacher-interest ul li {
    padding-top: 10px;
    display: block;
    height: 77px;
    border: 1px #d7d7d7 solid;
    border-top: 0px;

}
.teacher-interest ul li:hover{
    background:#91ccf8; 
    color:white;
}
.teacher-interest-item{
    height: 77px;
}

.blue-back{
    height: 190px;
    background-color: #9bb0b6;
    margin-bottom: -150px;
}

.teacher-info-title{
    background: #3085cf;
    height: 50px;
    border-radius: 4px 4px 0px 0px;
}
.teacher-solgan{
    height: 40px;
    background: #d4d9da;
    font-size: 18px;
    line-height: 40px;
    padding-left: 15px;
}
.teacher-info-detail{
    height: 130px;
    background: white;
    padding-left: 15px;
    line-height: 25px;
    padding-top: 10px;
}
.teacher-class-item{
    height: 210px;
    margin: 15px 20px;
    border: 1px #d7d7d7 solid;
    border-radius: 4px;
    
}
.teacher-class-link{
    padding: 8px;
    height: 195px;
    width: 115px;
    border-right: 1px #d7d7d7 solid;
    border-radius: 4px;
    float: left;
}
.teacher-class-link-button{
    height: 38px;
    background: #e43e55;
    color: white;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    border-bottom: 2px #cd2e44 solid;
}
.teacher-class-detail{
    width: 436px;
    height: 210px;
    
    float: left;
    padding: 0 25px;
}
.teacher-class-detail-title{
    height: 35px;
    color: #2e87d4;
    line-height: 35px;
    font-size: 17px;
    border-bottom: 1px #d7d7d7 solid;
}
.teacher-class-detail-cont{
    font-size: 13px;
    height: 110px;
    line-height: 17px;
    padding-top: 5px;
}
.teacher-class-button{
    list-style: none;
    padding: 0;
    float: right;
}
.teacher-class-button li{
    width: 92px;
    height: 28px;
    line-height: 28px;
    color: white;
    font-size: 16px;
    display: inline-block;
    margin-right: 6px;
    text-align: center;
    background-color: #ed9939;
    border: 1px #e26c1c solid;
    border-radius: 4px;
}
.teacher-class-title{
    margin-left: 20px;
    margin-right: 20px;
    color: #fa741e;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    height: 32px;
    border-bottom: 1px #d7d7d7 solid;
    border-top: 1px #d7d7d7 solid;
}
.teacher-display{
    height: 1000px;
    
    margin-top:30px;
}
.teacher-display-ul{
    padding: 0px;
    list-style: none;
    display: block;
    margin: 0px;
    margin-left: 20px;
    float: left;

    
}


.teacher-ul-div{
    height: 35px;
}
.teacher-display-ul li{
    float: left;
    display: inline-block;
    background-color: #319cd7;
    color: white;
    line-height: 35px;
    width: 100px;
    margin-right: 5px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}

.teacher-display-ul li:hover{
    background-color: white;
    color: #319cd7;
}

.list-teacher-table{
    background-color: white;
    height: 950px;
    padding-top: 30px;
    margin: 0 20px;
    box-shadow:0px 2px 3px #aaaaaa;
}
.list-teacher-table-row{
    height: 220px;
    margin-top: 30px;
    background-color: white;

}
.list-teacher-table-row img{
    display: inline;
    height: 220px;
    width:260px;
    margin-left: 18px;
}
.current-brand{
    float: right;
}
.footer{
    height: 30px;
    background-color: black;
}
.footer-ul{
    display: block;
    margin:0 auto;
    list-style: none;
    width: 500px;
    padding-left: 0px;
}
.footer-ul li{
    display:inline-block;
    color: #d7d7d7;
    line-height: 30px;
    padding-right: 10px;
    font-size: 12px;
}

.pagin{
    margin-top: 30px;
}
.pagin-ul{
    list-style: none;
    float: right;
    padding-right: 20px;
}
.pagin-ul li{
    display: inline-block;
    width: 30px;
    line-height: 30px;
    height: 30px;
    border-radius: 4px;
    border: 2px #b4b4b4 solid;
    text-align: center;
    font-size: 14px;
    color:#181818;
}
.pagin-ul li:hover{
    background-color: #b4b4b4;
    color: white;
}

.carousel-control{
    width: 30px;
    height: 40px;
    background-color: #2dacdb;
    color: white;
    position: absolute;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}
.carousel-left{
    top:45%;
}
.carousel-right{
    right:0;
    top:45%;
}

.carousel-intr{
    position: absolute;
    height: 15%;
    width: 100%;
    bottom:0;
    filter:alpha(opacity=30);  
      -moz-opacity:0.3;  
      -khtml-opacity: 0.3;  
      opacity: 0.3; 
    background-color: #2DACDB;
    color: white;
}

.carousel-intr span{
    display: block;
    width: 65%;
    float: right;
    padding-right: 10%;
    padding-top: 2%;
    font-size: 14px;
}
.carousel-teacher-name{
    float: right;
    margin-top:2%;
    font-size: 20px;
    margin-right: 2%;
    width: 12%;
    height: 40%;
    border-right: 2px white solid;
}




/*******************************高考在线****************/
.min-width{
    min-width: 900px;
}

.college-header{
    height: 130px;
    background-color: white;
}
.header-notify{
    height: 40px;
    background-color: #404e53;
}
.notify-ul{
    list-style: none;
    display: block;
    float: right;
    margin: 0px;
}
.notify-ul li{
    display: inline-block;
    color: white;
    line-height: 40px;
    min-width: 40px;
    text-align: center;
}
.college-nav{
    height: 90px;
    background-color: white;
    float: right;
}
.college-nav-ul{
    list-style: none;
    float: right;
    height: 90px;
    margin:0px;
}
.college-nav-ul li {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    width: 90px;
    padding-left:5px;
    line-height: 30px;
    background-color: #cfd3d9;
    border-radius: 5px;
}
.college-nav-ul-active{
    background-color: #3187cf;
    margin: 0px;
}

.huge-carousel{
    width: 1280px;
    max-height:430px;
    position: relative;
    background-color: green;
}
.teacher-carousel{
    position: static;
    height: 400px;
    background-color: white;
    margin-bottom: 30px;
    position: relative;
}

.teacher-carousel-header {
    height: 30px;
    border-bottom: 1px #d7d7d7 solid;
    padding-top: 20px;
}
.teacher-carousel-title{
    font-size: 18px;
    color: #95dbea;
    font-weight: bold;
    float: left;
}
.teacher-carousel-more{
    font-weight: bold;
    float: right;
}
.teacher-des-item-title{
    height: 40px;
    border-bottom: 1px #d7d7d7 solid;
}
.teacher-carousel-arrow{
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 30px;
    width: 30px;
    background-color: #88d5ea;
    border-radius: 15px;
    position: absolute;
}
.teacher-arrow-left{
    left: -50px;
    top:40%;
}
.teacher-arrow-right{
    right: -50px;
    top:40%;
}
.teacher-table-row{
    padding-top: 20px;
}
.teacher-table-row span{
    display: block;
}
.teacher-name{
    float: left;
    width: 70px;
    margin-right: 10px;
    line-height: 40px;
    font-weight:bold;
    font-size: 16px;
}
.teacher-role{
    line-height: 40px;
    color: #d7d7d7;
}

.teacher-des-item-content{
    margin-top: 10px;
    height: 70px;
    font-size: 12px;
}

.teacher-table-item{
    width: 200px;
    display: inline-block;
    margin:0 15px;
}

.teacher-table-item img{
    width: 200px; height: 150px;
}
.slogan{
    height: 45px;
    width: 640px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #f9721e;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
}
.video-table{
    margin-top: 30px;
    height: 500px;
}
.video-table-row{
    margin-top: 30px;
}
.video-table-item{
    width: 270px;
    float: left;
    margin: 0 20px;
    display: inline-block;
}
.clean-first{
    margin-left: 0;
}
.clean-last{
    float: right;
    margin-right: 0;
}
.video-des-item{   
    height: 70px;
}
.video-des-item span{
    display: block;
}
.video-des-item-title {
    font-weight: bold;
    font-size: 17px;
    margin: 10px 0;
}
.college-footer{
    height: 40px;
    background-color: #404e53;
}
.college-logo{
    float: left;
}
.channel-select{
    float: left;
    width: 90px;
    height: 20px;
    margin-top: 55px;
    border: 1px #d7d7d7 solid;
    border-radius: 5px;
    text-align: center;
    color: #f37f4d;
    line-height: 20px;
}
.footer-ul-left{
    display: block;
    float: left;
    list-style: none;
    padding-left: 0px;
    margin: 0;
}
.footer-ul-left li{
    display:inline-block;
    color: white;
    line-height: 40px;
    padding-right: 10px;
    font-size: 12px;
}
.footer-ul-right{
    display: block;
    float: right;
    list-style: none;
    padding-left: 0px;
    margin: 0;
}
.footer-ul-right li{
    display:inline-block;
    color: white;
    float: right;
    line-height: 40px;
    padding-right: 10px;
    font-size: 12px;
}
.nivo-prevNav ,.nivo-nextNav{
    width: 30px;
    height: 40px;
    background-color: #2dacdb;
    color: white;
    position: absolute;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
}
