.main-content-msg{
	background-color:#fff;
}
#account-right-title span{
	margin:0 15px;
}
.tip-title{
	color: #18A3E4;
    font: 600 16px 'Microsoft YaHei';
    /* background-color:#eef1f7; */
    width:100%;
    line-height:26px;
}
div pre{
	font: 600 14px 'Microsoft YaHei';
	color:#666;
	padding: 0 22px;
}
div pre a{
	color:#0CA3F3;
}
#account-right-title span.selected{
	background: #00b7f0;
	color: white;
	border-radius: 4px;
}
.selected a{
	color:#fff;
}
span.msg_selected {
	background: rgb(238, 98, 99);
	color: white;
	border-radius: 4px;
}
.selected {
	/*background: #00b7f0;*/
/*	color:#fcbc5e!important;
	border-radius: 4px;
	padding: 2px 5px;*/
   /* background: #00b7f0; */
    color: #fcbc5e!important;
    /* border-radius: 4px; */
    /* padding: 2px 5px!important; */
    border: 1px solid #848484!important;
    border-bottom: 1px solid white!important;
    width: 100px!important;
    height: 26px!important;
   /* padding-top: -6px!important;*/
    margin-top: -7px!important;
    line-height: 24px!important;
    background: white;
    display: inline-block!important;
    z-index: 999999999999;
}
.selectedd{
    background: #00b7f0!important;
    color: white!important;
    border-radius: 4px!important;
    padding: 2px 5px!important;
}
.help-container ul li{
	padding: 10px 15px;
	border: 1px solid #eee;
	border-radius: 4px;
	margin: 5px 2px;
}
.vedio{
	color: #ff8a00;
	font-weight: 400;
	font-size: 14px;
}
#intro-player {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -415px;
	margin-top: -240px;
	z-index: 1000;
	overflow: visible;
}
.tip-tw{
    color:#000000;
    font: 600 14px 'Microsoft YaHei';
    /* background-color:#eef1f7; */
    width:100%;
    line-height:26px;
}
.tip-uim{
    width: 100%;
    text-align: center;
    margin: 20px;
    overflow: visible;
}
.tip-c{
    color: #000000;
}