.tab-section {
    width: 770px;
    height: 40px;
    border: 1px solid #DDDDDD;
    background: #F1F1F1;
    overflow: visible;
    float: left;
}

.tab-button {
    display: inline-block;
    width: 98px;
    height: 38px;
    font: 16px/38px 'microsoft yahei';
    text-align: center;
    border-right: 1px solid #DDDDDD;
    position: relative;
    float: left;
    font-weight: bold;
}

.tab-button.chosen {
    color: #FF8900;
    background: white;
    border-top: 4px solid #FF8900;
    margin-top: -4px;
    height: 43px;
}

.tab-section-body {
    border: solid #DDDDDD;
    border-width: 0 1px 1px;
    width: 770px;
    float: left;
    position: relative;
}

.homepage-left-one.current {
    color: white;
    background: #ff8a00 url('/img/JXHD.png') no-repeat 211px 5px;
}
