@charset "utf-8";
/* CSS Document */

#online_bg{width:1024px; margin:0 auto;}
.blue_bg{background:#181E2C; width:1024px; margin:0 auto;}
.online_top{ height:62px; background:#f4f4f4;}
.online_school{ overflow:hidden;zoom:1; background:#181e2c; height:500px;}
.online_navleft{ width:225px; height:500px;}
#online_left_nav{ padding-top:52px;}
#online_left_nav dd{ text-align:center; height:50px; font:14px/50px "微软雅黑"; cursor:pointer;}
#online_left_nav dd:hover{ background: #1a6497; border-left:5px solid #ff7800;}
#online_left_nav dd.selected{background: #1a6497; border-left:5px solid #ff7800; }
#online_left_nav dd:hover a{ color:#ffffff;}
#online_left_nav dd.selected a{ color:#ffffff; }
#online_left_nav dd a{ color:#78829d;}
#online_bottom{ background:#1e2325;width:1024px;height:40px }
.online_navright{ background:#1a6497; padding:52px 80px 0px 63px; width:654px; height:448px;border-left:1px solid #1e2325;}
.online_navright dl dt{ font:bold 14px/50px "微软雅黑"; color:#ffffff;}
.online_navright dl dd{ float:left; width:220px; font-size:14px; font-family:"微软雅黑"; height:52px; margin-top:20px;}
.online_navright dl dd a{ color:#e0e0e0;}
.online_navright dl dd a img{ vertical-align:middle; padding-right:13px;}


.scroll_content{ height:600px;overflow-x:hidden;overflow-y:auto; margin-top:20px;padding-top:10px;}
.answer_list{ background:url(../img/answer_listbg.jpg) left bottom no-repeat; width:504px; position:relative;}
.answer_list_left{ width:457px; padding-bottom:18px;}
.answer_list_right{ width:47px; height:40px; position:absolute; right:2px; bottom:4px;}
.huif_text{ background:url(../img/huifu_text.jpg) left top no-repeat; width:454px; height:26px; margin-left:25px; padding:12px; display:none;}
.huif_text textarea{ border:0 none; width:454px; height:26px;}
.online_write{ margin-bottom:10px;}