.pay-modal-content {
    font-size: 14px;
}
.pay-modal-container {
    position: absolute;
    left: 38%;
    top: 100px;
    width: 450px;
    background-color: #fff;
    border-radius: 10px;
}
.pay-modal-bar {
    background-color: #DDDCDC;
    height: 33px;
    border-bottom: 2px solid #08f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.pay-modal-module {
    padding: 20px;
}

.pay-left {
    float: left;
    margin-right: 15px;
}
.pay-modal-title {
    font-weight: bold;
}
.pay-month-bar {
    display: inline-block;
    line-height: 33px;
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.pay-month{
    padding: 0px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.pay-month.selected {
    border: 1px solid #ffa115;
    color: #ffa115;
    background: url(/img/choose.png) no-repeat 52px 17px;
}
.pay-input-month {
    margin: 0;
    border: 1px solid #ccc;
    padding:8px;
    font-size: 15px;
    width: 80px;
}
.pay-money {
    font-size: 25px;
    font-weight: bold;
    color: #ffa115;
    font-family: 'microsoft YaHei';
}
.pay-modal-titlebar {
    line-height: 30px;
    background-color: #E5E0FF;
    padding-left: 20px;
    font-weight: bold;
}
.pay-havemoney {
    color: #ffa115;
    font-weight: bold;
    font-family: 'microsoft YaHei';
}
.pay-ali {
    border: 1px solid #ccc;
    cursor: pointer;
}
.pay-ali.selected {
    display: block;
    border: 1px solid #ffa115;
    background: url(/img/choose.png) no-repeat 77px 15px;
}
.pay-gopay {
    float: right;
    padding: 7px 20px;
    background-color: #f80;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
}
.pay-gopay:active {
    background-color: #F5B873;
}
.pay-openRemit {
    display: block;
    color: #8F79FC;
}
.remit-detail {
    display: none;
    margin: 10px auto;
    border: 1px dashed #ddd;
    padding: 10px;
}

.remit-detail-title {
    color: #f80;
    font-weight: bold;
}

/*支付中*/
.paying-modal-container {
    position: absolute;
    left: 37%;
    top: 140px;
    width: 480px;
    background-color: #fff;
}

.paying-modal-bar {
    background-color: #57B1FF;
    line-height: 30px;
    padding-left: 20px;
    color: #fff;
}
.paying-content {
    margin: 0 auto;
    padding: 20px;
    display: inline-block;
}
.paying-content-img {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    height: 70px;
}
.paying-content-right {
    float: right;
    margin-top: 20px;
}
.paying-content-right div {
    line-height: 25px;
}
.paying-complete,
.paying-question {
    display: block;
    padding: 5px 20px;
    margin-top: 30px;
    float: left;
    text-decoration: none;
    color: #fff;
}

.paying-complete {
    background-color: #f80;
}
.paying-question {
    background-color: #999;
    margin-left: 20px;
}

/*支付成功*/
.pay-success {
    width: 100%;
    text-align: center;
    background: url(/img/success.png) no-repeat 138px 28px;
    color: #89e159;
    font-size: 30px;
    font-weight: bold;
    font-family: 'microsoft YaHei';
    padding: 20px 0px;
    text-indent: 55px;
}
.pay-deadline {
    line-height: 30px;
    background-color: #D3EBFF;
    text-align: center;
}
.pay-deadline-time {
    color: #f80;
    font-weight: bold;
}
.pay-start,
.pay-home {
    padding: 7px 20px;
    text-decoration: none;
    color: #fff;
    float: right;
    display: block;
    background-color: #f80;
    margin: 30px 20px 20px 0px;
    font-size: 14px;
    font-weight: bold;
}
/*支付失败*/
.pay-failed {
    width: 100%;
    text-align: center;
    background: url(/img/failed2.png) no-repeat 138px 28px;
    color: #e94646;
    font-size: 30px;
    font-weight: bold;
    font-family: 'microsoft YaHei';
    padding: 20px 0px;
    text-indent: 58px;
}
.pay-retry {
    padding: 7px 0px;
    margin: 20px auto 30px auto;
    text-decoration: none;
    color: #fff;
    display: block;
    background-color: #f80;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}


/*支付页面(非弹出框)*/
.pay-container {
    width: 900px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 500px;
}

.pay-page-module {
    padding: 10px 30px;
}

.pay-page-title {
    font-weight: bold;
    font-size: 15px;
    margin-top: 40px;
}

.pay-page-month {
    line-height: normal;
    margin: 0;
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 15px;
    width: 100px;
}
.pay-page-titlebar {
    line-height: 30px;
    background-color: #E5E0FF;
    padding-left: 30px;
    font-weight: bold;
    font-size: 15px;
}
.pay-page-remit {
    margin: 10px auto;
    border: 1px dashed #ddd;
    padding: 10px;
    font-size: 15px;
}
.pay-remit-content {
    line-height:30px;
    float:left;
    width:400px;
}

.pay-page-success {
    width: 100%;
    background: url(/img/success.png) no-repeat 60px 73px;
    color: #89e159;
    font-size: 30px;
    font-weight: bold;
    font-family: 'microsoft YaHei';
    padding: 75px 0px;
    text-indent: 130px;
}