.grow-col {
    border: #e5e5e5 1px solid;
    padding: 20px 25px;
}

.grow-col-head {
    width: 100%;
    border-bottom: #e5e5e5 1px solid;
    padding-bottom: 10px;
}

.grow-col h3 {
    font-size: 18px;
    color: #ff8a00;
    float: left;
    padding-top: 10px;
}

.grow-col .grow-col-head a {
    float: right;
    margin-right: 6px;
    background: #ff8a00;
    color: #fff;
    display: inline-block;
    line-height: 35px;
    padding: 0 12px;
}

.grow-select {
    margin: 20px 0;
}

.grow-select select {
    margin-right: 15px;
}

.grow-select input {
    width: 102px;
    height: 28px;
    border: #ddd 1px solid;
    line-height: 30px;
}

.orange-btn-new {
    height: 22px;
    border: #d2d2d2 1px solid;
    color: #fff;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    background: #ff8a00;
    font-size: 12px;
}

.grey-btn-delete {
    height: 22px;
    border: #d2d2d2 1px solid;
    line-height: 22px;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    background: rgb(160, 160, 160);
    color: #fff;
}

.orange-btn-new:hover {
    color: red;
}

.grow-tab-head {
    margin: 20px 0;
    margin-bottom: 24px;
    border-bottom: #ff8a00 1px solid;
}

.add {

    text-align: right;
    margin-bottom: 14px;

}

.add a {
    border: 1px solid #ff8a00;
    padding: 4px;
    height: 20px;
    line-height: 20px;
    display: inline-block;

}

.add1 div {
    padding-left: 40px;
}

.add1 .tdRight {
    text-align: right;
    padding-right: 20px;
    width: 60px;
}

.tdRight.beizhu {
    line-height: 20px;
}

.add1 input {
    width: 208px;
    height: 24px;
    border: #a0a0a0 1px solid;
}

.add1 select {
    width: 208px;
    height: 30px;
    border: #a0a0a0 1px solid;
}

.add1 textarea {
    width: 204px;
    height: 74px;
    border: #a0a0a0 1px solid;
}

.grow-tab-head li {
    float: left;
    line-height: 36px;
    margin-bottom: -1px;
    margin-right: 2px;

}

.grow-tab-head li.cur a {
    /*border: #bbb 1px solid;*/
    border-bottom: 0;
    color: #fff;
    background: #ff8a00;
}

.grow-tab-head li a {
    /*border-bottom:#ff8a00 1px solid; */
    border: #ff8a00 1px solid;
    display: block;
    background: #fff;
    color: #ff8a00;
    font-size: 16px;
    padding: 0px 20px;

}

.grow-col h4 {
    font-size: 16px;
    color: #ff8a00;
    margin-top: 12px;
}

.grow-col h4.gray-table-h4 {
    line-height: 40px;
    border: #fae0c1 1px solid;
    background: #fff1d7;
    font-size: 16px;
    color: #be843f;
    text-align: center;
}

.grow-col .gray-table {
    margin-top: 0;
}

.grow-col td.bg-td {
    background: #f2f2f2;
}

.grow-col .suzhiedu {
    margin-top: 0;

}

.suzhiedu label {

}

#punishRecord {
    margin-top: 25px;
}

.report-txt {
    border: #a0a0a0 1px solid;
    border-top: 0;
    border-bottom: 0;
}

.report-txt p {
    border-bottom: #a0a0a0 1px solid;
    line-height: 20px;
    text-align: left;
}

.report-txt label {
    width: 101px;
    line-height: 92px;
    border-right: #a0a0a0 1px solid;
    background: #ccc;
    text-align: center;
    float: left;
    margin-right: 5px;
}

.report-txt textarea {

    width: 600px;
    height: 88px;
    border: none;

}

.pop-wrap {
    width: 690px;
    margin-top: 100px;
    margin-left: -235px;
}

table.schoolRoll-table {
    width: 690px;
}

table.schoolRoll-table td {
    padding-top: 10px;
}

.schoolRoll-table input, .schoolRoll-table textarea, .schoolRoll-table select {
    width: 208px;
    height: 28px;
    border: #a0a0a0 1px solid;
    margin-left: 10px;
}

.schoolRoll-table select {
    width: 212px;
    height: 32px;
}

.schoolRoll-table textarea {
    height: 78px;
    overflow-x: hidden;
    overflow-y: auto;
}

table.changeRollTable {
    width: 640px;
    text-align: center;
    margin-bottom: 10px;
}

.changeRollTable th {
    border-bottom: #7b7b7b 1px solid;
    text-align: left;
    color: #7b7b7b;
}

.changeRollTable td {
    padding-top: 10px;
}

.changeRollTable input {
    width: 208px;
    height: 28px;
    border: #a0a0a0 1px solid;
}

.changeRollTable select {
    width: 212px;
    height: 32px;
    border: #a0a0a0 1px solid;
}

.changeRollTable textarea {
    width: 505px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 15px;
}

.add1 .addFamilyTable, .add1 .addResumeTable {
    width: 650px;
}

.addFamilyTable td, .addResumeTable td {
    padding-top: 10px;
}

#status {
    width: 500px;
}

#status .statusTitle {
    color: black;
    font-size: 16px;
    margin: 20px 26px;

}

#status table {

    margin: 20px 26px 50px;
}

#status table, #status th, #status td {
    padding: 8px;
    border: 1px solid black;
}

#status td {

    text-align: center;
}

.aa {
    float: left;
}

.xuenian {
    margin: 8px 0px;
}

.newExam {
    cursor: pointer;
    margin: 20px 0px;
    float: right;
    font-size: 16px;
    color: #fff;
    padding: 6px 8px;
    background-color: #ccc;
}

.th th {
    color: #333;
    background-color: #f2f2f2;
}

.exam-table td, .exam-table th {
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid #a0a0a0;
}

.contactExam {
    margin-top: 20px;
    margin-bottom: 0;
    border: none;

}

.contactExam li {
    margin-bottom: -2px;
    z-index: 99px;
    border: 1px solid #ccc

}

.contactExam li a {
    background-color: #ff8a00;
    color: #fff;
    border: none;
}

.contactExam li.cur a {
    background: #fff;
    color: #ff8a00;
}

.contactExam li.cur {
    border-bottom: transparent;
}

.newConExam .lab {
    width: 100px;
}

.newConExam input, .newConExam select {
    text-indent: 10px;
    margin: 8px;
    border: #a0a0a0 1px solid;
    height: 28px;
    width: 215px;
}

.newConExam .check {
    width: 20px;
}

.topbot {
    padding-top: 10px;
}

.newConExam .examSureBtn {
    display: inline-block;
    color: #fff;
    border: 1px solid #ffa800;
    background-color: #ffa800;
    width: 76px;
    height: 28px;

}

.newConExam .examCancelBtn {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #fff;
    width: 76px;
    height: 28px;

}

.itemGrade {
    margin: 8px;

}

.itemGrade .ddate input {
    /*text-indent: 10px;*/
    border: none;
    margin: 0px;
}

.newConExam .fixCon {
    text-indent: 10px;
    /*padding-left: 10px;*/
    border: none;
    background-color: #f2f2f2;
}

.itemGrade th {
    font-weight: normal;
    background-color: #f2f2f2;
}

.itemGrade th, .itemGrade td {
    width: 80px;
    height: 28px;
    line-height: 28px;
    border: #a0a0a0 1px solid;
}

.itemGrade td input {
    text-align: center;
    width: 80px;
}

.exBtn {
    padding-top: 50px;
    width: 200px;
    margin: 0px auto;
}

#cjdId .examTitle {
    float: none;
    color: #333;
    font-size: 16px;
    text-align: center;

}

.toEduDepart {
    margin: 20px 0px 10px 0px;
}

.toEduDepart span {
    display: inline-block;
    vertical-align: middle;

}

#cjdId .toEduDepart ul {
    float: right;
}

#cjdId .toEduDepart li {
    padding: 6px 8px;

    border: 1px solid #a0a0a0;
    margin-right: 5px;
    background-color: #ccc;
    float: left;
}

#cjdId .toEduDepart li a {
    color: #fff;
}

#subStatus .tip {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;

}

.tip {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;

}

.aa select {
    width: 208px;
}

.gradeList {
    width: 718px;
    overflow-x: scroll;
}

.file-box {
    position: relative;
    width: 340px
}

.file-box .txt {
    height: 22px;
    border: 1px solid #cdcdcd;
    width: 180px;
}

.file-box .btn {
    background-color: #FFF;
    border: 1px solid #CDCDCD;
    height: 24px;
    width: 70px;
}

.file-box .file {
    position: absolute;
    top: 0;
    right: 80px;
    height: 24px;
    filter: alpha(opacity:0);
    opacity: 0;
    width: 260px
}

#importExamScore ul {
    width: 132px;
    margin: 0 auto;
    margin-top: 10px;
}

#importExamScore .gray-big-btn {
    width: 130px;
    height: 30px;
    border: #a0a0a0 1px solid;
    color: #333;
    font-size: 14px;
    text-align: center;
    background: #dcdcdc;
    display: inline-block;
    vertical-align: middle;
}

#importExamScore .icon-down {
    width: 19px;
    height: 22px;
    display: block;
    margin: 5px auto;
    background: url('../images/newimgs/icon-down02.png') 0 0 no-repeat;
}

#status .pop-title {
    color: #fff;
    background: #616161;
}

#status .pop-title .closePop {
    display: block;
    width: 36px;
    height: 36px;
    float: right;
    cursor: pointer;
    background: url('../images/closePop.png') 0 0 no-repeat;
}

.contactExam li.cur .curNone {
    cursor: default;
}








