body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
ol,ul{margin:0; padding:0; list-style: none;}
:focus {outline: 1;}
.clearfix:after{content:'.';display:block;clear:both;line-height:0;height:0;visibility:hidden}
img{border:0}
body{color:#333;font:normal normal normal 14px/20px 'Microsoft YaHei',Arial,sans-serif;background:#fff}
input,select,textarea,button{vertical-align:middle;font-size:100%;outline:0;font-family:'Microsoft YaHei',Arial,sans-serif}
a{color:#333;text-decoration:none;outline:0}a:hover{color:#3764a0;text-decoration:none}
i,em{font-style: normal}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
#head{background:#fda417; height:50px;margin: 0 auto}
.sub-head, #content, .sub-foot{
    width: 1000px;
    margin: 0 auto;
}
.sub-head .logo{
    width: 92px;
    height: 50px;
    float: left;
    background: url('../images/icon-logo.png') center center no-repeat;
    margin-left: 16px;
}
.sub-head .head-right{
    float: right;
    margin-right: 12px;
}
.user-msg, .user-cener{
    float: left;
    background: url('../images/icon-msg.png') 0 center no-repeat;
    padding-left: 22px;
    line-height: 50px;
    color: #fff;
    margin-right: 10px;
}
.user-cener{
    background: url('../images/icon-set.png') left 17px no-repeat;
    position: relative;
}
.user-cener ul{
    position: absolute;
    top:40px;
    left:0px;
    border:1px solid #ddd;
    background: white;
    z-index: 1;
}
.user-cener ul li{
    color:#656565;
    width:100px !important;
    height:30px !important;
    text-align: center;
    line-height: 30px;
}
.user-cener ul li:hover{
    background: #eeeeee !important;
}
.user-cener ul li a{
    color:#656565 !important;
}
.user-cener ul li a:hover{
    color: #ff7900 !important;
    text-decoration: none !important;
}
.sub-head .head-right span{
    line-height: 50px;
    float: left;
    color:white;
}
.sub-head .head-right a{
    color:white;
}
.sub-head .head-right a:hover{
    text-decoration: underline;
}

.user-msg{
    position: relative;
    padding-left: 30px;
}
.user-msg i{
    display: block;
    background: red;
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    padding: 3px;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 7px;
}
#foot{
    height: 46px;
    background: #3c3c3c;
    color: #fff;
    line-height: 46px;
    font-size: 12px;
    margin-top: 30px;
}
.sub-foot a{
    color: #fff;
}
.sub-foot p{
    float: left;
    padding-left: 8px;
}
.sub-foot ul{
    float: right;
    margin-right: 5px;
}
.sub-foot li{
    float: left;
    padding-left: 5px;
}
a.qq-online{
    width: 83px;
    height: 46px;
    display: block;
    background: url('../images/icon-qq.png') 0 center no-repeat;
}
.col-left{
    width: 220px;
    float: left;
    background: #fff;
}
.user-info{
    padding: 10px 0;
    background: #eee;
}
.user-info img{
    width: 116px;
    height: 116px;
    border: #fff 4px solid;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
}
.user-info em{
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-align: center;
    color: #333;
    padding-top: 5px;
}
.user-info span{
    text-align: center;
    font-size: 12px;
    display: block;
    color: #333;
}
.col-right{
    width: 770px;
    float: right;
    margin-top: 15px;
}
/* 左侧导航部分 */
/* iconfont */
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:15px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* iconfont */
.left-nav{
   /* background: #eee;
    border-top: 1px solid #d0d0d0;*/
    background: #eee;
    border-top: 1px solid #d0d0d0;
    width: 220px;
    margin-left: 0px;
}
.left-nav li{
    border-bottom: 1px solid #d0d0d0;
    line-height: 40px;
    color:#666;
    padding-left: 15px;
    position: relative;
}
.left-nav li:hover,.left-nav dl dt:hover{
    background: #c9c9c9;
    cursor: pointer;
}
.left-nav li span{
    font-size: 15px;
}
.left-nav li i{
    margin-right: 15px;
}
.left-nav li s{
    text-decoration: none;
    position: absolute;
    right:20px;
}

.left-nav li.re{
    background: #666;
    color:#fff;
}
.left-nav li.current{
    color: #fff;
    background:#ff8a00 url('../images/bg-leftNav.png') right center no-repeat;
}

.left-nav dl{
    display: none;
}
.left-nav dl a{
    color:#666; 
}
.left-nav dl dt{
    line-height: 30px;
    border-bottom: 1px solid #d0d0d0;
    padding-left: 50px;
}

/* 左侧导航部分 */
.orange-col .col-head{
    width: 220px;
    background: #ffa800;
    line-height: 36px;

}
.orange-col .col-head h3{
    color: #fff;
    padding-left:12px;
}
.orange-col .col-main{
    background: #eee;
    width: 220px;
    margin-left: 0px;
}
.page-links{
    float: right;
    margin: 10px 0;
}
.page-links span, .page-links a{
    float: left;
    line-height: 20px;
    padding: 0 6px;
    text-align: center;
    border: #ffa800 1px solid;
    background: #ffa800;
    color: #fff;
    margin-right: 8px;
}
.page-links a{
    border: #ffa800 1px solid;
    background: #fff;
    color: #ffa800;

}
.orange-btn{
    width: 77px;
    height: 31px;
    color: #fff;
    text-align: center;
    background: #ffa800;
    border: 0;
    display: block;
    cursor: pointer;
}
.green-btn{
    width: 90px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #5db85c;
    border: #3ea83d 1px solid;
    font-size: 12px;
    display: block;
}
.gray-btn{
    width: 90px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #b5b5b5;
    border: #a0a0a0 1px solid;
    font-size: 12px;
    display: block;
}
.left-cal{
    margin: 10px 0;
}
.banner-info{
    margin: 10px 0;
}
.paihan{
    padding-bottom: 12px;
}
.paihan li{
    padding-top:12px;
    padding-left: 8px;
}
.paihan img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
}
.paihan span, .paihan em{
    width: 60px;
    line-height: 45px;
    text-align: left;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.paihan em{
    width: 80px;
}
.paihan i{
    font-size: 18px;
    color: #ff7e00;
    padding-left: 5px;
}
.tab-col .tab-head {
    background: #f1f1f1;
    border: #ddd 1px solid;
    height: 40px;
}
.tab-head ul{
    float: left;
}
.tab-head li{
    float: left;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    padding: 0 16px;
    border-right: #ddd 1px solid;
}
.tab-head li.cur {
    background: #fff;
    border-top: #ff8a00 4px solid;
    margin-top: -2px;
    line-height: 39px;
    margin-left: -25px;
}
.tab-head li.cur a{
    color: #ff8a00;
}
.tab-head .green-btn{
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}
.tab-main{
    border: #ddd 1px solid;
    border-top: 0;
}

/**************************背景***********************/
.bg
{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}
