body {
    background: #fff !important;
}
div {
    overflow: hidden !important;
}
.score-container {
    width: 900px;
    margin: 0 auto;
    background-color: #eee;
}
.score-title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #FF7900;
    text-align: center;
}
.score-list {
    margin-left: 20px;
    margin-bottom: 40px;
}
.add-score-list {
    font-size: 14px;
    color: #D30B5A;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.input-score-list {
    border: 1px solid #D0D0D0;
    width: 400px;
}
.add-submit,.add-cancel {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.add-submit {
    color: #D30B5A;
}
.add-cancel {
    color: #ABABAB;
}
.score-list-delete,.score-list-edit {
    color: #ADADAD;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.score-list >li{
    background-image: url(/img/K6KT/dafenxiang.png);
    padding-left: 25px;
    background-repeat: repeat-y;
    padding-top: 10px;
    background-position: 0px 0px;
}
.score-list >li:first-child {
    padding-top: 0px;
    background-position: 0px -16px;
}
.score-list >li > a {
    font-size: 16px;
    color: #343434;
}

/*详细评分页*/
.main-container {
    width: 900px;
    margin: 0 auto;
    font-family: sans-serif;
}
.score-title-bar {
    margin: 20px 0px;
}
.return-to-list {
    float: left;
    color: #FF7900;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.mark-title {
    color: #ABABAB;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.mark-table {
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    width: 100%;
}
.mark-table-ul {
    line-height: 40px;
    width: 100%;
    display: inline-block;
}
.mark-table-ul:nth-child(odd) {
    background-color: #E7E7E7;
}
.mark-table-ul>li {
    width: 69px;
    float: left;
    font-size: 14px;
    text-align: center;
    color: #333333;
    min-height: 40px;
}
.teacher-message {
    background-color: #E7E7E7;
    font-size: 14px;
    text-align: center;
    color: #333333;
    line-height: 40px;
}
.teacher-message-content {
    min-height: 60px;
}

/*老师评分*/
.mark-table tr {
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}
.mark-table tr:nth-child(even) {
    background-color: #E7E7E7;
}
.mark-table tr td:first-child {
    width: 120px;
    border-right: 1px solid #D2D2D2;
}
.score-operate-bar {
    margin: 20px 0px;
    width: 100%;
}
.score-operate-bar >div {
    margin-left: 20px;
}
.print-page {
    float: right;
    cursor: pointer;
    background: url(/img/K6KT/print_1.png) no-repeat 0px 0px;
    padding-left: 33px;
    line-height: 28px;
    font-size: 14px;
}
.output-excel,.release-score,.input-excel {
    float: right;
    border-radius: 2px;
    padding: 5px 0px;
    width: 90px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.input-excel {
    background-color:#63CC47;
}
.output-excel {
    background-color: #8FCC47;
}
.release-score {
    background-color: #FF1FA8;
}

/*班主任评分*/
.mark-left-container {
    width: 80px;
    float: left;
    padding-top: 15px;
    border-right: 1px solid #959595;
    position: relative;
}
.mark-center-container {
    float: left;
    width: 780px;
}
.mark-right-container {
    float: left;
}
.page-number {
    color: #ABABAB;
    float: right;
    margin-right: 10px;
}
.switch-page {
    background-color: #ABABAB;
    width: 70px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.mark-student-list >li {
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    padding-right: 10px;
}
.mark-student-list >li.active {
    background: url(/img/playing.png) no-repeat 65px 12px;
}
.mark-detail-table {
    table-layout:fixed;
    border-collapse:collapse;
    width: 900px;
}
.mark-detail-table tr {
    line-height: 34px;
    text-align: center;
}
.mark-detail-table tr.active {
    background-color: #F2F0E2;
}
.mark-detail-table tr td {
    width: 99px;
    font-size: 14px;
    border: 1px solid #959595;
    position: relative;
}
.jiyu-finished {
    position: absolute;
    top:16px;
    left: 48px;
}
.mark-table-container {
    overflow-x: scroll !important;
}
.send-jiyu {
    cursor: pointer;
}
.mark-print-per {
    margin-top: 43px;
    margin-left: 10px;
}
.mark-print-per > li {
    line-height: 35px;
    cursor: pointer;
}

.alert-bg {
    position: fixed;
    z-index: 100;
    background-color: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.send-msg-container {
    z-index: 101;
    width: 500px;
    position: fixed;
    top: 150px;
    left: 36%;
    background-color: #fff;
    padding: 10px;
    display: none;
}
.send-msg-title {
    color: #8D8D8D;
    font-size: 14px;
    font-weight: bold;
    float: left;
}
.send-msg-content {
    margin:15px 0px;
    width: 100%;
    height: 250px;
    border:1px solid #D2D2D2;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    box-sizing:border-box;
}
.send-msg-commit {
    padding: 5px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #FF7900;
    float: right;
    border-radius: 2px;
}
.send-msg-close {
    float: right;
    font-size: 16px;
    cursor: pointer;
}