
.tab-head .uo {
    height: 40px;
    border-bottom: 1px solid #ddd;
}

.jiaoyuju-connent-right {
    border: 1px solid #dddddd;
    border-top: none;
}

.jiaoyuju-connent-right .jiaoyuju-connent-IM {
    padding: 10px;
}

.jiaoyuju-connent-right .jiaoyuju-connent-IM img {
    padding-left: 3px;
    padding-top: 10px;
    cursor: pointer;
}