/* 
* @Author: Tony
* @Date:   2015-06-01 09:42:23
* @Last Modified by:   Tony
* @Last Modified time: 2015-08-04 10:50:53
*/
#content{
	/* width:1020px; */
	position: relative;
}
.movie{
	position: absolute;
	right:-135px;
	top:120px;
	width:58px;
	height:66px;
	padding:10px;
	border:1px solid #ffba36;
	font-size: 14px;
	color: #ffba36;
	text-align: center;
	cursor: pointer;
}
.movie img{
	margin-top: 5px;
	margin-bottom: 10px;
}
.coll-right{
	width:770px;
	float: right;
    margin-top: 20px;
}
.tabtle{
	height:55px;
	padding-top:20px;
	overflow: hidden;
}
.tabtle img,.tabtle .bt{
	float: left;
	margin-right: 10px;
}
.tabtle .bt{
	font-size: 16px;
	color:#000;
}
.tabtle span{
	font-size: 12px;
	color: #656565;
	padding:0 8px;
}
.tabtle .la1{
	padding:0 8px;
	background: url(/images/avi_1.png) no-repeat left 6px;
}
.tabtle .la2{
	padding:0 8px;
	background: url(/images/avi_2.png) no-repeat left bottom;
}
.contab{
	height:390px;
	overflow: hidden;
	margin-bottom: 20px;
}
.contab .contabl,.connet .connetl{
	width:590px;
	height:100%;
	margin-right:16px;
	float: left;
}


/* 视频 */
 .contabl .tu img{
	width:100%;
	height:350px;
	display: block;
}
 .contabl .xia{
	height:38px;
	border:1px solid #d4d4d4;
	background: url(/images/all_bg.png) repeat-x;
	background-color: #ebebeb;
	position: relative;
}
 .contabl .xia .c{
	text-align: center;
	line-height: 18px;
	width:124px;
	height:18px;
	margin:0 auto;
	padding:10px 0;
	position: relative;
	font-size: 12px;
}
 .contabl .xia .c span.san1{
	position: absolute;
	left:0;
	top:13px;
	cursor: pointer;
	background: url(/images/all_al.png) no-repeat;
	width:19px;
	height:14px;
}
 .contabl .xia .c input{
	width:38px;
	height:15px;
	font-size: 12px;
	text-align: center;
	border:1px solid #d5e0db;

}
 .contabl .xia .c span.san2{
	position: absolute;
	right:0;
	top:13px;
	cursor: pointer;
	background: url(..//images/all_ar.png) no-repeat;
	width:19px;
	height:14px;
}
 .contabl .xia span.san3{
	width:21px;
	height:22px;
	position: absolute;
	top:10px;
	right:20px;
	cursor: pointer;
	background: url(/images/all.png) no-repeat;
}
/* 视频 */
/* word */
.contab_word{
	height:1160px;
	border:1px solid #d3d3d3;
	overflow: hidden;
	margin-bottom: 20px;

}
.contab_word .textt{
	height:1122px;
}
/* word */

.contab .contabr,.connet .connetr{
	width:184px;
	height:100%;
	float: left;
	overflow: auto;
}
.connet .connetr{
	overflow: hidden;
}
.contab .contabr li{
	width:150px;
	height:90px;
	margin-bottom: 15px;
	position: relative;
}
.contab .contabr li img{
	display: block;
	width:100%;
	height:100%;
}
.contab .contabr li .opay{
	position: absolute;
	top:0;
	left:0;
	background:rgba(0, 0, 0, 0.25);
	width:100%;
	height:100%;
	cursor:pointer;
}
.contab .contabr li .opay img{
	position: absolute;
	z-index: 1;
	display: block;
	width:30px;
	height:30px;
	left:60px;
	top:30px;
}
/* 讨论区开始 */
.connet{
	height:auto;
	overflow: hidden;
}
.connet .connetl h4{
	font-size: 16px;
	color: #656565;
	font-weight: 400;
	border-left: 4px solid #ff7e00;
	padding-left: 10px;
	line-height: 18px;
	margin-bottom: 10px;
}
.connet .connetl p{
	border-bottom: 1px solid #ff7e00;
}
.connet .connetl dl{
	padding:16px 0 8px 14px;
	overflow: hidden;
}
.connet .connetl dt{
	float:left;
	width:38px;
	height:38px;
}
.connet .connetl dd{
	float: right;
}
.connet .connetl dd textarea{
	resize: none;
	width:518px;
	height:123px;
	border:1px solid #d9d9d9;
	text-indent: 2em;
	font-size: 12px;
}
.connet .connetl dd .ttarea{
	border:1px solid #d9d9d9;
	margin-top: -1px;
	height:28px;
	overflow: hidden;
}
.connet .connetl dd .ttarea a{
	float: right;
	height:28px;
	text-align: center;
	line-height: 28px;
	padding:0 10px;
	font-size: 16px;
	color:white;
	background: #ff7e00;

}
.connet .connetl .listl{
	padding-left: 60px;
	overflow: auto;
}
.connet .connetl .listl li{
	padding:16px 16px 8px 8px;
	border-bottom: 1px solid #d9d9d9;
	overflow: hidden;
	background:#f8f8f8;
}
.connet .connetl .listl li img{
	float:left;
	width:60px;
	height:60px;
	margin-right: 10px;
}
.connet .connetl .listl li .ming{
	float: left;
	width:436px;
	overflow: hidden;
}
.connet .connetl .listl li .ming span{
	font-size: 12px;
	padding:0 3px;
}
.connet .connetl .listl li .connent{
	font-size: 14px;
	padding-top:10px;
	word-wrap: break-word;
	word-break: normal;
}
.connet .connetl .listl li .bomm{
	color:#999;
}
.connet .connetl .listl li .bomm a{
	color:#999;
	float: right;
	font-size: 12px;
	padding:0 3px;
}
.connet .connetl .listl li .bomm a img{
	width:14px;
	height:15px;
	margin-right: 0;
	margin-top: 2px;
}
.connet .connetl .listl li .ming .connentimg{
	padding-top: 10px;
	overflow: hidden;
}
.connet .connetl .listl li .ming .connentimg img{
	width:70px;
	height:70px;
	margin-right: 10px;
	margin-bottom: 10px;
}
/* connetr部分 */
.connetr p{
	height:26px;
	line-height: 26px;
	font-size: 14px;
	color:white;
	background: #f49263;
	padding-left: 8px;
}
.connetr .tp ul,.connetr .ce ul{
	font-size: 12px;
	padding:15px 0;
	color: #858585;
}
.connetr .ce ul li{
	overflow: hidden;
}
.connetr .ce ul li img{
	width:24px;
	height:24px;
	margin-right: 10px;
	float: left;
}
.hu,.huu{
	text-overflow: ellipsis; 
	white-space:nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
}
.connetr .ce ul li span{
	font-size: 14px;
	line-height: 24px;
	color:#595959;
}
.connetr .ce ul li .la1{
	margin-left: 3px;
	padding:0 8px;
	background: url(/images/avi_1.png) no-repeat left 2px;
}
.connetr .ce ul li .la2{
	padding:0 8px;
	background: url(/images/avi_2.png) no-repeat left bottom;
}
.connetr .ce ul li .sp{
	font-size: 12px;
	color: #b9b9b9;
	padding:0 8px;
}
.connetr .bo ul{
	padding: 15px 2px 0;
	overflow: hidden;
}
.connetr .bo ul li{
	margin-bottom: 15px;
	width:50px;
	height:65px;
	background: #d8d8d8;
	color: #6f6f6f;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	margin:0 5px 15px;
	float: left;
}
.connetr .bo ul li img{
	display: block;
	width:50px;
	height:50px;
}
/* index开始 */
.coll-right .banner_big{
	margin-right: 10px;
}
/* 新的tab样式开始 */
.tab-head{
	position: relative;/* 
	border-left: #ddd 1px solid;
	border-right: #ddd 1px solid; */
	margin-bottom: 50px;
}
.tab-head .uo{/*
	height:40px;
	border-bottom: 1px solid #ddd;*/
    position: relative;
    top: 18px;

}
.tab-head .uo ul li {
	width:98px;
    margin-left: 0px;
}

.uo li{
    background: #FEAA00;
    margin-left: 10px;
}


.uo li a{
    color: #fff;
}

.tab-head .uo ul li.currt a{
    color:#333 !important;
}

.tab-head .uo ul li.currt {
	background: #eee;
    color:#333 !important;
    border:1px solid #ddd;
    border-bottom: none;
    margin-top: -2px;
    height: 41px;
}
.tab-head .uo ol{
	float:right;
	height:40px;
	padding-right: 5px;
	font-size: 12px;
	line-height: 40px;
}
.tab-head .uo ol img,.tab-head ol span{
	float: right;
	padding:0 5px;

}
.tab-head .uo ol img{
	padding-top: 10px;
}
.tab-head .xiala1{
	height:30px;
	padding:15px 20px 15px 27px;
	border: 1px solid #ddd;
	border-top:none;
	background: #eee;
}
.tab-head .xiala1 span{
	display: inline-block;
	height:28px;
	line-height: 28px;
	border: 1px solid #fca618;
	border-radius: 2px;
	padding:0 10px;
	cursor: pointer;
    float:left;
    margin-right: 10px;
}
.tab-head .xiala1 span.current{
	background: #fca618;
	color: white;
}
.tab-head .xiala1 .search{
    display: inline-block;
    margin-left: 93px;
	width:182px;
	height:28px;
	border:1px solid #cccccc;
	background: #e8e8e8;
}
.tab-head .xiala1 .search input{
	outline: none;
	width:140px;
	padding-left: 10px;
	background: #f6f6f6;
	border:none;
	height:26px;
	float: left;
}
.tab-head .xiala1 .search button{
	width:31px;
	height:28px;
	background: url(/images/search.png) no-repeat center center;
	border:none;
	border-left: 1px solid #ccc;
	cursor:pointer;
}
/* 更多 */
.tab-head .kind {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #eee;
}
.tab-head .kind dl dt{
	color: #656565;
	width:702px;
	padding:6px 0 6px 20px;
	border-bottom: 1px solid #ddd;
    min-height:25px;
    line-height:25px;
}
.tab-head .kind dl dt span,.tab-head .kind dl dt em{
	display: inline-block;
	height:27px;
	line-height: 27px;
	padding:0 8px;
}
.tab-head .kind dl dt em:first-child{
    width: 3em;
}
.tab-head .kind dl dt em{
	color:#fca618;
}
.tab-head .kind dl dt span:hover,.tab-head .kind dl dt span.hover{
	cursor: pointer;
	background: #fca618;
	color: white;
	border-radius: 2px;
}
.tab-head .kind dl .ud_more{
	float:left;
}
.tab-head .kind dl .ud_morem{
	margin-left: 68px;
}
.tab-head .kind .ud{
	display: none;
}
.tab-head .up_down{
	position: absolute;
	padding:0 14px;
	height:25px;
	border:1px solid #ddd;
	border-top:1px solid #eee;
	bottom:-26px;
	left:343px;
	color:#fca618;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	background: #eee;
}
/* 更多 */
/* 试看，推送部分 */
.tuisong{
	padding:0 ;
	padding-left:38px;
	width:754px;
}
.tuisong_left{
	width:346px;
	height:110px;
    margin-bottom: 10px;
    padding-bottom: 10px;
	float: left;
	/* background: green; */
	margin-right: 30px;
}
.tuisong_left .Img{
	display: inline-block;
	margin-right:12px;
	width:160px;
	height:100%;
	/* background: pink; */
	position: relative;
}
.tuisong_left .Img img{
	display: block;
	width:160px;
	height:100%;
	cursor: pointer;

}
.tuisong_left .Img span,.floder-connent-right .com .imG span{
	position: absolute;
	font-size: 12px;
	line-height: 20px;
	color: white;
	right:0;
	bottom:0;
	background: rgba(0,0,0,.52);
	padding:0 10px;
}
.tuisong_left .Img .IMG{
	z-index: 111;
	display: block;
	width:245px;
	height:170px;
	position: absolute;
	left:165px;
	top:0;
	/* background: gray; */
	display: none;
}
.tuisong_left .xinxi{
	color:#656565;
	float: right;
	width:169px;
	height:100%;
	/* background: pink; */
}
.tuisong_left .xinxi p{
	margin-bottom: 10px;
}
.tuisong_left .xinxi .la1{
	padding:0 8px;
	background: url(/images/avi_1.png) no-repeat left 5px;
}
.tuisong_left .xinxi .la2{
	padding:0 8px;
	background: url(/images/avi_2.png) no-repeat left bottom;
}
.tuisong_left .xinxi .sp{
	font-size: 12px;
	padding:0 5px;
}
.tuisong_left .xinxi a{
	float: left;
	margin-right: 3px;
	line-height: 28px;
	font-size: 12px;
	height:28px;
	margin-top:19px;
}
.tuisong_left .xinxi a.st1{
	border:1px solid #cccccc;
	width:63px;
    text-align: center;
	height:26px;
}
.push-select{
    display: none;
    position: absolute;
    border: 1px solid #FEAA00;
    width: 173px;
    height: 40px;
    z-index: 1;
    background: #fff;
    top: 27px;
    left: 0px;
    color: #000;
    padding: 5px 0;
}
.push-select li{
    line-height: 20px;
    padding-left: 5px;
    transition: 0.1s;
}
.push-select li:hover{
    background: #FEAA00;
    color: #fff;
}
.tuisong_left .xinxi a.st2{
	background: url("../../img/K6KT/push_right_vo.png") no-repeat;
	color: white;
    width: 65px;
    padding-left: 20px;
    position: relative;
}

.wind-push-lesson{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 692px;
    height: 535px;
    margin-left: -346px;
    margin-top: -268px;
    background: #FAFAFA;
    z-index: 2;
}
.wind-top{
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    color: #000;
    font-size: 16px;
}
.wind-top span{
    color: #CDCDCD;
    font-weight: bolder;
    font-size: 26px;
    float: right;
    cursor: pointer;
}

.hoverClass {
    background: #FFA800;
    color: white;
    border-radius: 2px;
}
.left-ztree{
    width: 203px;
    background: #EEEEEE;
    height: 410px;
    float: left;
}
.video-list{
    float: left;
    width: 489px;
    height: 410px;
    overflow-x: hidden;
    overflow-y: auto;
}
.list-top{
    background: #F0FADD;
    color: #666;
    height: 48px;
    line-height: 48px;
    padding: 0 10px;
    font-size: 15px;
}
.video-fa{
    padding: 10px 0;
}
.video-s{
    width: 147px;
    height: 158px;
    margin-left: 10px;
    background: #fff;
    box-shadow: 0 0 2px #666;
    overflow: hidden;
    float: left;
    position: relative;
    cursor: pointer;
}
.video-tran{
    line-height: 16px;
    padding: 3px 5px;
    overflow: hidden;
}
.video-tran span{
    word-break: break-all;
}
.bg-video{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 147px;
    height: 117px;
    background-color: #000;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    transition: 0.2s;
}
.gou{
    display: none;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 116px;
    top: 10px;
    background: url("../../img/K6KT/gou_t_vo.png") no-repeat;
    z-index: 2;
    transition: 0.2s;
}
.gou-b{
    background: url("../../img/K6KT/gou_b_vo.png") no-repeat !important;
}
.disblock{
    display: block;
}
.video-s:hover>.bg-video{
    display: block;
}
.video-s:hover>.gou{
    display: block;
}
.btn-vo{
    width: 690px;
    float: left;
    height: 50px;
}
.btn-vo .btn-ok{
    background: #3276B0;
    color: #fff;
    width: 52px;
    height: 28px;
    float: right;
    margin: 10px 20px 0 0;
}
.btn-vo .btn-no{
    background: #fff;
    color: #666;
    width: 52px;
    height: 28px;
    float: right;
    border: 1px solid #ccc;
    margin: 10px 10px 0 0;
}
.btn-use-open{
    background: url("../../img/K6KT/push_bot_vo.png") no-repeat !important;
}


/****************背景st******************/
.bg{
    display:none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

/* 试看，推送部分 */
/* index结束 */



/* index1开始 */
.tab-header{
	margin-bottom: 10px;
}
.new-floder{
	height:42px;
	border-bottom: 3px solid #c6c5c5;
	background: #f1f1f1;
}
.new-floder .floderl{
	width:230px;
	float:left;
	background: #5cb85c;
	height:42px;
	border-bottom: 3px solid #47a447;

}
.new-floder .floderl a{
	color: white;
	display: inline-block;
	width:90px;
	padding-left: 21px;
	height:42px;
	text-align: center;
	line-height: 42px;
	position: relative;
}
.new-floder .floderl a img,.new-floder .floderr a img{
	margin-right: 5px;
	position: absolute;
	left:9px;
	top:12px;
}
.new-floder .floderl a.spect2 img{
	left:30px;
	top:11px;
}
.new-floder .floderl a.spect{
	border-right: 2px solid #47a447;
}
.new-floder .floderc{
	float: left;
	padding-left: 20px;
	line-height: 42px;
	font-weight: bold;
}
.new-floder .floderr{
	width:115px;
	height:42px;
	float: right;
	background: #d9d9d9;
}
.new-floder .floderr a{
	display: inline-block;
	text-align: center;
	line-height: 42px;
	width:94px;
	padding-left: 21px;
	height:42px;
	position: relative;
}
.new-floder .floderr a.spect3 img{
	left:19px;
	top:13px;
}
/* 下面内容 */
.floder-connent{
	width:792px;
	height:auto;
}


/* 下拉菜单 */
.floder-connent-left{
	float: left;
	width:210px;
	height:785px;
	background: #eee;
	overflow: auto;
	padding:15px 0 0 20px;
}
.floder-connent-left ul{
	width:100%;
	height:auto;
}
.floder-connent-left ul li{
	width:190px;
	height:20px;
	margin:5px 0;
}
.floder-connent-left ul li .bkg1{
	margin-top: 1.5px;
	float: left;
	width:9px;
	height:17px;
	background: url(/images/bkg1.png) no-repeat;
	margin-right: 3px;
}
.floder-connent-left ul li .first{
	background: url(/images/bkg1_s.png) no-repeat 0 8px;
}
.floder-connent-left ul li .last{
	background: url(/images/bkg1_x.png) no-repeat;
}
.floder-connent-left ul li a {
	float: left;
	line-height: 20px;
}
.aaa{
	background: #FFE6B0;
	border:1px #FFB951 solid;
}
.floder-connent-left ul li a span{
	font-size: 16px;
	color: #333;
	
}
.floder-connent-left ul li a .bkg2{
	display: inline-block;
	width:20px;
	height:14px;
	background: url(/images/close.png) no-repeat;
}
.floder-connent-left ul li a .bkg4,.floder-connent-left ul li a .bkg5{
	display: inline-block;
	width:14px;
	height:15px;
	margin-top: 2px;
	background: url(/images/gai.png) no-repeat;
}
/* 下拉菜单 */
.floder-connent-right{
	float: right;
	width:542px;
	height:785px;
	overflow: auto;
	padding:15px 0 0 20px;
}
.floder-connent-right .com{
	width:160px;
	height:170px;
	margin-right: 15px;
	float: left;
	margin-bottom: 20px;
}
.floder-connent-right .com .imG{
	width:100%;
	height:110px;
	position: relative;
}
.floder-connent-right .com .imG img{
	display: block;
}
.floder-connent-right .com .lie{
	line-height: 36px;
}
.floder-connent-right .com .xxs{
	height:24px;
	width:160px;
}
.floder-connent-right .com .xxs a,.floder-connent-right .com .xxs span{
	color: white;
	font-size: 12px;
	line-height: 24px;
	height:24px;
}
.floder-connent-right .com .xxs .a1{
	cursor: pointer;
	display: inline-block;
	width:51px;
	background: url(/images/sogs.jpg) no-repeat #5cb85c top right;
	padding-left: 9px;
	position: relative;
}
.floder-connent-right .com .xxs .a2{
	display: inline-block;
	width:40px;
	text-align: center;
	background:#f0ad4e;
	margin:0 10px;
}
.floder-connent-right .com .xxs .a3{
	display: inline-block;
	width:40px;
	text-align: center;
	background:#d9534f;
}
.floder-connent-right .com .xxs .a1 ul{
	width:118px;
	position: absolute;
	left:0;
	top:24px;
	border:1px solid #91cf91;
	display: none;
	z-index: 1;
}
.floder-connent-right .com .xxs .a1 ul li{
	height:22px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	color: #000;
	background: white;
}
.floder-connent-right .com .xxs .a1 ul li:hover{
	background: #47a447;
	color: white;
}
/* index1结束 */
/* 分页样式 */
.page-links input,.page-links button{
	width:30px;
	height:18px;
	margin:0 2px;
	vertical-align: top;
	border:#ffa800 1px solid;
	border-top:none;
	border-bottom:none;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	color: #ffa800;
}

.hoverClass
{
	background: #fca618;
	color: white;
}
#treeContainer{
	position:fixed;
	left:50%;
	top:50%;
	background:#fff;
	width:525px;
	height:360px;
	margin-left:-262.5px;
	margin-top:-180px;
	border-radius:5px;
	border:1px solid #ddd;
    z-index: 999;
	
}


.ztree li span{
	font-size:16px;
}
.ztree{
	height: 230px;
    display: block;
    overflow: auto;
}

.treeContainer-top{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #ddd;
	padding-left:20px;
}
.treeContainer-right{
	float: right;
margin-right: 35px;
position: relative;
top: -40px;
cursor:pointer;
}
.treeCOntainer-bottom{
	height:70px;
	line-height:70px;
	float:right;
	padding-right:20px;
}
.treeCOntainer-bottom botton{
	width:55px;
	height:32px;
	border:1px solid #333;
	display:inline-block;
	line-height:32px!important;
	text-align:center;
	cursor:pointer;
	border-radius:5px;
}
.tree-cur{
	background-color: #428BCA;
	color:white;
}
.player-close-btn{
position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  background-image: url('/static/plugins/fancyBox/fancybox_sprite.png');
}



.page-paginator {
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
    display: none;
}
.page-index span {
    padding: 3px 8px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}
.first-page,.last-page {
    padding: 3px 15px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}

.page-paginator span.active {
    background-color:#E6E6E6;
    color: #779554;
}

/* 分页样式 */


/**************************背景***********************/
.bg
{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}



/**************************************PPT*************************************/
.cloud-PPT{
    width: 840px;
    height: 565px;
    background: white;
    border: 5px solid #cccccc;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -420px;
    margin-top: -282.5px;
    z-index: 999999999999999999999999999999999999;
}
.cloud-PPT-top{
    height: 44px;
    border-bottom: 1px solid #d0d0d0;
    background: #eeeeee;
}
.cloud-PPT .cloud-PPT-top em{
    float: left;
    font-size: 16px;
    padding: 13px 0 0 30px;
    display: inline-block;
}
.cloud-PPT .cloud-PPT-top  i{
    float: right;
    display: inline-block;
    border: 1px solid #333;
    color: #333;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    line-height: 13px;
    margin: 10px 20px 0 0;
    cursor: pointer;
}
.cloud-PPT-info{
    height: 455px;
    overflow-y: auto;
    padding: 10px;
    font-size: 16px;
}
.cloud-PPT-bottom{
    height: 44px;
    border-top: 1px solid #d0d0d0;
    background: #eeeeee;
}
.tab-head ul {
    border-top: 1px solid #ddd;
}
#prompt-div {
    background-color: rgba(128,128,128,0.3);
    /*opacity: 1;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*filter: alpha(opacity = 50);*/
    /*-moz-opacity: 0.5;*/
    /*-khtml-opacity: 0.5;*/
    width: 100%;
    height: 100%;
    padding-top: 120px;
    font-size: 14px;
    display: none;
}


.ud_botton{
    display: block;
    position: relative;
    left: 95%;
    cursor: pointer;
}
.cloud-ss{
    cursor: pointer;
}