html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;}
a{text-decoration:none; color:white;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
img{display: inline}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;}
button{font-family: Microsoft yahei;cursor: pointer;outline:none}

input::-ms-clear { display: none;}


.scheduling-CP{
    cursor: pointer;
}
.scheduling-main{
    /*width: 1200px;
    margin: 0 auto;*/
}
.scheduling-right{
    width: 775px;
    margin: 0 auto;
    overflow: hidden;
}
.scheduling-right img{
    margin: 20px 0;
}

.scheduling-right-T div{
    position: relative;
    background: url("../images/scheduling-topp.png") no-repeat;
    background-size: 100%;
    height: 260px;
}
.scheduling-right-T img{
    position: absolute;
    right: 205px;
    top: 150px;
    cursor: pointer;
}
.scheduling-right dl dd p{
    color: #656565;
    font-size: 15px;
}
.scheduling-right dl dd p i{
    color: #115196;
    font-weight: bold;
}
.scheduling-right dl dd div{
    text-align: center;
}
.scheduling-right-I{
    position: absolute;
    right:51px ;
    top:28px;
    display: inline-block;
    width: 300px;
    text-align: left;
}
.scheduling-right-I em{
    font-weight: bold;
    line-height: 1.5em;
}