.main{
	width: 770px;
	margin: 40px auto;
}

.tab-main-right{
	float: right;
	margin-top: -35px;
	margin-bottom: 60px;
	font-size: 14px;
	background: #467CC8 none repeat scroll 0% 0%;
	box-shadow: 1px 1px 6px #397FBA;
	border: 1px solid #468CC8;
	color: #FFF;
	padding: 5px 0px;
	width: 100px;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
}

/*itree-con*/
.itree-con{
	width: 770px;
	/*margin-top: 32px;*/
	margin-left: 10px;
}
/*itree-con*/
.itree-table{
	width: 770px;
	text-align: center;
	display: inline-block;
	margin-top: -20px;
}

.itree-table td{
	border:1px solid #d2d2d2;
	height: 35px;
}
.itree-name{
	background:#ececec;
}
.itree-table th{
	width: 20%;
	height: 40px;
	background: #5db85c;
	color:#fff;
	border:1px solid #d2d2d2;
}
.itree-a{
	cursor: pointer;
	color:#3999d4;
	display: inline-block;
	width: 190px;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.itree-edit{
	width: 3em!important;
}
.itree-del{
	width: 3em!important;
}
/*stukq-mian*/
.itree-select{
	width: 400px;
	margin-bottom: 5px;
}
.itree-select input{
	width: 250px;
	height: 20px;
	margin-right: 20px;
}
.itree-select button{
	padding: 3px 25px;
	background: #eee;
	border: 1px solid #dadada;
	cursor: pointer;
}

/*itree-mian*/
.page-paginator {
	width: 100%;
	margin: 40px auto 20px auto;
	text-align: center;
	display: none;
}
.page-index span {
	padding: 3px 8px;
	color: #838383;
	border-radius: 4px;
	border: 1px solid #838383;
	background-color: #F6F7F6;
	cursor: pointer;
	margin: 0 2px;
}
.first-page,.last-page {
	padding: 3px 15px;
	color: #838383;
	border-radius: 4px;
	border: 1px solid #838383;
	background-color: #F6F7F6;
	cursor: pointer;
	margin: 0 2px;
}
.page-paginator span.active {
	background-color:#E6E6E6;
	color: #779554;
}

/*newadd-alert*/
.newadd-alert{
	z-index:9999;
	width: 310px;
	position: fixed;
	left: 40%;
	top:30%;
	background: #fff;
	display: none;
}
.alert-main{
	padding-left: 24px;
}
.alert-title{
	background: #616161;
	padding: 15px 0;
	margin-bottom: 30px;
}
.alert-title p{
	display: inline-block;
	float: left;
	color: #fff;
	margin-left: 20px;
}
.alert-title span{
	display: inline-block;
	float:right;
	color: #fff;
	cursor: pointer;
	margin-right: 20px;
}
.alert-btn{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	padding-bottom: 40px;
}
.alert-btn-sure{
	padding: 4px 20px;
	background: #5db85b;
	border:1px solid #5db85b;
	color:#fff;
	margin-right: 25px;
}
.alert-btn-qx{
	padding: 4px 20px;
	background: #eee;
	border:1px solid #cacaca;
	color:#333;
}
.eva-name,.eva-des{
	display: block;
	margin-bottom: 15px;
	width: 10em;
	text-align: left;
}
.eva-input{
	width: 260px;
	height: 28px;
	border:1px solid #bbb;
	margin-bottom: 20px;
}
.eva-area{
	width: 260px;
	border:1px solid #bbb;
	margin-bottom: 20px;
	height: 70px;
}
/*newadd-alert*/
.bg
{
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;

	left: 0;
	top: 0;
	filter: alpha(opacity=40);
	opacity: 0.4;
	z-index: 1;
	position: fixed !important; /*FF IE7*/
	position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}