html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;}
a{text-decoration:none; color:white;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
img{display: inline}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
input::-ms-clear { display: none;}
button{font-family: Microsoft yahei;cursor: pointer;outline:none;padding:0px}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
textarea{resize: none;outline: none;}
input,select{outline: none;font-family: Microsoft yahei;text-indent: 1em;}
input::-webkit-input-placeholder{
	font-family: yahei Microsoft;
	font-size: 16px;
	color: #2a2a2a;
}
input::-moz-input-placeholder{
	font-family: Microsoft YaHei;
	font-size: 16px;
	color: #2a2a2a;
}
input:-ms-input-placeholder{
	font-family: Microsoft YaHei;
	font-size: 16px;
	color: #2a2a2a;
}
.itree-info{
	width: 770px;
	height: 150px;
	margin-bottom: 10px;
}

.main{
	width: 770px;
	margin: 40px auto;
}
.main li{
	width: 770px;
	position: relative;
}
.main li dt{
    min-height: 40px;
    line-height: 40px;
    display: block;
    position: relative;
}
.main li dt:hover .sel-edit-f{
    display: inline-block;
}
.sel-edit-f{
    display: none;
    position: absolute;
    right: 70px;
    cursor: pointer;
}
.main dl dt input{
	height: 36px;
	width: 485px;/*
	border:1px solid #dbdbdb;*/
}
.input-edit{
	border:1px solid #dbdbdb;
}
.dl-bg li:hover input{
	background: #f9f9f9;
}
.main dl dt em{
	display: inline-block;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.main dl dt label{
	font-size: 14px;
	font-weight: 100;
	margin: 0px 0px 0px 5px;
	cursor: pointer;
	/*display: none;*/
}
.main dl dt label:hover{
	color: #1da2e2;
	text-decoration: underline;
}
.dl-sel span{
	display: inline-block;
}
.dl-sel{
	margin-left: 35px;
}
.dl-none{
	display: none;
}
.dl-bg li:hover{
	display: inline-block;
	background:#f9f9f9; 
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}
.em-jia{
	background: url("/static_new/images/indicator/jia.jpg") no-repeat;
}
.em-jian{
	background: url("/static_new/images/indicator/jian.jpg") no-repeat;
}
.li-right{
	display: none;
	width: 60px;
	background: #e5e5e5;
	height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
}
.dl-bg li:hover .li-right{
	display: inline-block;
}
.li-right img{
	margin-left: 18px;
	cursor: pointer;
	background: #17a7e8;
}
.sel-edit{
	position: absolute;
	top: 10px;
}
.dl-inp{
	width: 500px;
}
.del-cor{
    background: #ff8a00!important;
    border: 1px solid #dbdbdb!important;

}
.tab-main-right{
    float: right;
    margin-top: -35px;
    font-size: 14px;
    background: #467CC8 none repeat scroll 0% 0%;
    box-shadow: 1px 1px 6px #397FBA;
    border: 1px solid #468CC8;
    color: #FFF;
    padding: 5px 0px;
    width: 90px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}
.itree-info span{
	display:inline-block;
	margin: 10px 5px 0px 0px;
	overflow: hidden;
}
.itree-info em{
	display: inline-block;
	width: 20em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin: 0px 5px;

}
.itree-info p{
	margin-top: 10px;
	background: #dedede;
	width: 770px;
	height: 60px;
}
.grow-col-stu{
	display: inline-block;
}
.grow-col-stu + span{
	float: right;
	cursor: pointer;
}

.itree-com{
	margin-top: 55px;
}

.itree-com-bo{
	margin-top: 30px;
}

.itree-com-bo span{
	display: inline-block;
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	margin-right: 25px;
}

.itree-com-bo .com-BC{
	border:1px solid #17a7e8;
	background: #17a7e8;
	color: white;
	width:92px;
}