<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

    <!--映射驱动-->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8"/>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">
                        <property name="simpleDateFormat" value="yyyy/MM/dd HH:mm:ss"/>
                    </bean>
                </property>
                <property name="prefixJson" value="false"/>
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=utf-8</value>
                        <value>text/json;charset=utf-8</value>
                        <value>text/plain;charset=utf-8</value>
                        <value>text/html;charset=utf-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
        <mvc:argument-resolvers>
            <bean class="org.springframework.data.web.PageableHandlerMethodArgumentResolver"/>
            <bean class="com.fulaan.interceptor.ObjectIdResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>
    <!-- swagger -->
    <bean class="com.fulaan.swagger.OurSwaggerConfig" />
    <!-- 扫描组件-->
    <context:component-scan base-package="com.fulaan" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>

    <!-- 资源视图解析-->
    <bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="basename" value="views"/>
    </bean>

    <!-- Context Util -->
    <bean class="com.fulaan.utils.SpringContextUtil" id="springContextUtil"/>
    <mvc:resources mapping="/api/**" location="/api/" />

    <!-- 视图解析器 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="order" value="0"/>
    </bean>
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false"/>
        <property name="favorParameter" value="false"/>
        <property name="ignoreAcceptHeader" value="false"/>
        <property name="mediaTypes">
            <value>
                atom=application/atom+xml
                html=text/html
                json=application/json
                *=*/*
            </value>
        </property>
    </bean>

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 指定所上传文件的总大小不能超过200KB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="54000000000" />
        <!-- max size of file in memory (in bytes) -->
        <!-- oddly, the MultipartFile passed as a RequestParam gets set to null if I allow it to use memory
            rather than disk!  -->
        <property name="maxInMemorySize" value="0" />
    </bean>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/script/**"/>
            <bean class="com.fulaan.interceptor.SessionValueInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/script/**"/>
            <bean class="com.fulaan.interceptor.PermissionInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/script/**"/>
            <bean class="com.fulaan.interceptor.Infoterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/images/**"/>
            <mvc:exclude-mapping path="/script/**"/>
            <bean class="com.fulaan.interceptor.SwaggerHandlerInceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- 放行swagger -->
    <mvc:default-servlet-handler />
    <!-- 异常处理器 -->
    <bean id="exceptionResolver"
          class="com.fulaan.interceptor.ExceptionResolver">
    </bean>

    <!-- 定时任务 -->
    <bean id="taskJob"
          class="com.fulaan.timedtask.TaskJob">
    </bean>

    <task:scheduled-tasks>
        <task:scheduled ref="taskJob" method="mallDailyReport" cron="00 30 5 * * ?"/>
    </task:scheduled-tasks>

    <context:component-scan base-package="com.fulaan.timedtask"/>
    <task:annotation-driven scheduler="taskScheduler" executor="taskExecutor"/>
    <task:executor id="taskExecutor" pool-size="5000" queue-capacity="10000"/>
    <task:scheduler id="taskScheduler" pool-size="100"/>


</beans>