/*tab-main*/
li{
    list-style: none;
}
.tab-main{
    width: 760px;
    padding-left: 8px;
    padding-top: 30px;
}
/*tab-main*/
/*gly-index*/
.gly-index{
	display: none;
}
/*hyandhd-title*/
.hyandhd-time{
	color: #333;
	margin-right: 10px;
}
.hyandhd-title input{
	display: inline-block;
	width: 143px;
	height: 28px;
	border:1px solid #ddd;
	padding-left: 5px;
}
.hyandhd-title select{
	display: inline-block;
	width: 100px;
	height: 28px;
	border:1px solid #ddd;
	margin: 0 16px;
}
.hyandhd-title button{
	display: inline-block;
	padding: 4px 20px;
	border:1px solid #cacaca;
	background: #eee;
	color: #333;
	text-align: center;
	margin-left:16px;
}
/*hyandhd-title*/
/*hyandhd-table*/
.hyandhd-table{
	width: 750px;
	text-align: center;
	margin-top: 30px;
}
.hyandhd-table th{
	height: 50px;
	background: #5db85c;
	border:1px solid #d2d2d2;
	color: #fff;
}
.hyandhd-table td{
	height: 40px;
	border:1px solid #d2d2d2;
	color: #333;
}
.hyandhd-xq,.hyandhd-sp,.hyandhd-del,.hyandhd-edit{
	display: inline-block;
	color: #3999d5;
	cursor: pointer;
}
.hyandhd-table em{
	color: #d2d2d2;
	margin: 0 2px;
}
/*hyandhd-table*/
/*gly-index*/
/*hyandhd-save*/
.hyandhd-save{
	display: none;
}
/*hyandhd-save*/
/*meetingjl-con*/
.meetingjl-con{
	margin: 40px auto;
	width: 1000px;
}
.hyandhd-h3{
	display:block;
	font-size: 24px;
	line-height: 32px;
	font-weight: normal;
	color: #333;
	padding-left: 40px;
	margin-bottom: 40px;
	background: url(/static_new/images/meeting/hyandhd-1.png) no-repeat 2px 2px;
}
.path-start{
	display: inline-block;
	color: #3999d5;
	cursor: pointer;
}
.hyandhd-path em{
	display: inline-block;
	margin: 0 4px;
}
.hyandhd-main{
	width: 100%;
	height: 770px;
	margin-top: 10px;
	background: #fff;
	border:1px solid #dadada;
	box-shadow: 4px 4px #e6e7e8;
	
}
.hyandhd-wrap{
	background: #f1f6f9;
	padding: 10px 10px 10px 0;
}
.hyandhd-excle{
	display: inline-block;
	float: right;
	padding: 4px 10px;
	padding-left: 25px !important;
	background-color: #eee;
	border:1px solid #cacaca;
	color:#333;
	background-image: url(/static_new/images/meeting/hyandhd-2.png);
	background-repeat: no-repeat;
	background-position: 6px 9px;
}
.hyandhd-dl{
	padding-left: 50px;
	margin-top: 20px;
}
.dl-title{
	color: #333;
	font-weight: bold;
	margin-bottom: 10px;
}

/*meetingjl-con*/
.meetingxq-list{
	display: none;
}
.meetingxq-title{
	height: 50px;
	background:#f1f6f9;
	border:1px solid #dadada;
}
.meeting-past{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 90px;
	background:#5db85b;
	float: right;
	color: #fff;
}
.meeting-leave{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 90px;
	background:#ff7664;
	float: right;
	color: #fff;
}
.meetingxq-left{
    width: 405px;
    float: left;
    height: 720px;
    position: relative;
    border-right: 1px solid #dadada;
    background: #f1f6f9;
}
.meeting-ul{
	display: block;
	padding-top: 8px;
	background: #f1f6f9;
	margin-bottom: 10px;
}
.meeting-ul li{
	display: inline-block;
	font-size: 12px;
	float: left;
	padding: 5px 15px;
	cursor: pointer;
	color:#666;
	margin-left: 5px;
}
.meeting-active{
	background: #fff;
	color: #333;
	font-weight: bold;
}
.meeting-qd{
	display: block;
	padding:2px 8px;
	border-left: 8px solid #5db85b; 
	color: #999;
	margin-bottom: 15px;
}
.meeting-ren-list li{
	display: inline-block;
	width: 68px;
	height: 92px;
	text-align: center;
	margin-right: 3px;
	padding: 5px 5px;
	cursor: pointer;
	margin-bottom:20px;
}
.meeting-ren-list li img{
	display: inline-block;
	width: 60px;
	height: 60px;
	vertical-align: bottom;
	margin-bottom: 10px;
}
.meeting-ren-list li:hover img{
	border: 2px solid #5db85b;
	border-radius: 3px;
    width: 56px;
    height: 56px;
}
.meeting-wqd{
	display: block;
	padding:2px 8px;
	border-left: 8px solid #cecece; 
	color: #999;
	margin-bottom: 15px;
}
.meeting-lx{
    border: 1px solid #cacaca;
    border-bottom: none;
    padding-bottom: 100px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.meeting-lx-title{
	display: block;
	height: 36px;
	background: #f1f6f9;
	color: #333;
	line-height: 36px;
	padding-left: 10px;
    border-right: 1px solid #cacaca
}
.meetingxq-qd,.meetingxq-wqd{
	padding-left: 10px;
}
.meeting-CHRY_I{
    max-height: 235px;
    overflow-y: auto;
}
.meeting-CHRY_II{
    max-height: 230px;
    overflow-y: auto;
}
.meeting-mobile,.meeting-email{
	display:block;
	color: #999;
	margin-top: 10px;
	margin-left: 10px;
}
.meeting-lx em{
	color: #333 !important;
}
/*meetimgxq-right*/
.meetimgxq-right{
	width: 590px;
	height: 715px;
	float: right;
/*
	background: #f1f6f9;
*/
    background: white;
	position: relative;
	border: 1px solid #fdfdfd;
}
.meeting-right-title span{
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-bottom: 1px solid #dadada;
	margin: 0 35px;
}
.meeting-talk-ul{
    display: inline-block;
    padding: 0 20px;
    height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
}
.meeting-talk-ul li{
	display: block;
	margin-top: 15px;
	width: 550px;
}
.meeting-talk-ul li span{
	display: inline-block;
	color: #999;
	margin-bottom: 10px;
}
.meeting-talk-ul li em{
	display: inline-block;
	margin-left: 15px;
}
.meeting-talk-ul li p{
    color: #333;
    width: 535px;
    display: block;
    word-break: break-all;
}
.meeting-talk-enter{
	width: 100%;
	height: 112px;
	padding-bottom:44px;
	position: absolute;
	bottom:0;
	right: 0;
	border-top: 1px solid #dadada;
}
.talk-enter{
	display: block;
	height: 70px;
	width: 551px;
	/*background: #f1f6f9;*/
    background: white;
	border:none;
	padding: 0 20px;
}
.meeting-talk-enter button{
	float: right;
	padding: 5px 25px;
	background:#e6e6e6;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	margin-right: 10px;
	color:#333;
	font-weight: bold;
}
/*meetimgxq-right*/
/*meetingxq-turn*/
.meetingxq-turn{
	display: none;
}
.meetingxq-turn span{
	display: block;
	margin:0 0 10px 20px;
	color: #333;
}
.meetingxq-turn em{
	display: inline-block;
	color: #999 !important;
	margin-left: 15px;
}
/*meetingxq-turn*/
/*meetingxq-upload*/
.meetingxq-upload{
	padding-left: 20px;
	display: none;
}
.meeting-upload-btn{
	display: inline-block;
	padding: 4px 25px;
	background: #eee;
	border:1px solid #cacaca;
	color:#333;
}
.upload-list li{
	display:block;
	min-height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.upload-list li span{
    display: inline-block;
    max-width: 280px;
    min-height: 32px;
    word-break: break-all;
    margin-right: 25px;
}
.upload-mlist li{
	display:block;
	height: 25px;
	line-height: 25px;
	cursor: pointer;	
}
.upload-mlist2 li{
	display:inline-block;
	height: 25px;
	line-height: 25px;
	cursor: pointer;
}
.meeting-a{
	display: inline-block;
	/*margin-left: 25px;*/
	display: none;
}
.meeting-a a{
	display: inline-block;
	color: #3999d5;
	cursor: pointer;
}
.meeting-a i{
	display: inline-block;
	padding: 0 3px;
	color:#d2d2d2;
}
.upload-list li:hover,.upload-mlist li:hover{
	background: #f7f7f7;
    width: 80%;
}
.upload-list li:hover,.upload-mlist2 li:hover{
	background: #f7f7f7;
}
.upload-list li:hover .meeting-a,.upload-mlist li:hover .meeting-a{
    display: inline-block;
    max-width: 280px;
    min-height: 32px;
    word-break: break-all;
}
.upload-list li:hover .meeting-a,.upload-mlist2 li:hover .meeting-a{
    display: inline-block;
    max-width: 280px;
    min-height: 32px;
    word-break: break-all;
}
/*meetingxq-upload*/
/*hyandhd-meeting*/
.hyandhd-operate{
	padding-top: 26px;
	border-top:1px solid #ddd;
	margin-top: 15px;
}
.model-manage{
	display: inline-block;
	float: left;
	padding:4px 10px;
	padding-left: 25px;
	background: #afafaf;
	background-image: url(/static_new/images/meeting/zhiban-7.png);
	background-repeat: no-repeat;
	background-position: 5px 7px;
	color: #fff;
}
.hyandhd-new{
	display: inline-block;
	float: right;
	padding:4px 10px;
	padding-left: 25px;
	background: #3999d5;
	background-image: url(/static_new/images/meeting/hyandhd-3.png);
	background-repeat: no-repeat;
	background-position: 7px 8px;
	color: #fff;
    margin-right: 10px;
}
.hyandhd-jxz,.hyandhd-end,.hyandhd-wks,.hyandhd-shz{
	display: inline-block;
	width: 58px;
	height: 18px;
	line-height: 18px;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;
}
.hyandhd-jxz{
	background: #ffc9bd;
	border:1px solid #ff8989;
	color: #e20001;
}
.hyandhd-end{
	background: #ececec;
	border: 1px solid #d2d2d2;
	color: #666;
}
.hyandhd-wks{
	background: #fef667;
	border: 1px solid #f1da02;
	color: #966101;
}
.hyandhd-shz{
	background: #cfdfff;
	border:1px solid #9abbfe;
	color: #465eff;
}
.meeting-join,.meeting-ck,.meeting-tj{
	color: #3999d5;
	padding-left: 25px;	
	cursor: pointer;
}
.meeting-join{
	background:url(/static_new/images/meeting/hyandhd-4.png) no-repeat 0px 4px;
}
.meeting-ck{
	background: url(/static_new/images/meeting/zhiban-3.png) no-repeat 3px 5px;
}
.meeting-tj{
	background: url(/static_new/images/meeting/hyandhd-5.png) no-repeat 3px 3px;
}
/*hyandhd-meeting*/
/*model-tea-manage*/
.model-tea-manage{
	display: none;
}
.hyandhd-table i{
	display: inline-block;
	padding: 0 3px;
	color: #d2d2d2;
}
.hyandhd-back{
	display: inline-block;
	color: #3999d5;
}
/*model-tea-manage*/
/*zhiban-meng*/
.zhiban-meng{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #333;
	opacity: 0.4;
	filter:alpha(opacity=40);
	display: none;
}
/*zhiban-meng*/
/*sphw-alert*/
.sphw-alert{
	z-index:999;
	width:554px;
	position: fixed;
	left: 40%;
	top:10%;
	background: #fff;
	display: none;	
}
.zb-set-title{
	background: #616161;
	padding: 15px 0; 
	margin-bottom: 30px;
} 
.zb-set-title p{
	display: inline-block;
	float: left;
	color: #fff;
	margin-left: 20px;
}
.zb-set-title span{
	display: inline-block;
	float:right;
	color: #fff;
	cursor: pointer;
	margin-right: 20px;
}
.zb-set-list span{
	display: inline-block;
	width:8em;
	text-align:right;
	color: #999;
	margin-bottom: 15px;
	margin-right: 15px;
}
.zb-set-list em{
	color: #343434;
}
.alert-btn{
	width: 100%;
	text-align: center;
	margin: 50px 0;

}
.alert-btn button{
	margin-right: 15px;
}
.alert-btn-submit,.alert-btn-sure{
	padding: 4px 20px;
	background: #5db85b;
	border:1px solid #5db85b;
	color:#fff;
}
.alert-btn-qx,.alert-btn-bcwmb{
	padding: 4px 20px;
	background: #eee;
	border:1px solid #cacaca;
	color:#333;
}
/*alert-step*/
.alert-step{
	width: 464px;
	height: 90px;
	border: 1px solid #999;
	border-radius: 5px;
	margin-left: 40px;
	padding-left: 10px;
	margin-top: 30px;
	position: relative;
}
.alert-step div{
	margin-top: 26px;

}
.alert-step i{
	width: 20px;
	height:14px;
	display: inline-block;
	background:url(/static_new/images/meeting/qjgl-right.png) no-repeat;
}
.alert-legend{
	display: inline-block;
	padding: 0 8px;
	background: #fff;
	position: absolute;
	top:-12px;
	left: 40%;
	color: #999;
}
.alert-legend-con span{
	display: inline-block;
	width: 84px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background:#5772e5;
	color: #fff;
	border:1px solid #5772e5;
	border-radius: 15px;
	position: relative;

}
.qjgl-result{
	display: inline-block;
	position: absolute;
	top:30px;
	left: 25%;
	color: #5671e4;	
}
.alert-result-spz{
	color: #ff8a00 !important;
}
.alert-step-result{
	display: inline-block;
	position: absolute;
	top:30px;
	left: 25%;
	color: #5671e4;	
}
.qjgl-alert-tguo{
	display: inline-block;
	padding:7px 5px;
	background: #5db85c;
	color: #fff;
	border:1px solid #5db85c;
	border-radius: 50%;	
}
/*qjgl-step*/
.look-more{
	display: block;
	color: #3999d5;
	padding-left: 30px;
	background: url(/static_new/images/meeting/look-more.png) no-repeat 2px 10px;
	padding-top: 8px;
	margin: 0 50px;
	border-top:1px solid #dedede;
	cursor: pointer;
}
.alert-agree{
	padding-top: 18px;
	margin-left: 50px;
	border-top:1px solid #dedede;
	color: #333;
	margin-bottom: 20px;
}
.alert-agree span{
	display: inline-block;
	margin-left: 20px;  
}
.alert-agree label{
	display: inline-block;
	margin-left: 10px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
}
.alert-agree input{
	display: inline-block;
	vertical-align: bottom;
}
.alert-nextsp span{
	display: inline-block;
	margin: 0 10px 20px 15px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.alert-nextsp select{
	width: 128px;
	height: 28px;
	border:1px solid #bebebe;
}
.alert-beizhu span{
	display: inline-block;
	margin:0 10px 0 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.alert-beizhu input{
	width: 384px;
	height: 28px;
	border:1px solid #bebebe;
}
/*sphw-alert*/
/*newhw-alert*/
.newhw-alert{
	width:100%;
	padding-left:20px;
	display: none;
}
.newhw-alert2{
	width:100%;
	padding-left:20px;
	display: none;
}
.name-model,.type-select,.time-start-end,.meeting-shiyou{
	width: 100%;
	margin-bottom: 20px;
}

.name-model input{
	width:265px;
	height: 28px;
	border:1px solid #bebebe;
	padding-left: 5px;
}
.name-model select{
	display: inline-block;
	width: 128px;
	height: 28px;
	border: 1px solid #bebebe;
}
.type-select label{
	display: inline-block;
	margin-left: 10px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
}
.type-select input{
	display: inline-block;
	vertical-align: bottom;
}
.Wdate{
	display: inline-block;
	width: 128px !important;
	height: 28px !important;
	border:1px solid #bebebe;
}
.time-start,.time-end{
	width: 56px;
	height: 28px;
	border:1px solid #bebebe;
}
.meeting-shiyou input{
	display: inline-block;
	width:550px;
	height: 28px;
	border:1px solid #bebebe;
}
.meeting-yc textarea{
	width: 550px;
	height: 210px;
	border: 1px solid #bebebe;
}
.alert-name{
	display: inline-block;
	width: 80px;
	margin-right: 10px;
	vertical-align: top;
}
.meeting-dv{
    width: 550px;
    height: 92px;
    border: 1px solid #bebebe;
    display: inline-block;
    background: white;
}
.meeting-dv2{
	width: 550px;
	height: 92px;
	border: 1px solid #bebebe;
	display: inline-block;
	background: white;
}
.meeting-rad{
    background: url("/img/meeting/meeting-rad.jpg") no-repeat;
    display: inline-block;
    width: 100px;
    height: 32px;
    cursor: pointer;
    margin: 10px 10px;
}
.meeting-dv .meeting-ren{
    border: 1px solid #bebebe;
    width: 84px;
    height: 28px;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    position: relative;
    left: -12px;
    top: -19px;
    line-height: 28px;
    cursor: pointer;
    margin-right: 5px;
}
.meeting-dv .meeting-ren em{
    display: none;
    width: 15px;
    height: 15px;
    background: #eeeeee;
    color: #666;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    position: absolute;
    right: -5px;
    top: -7px;
}
.meeting-dv .meeting-ren:hover{
    border:2px solid RGB(92,185,91);
    width: 82px;
    height: 26px;
}
.meeting-dv .meeting-ren:hover em{
    display: inline-block;
}
.meeting-dv2 .meeting-ren{
    border: 1px solid #bebebe;
    width: 84px;
    height: 28px;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    position: relative;
    left: 10px;
    top: 10px;
    line-height: 28px;
    cursor: pointer;
}
.meeting-dv2 .meeting-ren em{
	display: none;
	width: 15px;
	height: 15px;
	background: #eeeeee;
	color: #666;
	border-radius: 50%;
	text-align: center;
	line-height: 15px;
	position: absolute;
	right: -5px;
	top: -7px;
}
.meeting-dv2 .meeting-ren:hover{
	border:2px solid RGB(92,185,91);
	width: 82px;
	height: 26px;
}
.meeting-dv2 .meeting-ren:hover em{
	display: inline-block;
}
.newhw-hide>div{
	margin-top: 15px;
}
.newhw-show span em{
	color: #ff8a00;
	margin-right: 3px;
}
.newhw-hide input,.newhw-hide select{
	height: 28px;
	border:1px solid #bebebe;
}
.newhw-hide input{
	width: 384px;
}
.newhw-hide select{
	width: 128px;
}
.meeting-cail{
	margin-bottom: 10px;
}
.meeting-cail p{
	display: inline-block;
	color: #999;
	margin-left: 12px;
    position: relative;
    top: -70px;
}
.upload-mlist{
    margin-top: -50px;
	margin-left:90px;
}
.upload-mlist2{
	margin-top: 10px;
	margin-left:90px;
}
.newhw-alert span{
	display: inline-block;
	width: 6em;
	text-align: right;
	height: 30px;
	line-height: 30px;
}
.newhw-alert2 span{
	display: inline-block;
	width: 6em;
	text-align: right;
	height: 30px;
	line-height: 30px;
}
.meeting-chry textarea,.fyr-turn textarea{
	width: 550px;
	height: 92px;
	border: 1px solid #bebebe;
}
.meeting-yt input{
	width: 550px;
}
.upload-mlist li span{
	display: inline-block;
	width:auto;
	text-align: left !important;
}
.upload-mlist2 li span{
	display: inline-block;
	width:auto;
	text-align: left !important;
}
.newhw-title span{
	width: auto;
	font-size: 18px;
	color: #333;
	margin-left: 160px;
}
.hw-back{
	display: inline-block;
	color: #3999d5;
	float: left;
}
.newhw-title{
	width: 100%;
	margin-bottom: 20px;
}
/*newhw-alert*/
.meeting-CH{
    display: none;
    position: fixed;
    width: 390px;
    height: 225px;
    top:50%;
    left: 50%;
    margin-top: -112.5px;
    margin-left: -145px;
    background: white;
}
.meeting-CH-top{
    height: 45px;
    background: #616161;
}
.meeting-CH-top em{
    color: white;
    margin: 10px 0 0 10px;
    display: inline-block;
}
.meeting-CH-top i{
    float: right;
    color: #ffffff;
    margin: 10px 10px 0 0;
    display: inline-block;
    cursor: pointer;
}
.meeting-CH-mil{
    width: 100%;
    text-align: center;
    margin-top: 35px;
}
.meeting-CH-mil select{
    width: 170px;
    height: 30px;
    border: 1px solid #bebebe;
}
.meeting-CH-bot{
    margin-top: 35px;
    width: 100%;
    text-align: center;
}
.meeting-CH-bot span{
    display: inline-block;
    width: 80px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.meeting-CH-bot .meeting-CH-QD{
    background: #5cb95b;
    border:1px solid #5cb95b;
    color: white;
}
.meeting-CH-bot .meeting-CH-QX{
    background: #eeeeee;
    border:1px solid #cacaca;
}
.meeting-MB{
    display: none;
    position: fixed;
    width: 390px;
    height: 225px;
    top:50%;
    left: 50%;
    margin-top: -112.5px;
    margin-left: -145px;
    background: white;
}
.iconvideo object{
    position: relative!important;
    top: -30px;
}
.iconvideo{
    background: #eee;
    border: 1px solid #cacaca;
    color: #333;
    text-align: center!important;
    width: 80px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}
/*newhw-alert*/
.meeting-JL{
	display: inline-block;
	background: url("/static_new/images/meeting/details.jpg") no-repeat;
	width: 140px;
	height: 31px;
	margin: 10px 0 0 10px;
	cursor: pointer;
}
/******投票*******/
.meeting-TP{
	display: none;
}
.meeting-TP .meetiong-TP-IMG{
	display: inline-block;
	width: 155px;
	height: 52px;
	background: url("/static_new/images/meeting/TP-index.jpg") no-repeat;
	margin-left: 25px;
	cursor: pointer;
}
.meeting-FQTP{
	position: fixed;
	width: 555px;
	min-height: 434px;
	left: 50%;
	top: 50%;
	margin-top: -267px;
	margin-left: -277.5px;
	background: white;
	z-index:999;
}
.meeting-top{
	height: 45px;
	background: #616161;
	color: white;
}
.meeting-top span{
	margin: 13px 0 0 20px;
	display: inline-block
}
.meeting-top i{
	float: right;
	margin: 13px 20px 0 0;
	display: inline-block;
	cursor: pointer;
}
.meeting-FQTP{
	display: none;
}
.meeting-FQTP-M dd textarea{
	height: 60px;
	width: 385px;
}
.meeting-FQTP-M dd input{
	height: 28px;
	width: 385px;
}
.meeting-FQTP-M dd{
	margin: 30px 0px 15px 35px;
}
.meeting-FQTP-M dd em{
	display: inline-block;
	width: 4em;
	vertical-align: top;
	margin-right: 15px;
}
.meeting-FQTP-M dd:hover i{
	display: inline-block;
}
.meeting-FQTP-M dd i{
	display: none;
	color: #c3c3c3;
	margin-left: 10px;
	cursor: pointer;
}
.meeting-FQTP-M dd span{
	margin-left: 75px;
	color: #3a9ad4;
	cursor: pointer;
}
.meeting-FQTP-bottom span{
	display: inline-block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.meeting-FQTP-bottom .FQTP-QD{
	border:1px solid #5cb95b;
	background: #5cb95b;
	color: white;
	margin-left: 120px;
}
.meeting-FQTP-bottom .FQTP-QX{
	border:1px solid #cacaca;
	background: #eeeeee;
}
.meeting-TP-dl{
	border-top:1px solid #e1e1e1;
}
.meeting-TP-dl dd{
	min-height: 70px;
	border-bottom:1px solid #e1e1e1;
	cursor: pointer;
}
.meeting-TP-dl dd p{
	margin-left: 15px;
	padding-top: 10px;
}
.meeting-TP-dl dd em{
	border:1px solid #838384;
	border-radius: 20px;
	display: inline-block;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-left: 15px;
	margin-top: 10px;
}
.meeting-TP-dl dd label{
	display: inline-block;
	width: 60px;
	height: 20px;
	margin-left: 15px;
	margin-top: 10px;
}
.meeting-TP-dl dd:hover{
	background: #f0f8f8;
}
.meetiong-more{
	color: #c3c3c3;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
#meetimgxq-right-II{
	display: none;
}
#meetimgxq-right-III{
	display: none;
}
.meetingxq-II{
	margin-left: 15px;
	margin-top: 25px;
	border-bottom: 1px solid RGB(225,225,225);
}
.meetingxq-II .meetiongxq-JX{
	display: inline-block;
	width: 60px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background: RGB(73,191,222);
	color: white;
	border-radius: 20px;

}
.meetingxq-II .meetiongxq-name{
	color: RGB(184,184,185);
	margin: 15px 0px;
}
.meetingxq-II .meetiongxq-name p{
	color: black;
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
}
.meetingxq-II ul{
	display: inline-block;
	min-height: 42px;
}
.meetingxq-II ul li{
	display: inline-block;
	background: white;
	width: 555px;
	height: 42px;
	margin: 2px;
	line-height: 42px;
	position: relative;
	cursor: pointer;
	float: left;
    border: 1px solid #f1f6f9;
}
.meetingxq-II ul li:hover{
	background: RGB(221,239,246);
}
.meetingxq-II ul li input{
	width: 15px;
	height: 15px;
	margin-left: 14px;
    margin-top: 15px;
}
.meetingxq-II ul li p{
	display: inline-block;
	position: absolute;
	left: 55px;
}
.meetingxq-II ul li em{
	position: absolute;
	right: 10px;
}
.meetiongxq-tp{
	width: 100%;
	height: 75px;
	line-height: 75px;
	text-align: center;
}
.meetingxq-II ul li img{
	margin: 15px 10px 0 30px;
}
.meetiongxq-tp span{
	display: inline-block;
	width: 175px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: RGB(92,185,91);
	color: white;
	border-radius: 5px;
	cursor: pointer;
    margin-top: 25px;
}
.meetiongxq-del{
	color: RGB(56,154,212);
	margin: 15px 20px;
	cursor: pointer;
}
.meetiongxq-del span{
	margin: 0 15px;
}
.meetiongxq-del em{
	color: white;
	background: RGB(56,154,212);
	display: inline-block;
	width: 13px;
	height: 13px;
	text-align: center;
	line-height: 13px;
	border-radius: 50%;
	font-size: 12px;
}
.meetiong-YTP{
	display: inline-block;
	height: 35px;
	float: right;
}
.meeting-TPXQ{
	display: none;
	position: fixed;
	width: 555px;
	height: 346px;
	left: 50%;
	top: 50%;
	margin-top: -173px;
	margin-left: -277.5px;
	background: white;
}
.meetiong-TPXQ-sk{
	width: 100%;
	font-size: 18px;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid RGB(225,225,225);
}
.meetiong-TPXQ-sk{
	padding-left: 25px;
}
.meetion-TPXQ-bottom em{
	margin: 15px 25px;
	display: inline-block;
}
.meetion-TPXQ-bottom ul{
	margin: 15px 25px;
}
.meetion-TPXQ-bottom ul li{
	display: inline-block;
	width: 65px;
	height: 85px;
	float: left;
	margin: 0 15px;
}
.meetion-TPXQ-bottom ul li em {
	margin: 0;
	display: inline-block;
	width: 60px;
	text-align: center;
}
#picuploadLoading{
    display: none;
}
.meetingxq-turn{
    padding-left: 50px;
    margin-top: 20px;
}
.uploadify-queue{
    display: none;
}
.users li img{
    width: 65px;
    height: 75px;
}
.zb-set-main{
    display: inline-block;
    height: 445px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.Tanchu1 {
	width: 500px;
	height: 330px;
	background: #fff;
	position: fixed;
	z-index: 2;
	top: 50% !important;
	left: 50% !important;
	margin-left: -250px;
	margin-top: -165px;
	display: none;
}

.Tanchu1 p {
	line-height: 44px;
	background: #6b6b6b;
	color: #fff;
	font-size: 16px;
	padding: 0 22px;
}

.Tanchu1 p span {
	font-size: 14px;
	width: 52px;
	height: 24px;
	border: 1px solid #cacaca;
	background: #959595;
	float: right;
	text-align: center;
	line-height: 24px;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 9px;
}

.Tanchu1 p span.QD{
	background: #ff8a00;
	border: 1px solid #ff8a00;
}

.Tanchu1 .xuanren {
	padding: 15px 20px 0;
	height: 270px;
	overflow-y: auto
}

.Tanchu1 .xuanren .Hm {
	background: #dcdcdc;
	color: #6b6b6b;
	line-height: 28px;
	padding: 0 10px;
	margin-bottom: 10px;
}

.Tanchu1 .xuanren .Hm em {
	margin-right: 10px;
}

.Tanchu1 .xuanren span {
	display: inline-block;
	width: 52px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background: #ff8a00;
	margin-bottom: 10px;
}

.Tanchu1 .xuanren ul li {
	line-height: 24px;
	padding-left: 10px;
	color: #6b6b6b;
	cursor: pointer;
}
.K1 > li {
	font-weight: bold;
}
.Tanchu1 .xuanren ul li.current {
	background: url(../images/WD.png) #dcdcdc no-repeat 440px center;
}
.meeting-YT{
    display: none;
    margin-top: 30px;
}
.YT-info{
    min-height: 50px;
    margin-bottom: 35px;
}
.meeting-YT li{
    height: 32px;
    border-bottom: 1px solid #d2d2d2;
    line-height: 32px;
    padding-left: 5px;
    position: relative;
}
.meeting-YT li em{
    position: absolute;
    left: 5px;
    top: 5px;
}
.meeting-YT li span{
    display: inline-block;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 17em;
    position: absolute;
    left: 75px;
}
.meeting-YT li i{
    display: inline-block;
    width: 3em;
    text-align: center;
    color: #389ad4;
    cursor: pointer;
}
.YT-com{
    position: absolute;
    right: 45px;
}
.YT-del{
    position: absolute;
    right: 0px;
}
.YT-ing{
    display: inline-block;
    background: #fccaba;
    border:1px solid #ff8c8a;
    border-radius: 20px;
    color:#fe8988;
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.YT-clo{
    display: inline-block;
    background: #ececec;
    border:1px solid #d1d1d1;
    border-radius: 20px;
    color:#656565;
    width: 60px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}
.YT-bottom{
    width: 100%;
    text-align: center;
}
.YT-bottom span{
    display: inline-block;
    width: 85px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: #5cb95b;
    color: white;
    border-radius: 5px;
}
.YT-popup{
    position: fixed;
    top:50%;
    left: 50%;
    width: 400px;
    height: 230px;
    margin-top: -115px;
    margin-left: -200px;
    background: white;
	display: none;
	z-index:999;
}
.YT-top{
    background:  #616161;
    height: 45px;
    line-height: 45px;
    color: white;
}
.YT-top em{
    margin: 17px;
}
.YT-top i{
    float: right;
    margin-right: 17px;
    cursor: pointer;
}
.YT-popup-info{
    margin: 45px 0px 0px 50px
}
.YT-popup-info input{
    text-indent: 0.5em;
    border:1px solid #e1e1e1;
    width: 220px;
    height: 32px;
}
.YT-popup-bottom{
    width: 100%;
    text-align: center;
    margin-top: 45px;
}
.YT-popup-bottom span{
    display: inline-block;
    width: 85px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    background: #5cb95b;
    color: white;
    border-radius: 5px;
}