.tiaojian-col{
    padding: 10px 5px;
}
.select-style{
    float: left;
}
.select-style select, .tianjian-btn select{
    width: 128px;
    height: 30px;
    border: 1px solid #ddd;
    padding-left: 5px;
    line-height: 32px;
    float: left;
    margin-right: 5px;
}
.tianjian-btn{
    float: right;
}
.tianjian-btn ul{
    float: left;
    border: #ddd 1px solid;
    line-height: 28px;
    text-align: center;
    margin-right: 6px;
}
.tianjian-btn ul li{
    width: 56px;
    float: left;
    cursor: pointer;
}
.tianjian-btn ul li.cur{
    background: #ff8a00;
    color: #fff;
}
.tianjian-btn select{
    width: 103px;
    margin-right: 0;
}
.charts-col h3{
    font-size: 28px;
    text-align: center;
    line-height: 50px;
}
.charts-list dl{
    padding: 10px;
    border-bottom: #ddd 1px solid;
}
.charts-list dt{
    line-height: 32px;
    background: #74a3f2;
    color: #fff;
    font-size: 18px;
    padding-right: 10px;
    display: inline-block;
}
.charts-list dt em{
    width: 32px;
    background: #4b86e7;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}
.charts-list dd{
    margin-top: 10px;
}
.charts-list .charts-height{
    width: 750px;
    height: 200px;
}
.huan-charts{
    width: 225px;
    float: left;
    margin-right: 20px;
}
.huan-charts span{
    width: 225px;
    height: 225px;
    display: block;
    margin: 10px 0;
}
.huan-charts ul,.charts-list .shuzi{
    width: 175px;
    margin: 0 auto;
    text-align: center;
}
.charts-list .shuzi{
    width: 100%;
}
.huan-charts ul li,.charts-list .shuzi li{
    display: inline-block;
    text-align: center;
    font-size: 17px;
}
.charts-list .shuzi li{
    padding:0 10px;
    font-size: 24px;
    line-height: 26px;
}
.huan-charts ul li em,.charts-list .shuzi li em{
    display: block;
    font-size: 40px;
    line-height: 42px;
}
.huan-charts ul li em i{
    font-size: 17px;
}
.std-list h4{
    width: 746px;
    text-align: center;
    line-height:41px;
    border: #fae0c1 1px solid;
    background: #fff1d7;
    font-size: 18px;
    color: #be843f;
    margin-top: 10px;
}
.std-list table{
    border-left:#ddd 1px solid;
    border-right:#ddd 1px solid;
}
.std-list table th, .std-list td{
    line-height: 39px;
    border-bottom: #ddd 1px solid;
    text-align: center;
    padding-left: 10px;
}
.std-list table th{
    background:#f9f9f9;
}
.std-list th em{
    background: url('../images/bg-th.png') 0 center no-repeat;
    display: block;
}
.std-list th em i{
    width: 12px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background: url('../images/icon-up.png') center center no-repeat;
    margin-left: 5px;
}
.std-list tr:nth-child(2n+1) td{
    background: url('../images/bg-td.png') 0 0 repeat-x;
}
/* 小学模块 */
.huan-charts.current{
    margin-right:0;
    margin:0 auto; 
    float:none;
}
.charts-list .shuzi i{
    font-size: 24px;
}
/* 学生首页 */
.charts-list dl .r_center{
    padding-top: 36px;
    height:264px;
    margin-bottom: 15px;
    background: url(../images/student_lsit.png) no-repeat 4px 0;
}
.charts-list dl .r_center p{
    text-align: center;
}
.charts-list dl .r_center p.rp1{
    font-size: 36px;
    color: #285684;
    line-height: 80px;
}
.charts-list dl .r_center p.rp2{
    font-size: 24px;
    line-height: 46px;
}
.charts-list dl .r_center p.rp2 span{
    font-size: 32px;
    color: #ff8a00;
}
.r_bottom .tu3_1,.r_bottom .tu3_2,.r_bottom .tu3_3{
    float: left;
    width:230px;
    height:290px;
    background: #f7f7f7;
    border:1px solid #ededed;
    margin-right: 25px;
    border-radius: 5px;
}
.r_bottom .tu3_1 .yuan1,.r_bottom .tu3_2 .yuan2,.r_bottom .tu3_3 .yuan3{
    width:230px;
    height:230px;
    border-radius: 5px;
}
.r_bottom .tu3_1 .suzi span,.r_bottom .tu3_2 .suzi span,.r_bottom .tu3_3 .suzi span{
    display: inline-block;
    border-right: 1px solid #ededed;
    width:72px;
    height:62px;
    text-align: center;
}
.r_bottom .tu3_1 .suzi span span,.r_bottom .tu3_2 .suzi span span,.r_bottom .tu3_3 .suzi span span{
    font-size:36px; 
    line-height:36px;
    height:42px;
    border-right: none;
}
.r_bottom .tu3_1 .suzi,.r_bottom .tu3_2 .suzi,.r_bottom .tu3_3 .suzi{
    border-top: 1px solid #ededed;
}
.std-list .Ipt input{
    border: 1px solid transparent;
    width: 4em;
    text-align: center;
}
.std-list .Ipt img{
    display: block;
    margin:0 auto;
    cursor: pointer;
}
.std-list .Ipt input:hover{
    border: 1px solid #dddddd;
}
.charts-list .bpn{
    float:right;
    margin-left: 6px;
    cursor: pointer;
    margin-bottom: 600px;
}
.charts-list .xinxi{
    padding-left: 50px;
    overflow: hidden;
}
.charts-list .xinxi span{
    display: inline-block;
    width:76px;
    height:30px;
    line-height: 30px;
    text-align: right;
}
.charts-list .xinxi select{
    width:220px;
    height:30px;
    border:1px solid #d1d1d1;
    margin-bottom: 15px;
    vertical-align:top;
}
.charts-list .xinxi input.txt{
    width:300px;
    height:30px;
    border:1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 15px;
    vertical-align:top;
}
.charts-list .xinxi .cc{
    float: left;
    margin-left: 13px;
}
.charts-list .xinxi .cc label{
    cursor: pointer;
    margin-right: 60px;
    margin-bottom: 10px;
    line-height: 12px;
}
.charts-list .xinxi .cc button{
    width:139px;
    height:24px;
    background:#5db85c;
    border:1px solid #3ea83d;
    color:white;
    margin-top: 5px;
    margin-bottom: 16px;
}
.bai{
    border-bottom: 1px solid white;
}
.std-list .ttbd button{
    border-radius: 5px;
    border:none;
    cursor: pointer;
    padding:2px 13px;
    color: white;
    background: #4da34e;
}
.std-list .ttbd button.del,.std-list .tess button.del{
    background: #d03736;
}
.std-list .gbb{
    margin-bottom: 500px;
}
.r_bottom_s{
    border:1px solid #ccc;
    border-radius: 5px;
    padding:12px 18px;
    margin-bottom: 20px;

} 
.r_bottom_s .kaoshi,.r_bottom_s .kaoshi1{
    height:32px;
    padding-left: 10px;
    background: url(../images/teacher_LI.png) no-repeat left center;
    line-height: 32px;
    margin-bottom: 16px;
}
.r_bottom_s .kaoshi input{
    width:320px;
    height:30px;
    border:1px solid #ccc;
    outline: none;
}
.r_bottom_s .shijian1{
    float: left;
}
.r_bottom_s .shijian1 input{
    width:150px;
    margin-right: 20px;
}
.r_bottom_s .lan-btn{
    width:140px;
    height:24px;
    color:white;
    background:  #5C9AE7;
    border:1px solid #3B84DE;
    font-size: 12px;
    cursor: pointer;
    margin-right: 14px;
}
.r_bottom_s .lv-btn{
    width:230px;
    background: #5db85c;
    border:1px solid #3ea83d;

}
.std-list .tess{
    font-size: 12px;
}
.std-list .tess button{
    border:none;
    background: #5db85c;
    color: white;
    padding:3px 13px; 
    cursor: pointer;
}

/* 小学模块结束 */


/* 老师学期成绩模块 */
.semester_grades_hd{
    height: 65px;
}
/* exam开始 */

.semester_grades_left{
    display: inline-block;
    float: left;
    background: url("../images/semester_grades_left.jpg") no-repeat;
    height: 62px;
    width: 25px;
    cursor: pointer;
}
.semester_grades_right{
    display: inline-block;
    float: right;
    background: url("../images/semester_grades_right.jpg") no-repeat;
    height: 62px;
    width: 25px;
    cursor: pointer;
}
.semester_grades_hd ul{
    font-size: 16px;
    background: #d3d3d3;
    height: 61px;
    float: left;
    width: 698px;
    text-align: center;
}
.semester_grades_hd ul li{
    float: left;
    width: 211px;
    height: 55px;
    background: #ffffff;
    border-radius: 5px;
    margin-left: 2px;
    line-height: 55px;
    color:#73a4f1;
}
.semester_grades_hd ul div{
    margin-left: 25px;
    margin-top: 3px;
}
.semester_grades_F{
    width: 211px;
    height: 55px;
    border-radius: 5px;
    margin-left: 2px;
    line-height: 55px;
    background: #73a4f1!important;
    color:#ffffff !important;
    position: relative;
}
.semester_grades_SJ{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #73a4f1;
    top: 100%;
    left: 50%;
}
