.class-list{
    padding-left: 20px;
    padding-top: 20px;
}
.class-list select{
    width: 124px;
    margin: 0 10px;
}
.add{
    line-height: 32px;
    background-color:#a3a3a3;
    float: right;
}
.add a{
    background: #ff8a00;
    padding: 6px 18px;
    color: #fff;
}
.tcommon th{
    background-color: #a3a3a3;
    font-size: 16px;
    color: #000000;
    line-height: 42px;
}
.tcommon-detail td{
    color: #000000;
    font-size: 12px;
    line-height: 42px;
}
.inHead td{
    font-size: 16px;
}
.delete,.a{
    padding:2px 4px;
    margin-right: 6px;
    border: 1px solid #a3a3a3;
}

#dormStu-view label{
    text-align: right;
    display: inline-block;
    width: 56px;

}
#dormStu-view input,#dormStu-view select{
    padding: 0px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #a3a3a3;
    margin: 0 10px;
    width: 124px;
}
#dormStu-view input{
    height: 30px;
    text-indent: 1em;
}
.pop-btn a{
    background-color: #a3a3a3;
    color: #fff;
    padding: 8px 10px;
}

.newDorm .tcommon-table{
    width: 330px;
}
.newDorm .tcommon-table textarea{
    margin-top: 8px;
    margin-left: 16px;
    width: 224px;
    height: 110px;
}
.newDorm{
    width: 390px;
}
.pop-wrap .pop-btn{
    width: 130px;
}
 .pop-btn a.save{
    margin-right: 15px;
}

.newStuDormId .newStuDorm-table,.newFloor .newFloor-table,.newLou .newLou-table{
    width: 320px;
}
.newStuDormId .pop-btn,.newFloor .pop-btn,.newLou .pop-btn{
    width: 132px;
}
 .pop-title{
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #616161;
}
.closePop{
    display: block;
    width: 36px;
    height: 36px;
    float: right;
    cursor: pointer;
    background: url('../images/closePop.png') 0 0 no-repeat;
}
#addStuId{
    width:526px;
}
#addStuId .addStuId-table{
    width: 500px;
}
.addStuId-table td{
    padding: 10px;
}
.addStuId-table input,.addStuId-table select{
    border: 1px solid #a3a3a3;
    text-indent: 8px;
    height: 30px;
    line-height: 30px;
    width: 148px;
}
.addStuId-table textarea{
    text-indent: 8px;
    height: 116px;
    width: 382px;
}
.addStuId-table .rightAlign{
    text-align: right;
}
.dormDepart .qu,.dormDepart .lou,.dormDepart .ceng{
    text-align: left;
    text-indent: 1em;
}
#dormConfig-view .quHead{
    padding-left: 48px;
    text-align: left;
    
}
.dormDepart .checkbox{
    margin-right: 16px;
    display:none;
}
.dormDepart span.label1{
    background-image: url(../images/close_03.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
.dormDepart span.label2{
    background-image: url(../images/close_06.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
.dormDepart span.label3{
    background-image: url(../images/arrow1_03.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
.qu span,.lou span,.ceng span{
    padding-left: 10px;
    display: inline-block;
    width: 150px;
}
.dormDepart span.label4{
    background-image: url(../images/close_06.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
.lou span{
    margin-left: 29px;    
}
.ceng span{
    margin-left: 58px;
}
.lou,.ceng{
    position: relative;
}
.lou .l,.ceng .l{
    display: inline-block;
    background-image: url(../images/l.png);
    background-repeat: no-repeat;
    /*background-position: 0px ;*/
    width: 24px;
    height: 32px;
    position: absolute;
    left: 17px;
    top:-6px;
}
.ceng .l{
    left: 46px;
}
.dormDepart .rightAlign{
    text-align: right;
}
.addFloor,.addCeng{
	text-align:center;
    display: inline-block;
    padding: none;
    width: 90px;
    height: 20px;
    line-height: 20px;
}
.objects1,.objects2{
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#obj1,#obj2{
    padding:2px 10px;
    text-align: left; 
    text-align: 5px;
    position: absolute;
    margin-top:8px;
    margin-left:50px;
    display: none;
    border: 1px solid silver;
    
   /* background: silver;*/

}
.gray-table-box .gray-table-body{
	float: left;
	height:auto;
    /* height: 500px; */
}
.line{
	display: inline-block;
    background-image: url(../images/line_03.png);
    background-repeat: no-repeat;
    /*background-position: 0px ;*/
    width: 24px;
    height: 32px;
    position: absolute;
    left: 17px;
    top:-6px;
}
.hideLou{
	display:none;
}
.hideCeng{
	display:none;
}
.newDorm .tcommon-table input{
    border: 1px solid #a3a3a3;
    margin-left: 16px;
    width: 224px;
    height:26px;
}
.newDorm .tcommon-table select{
    border: 1px solid #a3a3a3;
    margin-left: 16px;
    width: 224px;
    height:30px;
}
.addStuId-table input{
    border: 1px solid #a3a3a3;
    text-indent: 8px;
    height: 26px;
    line-height: 30px;
    width: 148px;
}
.addStuId-table select{
    border: 1px solid #a3a3a3;
    text-indent: 8px;
    height: 30px;
    line-height: 30px;
    width: 148px;
}
.qu span.label1{
    
    padding-left: 10px;
    display: inline-block;
    width: 150px;
    
    background-image: url(../images/close_03.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
   
}
.lou span,.ceng span{
    
    padding-left: 10px;
    display: inline-block;
    width: 200px;
    
    background-image: url(../images/close_03.png);
    background-repeat: no-repeat;
    background-position: 0px 10px;
}
.lou span.label2,.ceng span.label3{
    background-image: url(../images/close_06.png);
}
.dormDepart .rightAlign{
    /*text-align: right*/
    padding-right:19px;
}
.addFloor{
    display: inline-block;
    padding: none;
    width: 90px;
    height: 20px;
    line-height: 20px;
}
.addFloor,.addCeng{
	text-align:center;
    display: inline-block;
    padding: none;
    width: 90px;
    height: 20px;
    line-height: 20px;
}
.objects{
    cursor: pointer;
}
#dormList .equipment{
	line-height:18px;
	padding:2px 5px;
	cursor: pointer;
}
.gray-table-box .gray-table-body{
	overflow-y:hidden;
	height:auto;
}
.louSelect{
	width:157px;
}
.cengSelect{
	width:157px;
}
.gray-table-body .grade{
	text-indent: 5px;
	line-height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.new-page-links{
	display:inline-block;
    margin: 20px auto;
    width: initial; 
}
.fenye{
	text-align:center;
}

#dormList .deldorm{
	margin-right: 0px;
}
.none{
	border-right:none;
}
.solid{
	border-right:#a0a0a0 1px solid;
}
.addDorm,.addStuDorm,.addInRecord{
	background:#ff8a00;
}
.add{
	background:#fff;
}
.seldian{
	color:red;
	margin-left:2px;
}
.inpdian{
	color:red;
	margin-left:4px;
}
#stuNoLabelId{
	margin-left: -2px;
}