/* 
* @Author: Tony
* @Date:   2015-09-11 10:20:51
* @Last Modified by:   Tony
* @Last Modified time: 2015-12-23 16:50:04
*/
button{
    cursor: pointer;
}

.col-right{
    position: relative;
}

/************导航栏************/
.top-nav{
    border-bottom: 1px solid #5CB95B;
    height: 39px;
    margin:5px 0;
}

.top-nav li{
    position: relative;
    top: 1px;
    float: left;
    width: 134px;
    height: 38px;
    border:1px solid #5CB95B;
    border-bottom: none; 
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    background: #5CB95B;
    margin-right: 2px;
    cursor: pointer;
}

.top1{
    background: #fff !important;
    color: #5CB95B !important;
}



.top-sx{
    height: 43px;
}

.top-sx li{
    float: left;
    position: relative;
    top: 5px;
    border: 2px solid #E5E5E5;
    width: 133px;
    height: 38px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    margin-right: 2px;
    cursor: pointer;
    border-bottom: none;
    transition: 0.3s;
}

.top2{
    border-top: 2px solid #FEAC00 !important;
    background: #fff !important;
    color: #FFB422;
}
/* .top-sx li:hover{
    border-top: 2px solid #FEAC00;
    background: #fff;
    color: #FFB422; 
    box-shadow: 0 0 1px #e3e3e3;
}  */

.sx-search{
    width: 170px;
    height: 27px;
    border: 1px solid #3D88C4;
    float: right;
    padding-left: 10px;
    margin-top: 3px;
    line-height: 23px;
    border-radius: 3px;
}
.sx-search input{
    height: 25px;
    border: none;
    width: 135px;
    vertical-align: middle;
}

.sx-search span{
    display: inline-block;
    width: 26px;
    height: 25px;
    vertical-align: middle;
    background: url(../images/x-search.png)no-repeat 0px 3px;
    cursor: pointer;
    border-radius: 2px;
}


.sx-search:hover{
    box-shadow: 0 0 2px #3D88C4;
}

.dl-sx{
    border: 2px solid #E5E5E5;
    line-height: 40px;
}

.dl-sx dd{
    min-height: 40px;
    padding-left: 19px;
}

.sx-list{
    display: inline-block;
    width: 685px;
    line-height: 30px;
    padding: 5px 0 0 5px;
}

.sx-list span{
    display: inline-block;
    padding:0 6px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.top3{
    background: #FCAB00;
    color: #fff;
}

.sx-list span:hover{
    background: #FCAB00;
    color: #fff;
}

.dl-sx dd .span1{
    display: inline-block;
    color: #FEAC00;
    padding-right: 15px;
    border-right: 1px solid #555;
    height: 15px;
    line-height: 15px;
    vertical-align: top;
    margin-top: 13px;
}

.ti-list{
    border: 1px solid #A1A1A1;
    margin-top: 15px;
    padding:15px 20px;
}

.ti-list div>img{
    max-width: 680px;
}

.ti-top{
    height: 25px;
}

.ti-top span{
    display: inline-block;
    line-height: 25px;
}

.ti-span1 {
    width: 320px;
}

.ti-span2{
    width:100px;
}

.ti-top button{
    float: right;
    width: 65px;
    height: 23px;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.ti-top .btn-bj,.ti-top .btn-ts{
    background: #FEAC00;
    color: #fff;
    border: 1px solid #FEAC00;
}

.ti-top .btn-bj:hover,.ti-top .btn-ts:hover{
    background: #fff;
    color: #FEAC00;
}

.btn-x{
    border: 1px solid #7D7D7D;
    background: #fff;
    color: #7D7D7D;
}

.btn-x:hover{
    background: #7d7d7d;
    color: #fff;
}

.sx-cont2{
    display: none;
}
/******************教材目录、推送上传************/
.float-right{
    position: absolute;
    right: -197px;
    top: 53px;
    cursor: default;
}

.ml-list{
    width: 163px;
    height: 225px;
    border: 1px solid #e5e5e5;
    padding:10px 10px 5px;
    margin-bottom: 18px;
}

/* .ml-top{
    text-align: center;
} */
.ml-top{
    margin-bottom: 10px;
}
.ml-top a{
    font-size: 18px;
    border-bottom: 2px solid #FEAB02;
}

.ml-top a:hover{
    color: #333;
}

.ml-dl{
    overflow-y:auto; 
    line-height: 37px;
    height: 202px;
}

.ml-title{
    font-size: 13px;
    color: #FEB741;
    border-bottom: 1px solid #CCC;
    padding:0 20px 0 5px;
    background: url("/images/arrow-left.png") no-repeat 128px 7px;
    cursor: pointer;

}

#chapter dd{
    line-height: 21px;
}

.ml-ul{
    line-height: 25px;
    display: none;
}

.ml-ul li{
    padding:0 5px;
    transition: 0.2s;
    cursor: pointer;
}

.ml-ul li:hover{
    background: #CCC;
    color: #fff;
}

.arrow-down{
    background: url("/images/arrow-down.png") no-repeat 128px 10px;
}

.img-sc img{
    cursor: pointer;
}


/*****************编辑上传页面***************************/
.e-contain{
    padding-left: 10px;
}

.e-cont1{
    border-bottom: #575757 1px solid;
    line-height: 49px;
    height: 49px;
    font-size: 18px;
}

.e-cont1 em{
    float: right;
    font-size: 14px;
    cursor: pointer;
    margin:10px 20px 0 0;
}

.e-cont1 em:hover{
    color: #FDA715 ;
    text-decoration: underline;
}

.e-cont2{
    padding:15px 3px;
    line-height: 35px;
}

.e-cont2 span{
    display: inline-block;
    width: 81px;
}

.e-cont2p{
    margin-left:104px;
}

.e-cont2s{
    margin-right:106px;
}

.e-cont2 select,.e-cont3-2 select{
    width: 164px;
    padding:0 6px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #898989;
    border-radius: 3px;
}

.e-cont2 select option,.e-cont3-2 select option{
    padding:0 9px;
}

.e-cont3{
    margin-bottom: 25px;
}

.e-cont3-1{
    line-height: 34px;
    height: 34px;
    color: #7E7E7E;
    border-bottom: 1px solid #B8B8B8;
}

.e-cont3-1 span{
    float: right;
    color: #FD433F;
}

.e-cont3-2{
    float: left;
    width: 360px;
    height: 275px;
}

.e-cont3-2 dl{
    line-height: 41px;
}

.e-dd1{
    color: #FF8A00;
}

.e-cont3-2 dl dd span{
    display: inline-block;
    width: 85px;
}

.e-cont4{
    width: 192px;
    height: 45px;
    border: 1px solid #FD8B00;
    margin:25px auto;
    line-height: 45px;
    text-align: center;
    color: #FD8B00;
    font-size: 17px;
    cursor: pointer;
    border-radius: 4px;
}

.e-cont4:hover{
    color: #fff;
    background: #FD8B00;
}

.e-cont5{
    margin:25px 0;
}

.xz-add,.tk-add,.pd-add,.zg-add{
    float: right;
    width: 71px;
    height: 29px;
    color: #FD8B00;
    border:1px solid #FD8B00;
    background: #fff;
    border-radius: 3px;
    padding:0 !important;
}

.xz-add:hover,.tk-add:hover,.pd-add:hover,.zg-add:hover{
    background: #FD8B00;
    color: #fff;
}

.an-xzt{
    display: inline-block;
    min-height: 19px;
    line-height: 25px;
    width: 97%;
    padding:10px 10px;
    border:1px solid #AAAEB2;
    margin:10px 0; 
    position: relative;
}

.an-xzt label{
    display: inline-block;
    margin-right: 12px;
}

.an-xzt span{
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;
    margin-left: 12px;
    cursor: pointer;
}

.e-cont5 .del{
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    vertical-align: middle;
}

.an-xzt span.add{
    background: url("/images/an-add.png");
}
.an-xzt span.cut{
    background: url("/images/an-cut.png");
}
span.del{
    background: url("/images/an-del.png");
}

.tk-input{
    width: 737px;
    border:1px solid #AAAEB2;
    height: 32px;
    padding:0 10px;
    margin:10px 0;
}

.tk-input1{
    width: 700px;
    border:1px solid #AAAEB2;
    height: 32px;
    padding:0 10px;
    margin:0 0 10px;
}

.pd-pd{
    display: inline-block;
    width: 737px;
    border:1px solid #AAAEB2;
    padding:5px 10px;
    margin:10px 0;
}

.pd-pd label{
    display: inline-block;
    margin-right: 12px;
}


.pd-pd1{
    display: inline-block;
    width: 700px;
    border:1px solid #AAAEB2;
    padding:5px 10px;
    margin:0 0 10px 0;
}

.pd-pd1 label{
    display: inline-block;
    margin-right: 12px;
}

/********************上传题目********************/
.e-cont12 dl{
    line-height: 45px;
}

.e-cont12 dl .dd1{
    font-size: 15px;
}

.e-cont12 dl button{
    height: 35px;
    padding:0 12px;
    border-radius: 4px;
}

.btn-add, .btn-del{
    border: 1px solid #959595;
    background: #E5E5E5;
}

.btn-add:hover,.btn-del:hover{
    border: 1px solid #E5E5E5;
    background: #959595;
    color: #fff;
}

.btn-wc{
    border:1px solid #FF8B00;
    background: #FF8B00;
    color: #fff;
    float: right;
}

.btn-wc:hover{
    background: #fff;
    color: #FF8B00;
}

.e-contab{
    margin:15px 0 0;
}

.e-contab td{
    border:2px solid #595959;
    width: 52px;
    line-height: 28px;
    text-align: center;
}

.e-contab tr .gou{
    background:url("/images/gou.png") no-repeat 17px 7px;
}

.td-bg{
    background: #FF8B00 !important;
    color: #fff;
}

/*******保存按钮****/
.btn-bc{
    cursor: pointer;
    background: #FF8B00;
    color: #fff;
    padding: 4px 22px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

/*******************上传页面*********************/
.up-cont{
    padding:10px 0 20px 10px;
    border:1px solid #DDD;
}

.up-cont1{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #797979;  
    font-size: 16px;
}

.up-cont2 .span2{
    display: inline-block;
    width: 100px;
    height: 31px;
    background: #A5A5A5;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 31px;
    border-radius: 5px;
    border: 1px solid #A5A5A5;
}

.up-cont2 .span2:hover{
    color:#A5A5A5;
    background: #fff; 
}

.up-cont2 span{
    margin-right: 20px;
}

.up-cont2 dd{
    padding:10px 0;
    line-height: 35px;
}

.up-cont2 input{
    width: 286px;
    height: 32px;
    border:1px solid #ddd;
    border-radius: 5px;
}

.up-cont2 em{
    position: relative;
    top: 26px;
    left: -288px;
    font-size: 12px;
    color: red;
}

.up-cont2 button{
    width: 112px;
    height: 32px;
    color: #fff;
    background: #FDA715;
    border: 1px solid #FDA715; 
    border-radius: 5px;
    margin:15px 0 0 66px;
}
.up-cont2 button:hover{
    background: #fff;
    color: #FDA715;
}

/*******************上传通知*********************/
.wind-up{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -195px;
    margin-top: -100px;
    width: 390px;
    height: 200px;
    background: #FFF none repeat scroll 0% 0%;
    cursor: default;
    z-index: 2;
}

.tc-top em{
    float: right;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.span-zz{
    display: inline-block;
    width: 49px;
    height: 49px;
    background: url("/images/zz.png");
    position: absolute;
    top: 90px;
    left: 93px;
    animation: spin 1.3s linear infinite;
}
    @keyframes spin {
    0% {
        transform:rotate(0deg);
     }
     100% {
        transform:rotate(360deg);
     }
    }

.wind-up2{
    position: relative;
}

.span-wait{
    font-size: 16px;
    display: inline-block;
    margin: 54px 0px 0px 154px;
}

/*****************推送提示弹窗*******************/
.wind-tc,.wind-tccg{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -195px;
    margin-top: -100px;
    width: 390px;
    height: 200px;
    background: #fff;
    cursor: default;
    z-index: 2;
}

.tc-top{
    height: 49px;
    line-height: 49px;
    padding-left: 15px;
    background: #546FB4 ;
    color: #fff;
    font-size: 16px;
}

.tc-cont1{
    height: 80px;
    background: url("/images/jinggao.jpg") no-repeat;
    text-align: center;
    line-height: 80px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.tc-cont2 .btn-ok{
    color: #FFF;
    border-radius: 4px;
    padding: 4px 0;
    width: 78px;
    background: #FF7900;
    margin:15px 10px 0 100px;
    border: 1px solid #FF7900;
}

.tc-cont2 .btn-ok:hover{
    background: #FFF;
    color: #FF7900;
}

.tc-cont2 .btn-no{
    color: #7D7D7D ;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    padding: 4px 0;
    width: 78px;
    background: #fff;
    margin:15px 10px 0 10px;
}

.tc-cont2 .btn-no:hover{
    background: #7D7D7D ;
    color: #fff;
}

.e-cont3-1 em{
    border: #ff4343 1px solid;
    padding: 2px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.tr1 td{
    cursor: pointer;
}


/****************背景st******************/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}