.classlist h3 {
    border-left: 3px solid #FF7F00;
    line-height: 20px;
    color: #666;
    padding-left: 10px;
    margin: 20px 0;
}

.classlist select {
    width: 170px;
    height: 32px;
    border: 1px solid #ccc;
}

#terms {
    width: 250px;
    height: 32px;
    border: 1px solid #ccc;
}

.classlist table {
    margin: 10px 0;
}

.classlist table th {
    background: #A0A0A0;
    color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
}

.classlist table td {
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
}

.classlist table .th1 {
    width: 156px;
}

.classlist table .th2 {
    width: 108px;
}

.classlist table .th3 {
    width: 91px;
}

.classlist table .th4 {
    width: 85px;
}

.classlist table .th5 {
    width: 148px;
}

.classlist table .th6 {
    width: 98px;
}

/*heademaster*/
.classmasterlist table {
    float: left;
}

.classmasterlist .tableleft {
    width: 222px;
}

.classmasterlist .divright {
    width: 676px !important;
    overflow: auto;
}

.classmasterlist .tableright th {
    width: 172px;
}

.div-classnm {
    width: 130px;
    height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.classmasterlist table th {
    height: 35px;
    line-height: 35px;
    background: #ccc;
    border: 1px solid #999;
    font-weight: normal;
    min-width: 130px;
}

.classmasterlist table td {
    height: 26px;
    line-height: 25px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #999;
}

.width172 {
    width: 172px;
}

.classmasterlist select {
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
}

.classmasterlist .s1 {
    width: 248px;
}

.classmasterlist .s2 {
    width: 178px;
    margin-left: 15px;
}

.fc_button {
    display: inline-block;
    width: 94px;
    text-align: center;
    background: #fda616;
    color: #fff;
    height: 32px;
    cursor: pointer;
}

.nodata {
    margin-left: 233px;
}