.score-table-container {
    margin: 30px 0;
}

.score-table-container table {
    text-align: center;
    width: 100%;
    border-left: 1px solid #EDEEF2;
}

.score-table-container th {
    text-align: center;
    background: #CFE7B3;
    font-weight: bold;
    font-size: 16px;

}

.score-table-container th, .score-table-container td {
    border-right: 1px solid #EDEEF2;
    border-bottom: 1px solid #EDEEF2;
}

.score-table-container td {
    font-size: 14px;
    color: #9797A1;
    font-weight: normal;
}

.score-table-container tr {
    height: 40px;
}

.score-table-container tr:nth-child(2n + 1) {
    background: #F7FAFF;
}

.score-table-container.small th,.score-table-container.small td {
    font-size: 12px;
}

.score-table-container.small tr {
    height: 30px;
}

.score-table-container.small {
    width: 350px;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}