.video-list-container {
    margin: 10px 0 0 20px;
}

.video-list-container div {
    overflow: hidden;
}

.video-container {
    margin: 10px 20px 0 0;
    float: left;
}

.video-container .image-div {
    position: relative;
}
.video-container .video-name {
    text-align: center;
    color: #666666;
    margin-top: 5px;
    word-wrap: break-word;
    width: 138px;
    height: 17px;
    line-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video-container a div {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    display: none;
}

.bg-img{
    display: none;
    background-color: #000;
    width: 100%;
    height: 78px;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

.video-container:hover .bg-img{
    display: block;
}



.video-container:hover a div {
    display: block;
}

.video-container a.move-left div {
    background: url('/img/K6KT/video-list-control.png') no-repeat;
    left: 5px;
}
.video-container a.delete div {
    background: url('/img/K6KT/video-list-control.png') no-repeat -44px 0;
    left: 50%;
    margin-left: -12px;
}
.video-container a.move-right div {
    background: url('/img/K6KT/video-list-control.png') no-repeat -88px 0;
    right: 5px;
}

#video-upload-section {
    display: none;
}

#course-name {
    border: 1px solid #dddddd;
    margin-top: 5px;
}
.content-basic dl dd{
    overflow: visible;
}
.content-basic #content{
    border: 1px solid #DDDDDD;
    width:600px;
    height:80px;
    font-size: 15px
}