/*
* @Author: Tony
* @Date:   2016-11-30 10:33:26
* @Last Modified by:   Tony
* @Last Modified time: 2016-12-01 15:55:49
*/
/* css初始化 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#444; font-size:14px; font-family:Microsoft YaHei, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
i{font-style:normal;}
button{cursor:pointer;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
pre{white-space: pre-wrap;word-wrap: break-word;}
.fl{float:left;}
.fr{float:right;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1;}

.train-container {
    width: 1250px;
    margin: 0 auto !important;
}
.top-city{
	height: 52px;
}
.top-city>img{
	float: left;
	margin: 18px 0 0 0;
}
.top-city button{
	float: right;
	height: 31px;
	padding: 0 ;
	width: 101px;
	border: 1px solid #FF6815;
	color: #FF6815;
	background: #fff;
	border-radius: 5px;
	margin: 9px 0 0 10px;
}
.city {
	width: 180px;
	_width: 180px;
	float: left;
	margin: 15px 0 0 10px;
}

.city .city-name {
	font: normal 14px 微软雅黑;
	vertical-align: -2px;
	color: #FF5A00;
	_vertical-align: -3px;
	height: 22px;
	line-height: 22px;
}

.red {
	color: #C9033B;
	font: normal 17px 微软雅黑;
}

.red,a.red {
	color: #C9033B;
}

.Left {
	float: left;
}

.city-select {
	height: 30px;
	margin-right: 5px;
	position: relative;
	z-index: 32;
	width: 90px;
}
.city-select:hover .d-traing{
	display: block;
}
.city-select:hover .hide_city_group{
	display: block;
}

.city-select .selector {
	width: 59px;
	height: 18px;
	line-height: 18px;
	padding-left: 9px;
	margin-left: 12px;
	margin-top: 2px;
	color: #717171;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	background-position: -58px -79px;
	border-left: 1px solid #666;
}

.d-traing{
	display: none;
	position: absolute;
	top:20px;
	left: 33px;
	z-index: 1;
	width: 17px;
	height:9px;
	background: url("/static/images/train/down-train1.png");
}
.hide_city_group {
	display: none;
	padding: 10px;
	width:305px;
	border:#dcdcdc;
	background: #fff;
	position: absolute;
	top: 27px;
	left: 14px;
	border:1px solid #dcdcdc;
	box-shadow: 1px 1px 2px #ccc;
}
.hide_city_group>div{
	float: left;
	width: 60px;
	padding: 2px 0;
}
.a-selected{
	background-color: #FF5A00;
	color: #fff;
}

.city-select .hideMap {
	width: 400px;
	padding: 10px 15px;
	border: solid 1px #FF5A00;
	background: #FFF;
	position: absolute;
	left: 7px;
	top: 32px;
	display: inline;
	box-shadow: 1px 2px 5px #666;
	color: #444;
}


.mt10 {
	margin-top: 10px;
}


.train-nav{
	height: 51px;
	line-height: 51px;
	background: #38CB9A;
	position: relative;
}
.train-nav>span{
	float: left;
	font-size: 21px;
	height: 51px;
	line-height: 51px;
	font-weight: bold;
	color: #fff;
	padding: 0 20px;
	transition: all .3s ease;
	cursor: pointer;
	margin-right: 1px;
}
.hide_city_group > div a{
	text-decoration: none;
	line-height:24px;
	height: 24px;
	padding:0 8px;
	display: inline-block;
}
.train-nav>span:hover{
	background: #23B182;
}
.cur1{
	background: #23B182;
}
.train-nav>button{
	float: right;
	width: 72px;
	height: 33px;
	background: #DEDEDE;
	border-radius: 0 5px 5px 0;
	border: none;
	margin: 10px 20px 0 0 ;
}
.train-nav>input{
	float: right;
	width: 209px;
	height: 33px;
	background: #fff;
	border: none;
	margin: 10px 0 0 0 ;
	padding-left: 5px;
}
.train-nav>select{
	float: right;
	width: 85px;
	height: 33px;
	background: #fff;
	border-radius: 5px 0 0 5px;
	border: none;
	margin: 10px 0 0 0 ;
	text-align: center;
	padding-left: 5px;
	cursor: pointer;
}
.train-nav .select-arrow{
	position: absolute;
	top: 10px;
	right: 300px;
	width: 19px;
	height: 33px;
	background: url('/static/images/train/select_arrow.png');
	cursor: pointer;
}
.train-type{
	border: 1px solid #EAEAEA;
	margin: 14px 0;
	padding: 0 15px;
}
.train-type>div{
	padding: 15px 0 10px;
}
.train-type  .d1f{
	border-bottom: 1px solid #EAEAEA;
}
.train-type .dl{
	float: left;
	width: 175px;
	height: 25px;
}
.train-type .dr{
	float: right;
	width: 1042px;
}
.train-type .d1f .sp1{
	float: left;
	width: 75px;
	background: url('/static/images/train/train_type.png') 0 6px no-repeat;
	text-align: center;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid #EAEAEA;
	margin-right: 19px;
}
.train-type .d2f .sp1{
	float: left;
	width: 75px;
	background: url('/static/images/train/location02.png') 0 5px no-repeat;
	text-align: center;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid #EAEAEA;
	margin-right: 19px;
}
.train-type .dr>p{
	float: left;
	width: 109px;
	height: 25px;
	margin-bottom: 5px;
}
.train-type span{
	float: left;
	height: 25px;
	padding: 0 12px;
	line-height: 25px;
	cursor: pointer;
	transition: all .3s ease;
}
.train-type span:hover{
	background: #FF8400;
	color: #fff;
}
.cur2{
	background: #FF8400;
	color: #fff;
}
.p-page{
	float: right;
	width: 59px;
	height: 11px;
	line-height: 11px;
	text-align: center;
	font-size: 11px;
	background: url('/static/images/train/page.png');
	margin: 15px;
}
.p-page em{
	color: red;
}
.p-page .i1{
	float: left;
	width: 6px;
	height: 11px;
	cursor: pointer;
}
.p-page .i2{
	float: right;
	width: 6px;
	height: 11px;
	cursor: pointer;
}
.lesson-menu{
	height: 41px;
	background: #F5F5F5;
	border: 1px solid #DFDFDF;
	margin-bottom: 14px;
}
.lesson-menu span{
	float: left;	
	padding: 0 19px;
	height: 41px;
	line-height: 41px;
	cursor: pointer;
}
.cur3{
	color: #FF4883;
	background: #fff;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #DFDFDF;
	border-left: 1px solid #DFDFDF;
}
.bln{
	border-left: none !important;
}
.lesson-list{
	width: 1262px;
	margin-bottom: 30px;
}
.lesson-list li{
	float: left;
	width: 238px;
	height: 263px;
	border: 1px solid #E5E5E5;
	margin: 0 12px 13px 0;
	cursor: pointer;
}
.lesson-list li>img{
	display: block;
	width: 218px;
	height: 163px;
	margin: 10px auto 0;
}
.lesson-list li .name{
	margin: 7px 10px;
	line-height: 22px;
	height: 44px;
}
.lesson-list li .range{
	margin: 0px 0px;
	line-height: 22px;
	height: 10px;
}
.lesson-list li .star{
	height: 31px;
	margin: 0 10px;
	border-top: 1px solid #E5E5E5;
}
.lesson-list li .star span{
	float: right;
	width: 30px;
	text-align: right;
	line-height: 31px;
	height: 31px;
	color: #777;
}
.lesson-list li .star p{
	float: right;
	width: 155px;
	height: 31px;
}
.lesson-list li .star p img{
	float: right;
	margin:  8px 0 0 4px;
}
.long-location{
	height: 46px;
	line-height: 46px;
	color: #888;
	font-size: 13px;
}
.train-left{
	width: 779px;
	float: left;
}
.train-right{
	width: 300px;
	float: right;
}
.train-intro{
	height: 240px;
	background: #fff;
	overflow: hidden;
}
.train-intro>img{
	float: left;
	width: 266px;
	height: 200px;
	margin: 20px;
}
.gray-cont{
	background: #F5F5F5;	
}
.intro-txt{
	float: right;
	width: 470px;
	height: 239px;
	position: relative;
}
.intro-txt .p1{
	height: 22px;
	line-height: 22px;
	font-size: 20px;
	margin: 20px 0 0 0;
}
.intro-txt .p2 .sp1{
	float: left;
	width: 70px;
	line-height: 20px;
	color: #999;
}
.intro-txt .p2 .sp2{
	float: right;
	width: 397px;
	line-height: 20px;
}
.intro-txt .p2{
	margin: 3px 0;
	line-height: 20px;
}
.intro-star{
	position: absolute;
	left: 0;
	bottom: 20px;
	height: 16px;
	width: 452px;
}
.intro-star>p{
	float: left;
	line-height: 16px;
	margin-right: 6px;
}
.intro-star>p img{
	float: left;
	margin: 2px 3px 0 0; 
}
.intro-star>img{
	float: right;
}
.train-detail{
	padding: 7px 20px 30px;
	background: #fff;
	margin-top: 19px;
}
.fixed-r{
	position: fixed;
	top: 16px;
	left: 50%;
	margin-left: 250px;
}
.train-detail .nav{
	height: 43px;
	border-bottom: 1px solid #E6E6E6;
}
.train-detail .nav span{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 36px;
	font-size: 16px;
	padding: 0 4px;
	cursor: pointer;
}
.train-detail .nav span em{
	color: #999 !important;
}
.cur4{
	border-bottom: 4px solid #36CA98;
	font-weight: bold;
	color: #36CA98;
}
.train-infor{
	padding: 12px;
}
.train-detail .h3-intro{
	height: 40px;
	line-height: 40px;
	color: #777;
	font-size: 18px;
}
.train-map{
	height: 240px;
	margin-bottom: 19px;
	background: #fff;
	position: relative;
}
.full-map{
	display: none;
	position: fixed;
	top:50%;
	left:50%;
	margin-top: -240px;
	margin-left: -450px;
	width: 900px;
	height:480px;
	background: #fff;
	z-index: 1003;
}
.full-map .p-x{
	height:30px;
}
.full-map .p-x em{
	float: right;
	font-size:24px;
	margin:3px 6px 0 0;
	cursor: pointer;
}
.sear{
	position: absolute;
	width: 17px;
	height:17px;
	right: 7px;
	bottom: 9px;
	background: url("/static/images/train/sear.png") no-repeat -120px -60px;
	z-index: 1;
	cursor: pointer;
}
.sear:hover{
	background: url("/static/images/train/sear.png") no-repeat -120px -90px ;
}
.train-hot{
	padding: 7px 20px;
	background: #fff;
}
.train-hot .nav{
	height: 43px;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 20px;
}
.train-hot .nav span{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-right: 36px;
	font-size: 16px;
	padding: 0 4px;
}
.ul-hotrain li{
	margin: 0 0 14px;
}
.ul-hotrain li>img{
	float: left;
	width: 97px;
	height: 63px;
}
.ul-hotrain li .hot-infor{
	float: right;
	width: 155px;
	height: 63px;
}
.ul-hotrain li .hot-infor p{
	margin-bottom: 6px;
	line-height: 19px;
	font-size: 13px;
}
.ul-hotrain li .hot-infor p img{
	float: left;
	margin: 2px 3px 0 0;
}
.ul-hotrain li .hot-infor p span{
	float: left;
	font-size: 12px;
	margin-left: 4px;
}
.train-pj{
	/*display: none;*/
}
.jg-infor{
	line-height: 25px;
	letter-spacing: .5px;
}
.train-pj .pj-cont{
	width: 693px;
	height: 113px;
	margin: 24px 0 40px 43px;
	border: 1px solid #CDCDCD;
	position: relative;
}
.train-pj .pj-cont .pj-tit{
	position: absolute;
	top: 0;
	left: -43px;
	width: 40px;
	height: 16px;
}
.train-pj .pj-cont textarea{
	height: 75px;
	width: 670px;
	display: block;
	margin: 0 auto;
	padding: 3px 6px;
	resize: none;
	border: none;
}
.train-pj .pj-cont button{
	position: absolute;
	width: 74px;
	height: 27px;
	color: #fff;
	background: #36CA98;
	border: none;
	right: 0;
	bottom: -37px;
}
.star-pj{
	margin: 0 20px;
	border-top: 1px solid #CDCDCD;
	height: 31px;
	line-height: 31px;
}
.star-pj p{
	float: left;
}
.ul-train-pj li{
	margin: 0 0 0 94px;
	border-bottom: 1px dashed #dcdcdc;
	padding: 20px 0;
	position: relative;
}
.ul-train-pj li>img{
	position: absolute;
	top: 21px;
	left: -100px;
	width: 66px;
	height: 66px;
	border-radius: 100%;
}
.ul-train-pj li p{
	line-height: 23px;
	margin-bottom: 3px;
	word-break: break-all;
}
.ul-train-pj li .p1{
	color: #555;
}
.ul-train-pj li p span{
	margin-left: 4px;
}
.ul-train-pj li p img{
	float: left;
	margin: 4px 3px 0 0;
}
#p-star{
	width: 100px !important;
	margin-left: 10px;
}
#p-star img{
	position: relative;
	top:1px;
}

/**分页**/
#mapContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 301px;
	height: 241px;
}
.new-page-links {
	width: 540px;
	margin: 17px 26% 3px;
	height: 42px;
}

.new-page-links li {
	list-style: none;
	float: left;
	line-height: 30px;
	border: #dcdcdc 1px solid !important;
	color: #000a25;
	background: #fff;
	/* padding: 0 10px;*/
	font-size: 12px !important;
	width: 30px !important;
	height: 30px !important;
	text-align: center
}

.new-page-links li a {
	display: block;
}

.new-page-links li.first {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-right: 5px;
	padding: 0 4px;

}

.new-page-links li.last {
	padding: 0 4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right: #dcdcdc 1px solid;
	margin-left: 5px;
}

.new-page-links li:hover {
	background: #ddd;
}

.new-page-links li a:hover {
	color: #000a25;
}

.new-page-links li.active {
	background: #f0f0f0;
	color: #9d9f9e;
}

.new-page-links li.active a {
	cursor: default !important;
	color: #9d9f9e;
}

.new-page-links li.disabled, .new-page-links li.disabled a {
	color: #999;
	background-color: #fff;
	border-color: #ddd;
	cursor: not-allowed;
}