/* 
* @Author: Tony
* @Date:   2015-08-14 14:08:03
* @Last Modified by:   Tony
* @Last Modified time: 2015-08-18 18:10:16
*/
.tab-col {
	border:1px solid #e5e5e5;
}
a.kaishi ,a.kaishi1{
	color:#fff;
	width:110px;
	height:40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	display: block;
	margin:0 auto;
	background: #ff8a00;
    float: left;
}



.allKecheng,
.bsxq h4 {
	margin-bottom: 20px;
	height:30px;
	line-height: 30px;
}

.allKecheng select,
.bsxq h4 select {
	min-width: 95px;
	float: right;
	margin:0;
}

.allKecheng span,
.bsxq h4 span {
	font-size: 18px;
	color: #ff8a00;
	font-weight: 400;
}

/* 初始页面开始 */
.start {
	padding:80px 0; 
	text-align: center;
	font-size: 18px;
}
.start p {
	color: #737373;
	margin-bottom: 25px;
}
/* 初始页面结束 */

/* 比赛列表开始 */
.bisailist {
	padding:25px;
}
.bisailist .liebiao {
	border-top:1px solid #e5e5e5;
	margin:20px 0;
	padding-top: 20px;
}
.bisailist .liebiao li {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	width:230px;
	float: left;
	margin-right: 14px;
	padding-bottom: 10px;
}
.bisailist .liebiao li:nth-child(3n) {
	margin-right:0;
}
.bisailist .liebiao li img {
	display: block;
	width:230px;
	height:165px;
}
.bisailist .liebiao li p {
	padding-top: 10px;
	color: #474747;
}
.bisailist .liebiao li span {
	font-size: 12px;
	color: #a4a4a4;
}
.bisailist .fenye {
	text-align: center;
}
.bisailist .fenye a {
	border:1px solid #e1e1e1;
	border-radius: 3px;
	width:50px;
	line-height: 30px;
	display: inline-block;
	font-size: 12px;
	color: #000;
}
.bisailist .fenye a.current {
	background: #049ee4;
	border:1px solid #049ee4;
	color:#fff;
	cursor: text;
}
.bisailist .fenye a.more {
	border:none;
	width:12px;
	cursor: text;
}
.bisailist .fenye a.kuan {
	width:65px;
}
/* 比赛列表结束 */

/* 发起比赛开始 */
.faqibisai {
	padding:0 25px 50px;
}

.tab-col ul li button{
	background: white;
	border:1px solid #dddddd;
	height:35px;
	width:115px;
	cursor:pointer;
	line-height: 31px;
}
.tab-col ul li button span{
	font-size:20px;
	font-weight: bold;
}
.tab-col ul li dl{
	display: block;
	width: 100%;
	margin: 20px 172px;
}
.tab-col ul li dl dd{
	height:25px;
	line-height: 35px;
}
.tab-col ul li dl em{
	display: inline-block;
	min-width: 4em;
	padding: 0 10px;
}
.tab-col ul li img{
	vertical-align: bottom;
}
.tab-col ul li i{
	display: inline-block;
	vertical-align: top;
	margin-top: -10px;
	font-weight: bold;
	cursor: pointer;
}
.tab-col ul li dl i{
	display: inline-block;
	background: url('/static_new/images/icon-del.png') 0 11px no-repeat;
	width: 20px;
	height:25px;
	cursor: pointer;
	margin-top: 0px;
}
.faqibisai ul li .mire{
	width:15px;
	height:15px;
}
.faqibisai h3 {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 400;
	color:#ff8a00;
	border-bottom: 1px solid #e5e5e5;
}
.faqibisai ul {
	padding: 50px 0;
}
.faqibisai ul li {
	margin-bottom: 25px;
}
.faqibisai ul li label {
	display: inline-block;
	width:145px;
	text-align: right;
	margin-right: 25px;
}
.faqibisai ul li input {
	margin:0;
	padding:0;
	border:1px solid #c9c9c9;
	width:220px;
	height:33px;
	padding-left: 10px;
}
.faqibisai ul li input.rili {
	width:140px;
	background: url(/static_new/images/rili.jpg) no-repeat 130px center;
}
.faqibisai ul li textarea {
	margin:0;
	padding:0;
	width:355px;
	height:180px;
	border:1px solid #aaadb2;
}
.faqibisai ul li.tops label,
.faqibisai ul li.tops span {
	vertical-align: top;
}
.faqibisai ul li.tops span {
	color: #18a3e4;
	border:1px solid #18a3e4;
	width:76px;
	height:26px;
	line-height: 26px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	margin-left: 10px;
}
.faqibisai ul li.tops .fwbkj {
	display: inline-block;
	width:480px;
	border-right:2px solid #dddddd;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	z-index: 1!important;
}
.faqibisai ul li.tops .fwbkj .tou {
	width:446px;
	height:38px;
	border:1px solid #18a3e4;
	margin-bottom: 5px;
}
.faqibisai ul li.tops .fwbkj textarea {
	width:446px;
	height:128px;
	resize:vertical;
}
/* 添加评委的弹出层 */
.gay{
    width:100%;
    height:auto;
    background: #000;
    opacity: 0.3;
    -moz-opacity:0.3;
    filter: alpha(opacity=30);
    position:fixed;
    top:0;
    left:0;
    z-index:9999900000;
    display: none;
}
.hylb{
    width:685px;
    height:300px;
    background: white;
    position: fixed;
	z-index: 99999999999999;
    display: none;
}
.adtp{
	width:385px;
	height:150px;
	background: white;
	position: fixed;
	z-index: 99999999999999;
	display: none;
}
.adtp2{
	width:385px;
	height:180px;
	background: white;
	position: fixed;
	z-index: 99999999999999;
	display: none;
}
.att{
	width:385px;
	height:150px;
	background: white;
	position: fixed;
	top:50%;
	left: 50%;
	margin-left: -192.5px;
	margin-top:-75px; ;
	z-index: 99999999999999;
	border:1px solid #dddddd;
	/*display: none;*/

}
.att{
	height: 200px;
}
.att .hylb_main .hylb_left .b input{
	width:200px;
	margin-left: 0;
}
.att .hylb_main .hylb_left .b button{
	margin-left: 10px;
}
.hylb_left .b select{
	width: 205px;
	margin-left: -4px;
}
.hylb_left .b em{
	min-width:5em;
	display: inline-block;
	margin-left: -50px;
	margin-bottom: 15px;
}
.att p{
	height:20px;
	background: #546fb4;
	padding:10px 20px;
	color:white;
	line-height: 20px;
	position: relative;
}

.adtp p{
	height:20px;
	background: #546fb4;
	padding:10px 20px;
	color:white;
	line-height: 20px;
	position: relative;
}
.adtp2 p{
	height:20px;
	background: #546fb4;
	padding:10px 20px;
	color:white;
	line-height: 20px;
	position: relative;
}
.hylb p{
    height:20px;
    background: #546fb4;
    padding:10px 20px;
    color:white;
    line-height: 20px;
    position: relative;
}
.hylb .gb{
    position: absolute;
    top:14px;
    right:20px;
    cursor: pointer;
    width:13px;
    height:13px;
    background: url(/static_new/images/fqhd.png) no-repeat;
}
.hylb_main{
    height:260px;
}
.hylb_left{
    float:left;
    height:240px;
    width:450px;
    padding-top: 20px;
}
.hylb_left .b textarea{
	margin: 0;
	padding: 0;
	resize: none;
	width: 335px;
	height: 109px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: -9px;
}
.hylb_left .b{
    margin-bottom: 20px;
    padding-left:20px;
	padding-left: 100px;
}
.hylb_left .b span{
    color: #656565;
    display:block;
    margin-bottom: 10px;
}
.hylb_left .b input{
	width: 250px;
	margin-left: -38px;
	text-indent: 0.5em;
}
.hylb_left .b button{
    /*float: left;*/
    margin:0;
    padding:0;
    border:0;
    width:83px;
    height:33px;
    text-align: center;
    line-height: 33px;
    border:1px solid #fe8a00;
    color: #fe8a00;
	margin-top: 15px;
    margin-left: -10px;
    background: #fff;
    cursor:pointer;
}
.hylb_left .b button.gry {
	border:1px solid #959595;
	color: #959595;
	margin-left: 10px;
}

.hylb_left .b button.tygry {
	border:1px solid #959595;
	color: #959595;
	margin-left: 10px;
}
.hylb_left .b button.tygry2 {
	border:1px solid #959595;
	color: #959595;
	margin-left: 10px;
}

.hylb_right{
    float: right;
    height:260px;
    width:220px;
    overflow: auto;
}
.hylb_right ul li,.hylb_right ul .bj{
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    color:#656565;
}
.hylb_right ul li:hover{
    background: #ebebe4;
    color: #000;
}
.hylb_right ul .bj{
    background:url(/static_new/images/xiaj.png) no-repeat 12px 6px;
    background-color: #cecece;
}
.hylb_right ul .jb span{
	display: block;
	width: 11em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 40px;
	text-align: left;
}
.hylb_right ul .jb{
    background:url(/static_new/images/youj.png) no-repeat 12px 6px;
    background-color: #cecece;
}
/* 添加评委的弹出层 */
/* 发起比赛结束 */

/* 比赛详情页面开始 */
.bsxq {
	padding:50px 25px;
}
.bsxq .neirong {
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:20px 0;
	position: relative;
}
.bsxq .neirong p {
 	color:#000;
 }

.bsxq .neirong .title {
 	padding:30px 5px 0;
 	color: #808080;
 }
 .bsxq .neirong .title p {
 	color: #808080;
     word-break: break-all;
     line-height: 35px!important;
 }
.bsxq .neirong .title h3 {
	font-size: 18px;
	color: #000;
	text-align: center;
}

.bsxq .neirong .title li {
	font-size: 12px;
}
.bsxq h4 {
	padding-top:20px;
 }

.bsxq .neirong dd.Time {
	float: left;
}

.bsxq .tupian li {
	width:226px;
	margin:0 15px 25px 0;
	float:left;
	border-bottom: #eee 1px solid;
	padding-bottom: 10px;
	cursor: pointer;
}
.bsxq .tupian li:nth-child(3n) {
	margin-right: 0;
}
.bsxq .tupian li img {
	display: block;
	width:226px;
	height:160px;
}
.bsxq .tupian li p {
	color: #474747;
	line-height: 21px;
	display: inline-block;
	width: 14em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bsxq .tupian li i {
	display: inline-block;
	background: url("/static_new/images/icon-del.png") no-repeat 5px 4px;
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 6px;
	cursor: pointer;
}
/* 比赛详情页面结束 */

/* 查看结果页面开始 */
.lookresults {
	padding:25px;
}
.lookresults h3 {
 	color: #ff8a00;
 	font-size: 18px;
 	margin-bottom: 20px;
 }
.lookresults h3 span {
 	float: right;
 	font-size: 14px;
 	color: #000;
 	font-weight: 400;
}
.lookresults table thead tr th {
	font-weight: 400;
	color: #fff;
	background: #a5a5a5;
	line-height: 36px;
	height:36px;
}
.lookresults table tbody tr td {
	font-size: 14px;
	color:#737373;
	line-height: 36px;
	height:36px;
	text-align: center;
}
.lookresults table tbody tr {
	background: #f4f4f4;
}
.lookresults table tbody tr:nth-child(2n+1) {
	background: #e0e0e0;
}
/* 查看结果页面结束 */
/* 课程页面开始 */
.kecheng {
	padding:25px;
}
.kecheng h3 {
	font-size: 18px;
	color: #ff8a00;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
}
.kecheng p {
	line-height: 54px;
	color: #000;
}
.kecheng .shipin {
	height:440px;
	/* background: pink; */
	margin-bottom: 25px;
}
.kecheng .btm .lbtm {
	float: left;
	width:400px;
}
.kecheng .btm .lbtm p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
}
.kecheng .btm .lbtm .yello {
	padding-bottom: 10px;
	border-bottom: #d0d0d0 1px solid;
	margin-bottom: 15px;
}
.kecheng .btm .lbtm .yello span {
	color: #ff8a00;
	margin-right: 20px;
}
.kecheng .btm .rbtm {
	float: right;
	width:260px;
}
.kecheng .btm .lbtm li {
	border-bottom: 1px dashed #d0d0d0;
	margin-bottom: 15px;
}
.kecheng .btm .lbtm li span {
	color: #ff8a00;
	margin-bottom: 3px;
	display: inline-block;
}
.kecheng .btm .lbtm li p {
	font-size: 12px;
	color:#666;
   word-break: break-all;
}
.kecheng .btm .rbtm p {
	font-size: 16px;
	color:#fff;
	background: #ff8a00;
	line-height: 34px;
	height:34px;
	padding-left: 10px;
}
.kecheng .btm .rbtm .different {
	padding:15px 0;
	position:relative;
}
.kecheng .btm .rbtm .different li {
	margin-bottom: 10px;
	height:44px;
	padding-left: 48px;
	line-height: 44px;
	color:#666;
	/*position: relative;*/
	float: left;
	width: 165px;
}
.kecheng .btm .rbtm .different li {
    margin-bottom: 10px;
    height:44px;
    padding-left: 48px;
    line-height: 20px!important;
    color:#666;
    /*position: relative;*/
    float: left;
    width: 165px;
}
.kecheng .btm .rbtm .different  a{
	width: 260px;
	display: block;
	height: 41px;
	float: right;
}
/*.kecheng .btm .rbtm .different a{
	height: 44px;
	width: 100%;
	position: relative;
	display: inline-block;
}*/
.kecheng .btm .rbtm .different a span {
	background: url(/static_new/images/down.png) no-repeat;
	width:17px;
	height:16px;
	cursor: pointer;
	/*position: absolute;
	right:10px;
	top:23px;*/
	display: inline-block;
	margin-top: 12px;
}
.kecheng .btm .rbtm .different li.o1 {
	background: url(/static_new/images/doc.jpg) no-repeat;
}
.kecheng .btm .rbtm .different li.o2 {
	background: url(/static_new/images/pdf.jpg) no-repeat;
}
.kecheng .btm .rbtm .different li.o3 {
	background: url(/static_new/images/ppt.jpg) no-repeat;
}
/* 课程页面结束 */
/* 增加内容部分开始 */
.bsxq {
	position: relative;
}
.bsxq .zuoB {
	position: absolute;
	top:20px;
	left:25px;
	font-size: 18px;
	color:#ff8a00;
}

.bsxq .neirong dd.Look {
	float: right;
}
.bsxq .neirong dd.Look a {
	float: left;
	margin-right: 10px;
}
.bsxq .neirong dd.Look a.xiaozi {
	font-size: 14px;
}
/* 增加内容部分结束 */

.micromatch_bt{
	width: 115px!important;
	height: 40px;
	line-height: 40px;
	background: #e5e5e5;
	color: #696969;
	border-radius: 5px;
	font-family: Microsoft yahei;
	margin-left: 15px;
	cursor: pointer;
	float: none;
	text-align: center!important;
	margin-left: 0px!important;
}
.micromatch_btt{

}
.size-zero{
	width: 0;
	height: 0;
}

#blogpicuploadLoading {
	position: absolute;
	left: 100px;
	top: 6px;
	display: none;
}

/*分页*/
.page-paginator {
	width: 100%;
	margin: 40px auto 20px auto;
	text-align: center;
	display: none;
}

.page-index span {
	padding: 3px 8px;
	color: #838383;
	border-radius: 4px;
	border: 1px solid #838383;
	background-color: #F6F7F6;
	cursor: pointer;
	margin: 0 2px;
}
.first-page,.last-page {
	padding: 3px 15px;
	color: #838383;
	border-radius: 4px;
	border: 1px solid #838383;
	background-color: #F6F7F6;
	cursor: pointer;
	margin: 0 2px;
}
.page-paginator span.active {
	background-color:#E6E6E6;
	color: #779554;
}
/************************视频样式*********************/
.col-right .tab-col #videoplayer-div{
	width:547px;
	margin-bottom:20px;
	height: 385px;
	clear:both;
}
.col-right .tab-col #videoplayer-div .video-thumb-list{
	left:547px;
}
/******************************出现************************/
.lbsw{
	float:left;
	width: 400px;
	border:1px solid #dddddd;
	height: 150px;
	text-align: center;
	line-height: 150px;
}

.imgup{
	width: 43px;
	height: 56px;
	cursor: pointer;
}

.video-player-container {
	width: 546px!important;
	height: 385px!important;
}

a.edit {
	color:#fff;
	width:65px;
	height:40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	display: block;
	margin:0 auto;
	background: #ff8a00;
}

a.delmatch {
	color:#fff;
	width:130px;
	height:40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	display: block;
	margin:0 auto;
	background: #ff8a00;
}

a.downall {
	color:#fff;
	width:110px;
	height:40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	display: block;
	margin:0 auto;
	background: #ff8a00;
}
/*********************点评**********************/
.lbdp{
	float: left;
	width: 400px;
}
.lbdp dd{
	/*height: 35px;*/
}
.lbdp span{
	font-size:16px;
	color:black;
}
.lbdp em{
	color: #ff8a00;
}
.lbdp p{
	word-break:break-all;
	line-height: 32px;
}
/*********************打分****************************/
.lbdf{
	float: left;
	width:400px;
}
.lbdf dd{
	min-height: 35px;
	line-height: 35px;
}
.lbdf em{
	font-size: 16px;
	color:#000000;
}
.lbdf select{
	border:1px solid #dddddd;
	height:32px;
	width:100px;
}
.lbdf textarea{
	border:1px solid #dddddd;
	width: 380px;
	height: 150px;
}
.lbdf button{
	border:1px solid  #ff8a00;
	width: 80px;
	height:35px;
	background: white;
	margin-top:20px;
	color:#ff8a00;
	cursor: pointer;
}
.tab-LT{
	width: 600px;
	float: left;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.tab-col>button{
	float: right;
	background: white;
	border: 1px solid #ff8a00;
	width: 75px;
	height: 32px;
	color: #ff8a00;
	margin-top: 10px;
	cursor: pointer;
}
.tab-col>button:hover{
	background:#ff8a00 ;
	color:white;
}
.shiyong{
    color: #fff;
    width: 160px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    display: block;
    margin: 0 auto;
    background: #61cc07
}
.tab-ha{
    display: inline-block;
    width: 455px;
    margin-left: 200px;
}
.ah-KS .ah-top{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    height: 32px;
}
.ah-bottom{
    height: 950px;
    overflow: hidden;
    overflow-y: auto;
    line-height: 35px;
    margin: 20px 0;
}
.ah-bottom h2,.ah-bottom h3{
    text-align: center;
}
.ah-bottom .p15{
    font-size: 15px;
    font-weight: bold;
}
.ah-bottom .p-mid{
    padding-left: 280px;
}
.ah-bottom .div-img{
    padding:0px 23px 18px;
}

.ah-KN{
    display: none;
}