.recordd-main{
    width:1000px;
    margin: 0 auto;
}
.recordd-right{
	width:770px;
	margin:10px 0 0 10px;
	float:right;
}
.recordd-top{
	height:40px;
	border-bottom:1px solid #bbbbbb;
}
.recordd-top ul li {
	float:left;
	display:inline-block;
	width:110px;
	height:40px;
	line-height:40px;
	text-align:center;
	background: white;
	border:1px solid #bbbbbb;
	border-bottom:none;
	font-size: 16px;
	cursor:pointer;
}
.recordd-info dl dd{
	margin-top:25px;
	font-size:15px;
}
.recordd-info dl dd a{
	color:#f0976c;
	text-decoration:underline;
}
.recordd-info dl dd em{
	float:left;
}
.recordd-V{
	width:615px;
}
.recordd-M{
	float:left;
}
.recordd-N{
	width:400px;
	z-index:99999999999999;
}
.recordd-T{
	float:right;
	margin-top:-35px;
}