@charset "UTF-8";  
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin: 0; padding: 0; }
fieldset,img{ border: 0; }
:focus{ outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style: normal; font-weight: normal; }
h1,h2,h3,h4,h5,h6{ font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei"; }
abbr,acronym,{ border: 0; font-variant: normal; }
code,kbd,samp,tt{ font-size: 100%; }
input,button,textarea,select{ *font-size: 100%; border:none;}
ol,ul{ list-style: none; }
i{font-style: normal;}
a{text-decoration: none;}
body{ background:#fff; color:#5e5e5e; font: 12px/1.4 Microsoft YaHei,SimSun,Arial;}

.xf_wrap{
	position: relative;
	width: 100%;
	height: 800px;
	background: url(../images/xf_bg.jpg) no-repeat;
	background-size:100% 100%;
}
.xf_top{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 52px;
	background: url(../images/xf_topbg.png);
}
.xf_topinner{
	width: 960px;
	margin: 0 auto;
	height: 52px;
}
.xf_topleft{
	padding: 0 30px 0 20px;
	border-left: 1px solid #b0afa4;
	border-right: 1px solid #b0afa4;
	float: left;
}
.xf_topleft img{
	margin-right: 20px;
	float: left;
	margin-top: 8px;
	width: 35px;
	height: 34px;
}
.xf_topleft span{
	display: block;
	float: left;
	line-height: 52px;
	color:#fff;
	font-size: 16px;
}
.xf_fhzy{
	float: right;
}
.xf_fhzy a{
	display: block;
	width: 195px;
	text-align: center;
	height: 52px;
	color:#fff;
	line-height: 52px;
	font-size: 22px;
	border-left: 1px solid #b0afa4;
	border-right: 1px solid #b0afa4;
}
.xf_gzwm {
	float: right;
}
.xf_gzwm span{
	margin-right: 20px;
	display: block;
	float: left;
	font-size: 22px;
	color:#fff;
	line-height: 52px;
}
.xf_gzwm img{
	float: left;
	margin-top: 8px;
	margin-right: 15px;
	width: 35px;
	height: 35px;
}
/*inner*/
.xf_inner{
	width: 960px;
	margin: 0 auto;
	padding-top: 118px;
}
.xf_innerleft{
	float: left;
	width: 650px;
}
.xf_innerleft h1{
	margin-bottom: 55px;
	text-indent: 60px;
	background: url(../images/xf_logo.png) no-repeat;
	font-size: 40px;
	color:#fff;
	font-family: '黑体';
}
.xf_innerleft p{
	color:#fff;
	font-size: 28px;
	line-height: 50px;
}
.xf_innerleft .tsp{
	margin-bottom: 50px;
}
.xf_innerleft .ywp{
	font-family: 'Arial';
	font-size: 20px;
	color:#fff;
	line-height: 30px;
}
.xf_innerleft .appp{
	margin-top: 50px;
}
.xf_innerright{
	padding-top: 45px;
	width: 210px;
	float: right;
}
.xf_innerright>a{
    position: relative;
    top: 40px;
    left: 8px;
}
.bd_yh{
	margin-bottom: 25px;
	height: 28px;
	width: 210px;
	padding: 10px 0;
	padding-left: 50px;
	background: url(../images/icon_bdyh.png) no-repeat;
}
.bd_yh input{
	font-size: 18px;
	width: 140px;
	border:0;
	height: 28px;
}
.bd_mm{
	margin-bottom: 40px;
	width: 195px;
	height: 28px;
	padding: 10px 0;
	padding-left: 50px;
	background: url(../images/icon_bdmm.png) no-repeat;
}
.bd_mm input{
	font-size: 18px;
	width: 140px;
	border:0;
	height: 28px;
}
.app-link{
	background-color: rgba(0, 0, 0, 0.5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
	width: 182px;
	height: 58px;
	border-radius: 5px;
	color: white;
	text-shadow: black 1px 1px 1px;
}
.icon_sj,.khddiv{
	float: left;
	margin: 5px;
}
.app-link span a{
	color:#fff;
}
.khddiv i{
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}
.app-link span img{
	vertical-align: middle;
}
.app-link span a:hover {
color: lightskyblue;
}

/********************************/
.input-account,.input-password  {
    float: right;
    margin-top: 30px;
    padding: 11px;
    padding-left: 52px;
    width: 140px;
    border-radius: 5px;
    border:1px solid darkgray;
    height: 28px;
}
.input-account {
    background:#fff url(/img/K6KT-3.png) no-repeat 12px 8px;
}
.input-password {
    margin-left: 15px;
    background:#fff url(/img/K6KT-4.png) no-repeat 12px 8px;
}
.login-btn {
    float: right;
    margin-top: 30px;
    padding: 12px 30px;
    margin-left: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
.login-btn:hover {
    color: #fff;
}
/*.login-btn.active {
    background: #EC7400 url(/img/loading4.gif) no-repeat 20px 13px;
}*/
.input-password.error {
    border:1px solid #E43838;
    background-image: url(/img/wr.png),url(/img/K6KT-4.png);
    background-position: 175px 16px,12px 8px;
    background-repeat: no-repeat;
  /*  padding-right: 31px;*/
}
.input-account.error {
    border:1px solid #E43838;
    background-image: url(/img/wr.png),url(/img/K6KT-3.png);
    background-position: 175px 16px,12px 8px;
    background-repeat: no-repeat;
 /*   padding-right: 31px;*/
}
.login-btn {
    float: right;
    margin-top: 30px;
    padding: 12px 30px;
    margin-left: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
.password-error{
    float: right;
    right: 350px;
    margin-top: 130px;
    color:#E43838;
    display:none;
    position: absolute
}
.username-error{
    float: right;
    right: 350px;
    margin-top: 45px;
    color:#E43838;
    display:none;
    position: absolute;
}

/*innerend*/