.k6kt-body {
    border: 0;
    padding-bottom: 30px;
}

.lesson-score-list {
    padding: 20px 0 0;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    margin-bottom: 30px;
}

.lesson-score-list table tr {
    height: 60px;
}

.lesson-score-list table th {
    font-size: 16px;
    font-weight: bold;
}

.lesson-score-list table tr:first-child {
    background-color: transparent !important;
    height: 40px;
}

.lesson-score-list table tr > th:last-child {
   /* width: 600px;*/
}

.lesson-score-list table tr > td:first-child {
   /* text-align: right;
    padding-right: 10px;*/
}

.lesson-score-list table tr > td:nth-child(2) {
 /*   text-align: left;*/
}

.lesson-score-list i.fa {
    cursor: pointer;
}

.lesson-score-list input.score {
    width: 20px;
    background: transparent;
    margin-left: 20px;
    text-align: center;
    border: 0;
}

img{
    /*width: 80px;
    height:80px;*/
}