body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{margin:0;}
ol,ul{margin:0; padding:0; list-style: none;}
:focus {outline: 1;}
.clearfix:after{content:'.';display:block;clear:both;line-height:0;height:0;visibility:hidden}
img{border:0}
body{color:#333;font:normal normal normal 14px/20px 'Microsoft YaHei',Arial,sans-serif;background:#fff}
input,select,textarea,button{vertical-align:middle;font-size:100%;outline:0;font-family:'Microsoft YaHei',Arial,sans-serif}
a{color:#333;text-decoration:none;outline:0}a:hover{color:#ff9c00;text-decoration:none}
i,em{font-style: normal}
table{border:0;margin:0;border-collapse:collapse;border-spacing:0;}
table td{padding:0;}
textarea{resize: none;}

/******************账户设置**********************/

/***************基本资料*************/
.account-main{
    width: 1000px;
    margin:  25px auto 0 auto;
}
.account-main .account-top{
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #9a9a9a;
    font-size: 16px;
}
.account-top ul li{
    float: left;
    width: 100px;
    text-align: center;
    line-height: 30px;
    background: #ffffff;
    cursor: pointer;
}
.account-top ul .cur{
    border: 1px solid #9a9a9a;
    border-bottom: none;
    height: 30px;
    color: #e68973;
    margin-left: 10px;
}
.account-main .account-info{
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #888888;
    margin-top: 25px;
}
.account-info ul li {
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 35px;
    cursor: pointer;
    width: 100px;
    height: 29px;
    text-align: center;
}
.account-info ul .curr{
    background: white;
    color: #9a9a9a;
    line-height: 29px;
    margin-top: 8px;
    border-radius:5px;
}
.account-ZL{
    border:1px solid #eeeeee;
    border-top: none;
    width: 998px;
    height: 575px;
}
.account-ZL dl{
    padding: 25px;
}
.account-ZL dd{
    margin-bottom: 30px;
}
.account-ZL em{
    display: inline-block;
    width: 100px;
}
.account-ZL dd img{
    border-radius: 5px;
}
.account-ZL .accont-ZL-i{
    width: 320px;
    height: 37px;
    border-radius: 5px;
    border:1px solid #959595;
}
.account-ZL .account-ZL-tx{
    vertical-align: top;
}
.account-ZL select{
    width: 90px;
    height: 37px;
    border:1px solid #959595;
    border-radius: 5px;
}
.account-ZL i{
    margin:  0 10px;
}
.account-ZL label{
    color: #9f9f9f;
    font-size: 12px;
}
.account-ZL span{
    display: inline-block;
    width: 90px;
    height: 40px;
    background: #ffac09;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}
.account-AQ{
    display: none;
    border: 1px solid #eeeeee;
    border-top: none;
    width: 998px;
    height: 575px;
}
.account-AQ .account-SF dl{
    padding: 25px;
    width: 445px;
    margin:0 auto;
    text-align: center;
}
.account-AQ .account-SF dl dt{
    display: inline-block;
    background: url("../../../img/account/account-ZL.png") no-repeat;
    width: 365px;
    height: 65px;

}
.account-AQ .account-SF dl dd{
    margin-top: 37px;
    position: relative;
}
.account-AQ .account-SF dl dd em{
    display: inline-block;
    width: 135px;
    text-align: right;
    float:left;
    margin: 9px 5px 0 0;
}
.account-AQ .account-SF dl dd input{
    width: 165px;
    height: 37px;
    border-radius: 5px;
    border:1px solid #959595;
    text-indent: 0.5em;
    float:left;
}
.account-AQ .account-SF dl dd .account-HQ{
    display: inline-block;
    width: 105px;
    text-align:center;
    height: 37px;
    line-height: 36px;
    border:1px solid #959595;
    background: #f6f6f6;
    cursor: pointer;
    font-size: 12px;
}
.account-AQ .account-SF dl dd label{
    position: absolute;
    top: 50px;
    left: 145px;
    color: #b1b1b1;
    font-size: 12px;
    display: inline-block;
    width: 465px;
}
.account-AQ  dl dd .account-I{
    color: red;
}
.account-AQ .account-SF dl dd .account-YZM{
    display: inline-block;
    width: 105px;
    text-align:center;
    height: 37px;
    line-height: 36px;
    background: #ffd782;
    border-radius: 5px;
}
.account-AQ .account-SF dl dd .register-ZC{
    background: #fedfe0;
    border: 1px solid #ff878e;
    color: #fe1623;
    display: none;
    margin: 10px 0 0 0;
}

.account-AQ .account-SF dl dd .register-ZC a{
    color: #4872ab;
}

.account-AQ .account-SF dl dd .account-TJ{
    display: inline-block;
    width: 90px;
    height: 40px;
    background: #ffac09;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-left: -74px;
}
.account-AQ .account-XG{
    display: none;
}
.account-AQ .account-XG dl{
    padding: 25px;
    width: 445px;
    margin:0 auto;
    text-align: center;
}
.account-AQ .account-XG dl dd{
    margin-top: 37px;
    position: relative;
    height: 37px;
}
.account-AQ .account-XG dl dt{
    display: inline-block;
    background: url("../../../img/account/account-ZL-2.png") no-repeat;
    width: 365px;
    height: 65px;
}
.account-AQ .account-XG dl dd input{
    width: 252px;
    height: 37px;
    border:1px solid #959595;
    border-radius: 5px;
    text-indent: 0.5em;
    float:left;
}
.account-AQ .account-XG em{
    display: inline-block;
    width: 135px;
    text-align: right;
    float:left;
    margin: 9px 5px 0 0;
}
.account-AQ .account-XG label{
    position: absolute;
    display: inline-block;
    top: 45px;
    left: 165px;
    width: 420px;
    color: red;
    text-align:left;
}
.account-AQ .account-XG .account-YM{
    width: 160px;
    height: 37px;
    border:1px solid #959595;
    border-radius: 5px;
    text-indent: 0.5em;
}
.account-AQ .account-XG .account-ZM{
    width: 85px;
    height: 42px;
    display: inline-block;
    background: #fed580;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
}
.account-AQ .account-XG .account-TJJ{
    display: inline-block;
    width: 90px;
    height: 40px;
   /* background: #ffac09;*/
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-left: -215px;
}
.account-AQ .account-CG{
    display: none;
}
.account-AQ .account-CG dl{
    padding: 25px;
    width: 445px;
    margin:0 auto;
    text-align: center;
}
.account-AQ .account-CG dl dd{
    margin-top: 60px;
}
.account-AQ .account-CG dl dt{
    display: inline-block;
    background: url("../../../img/account/account-ZL-3.png") no-repeat;
    width: 365px;
    height: 65px;
}
.dd-ok{
    padding:20px 0 0 159px ;
    height: 100px;
    background:url('../../../img/account/green_gou.png') no-repeat 52px 3px ;
    text-align:left;
    font-size:16px;
}