body{margin: 0;font: 12px/18px "lucida grande","lucida sans unicode",tahoma,verdana,arial,sans-serif; background-color: #EBEBEB;}
div{margin: 0;padding: 0;}
img{border-style:none;}
#header_container{
    width: 100%;
    height: 90px;

}
#header_left img{
    margin: 20px 0 0 25%;
    float: left;
}
#fz_phone_geo{
    margin:15px 0 0 25px;
    overflow: hidden;background: url("../../img/activity/phone.jpg") no-repeat scroll left center transparent;
    width: 160px;
    line-height: 60px;
    float: left;
    padding-left: 10px;
}
#fz_phone_geo span{
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #808080;
}
span{

}
a{
    text-decoration: none;
    color:#000000 ;
    font-size: 14px;
}
#header_right{
    float: right;
    overflow: hidden;
    color: #000000;
    font-size: 14px;
    margin: 50px 25% 0 0;
}
#header_container hr{
    width: 100%;
    border:1;
    background-color:#808080;
    height:1px;
}
#header_title{
    overflow: hidden;
    background-color:#FF7900;
    float: left;
    width: 100%;
    margin-top: 0;
}
.xuanxiang {
    text-align: center;

    display: inline-block;
    font: normal 16px Microsoft Yahei;
    width: 80px;
    cursor: pointer;
    line-height: 70px;
    border-right: 1px solid #FF8C25;

}
.xuanxiang:hover {
    background: #6e6e6e;
    height: 67px;
    line-height: 64px;
}
#mid img{
    position: relative;
    top: 10px;
    margin-right:5px;
    vertical-align:inherit;
    cursor: pointer;
}
.ng {
    text-align: center;
    font: normal 16px Microsoft Yahei;
    width: 100px;
    cursor: pointer;
    line-height: 70px;
    border-right: 1px solid #FF8C25;
}

#flipped_headr{background: none repeat scroll 0% 0% #FF7900;height: 110px;overflow: hidden;}
#flipped_headr_top{height: 70px;background: none repeat scroll 0% 0% white;border-bottom: 2px solid #807C7D;line-height: 75px;overflow: hidden;}
#flipped_headr_bottom {height: 33px;width: 900px;margin-left: auto;margin-right: auto;line-height: 33px;overflow:hidden;}
#flipped_headr_bottom span{color: #808080;font-size: 16px;font-family: '微软雅黑';}
#flipped_headr_bottom span a{color: #808080;font-size: 16px;font-family: '微软雅黑';}
#flipped_headr_bottom span.FloatC{float:right;}
#flipped_logo{float: left;margin-top: 13px;width: 254px;height: 51px;background-image:url("../../img/activity/logofz211.png");background-repeat: no-repeat;}
#flippeddngj_logo{float: left;margin-top: 13px;width: 335px;height: 51px;background-image:url("../../img/activity/logofz214.png");background-repeat: no-repeat;}
#fz_phone_geo{overflow: hidden;background: url('../../img/activity/phone.jpg') no-repeat scroll left center transparent;width: 160px;line-height: 60px;float: left;}
#fz_phone_geo span{margin-top: 20px;margin-left: 35px;display: inline;font-weight: bold;color: #989898;font-size: 14px;}
#fz_h_cart{overflow: hidden;height: 70px;}
#fz_h_cart span{ font-family: "Microsoft Yahei"; font-size: 14px;}
#fz_online{height: 70px;float: right;line-height: 100px;}
#fz_online .fz_online_EX>img{position: relative;top: -1px; left: -10px;}
#mid{width: 900px;margin-left: auto;margin-right: auto;}
#fz_liebiao{width: 900px;color: #FFF;margin-left: auto;margin-right: auto;overflow: hidden;}
#fz_me{width: auto;height: auto;float: right;margin-top: -15px;overflow: hidden;}
#fz_me a{margin-left: -8px;color: #FFF;}
.fz_xuanxiang{text-align: center;font: 16px/70px Microsoft Yahei;width: 220px;cursor: pointer;border-right: 1px solid #FF8C25;}
.fz_xuanxiang:hover{background: none repeat scroll 0% 0% #6E6E6E;border-top: 1px solid #FFF;height: 67px;line-height: 64px;}
.loading{background:#5B5B5B;position:fixed;left:0;top:0;opacity:0.5;width:100%;height:100%;display:none;z-index:5000;}
#fz_online>span:first-child>img{position: relative;left: 25px;}



#footer{  width: inherit;background-color:rgb(0, 0, 0); opacity:.7;filter:alpha(opacity=70);height: 40px;min-width: 900px;color: white;line-height: 40px;}
#footer-w{ margin-left: auto;margin-right: auto; width: 900px;}
#footer a {color: white;cursor:pointer;}
#footer a:hover {color: red;}
#footer img{vertical-align: middle; margin-right:5px;display: inline;}
input::-ms-clear { display: none; }
