html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;}
a{text-decoration:none; color:red;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
img{display: inline}

body{background-color: #EBEBEB;font-family: "Microsoft Yahei"}
#center-main{width: 900px;height: 700px;background-color: #ffffff;margin: 0 auto;margin-top: 10px;}
#center-main-title-left span{margin-left: 35px;line-height: 50px;color: #566FB5;font-size: 16px;background-color:#ffffff;padding: 5px 20px;cursor: pointer;border: 1px solid #566FB5}
#center-main-title-left span:hover{color: #ffffff;background-color:#566FB5 }
#center-main-title-right{float: right;margin-right: 10px;}
#center-main-title-right span:first-child{border:1px solid #566FB5;border-top-left-radius: 20px;border-bottom-left-radius: 20px;margin-right: -5px;padding: 5px 10px}
#center-main-title-right span:last-child{border-top:1px solid #566FB5;border-bottom:1px solid #566FB5;border-right:1px solid #566FB5;border-top-right-radius: 20px;border-bottom-right-radius: 20px;margin-right: 5px;padding: 5px 10px;}
#center-main-title-right span:first-child:hover{background-color: #566FB5;color: #ffffff }
#center-main-title-right span:last-child:hover{background-color: #566FB5;color: #ffffff}
#content-center{width: 900px;margin:0 auto;}
#content-center table{margin: 20px auto}
#content-center td{padding: 10px;;border: 1px solid #F1F1F1 ;}
#content-center div{float: left}
#content-center table tr td div span{margin-left: 10px;}
#content-center table tr td div:last-child{float: right;cursor: pointer;color:#ED6162 }
#content-center table tr td div:last-child:hover{color:red }
.IM{overflow: hidden;height: 88px;width: 70px;background-repeat: no-repeat}
.text-T{position: relative;left: -50px;font-size: 15px;color:#566FB5 }
.text-TT{font-size: 15px;}
#footer{  width: inherit;background-color:rgb(0, 0, 0); opacity:.7;filter:alpha(opacity=70);height: 40px;min-width: 900px;color: white;line-height: 40px;}
#footer-w{ margin-left: auto;margin-right: auto;}
#footer a {color: white;cursor:pointer;}
#footer a:hover {color: red;}
#footer img{vertical-align: middle; margin-right:5px;display: inline;}
#foot-fenye{text-align: center;width: 900px;position: absolute;bottom: 80px;}
ul{list-style-type: none;margin:0 auto;display: inline-block}
#foot-fenye>ul>li{display:inline;}
#foot-fenye>ul>li>a:hover{color: red}
#foot-fenye>ul>li:first-child>a{border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-left-width: 1px;}
#foot-fenye>ul>li:last-child>a{border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-right: 1px solid #dddddd;}
#foot-fenye ul li a{color:#4c4c4c;float: left;padding: 4px 12px;line-height: 20px;text-decoration: none;background-color: #ffffff;border-top: 1px solid #dddddd;border-left: 1px solid #dddddd;cursor: pointer;border-bottom: 1px solid #dddddd;}
