input::-ms-clear { display: none; }
body{
    background: #fff;
}
#angular-right-container div{
    overflow: visible !important;
}
.mng-location-bar{
    background-color: #f3f3f3;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
}
.mng-location-prt{
    color: #2f8ce6;

}
.mng-location-child{
    color:#666;
}
.mng-cmn-input{
    border: 1px solid #ccc;
    line-height: 32px\9;
    height: 32px;
    border-radius: 4px;
    width: 746px;
}
.mng-new-title{
    width: 746px;
}
table.edui-default{
    display: none;
}
.btns-container{
    padding: 10px 0;
}
.mng-btn{
    float: right;
    border-radius: 4px;
    height: 35px;
    line-height: 35px;
    font-family: "Microsoft YaHei";
}
.btn-cancel{
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
}
.btn-confirm{
    background-color: #418bc9;
}
.btn-cancel:hover{
    border: 1px solid #ccc;
    background-color: #fff;
    color: #111;
}
.btn-confirm:hover{
    background-color: #428bc9;
}
.ueditor{
    overflow: visible !important;
}
.mng-news-title{
    width: 480px;
    background: #f6f7f4;
    padding: 2px 0px 2px 14px;
    cursor: pointer;
}
.mng-news-date{
    width: 100px;
    background: #f6f7f4;
    padding: 2px 0px 2px 14px;
}
li.ng-scope > a,li.ng-scope i{
    vertical-align: middle;
}
.pagination-sm{text-align: center;}
.pagination-sm > li{display: inline-block;}
.news-item-container{
    display: block;
    clear: both;
    background: #f6f6f6;
    width: 100%;
    padding: 15px;
}
.news-title{
    float: left;
    font-size: 16px;
    color: rgb( 51, 51, 51 );
    line-height: 1.841;
    margin-right: 12px;
}
.news-title a:hover{
    text-shadow: 0 0 1px #666;
    color: #555;
}
.news-date{
    float: left;
    line-height: 2.3;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb( 153, 153, 153 );
    font-weight: 500;
}
.news-content{
    color: rgb( 102, 102, 102 );
    font-size: 14px;
    font-weight: 500;
    clear: both;
    text-indent: 2em;
    word-break: break-all;
}
.news-link{
    float: right;
    color: rgb( 236, 117, 0 );
    font-weight: 600;
}
.news-link a{
    color: rgb( 236, 117, 0 );
}
.news-link a:hover{
    color: rgb( 230, 110, 0 );
    text-decoration: underline;
}
#preview-container{
    overflow: auto !important;
    max-height: 95%;
    border: solid 15px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 15px #333;
    width: 1000px;
    z-index: 9000;
    border-top-width: 60px;
    border-bottom-width: 30px;
}
#preview-container > *{
    background-color: white;
}
.close-preview {
    float: right;
    padding: 4px 15px;
    border: 1px solid #999;
    border-radius: 4px;
    margin-top: 15px;
    margin-right: 15px;
    cursor: pointer;
}
.preview-content{
    padding: 5px 12px;
    min-height: 500px;
    margin-top: 72px;
}
.preview-content > *{
    word-break: break-all;
}
.preview-wrapper{
    position: fixed;
    left: 50%;
    top: 10px;
    bottom:30px;
    margin-left: -500px;
    z-index: 1000;
}
.preview-wrapper > *{
    z-index: 1000;
}
.content-view{
    word-break: break-all;
}
