html, body {
    background: #fff !important;
}

button {
    float: none !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    padding: 7px 10px;
}

button.fixed-width {
    width: 80px !important;
}

/*fancyox适配*/
.fancybox-overlay div, .fancybox-overlay-fixed div {
    overflow: visible;
}