.test-banner {
    height: 165px;
  /*  border-bottom: 2px solid #FF7900;*/
    background: white;
}

.test-banner a {
    text-decoration: none;
}

.test-banner .test-banner-container {
    /*width: 800px;*/
    margin: 0 auto;
}

.test-banner .test-banner-container table {
    width: 100%;
    height: 100%;
    border: 0;
}

.test-banner td {
    text-align: center;
}

.test-banner .test-banner-container .test-item {
    width: 84px;
    padding-top: 105px;
    text-align: center;
    color: lightgray;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
}

.test-banner .test-banner-container .test-item.active {
    color: #FF7900;
}

.test-banner .test-banner-container .test-item:hover {
    color: #FF7900;
}

.test-banner .test-banner-container .test-item.my-exam {
    background: url("/img/K6KT/test/test_gary.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.my-exam.active {
    background: url("/img/K6KT/test/test_orange.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.my-exam:hover {
    background: url("/img/K6KT/test/test_orange.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.online-test {
    background: url("/img/K6KT/test/online_gray.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.online-test:hover {
    background: url("/img/K6KT/test/online_orange.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.online-test.active {
    background: url("/img/K6KT/test/online_orange.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.ques-book {
    background: url("/img/K6KT/test/book_gray.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.ques-book:hover {
    background: url("/img/K6KT/test/book_orange.png") no-repeat 0 0;
}

.test-banner .test-banner-container .test-item.ques-book.active {
    background: url("/img/K6KT/test/book_orange.png") no-repeat 0 0;
}

div {
   overflow: none;
}
.left-nav img{
    display: inline-block;
}