html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;height: auto}
a{text-decoration:none;color: #333333;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
img{display: inline}
select,input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
input::-ms-clear { display: none;}

div{overflow:visible !important;}



.student_infromation_body{
    background-color: #ffffff;
    font-family: Microsoft Yahei;
}
.student_infromation_main{
    width:1000px;
    height: auto;
    margin: 0 auto;
}
/***********************************学生右边部分***********************************/
.student_information_right{
    width: 770px;
    min-height: 900px;
    border: 1px solid #dddddd;
    float: right;
    position: relative;
    top:20px;
    left: 2px;
    overflow: visible;
}
.student_information_info{
    height: 40px;
    background-color: #f1f1f1;
    border-bottom:1px solid #dddddd;
    overflow: visible;
    font-size: 16px;
    font-weight: bold;
}
.student_information_info>ul>li>a{
    float: left;
    border-right: 1px solid#dddddd;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
.student_information_li{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-top:4px solid #ff8b00;
    background-color: #ffffff;
    padding-bottom:3px;
   /* padding: 4px 18px 15px 18px;*/
    position: relative;
    top:-5px;
    color: #ff8b00;
    font-weight: bold;
}
.student_information_new{
    position: relative;
    border:1px solid #bde4f6;
    background-color: #e3f5fc;
    width: 715px;
    height: 80px;
    margin:25px auto 0 auto;
    color: #56b1db;
    line-height: 80px;
    font-weight: bold;
    font-size:15px;
   /* display: none;*/
}
.student_new_info>span{
    padding-left: 40px;
}
.student_new_info>button{
    background-color: #5cb95b;
    color: #ffffff;
    font-weight: bold;
   width: 90px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
    outline: none;
    list-style: none;0px;
    border-radius: 0px;
    line-height: 28px;
}
/*****************************新建练习***************************/
.student_information_new_I{
   /* display: none;*/
    padding-top: 20px;
}
.student_information_new_I_top{
    margin:5px  auto 0 auto;
    width: 740px;
    height: 30px;
    background-color: #f6f6f6;
    line-height: 30px;
    font-size: 14px;
    padding-left:20px;
    clear: both;
}
.information_I{
    color: #89a7e0;
}
.information_II{
    color: #666666;
}
.student_information_new_info{
    height: 15px;
    line-height: 15px;
    width:200px;
    border-left:4px solid #ff8b00;
    margin: 20px 0 15px 20px;
    font-weight: bold;
    color:#666666 ;
    font-size:19px;
    padding-left: 10px;
}
.student_information_new_info>span{
    padding-right: 5px;
}
.student_information_new_middle{
    padding: 35px 0 0 80px;
}
.student_information_new_middle>ul>li>select{
    border:1px solid #dddddd;
    height: 30px;
    width: 325px;
    text-indent: 0.5em;
    outline: none;
    font-family: "Microsoft Yahei";
}
.student_information_new_middle>ul>li{
    list-style-type:disc ;
    color:#ff8a00;
    height:60px;
}
.student_information_new_middle>ul>li>span{
    font-size: 15px;
    color: #666666;
    padding-right: 30px;
}
.student_information_new_middle>ul>li>input{
    border:1px solid #dddddd;
    height:30px;
    width: 325px;
    text-indent: 0.5em;
}
.student_information_new_middle>ul>li>button{
    border:1px solid #dddddd;
    height: 32px;
    width: 65px;
    background-color: #ffffff;
    outline:none;
    color: #a8a8a8;
    cursor:pointer;
    font-size:14px;
    font-family: Microsoft Yahei;
    float: none;
    border-radius: 0px;
}
.student_information_new_middle_button{
    border:1px solid #dddddd;
    height: 32px;
    width: 65px;
    outline:none;
    background-color:#ff8b00 !important;
    cursor:pointer;
    font-size:14px;
    color: #ffffff !important;
    font-family: Microsoft Yahei;
}
.student_information_new_buttom{
    height: 100px;
    float: right;
    margin-top: 60px;
   /* width: 100%;
    text-align: center*/
}
.student_information_new_buttom>span{
    display: inline-block;
    width: 205px;
    height: 32px;
    color: #ffffff;
    background-color:#5cb95b ;
    text-align: center;
    line-height: 32px;
    font-size:15px;
    margin-right: 20px;
    cursor: pointer;
}
.student_information_new_II{
    /*display: none;*/
    padding-top: 20px;
}
.student_information_xz{
    height: 35px;
    color: #999999;
    padding: 15px 0 0 35px;
    font-size: 15px;
}
.student_information_xl{
    height: 32px;
    padding: 0 0 0 35px;

}
.student_information_xl>select{
    font-size: 15px;
    color: #666666;
    font-family: "Microsoft Yahei";
    height:32px;
    width: 325px;
    border:1px solid #dddddd;
    outline: none;
    text-indent: 0.5em;
}
table
{
    border-collapse:collapse;
}
.student_information_ssd{
    position: relative;
    width: 713px;
    margin: 0 auto;
}
.student_information_ssd  td{
    width: 100px;
    border: 1px solid #dddddd;
    width:197px;
    vertical-align: top;
}
.student_information_ssd_left{
    width: 197px;
    height: 400px;
    overflow-y: auto !important;
    overflow-x: hidden !important
}
.student_information_ssd_left_top{
    background-color: #ff8b00;
    height: 37px;
    line-height: 37px;
    padding-left: 27px;
    color: #ffffff;
    width: 100%;
}
.student_information_ssd_left_top>div{
    color: #ffffff;
    padding-left: 27px;
    font-size: 14px;
}
.student_information_ssd_sj{
    position: absolute;
    left: 197px;
    top:0px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 12px solid #ff8b00;
    border-bottom: 19px solid transparent
}
.student_information_ssd_ul{
    position: relative;
}
.student_information_ssd_ul>ul>li>div{
    height: 37px;
    line-height: 37px;
    width: 171px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
}
.student_information_ssd_ul>ul>li>div>div{
    padding-left: 27px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.student_information_ssd_ul>ul>li>div:hover{
    background-color:#dddddd ;
    color: #ffffff;
}
.student_information_ssd_right{
    padding: 15px 0 0 30px;
}
.student_information_ssd_right_info{
    width: 400px;
    padding: 15px 0 0 32px;
}
.student_information_ssd_right_info>div{
    height: 45px;
    line-height: 45px;
    width: 200px;
    float: left;
    display:block;
    white-space:nowrap;
    overflow:hidden !important;
    text-overflow:ellipsis;
    font-size: 14px;
}
.student_information_ssd_right_info>div>span{
    padding-left: 10px;
}
.student_information_info_bottom{
    font-size: 16px;
    padding:10px 0 0 27px;
    min-height: 125px;
}
.student_information_info_bottom_I{
    padding-top: 20px;
}
.student_information_info_bottom_I>div{
    background-color: #ffedc7;
    background-color: #ffedc7;
    padding: 5px 10px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.student_information_bottom_II{
    padding-left: 20px;
    color: #fd940f;
    cursor: pointer;
    display: inline-block;
}
.student_information_info_bottom_III{
    padding-left: 35px;
    font-size: 15px;
}
.student_information_info_bottom_III>ul>li{
    clear: both;
    padding-top: 25px;
}
.student_information_info_bottom_III>ul>li>div{
    height: 30px;
    line-height: 30px;
}
.student_information_info_bottom_III>ul>li>div>div{
    float: left;
}
.student_information_info_bottom_IIII{
    float: left;
    width: 120px;
    height: 32px;
    border:1px solid #dddddd;
    margin-left: 20px;
    text-indent: 0.5em;
    clear: #999999;
}
.student_information_info_bottom_V{
    border: 1px solid #dddddd;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-left:2px;
    cursor: pointer;
}
.student_information_info_bottom_IV{
    position: relative;
    top:-12px;
    border: 1px solid #dddddd;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    left: 2px;
    cursor: pointer;
}
.student_information_info_bottom_VI{
    position: relative;
    top: -28px;
    left: 30px;
    color: #999999;
    font-size: 14px;
}

/*********************************练习题不为空**************************************/
.student_information_finish_II{
    /*display: none;*/
}
.student_information_finish_I{
    display: block;
}
.student_information_NO{
   /* display: none;*/
    width: 750px;
    margin: 10px auto 0 auto;
    height: auto;
}
.student_information_NO_top{
    height: 38px;
    width:100% ;
    background-color: #f1f1f1;
    line-height: 38px;
}
.student_information_NO_top>button{
    background-color: #5cb95b;
    color: #ffffff;
    font-weight: bold;
    width: 90px;
    height: 28px;
    cursor: pointer;
    outline: none;
    margin: 6px 0 0 10px;
    border-radius: 0px;
}
.student_information_NO_info{
    height:43px;
    width: 99.8%;
    background-color: #fef2d7;
    border: 1px solid #fae0c0;
    line-height: 43px;
    margin-top: 2px;
    color: #bf843f;
    font-weight: bold;
    font-size: 15px;
}
.student_information_NO_info_botton_I{
    height:41px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    line-height: 41px;
    color: #666666;
    font-size: 15px;
}
.student_information_NO_info_botton_I>span{
    display: inline-block;
    vertical-align: middle;
}
.student_information_NO_info_botton_II{
    margin-left: 20px;
    width: 232px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.student_information_NO_info_botton_III{
    width: 67px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
}
.student_information_NO_info_botton_IV{
    width: 67px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
}
.student_information_NO_info_botton_V{
    width: 145px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
}
.student_information_NO_info_botton_VI{
   /* display: none !important;*/
    width: 185px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.student_information_NO_info_botton_I:hover .student_information_NO_info_botton_VI{
    display: inline-block !important;
}
.student_information_NO_info>span{
    display: inline-block;
}
.student_information_NO_info_I{
    margin-left: 20px;
    width: 232px;
    text-align: center;
    border-right: 2px solid #bf843f;
    border-left: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.student_information_NO_info_II{
    width: 67px;
    text-align: center;
    border-right: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.student_information_NO_info_III{
    width: 67px;
    text-align: center;
    border-right: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.student_information_NO_info_IV{
    width: 145px;
    text-align: center;
    border-right: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.student_information_CT_top_I{
    color: #89a7e0;
}
.student_information_new_CT_zs{
    position: relative;
    margin: 10px auto 0 auto;
    width: 755px;
    min-height: 64px;
    line-height: 64px;
    border: 1px solid #dddddd;
}
.student_information_new_CT_info{
    width: 80px;
    text-align: center;
    font-size: 14px;
    float: left;
}
.student_information_new_CT_info_I{
    font-size: 14px;
    width: 660px;
    margin-left: 80px;
}
.student_information_new_CT_info_I>span>span:hover {
    color: #fe9d2d;
}
.student_information_new_CT_info_I>span{
    display: inline-block;
    border: 1px solid #dddddd;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 0 25px 0 25px
}
.student_information_new_CT_info_I>span>span{
    padding-right: 20px;
    /*display: none;*/
}
.student_information_new_info_II{
    background-color: #f6f6f6;
    height: 28px;
    width: 757px;
    margin: 0 auto;
    font-size: 13px;
    color: #666666;
    line-height: 28px;
}
.student_information_new_info_II>ul>li{
    float: left;
    text-align: center;
    cursor: pointer;
}
.student_information_new_info_II>span{
    display: inline-block;
    float: right;
    margin-right: 10px;
}
.student_information_new_info_S{
    display: inline-block;
    border: 1px solid #dddddd;
    border-top: none;
    height: 28px;
    width: 80px;
}
.student_information_new_info_S>i{
    color: #ff8c00;
}
.student_information_new_info_SS{
    display: inline-block;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 28px;
    width: 80px;
}
.student_information_new_info_III{
    clear: both;
    width: 99.8%;
    height: auto;
    margin-top: 35px;
}
.student_information_new_info_III_top{
    width: 96%;
    margin: 0 auto;
    height: 40px;
}
.student_information_new_III_top_left{
    font-size: 16px;
    font-weight: bold;
    float: left;
    border-left: 4px solid #ff8b00;
    height: 16px;
    line-height: 16px;
    padding-left: 10px
}
.student_information_new_III_top_right{
    float: right;
    font-size: 14px;
}
.student_information_new_III_I{
    display: inline-block;
    border-right: 4px solid #65a3f3;
    border-left: 4px solid #65a3f3;
    height: 15px;
    line-height: 15px;
    padding: 0 5px 0 5px;
}
.student_information_new_V{
    clear: both;
    font-size: 14px;
    margin: 0 0 0 30px;
    color: #333333;
}
.student_information_new_VI{
    font-size: 13px;
    width: 93%;
    height: auto;
    margin: 30px auto 0 auto;
    color: #333333;
}
.student_information_new_VII{
    font-size: 13px;
    width: 93%;
    height: auto;
    margin: 30px auto 0 auto;
    color: #333333;
}
.student_information_new_VII>span{
    padding-right: 10px;
}
.student_information_new_VVV{
    display: inline-block;
    background-color: #5cb95b;
    width: 200px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 40px;
}
.student_information_new_xuehui{
    width: 100%;
    margin: 60px auto 0 auto;
}
.student_information_new_VIII{
    display: inline-block;
    background-color: #5cb95b;
    width: 200px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 275px;
}
.student_information_new_VV{
    position: relative;
    height: 65px;
    background-color: #f6f6f6;
    width: 740px;
    margin: 0 auto;
    top:60px;
    text-align: center;
    line-height: 65px;

}
.student_information_new_VV>span{
    color: #5cb95b;
    cursor: pointer;

}
.student_information_new_VVI{
    position: relative;
    background-color: #f6f6f6;
    width: 740px;
    margin: 0 auto;
    top:120px;
    min-height: 65px;
    font-size: 14px;
    margin-bottom: 135px;
   /* display: none;*/
}
.student_information_new_VVI_answer{
    padding: 20px 0 0 15px;
}
.student_information_new_VVI_answer>dl>dt{
    color: #5cb95b;
    font-weight: bold;
}
.student_information_new_VVI_answer>dl>dd{
    padding-bottom: 20px;
}
.student-information_new_anlaysis{
    /*display: none;*/
    height: auto;
    width: 740px;
    margin: 25px auto 0 auto;
}
.student-information_new_anlaysis_YW{
    width: 230px;
    height: 110px;
    color: #ffffff;
    font-size: 30px;
    line-height: 110px;
    float: left;
    cursor: pointer;
}
.student-information_new_anlaysis_YW_left{
    display: inline-block;
    text-align: center;
    width: 100px;
}
.student-information_new_anlaysis_YW_right{
    display: inline-block;
    text-align: center;
    width: 120px;
}

.information_red{
    background: url("/images/information_RED.jpg") no-repeat;
    margin-right: 15px;
    margin-top: 10px;
}
.student-information_new_anlaysis_YW span{
    font-size: 22px;
    color: #ffffff;
}
.information_blue{
    background: url("/images/information_blue.jpg") no-repeat;
    margin-right: 15px;
    margin-top: 10px;
}
.information_green{
    background: url("/images/information_green.jpg") no-repeat;
    margin-right: 15px;
    margin-top: 10px;
}
.information_orange{
    background: url("/images/information_orange.png") no-repeat;
    margin-right: 15px;
    margin-top: 10px;
}
.information_purple{
    background: url("/images/information_purple.jpg") no-repeat;
    margin-right: 15px;
    margin-top: 10px;
}
.information_yellow{
    background: url("/images/information_yellow.jpg") no-repeat;
    margin-right: 15px;
    margin-top: 10px
}
.student_information_start{
    clear: both;
   /* display: none;*/
}
.student_information_start_bottom{
    position: relative;
    height: 75px;
    background-color: #f6f6f6;
    width: 740px;
    margin: 0 auto;
    top:50px;
    line-height: 65px;
}
.student_information_start_bottom_A{
    background: url("/images/information_start%20_2.png") no-repeat 0 13px;
    width: 42px;
    text-align: center;
    font-weight: bold;
    color: #fea901;
    cursor: pointer;
    float: left;
    margin-right: 80px;
    position: relative;
    left: 24%
}
.student_information_start_bottom_A:hover{
    background: url("/images/information_start%20_1.png") no-repeat 0 13px;
    color: #ffffff;
}
.student_information_start_bottom_B{
    background: url("/images/information_start%20_1.png") no-repeat 0 13px;
    width: 42px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    float: left;
    margin-right: 80px;
    position: relative;
    left: 24%
}
.student_information_start_I{
   clear: both;
  /*  display: none;*/
}
.student_information_start_I_bottom{
    position: relative;
    height: 90px;
    background-color: #f6f6f6;
    width: 740px;
    margin: 0 auto;
    top:50px;
    vertical-align: top;
}
.student_information_start_I_bottom textarea{
    width: 600px;
    height: 70px;
    outline: none;
    resize: none;
    background:#f6f6f6 ;
    text-indent: 1em;
    margin: 21px 0 0 20px;
    font-size: 15px;
    font-family: "microsoft yahei";
}
.student_information_start_I_bottom span{
    position: relative;
    top:20px;
    left: 20px;
    vertical-align: top;
    font-weight: bold;
}
::-ms-input-placeholder{
    color: #cfcfcf;
    font-size: 15px;
    font-family: "microsoft yahei";
}
::-webkit-input-placeholder{
    color: #cfcfcf;
    font-size: 15px;
    font-family: "microsoft yahei";
}
::-moz-placeholder{
    color: #cfcfcf;
    font-size: 15px;
    font-family: "microsoft yahei";
}
.student_information_start_II_bottom{
    height: 100px;
    margin-top: 80px;
    width: 740px;
}
.student_information_start_II_bottom_left{
    float: left;
    display: inline-block;
    width: 205px;
    height: 32px;
    color: #ffffff;
    background-color:#5cb95b ;
    text-align: center;
    line-height: 32px;
    font-size:15px;
    margin-left: 20px;
    cursor: pointer;
}
.student_information_start_II_bottom_right{
    float: right;
    display: inline-block;
    width: 205px;
    height: 32px;
    color: #ffffff;
    background-color:#5cb95b ;
    text-align: center;
    line-height: 32px;
    font-size:15px;
    margin-left: 20px;
    cursor: pointer;
}
.student_information_all_finish_I{
    width: 740px;
    height: 52px;
    background: #e0f2d9;
    border: 1px solid #d5e9c6;
    border-radius: 4px;
    margin: 15px auto 0 auto;
    text-align: center;
    line-height: 52px;
    color: #58a933;
}
.student_information_all_finish_III{
    font-weight: bold;
}
/**********************查看答案********************************/
.student_information_check{
    width: 740px;
    height: 135px;
    margin: 10px auto 0 auto;
    background: #fbf7ef;
    color: #ff8b01;
}
.student_information_check_left{
    height: 130px;
    width: 120px;
    background: url("/images/student_ct1.png") no-repeat;
    text-align: center;
    margin-left: 100px;
    float: left;
    line-height: 25px;
}
.student_information_check_left dl{
    padding-top: 25px;
}
.student_information_check_left dd{
    font-size: 26px;
}
.student_information_check_center{
    height: 135px;
    width: 350px;
    margin-left: 220px;
    text-align: center;
    padding-top: 30px;
    line-height: 30px;
}
.student_information_check_center dt{
    font-size: 26px;
}
.student_information_check_right{
    width: 50px;
    height: 50px;
    position: relative;
    top: -155px;
    left: 655px;
    cursor: pointer;
}
.student_information_PD{
    width: 100px;
    float: right;
    margin-top: 20px;
}