html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

button{font-family: "microsoft yahei"}
img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;height: auto}
a{text-decoration:none;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
img{display: inline}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible !important;}
input::-ms-clear { display: none;}
.teacher_infromation_body{
    width: 1000px;
    margin:  0 auto;
    background-color: #ffffff;
    font-family: Microsoft Yahei;
}
.teacher_infromation_main{
    width:1000px;
    height: auto;
    margin: 0 auto;
}
/***********************************老师右边部分***********************************/
.teacher_information_new{
    position: relative;
    border:1px solid #bde4f6;
    background-color: #e3f5fc;
    width: 715px;
    height: 80px;
    margin:25px auto 0 auto;
    color: #56b1db;
    line-height: 80px;
    font-weight: bold;
    font-size:15px;
}
.teacher_new_info>span{
    padding-left: 40px;
}
.teacher_new_info>button{
    background-color: #5cb95b;
    color: #ffffff;
    font-weight: bold;
    width: 90px;
    height: 28px;
    cursor: pointer;
    outline: none;
    float: right;
    position: relative;
    top:30px;
    margin-right: 15px;
    line-height: 0px;
    border-radius: 0px;
}
/*******************有练习******************/
.teacher_information_right{
    width: 770px;
    min-height: 900px;
    border: 1px solid #dddddd;
    float: left;
    position: relative;
    top:20px;
    left: 10px;
    margin: 0 auto 30px;
}
.teacher_information_info{
    height: 40px;
    background-color: #f1f1f1;
    border-bottom:1px solid #dddddd;
    font-size: 16px;
}
.teacher_information_info>ul>li{
    float: left;
    border-right: 1px solid#dddddd;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor:pointer;
}
.teacher_information_li{
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    color: #ffffff;
    padding-bottom:3px;
    /* padding: 4px 18px 15px 18px;*/
    position: relative;
    top:-4px;
    background: #ff8b00;
    font-weight: bold;
    border: 1px solid #DDD;
}
.teacher_information_li a{
    color: #fff;
}
.teacher_information_li{
    list-style: none;
}



.teacher_information_li a:hover{
    color: #fff;
}

.teacher_information_info .cur-a{
    background: #fff !important;
}

.teacher_information_info .cur-a a{
    color: #ff8b00;
}
.teacher_information_right_I{
    float: right;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    line-height: 40px;
}
.teacher_information_right_I>button{
    display: inline-block;
    background: #5cb95b;
    border: 1px solid #3caa3d;
    width: 90px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    font-family: "microsoft yahei";
    color: #ffffff;
    float: none;
}
.teacher_information_NO{
    width: 750px;
    margin: 10px auto 0 auto;
    height: auto;
}
.teacher_information_NO_info>span{
    display: inline-block;
}
.teacher_information_NO_info{
    height:43px;
    width: 99.8%;
    background-color: #fef2d7;
    border: 1px solid #fae0c0;
    line-height: 43px;
    margin-top: 2px;
    color: #bf843f;
    font-weight: bold;
    font-size: 15px;
}
.teacher_information_NO_info_I{
    margin-left: 20px;
    width: 170px;
    text-align: center;
    border-right: 2px solid #bf843f;
    border-left: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.teacher_information_NO_info_II{
    width: 50px;
    text-align: center;
    border-right: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.teacher_information_NO_info_III{
    width: 50px;
    text-align: center;
    border-right: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.teacher_information_NO_info_IV{
    width: 145px;
    text-align: center;
    border-right: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.teacher_information_NO_info_V{
    width: 100px;
    text-align: center;
    border-right: 2px solid #bf843f;
    height: 15px;
    line-height: 15px;
}
.teacher_information_NO_info_botton_I{
    height:41px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    line-height: 41px;
    color: #666666;
    font-size: 15px;

}
.teacher_information_NO_info_botton_I>span{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #333333;
}
.teacher_information_NO_info_botton_I>span a:hover{
    color: #333333;
}
.teacher_information_NO_info_botton_II{
    width: 170px;
    height: 20px;
    line-height: 15px;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    margin-left: 33px;
    overflow: hidden;!important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.teacher_information_NO_info_botton_II:hover{
    text-decoration: underline;
    color: #fb9d3e;
}
.teacher_information_NO_info_botton_III{
    width: 50px;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
}
.teacher_information_NO_info_botton_IV{
    width: 50px;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
}
.teacher_information_NO_info_botton_V{
    width: 145px;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
}
.teacher_information_NO_info_botton_VI{
   /* display: none !important;*/
    width: 185px;
    line-height: 20px;
    cursor: pointer;
    text-align: left!important;
}
.teacher_information_NO_info_botton_VII{
    width: 100px;
    height: 15px;
    line-height: 15px;
    border-right: 2px solid transparent;
}
.teacher_information_NO_info_botton_I:hover .teacher_information_NO_info_botton_VI{
    display: inline-block !important;
}
/************************手工组卷******************************/
.teacher_information_new_I{
    /*display: none;*/
    padding-top: 20px;
    margin-bottom: 150px;
}
.teacher_information_new_I_top{
    margin:5px  auto 0 auto;
    width: 740px;
    height: 30px;
    background-color: #f6f6f6;
    line-height: 30px;
    font-size: 14px;
}

.teacher_information_new_nav{
    border-bottom: 1px solid #DDDDDD;
    margin:13px 15px;
}

.teacher_information_new_nav span{
    display: inline-block;
    padding:0 15px;
    height: 39px;
    font-size: 18px;
    text-align: center;
    line-height: 39px;
    background: #fff;
    position: relative;
    top: 1px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.span-teacher-infor{
    position: absolute;
    right: 110px;
    top: -17px;
    font-size: 12px;
}

.span-teacher-infor em{
    color: #5CBA5C;
    cursor: pointer;
}

.teacher_information_new_nav .cur-span{
    color: #FDA719;
    border: 1px solid #ddd;
    border-bottom:1px solid #fff;
    border-top: 4px solid #FDA719;
}

.information_I{
    color: #89a7e0;
}
.information_II{
    color: #666666;
}
.teacher_information_new_info{
    height: 15px;
    line-height: 15px;
    width:95px;
    border-left:4px solid #ff8b00;
    margin: 20px 0 15px 20px;
    font-weight: bold;
    color:#666666 ;
    font-size:19px;
    padding-left: 10px;
}
.teacher_information_new_info>span{
    padding-right: 5px;
}
.teacher_information_new_middle{
    padding: 35px 0 0 80px;
}
.teacher_information_new_middle>ul>li>input{
    border:1px solid #dddddd;
    height: 30px;
    width: 325px;
    text-indent: 0.5em;
    outline: none;
}
.teacher_information_new_middle>ul>li{
    list-style-type:disc ;
    color:#ff8a00;
    height:60px;
    font-size: 12px;
}
.teacher_information_new_middle>ul>li>span{
    font-size: 15px;
    color: #666666;
    display: inline-block;
    width: 65px;
}
/*.teacher_information_new_middle>ul>li>input{
    border:1px solid #dddddd;
    height:30px;
    width: 325px;
    text-indent: 0.5em;
}*/
.student_information_new_middle>ul>li>button{
    border:1px solid #dddddd;
    height: 32px;
    width: 65px;
    background-color: #ffffff;
    outline:none;
    color: #a8a8a8;
    cursor:pointer;
    font-size:14px;
    font-family: Microsoft Yahei;
}
.teacher_information_new_middle>ul>li>select{
    border:1px solid #dddddd;
    height: 30px;
    width: 325px;
    text-indent: 0.5em;
    outline: none;
    font-family: microsoft yahei;
}
.teacher_information_new_buttom{
    height: 100px;
    float: right;
    margin-top: 80px;
}
.teacher_information_new_buttom>span{
    display: inline-block;
    width: 205px;
    height: 32px;
    color: #ffffff;
    background-color:#5cb95b ;
    text-align: center;
    line-height: 32px;
    font-size:15px;
    margin-right: 20px;
    cursor: pointer;
}
.teacher_information_new_II{
    position: relative;
    /*display: none;*/
    padding-top: 5px;
}
.teacher_information_topics{
    width: 740px;
    margin: 10px auto 0 auto;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    border: 1px solid #fda618;
}
.teacher_information_topics>div{
    float: left;
    text-align: center;
    color: #fda618;
    font-size: 15px;
    width: 370px;
    cursor: pointer;
}
.teacher_topics_I{
    background: #fda618;
    color: #ffffff !important;
}
.teacher_information_difficulty{
    width: 740px;
    height: 80px;
    margin: 10px auto 0 auto;
    border:1px solid #e5e5e5;
}
.teacher_information_difficulty dl dd{
    height: 40px;
    line-height: 40px;
}
.teacher_information_difficulty dl dd span{
    display: inline-block;
    width: 75px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #9a9a9a;
    margin-left: 15px;
    font-size: 14px;
}
.teacher_information_difficulty_I{
    color: #333333 !important;
    margin-left: 30px;
    cursor: pointer;
}
  .teacher_information_difficulty_IIII{
    background: #5cb95b;
    color: #ffffff !important;
    margin-left: 30px;


}

.teacher_information_difficulty_II{
    background: #5cb95b;
    color: #ffffff !important;
    margin-left: 30px;
}
.teacher_information_difficulty_III{
    color: #333333 !important;
    margin-left: 30px;
    cursor: pointer;
}
.teacher_information_difficulty_V{
    background: #5cb95b;
    color: #ffffff !important;
    margin-left: 30px;
}
.teacher_information_content{
    min-height: 260px;
    width: 740px;
    margin: 10px auto 0 auto;
    border: 1px solid #e5e5e5;
    padding-top: 20px;
}
.teacher_information_content:hover{
    border: 1px solid #fca515;
}
.teacher_information_new_V{
    clear: both;
    font-size: 14px;
    margin: 0 0 0 30px;
    color: #333333;
    position: relative;
}
.teacher_information_new_VI{
    font-size: 13px;
    width: 93%;
    height: auto;
    margin: 30px auto 0 auto;
    color: #333333;
}

.teacher_information_new_VI span{
    max-width: 100%;
    overflow: hidden;
}
.teacher_information_new_VII{
    font-size: 13px;
    width: 93%;
    height: auto;
    margin: 30px auto 0 auto;
    color: #333333;
}
.student_information_new_VII>span{
    padding-right: 10px;
}
.teacher_information_new_dd{
    /*display: none;*/
    float: right;
    background: #5cb95c;
    height: 25px;
    width: 90px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    margin-top: -20px;
    text-align: center;
    line-height: 25px;
}
.teacher_information_content:hover .teacher_information_new_dd{
    display: inline-block;
}
.teacher_information_content_I{
    min-height: 260px;
    width: 740px;
    margin: 10px auto 0 auto;
    border: 1px solid #e5e5e5;
    padding-top: 20px;

}
.teacher_information_content_I:hover{
    background: #eeeeee;
}
.teacher_information_new_dd_I{
    display: none;
    float: right;
    background: #f62826;
    height: 25px;
    width: 90px;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    margin-top: -20px;
    text-align: center;
    line-height: 25px;
}
.teacher_information_content_I:hover .teacher_information_new_dd_I{
    display: inline-block;
}
.teacher_information_right_V{
    position:absolute;
    top: -42px;
    left: 101%;
    width: 195px;
}
.teacher_information_right_TV{
    position:absolute;
    top: 0px;
    left: 101%;
    width: 195px;
}
.teacher_information_right_TV select{
    outline: none;
    border: 1px solid #dddddd;
    width: 175px;
    height: 32px;
    margin: 5px 0 0 5px;
}
.teacher_information_right_V_top{
    height: 38px;
    width: 195px;
    background: #f1f1f1;
    border: 1px solid #dddddd;
    text-align: center;
    line-height: 38px;
    font-size: 15px;
    color: #fda618;
    font-weight: bold;
}
.teacher_information_right_V_info{
    width: 195px;
    border: 1px solid #dddddd;
    border-top: none;
    height: 400px;
    font-size: 14px;
    overflow-y:auto !important;
    overflow-x: hidden !important;
}
.teacher_information_right_V_info>span{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: 90%;
    padding-left: 5px;
    font-weight: bold;
}
.teacher_information_right_info_first{
    display: inline-block !important;
    width: 20px;
    height: 20px;
    background: url("/images/teacher_jia.png") 5px 5px no-repeat;
    vertical-align: top;
}
.teacher_information_right_info_sec{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/images/teacher_jian.png") 5px 5px no-repeat;
}
.teacher_information_right_info_th{
    font-size: 14px;
    color: #333333;
    /*display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;*/
    width: 10em;
    padding-left: 5px;
}
.teacher_information_right_info_th_I{
    font-size: 14px;
    color: #fda618;
    display: inline-block;
    height: 19px;
}
.teacher_information_right_V_info div{
    min-height: 25px;
    cursor: pointer;
    width: 175px;
    line-height: 25px;
}

.teacher_infomation_right_last{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/images/teacher_jia.png") 5px 5px no-repeat;
    vertical-align: top;
}
.teacher_infomation_right_last_I{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/images/teacher_jian.png") 5px 5px no-repeat;
}
.teacjer_information_right_last_info{
   /* display: none;*/
    min-height: 25px;
    cursor: pointer;
    width: 90%;
    margin: 0 0 0 20px
}
.teahcer_information_right_last_VT{
    font-size: 14px;
    word-break: break-all;
    width: 110px;
    padding-left: 5px;
}
.teacjer_information_right_last_info_I{
    display: inline-block;
}
.teahcer_information_right_last_V{
    font-size: 14px;
    word-break: break-all;
    width: 130px;
    padding-left: 5px;
   /* color: #333333;
    display:inline-block !important;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    width: 10em;*/
}
.teahcer_information_right_last_VV{
    font-size: 14px;
    color: #fda618;
    display: inline-block;
    width: 100px;
    height: 19px;
}
.teacher_information_right_last_info:hover{
    background: #eeeeee;
    min-height: 25px;
}
.teacjer_information_right_last_infoo li:hover{
    background: #eeeeee;
    min-height: 25px;
}
.teacher_information_right_VV{
   /* margin-top: 60px;*/
}
.teacher_information_right_VVV{
    height: 40px;
    background: #5cb95b;
    border: 1px solid #319331;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
}
.teacher_information_right_VVV img{
    padding-left: 20px;
}
.teacher_information_right_VVV span{
    padding-left: 15px;
}
.teacher_information_right_VV_info{
    min-height: 40px;
}
.teacher_information_right_VV_info>span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    margin: 5px 0 0 5px;
    text-align: center;
    line-height: 20px;
}
.teacher_information_right_VV_bottom{
    width: 92px;
    height: 27px;
    border: 1px solid #3ea93c;
    background: #5cb95c;
    margin: 10px auto 10px auto;
    color: #ffffff;
    font-size: 14px;
    display: block;
    cursor: pointer;
    outline: none;
    float: none;
    border-radius: 0px;
    line-height: 0px;
}
.teacher_information_ZD{
    width: 750px;
    margin: 0 auto;
    height: auto;
}
.teacher_information_new_middle>ul>li>button{
    border:1px solid #dddddd;
    height: 32px;
    width: 65px;
    background-color: #ffffff;
    outline:none;
    color: #a8a8a8;
    cursor:pointer;
    font-size:14px;
    font-family: Microsoft Yahei;
    float: none;
    line-height: 0px;
}
.teacher_information_new_middle_button{
    border:1px solid #dddddd;
    height: 32px;
    width: 65px;
    outline:none;
    background-color:#ff8b00 !important;
    cursor:pointer;
    font-size:14px;
    color: #ffffff !important;
    font-family: Microsoft Yahei;
}
.teacher_information_new_middle_SJ{
    width: 170px !important;
}
.teacher_information_new_middle_ZSD{
    width: 15px !important;
    height: 15px !important;
}
.teacher_information_info_bottom_III{
    padding: 20px 0 0 80px;
    font-size: 15px;
}
.teacher_information_info_bottom_III img{
    position: relative;
    left: -33%;
}
.teacher_information_info_bottom_III>ul>li{
    clear: both;
}
.teacher_information_info_bottom_III>ul>li>div{
    height: 30px;
    line-height: 30px;
}
.teacher_information_info_bottom_III>ul>li>div>div{
    float: left;
}
.teacher_information_info_bottom_IIII{
    float: left;
    width: 120px !important;
    height: 32px;
    border:1px solid #dddddd;
    margin-left: 20px;
    text-indent: 0.5em;
    clear: #999999;
}
.teacher_information_info_bottom_V{
    border: 1px solid #dddddd;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-left:2px;
    cursor: pointer;
}
.teacher_information_info_bottom_IV{
    position: relative;
    top:-12px;
    border: 1px solid #dddddd;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    left: 2px;
    cursor: pointer;
}
.teacher_information_info_bottom_VI{
    position: relative;
    top: -28px;
    left: 30px;
    color: #999999;
    font-size: 14px;
}
.teacher_information_new_II{
    /*display: none;*/
    margin-bottom: 145px;
    padding-top: 20px;
    clear: both;
}
.teacher_information_xz{
    height: 35px;
    color: #999999;
    padding: 15px 0 0 35px;
    font-size: 15px;
    width: 740px;
}
.teacher_information_xz button{
    background: #5cb95b;
    width: 110px;
    height: 28px;
    border: 1px solid #3ea93c;
    color: #ffffff;
    cursor: pointer;
    float: right;
    margin-right: 35px;
    border-radius: 0px;
    line-height: 0px;
}
.teacher_information_xl{
    height: 32px;
    padding: 0 0 0 35px;

}

.teacher_information_xl>select{
    font-size: 15px;
    color: #666666;
    font-family: "Microsoft Yahei";
    height:32px;
    width: 325px;
    border:1px solid #dddddd;
    outline: none;
    text-indent: 0.5em;
}
table
{
    border-collapse:collapse;
}
.teacher_information_ssd{
    position: relative;
    width: 713px;
    margin: 0 auto;
}
.teacher_information_ssd  td{
    width: 100px;
    border: 1px solid #dddddd;
    width:197px;
    vertical-align: top;
}
.teacher_information_ssd_left{
    width: 197px;
    height: 400px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}
.teacher_information_ssd_left_top{
    background-color: #ff8b00 !important;
    height: 37px;
    line-height: 37px;
}
.teacher_information_ssd_left_top>div{
    color: #ffffff;
    font-size: 14px;
}
.teacher_information_ssd_sj{
    position: absolute;
    left: 197px;
    top:0px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-left: 12px solid #ff8b00;
    border-bottom: 19px solid transparent
}
.teacher_information_ssd_ul>ul>li>div{
    height: 37px;
    line-height: 37px;
    width: 171px;
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-left: 27px;
    cursor: pointer;
    font-size: 14px;
    color: #333333;
}
.teacher_information_ssd_ul>ul>li>div:hover{
    background-color:#dddddd ;
}
.teacher_information_ssd_right{
    padding: 15px 0 0 30px;
}
.teacher_information_ssd_right_info{
    width: 400px;
    padding: 15px 0 0 32px;
}
.teacher_information_ssd_right_info>div{
    height: 45px;
    width: 200px;
    float: left;
    display:block;
    font-size: 14px;
}
.teacher_information_ssd_right_info>div>span{
    padding-left: 10px;
    width: 12em;
    display: inline-block;!important
    white-space:nowrap;
    overflow:hidden !important;
    text-overflow:ellipsis;
}
.teacher_information_info_bottom{
    font-size: 16px;
    padding:10px 0 0 27px;
    min-height: 125px;
}
.teacher_information_info_bottom_I{
    padding-top: 20px;
}
.teacher_information_info_bottom_I>div{
    background-color: #ffedc7;
    background-color: #ffedc7;
    padding: 5px 10px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.teacher_information_bottom_II{
    padding-left: 20px;
    color: #fd940f;
    cursor: pointer;
    display: inline-block;
}
.teacher_information_new_SC{
    clear: both;
    width: 740px;
    margin: 0 auto 50px auto;
    position: relative;
}
.teacher_information_new_SC_SJ{
    margin: 10px auto 0 auto;
    border: 1px solid #dddddd;
    width: 740px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.teacher_information_new_SC_SJ>div{
    float: left;
    width: 510px;
    padding-left: 90px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}
.teacher_information_new_SC_top{
    height: 32px;
    font-weight: bold;
    line-height: 32px;
    padding-top: 8px;
}
.teacher_information_SC_TV{
    position: absolute;
    top: 0px;
    left: 101%;
    width: 195px;
    background: #ffffff;
}
.teacher_information_right_SC_bottom{
    width: 90%;
    border: 1px solid #3ea93c;
    background: #5cb95c;
    margin: 10px auto 10px auto;
    color: #ffffff;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    display: block;
    cursor: pointer;
    outline: none;
    float: none;
    border-radius: 0;
    line-height: 0px;
}
a.teacher_information_right_SC_bottom {
    line-height:27px;
    text-align:center;
}
/*************************************生成试卷******************************************/
.teacher_information_generata_info{
    background: #dfdfdf;
    width: 100%;
    min-height: 900px;
    position: relative;
}
.teacher_information_generata{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #fda618;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;

}
.teacher_information_generata>span{
    cursor: pointer;
}
.teacher_information_generata>span:hover{
    color: #ff0000;
}
.teacher_information_generata_I_left{
    display: inline-block;
    width: 50%;
    text-align: center;
}
.teacher_information_generata_top{
    width: 910px;
    height: 98px;
    line-height: 98px;
   position: relative;
    top:10px;
    left: 50%;
    margin-left:-400px;
    background: #ffffff;
    border: 2px solid #ffffff;
    float: left;
}
.teacher_information_generata_top>div{
    width: 200px;
    height: 98px;
    float: left;
    text-align: center;
    cursor: pointer;
    color:#fda618 ;
}
.teacher_information_generata_top_info_I{
      background: #fda618;
}
.teacher_information_generata_top_info_II{
    border: 3px solid #ffffff !important;
    color: #ffffff;
}
.teacher_information_generata_top>div>span{
    display: inline-block;
    width: 48px;
    height: 58px;
    border: 3px solid #fda618;
    vertical-align: middle;
    line-height: 58px;
    margin-left: -7px;
}
.teacher_information_generata_top_right{
    width: 110px !important;
    height: 98px !important;
    background: #fda618 !important;
}
.teacher_information_generata_top_right span{
    color: #ffffff;
    width: 100% !important;
    border: none !important;
    font-size: 14px;
}
.teacher_information_generata_middle{
    margin: 0 auto 0 auto;
    width: 800px;
    min-height: 800px;
    background: #ffffff;
    position:   relative;
}
.teacher_information_generata_middle_SJ{
    margin: 0px auto 0 auto;
    border: 1px solid #fda616;
    width: 780px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    position: relative;
    top:10px;
    background: #fcfbf4;
}
.teacher_information_generata_middle_SJ>div{
    float: left;
    width: 510px;
    padding-left: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    font-size: 18px;
}
.teacher_information_generata_middle_SJ>img{
    margin: 20px 0 0 90px;
    cursor: pointer;
}
.teacher_information_generata_middle_SX{
    margin: 0px auto 0 auto;
    border: 1px solid #fda616;
    width: 780px;
    height: 60px;
    text-align: center;
    position: relative;
    top:10px;
    background: #fcfbf4;
}
.teacher_information_generata_middle_SX>dl{
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    padding-top: 5px;
    width: 150px;
    text-align: left;
    margin-left: 50px;
}
.teacher_information_generata_middle_SX dt{
    font-weight: bold;
}
.teacher_information_generata_middle_SX>img{
    margin: 20px 0px 0px 90px;
    cursor: pointer;
    float: right;
    padding-right: 20px
}
.teacher_information_generata_all{
    width: 97.5%;
    min-height: 900px;
    margin: 0px auto 0 auto;
    border:1px solid #dddddd;
   border-top:none;
}
.teacher_information_generata_middle_MC{
    height: 70px;
    width: 97%;
    margin: 0px auto 0 auto;
  /*  border-left:1px solid #dddddd;
    border-right:1px solid #dddddd;*/
    line-height: 70px;
}
.teacher_information_generata_XS>span{
    background: #5cb95c;
    border: 1px solid #3caa3d;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 14px;
    float: right;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: -31px;
    display: none;
}
/*.teacher_information_generata_XS:hover span{*/
    /*display: inline-block !important;*/
/*}*/
.teacher_information_generata_XS{
    width: 100%;
    margin: 10px auto 0 auto;
    border:1px solid transparent;
    min-height: 100px;
}

.teacher_information_generata_XS div dl dt span{
    max-width: 100%;
    overflow: hidden;
}
.teacher_information_generata_XS:hover{
    border: 1px solid #3caa3d;
}
.teacher_information_generata_middle_MC li{
    float: left;
    width: 250px;
}
.teacher_information_generata_middle_MC input{
    border-bottom: 1px solid #a0a0a0;
    font-size: 15px;
}
.teacher_information_new_generata_middle{
    padding: 35px 0 35px 80px;
}
.teacher_information_new_generata_middle>ul>li>input{
    height: 30px;
    width: 325px;
    text-indent: 0.5em;
    outline: none;
    font-size: 15px;
}
.teacher_information_new_generata_middle>ul>li{
    list-style-type:disc ;
    color:#ff8a00;
    font-size: 12px;
    margin: 15px 0;
    line-height: 36px;
}
.teacher_information_new_generata_middle>ul>li>span{
    font-size: 15px;
    color: #666666;
    display: inline-block;
    width: 65px;
}
.teacher_information_new_generata_middle_II{
    width: 265px;
    min-height: 50px;
    vertical-align: top;
    display: inline-block;
}
.teacher_information_new_generata_middle_II button{
    height: 40px;
    width: 265px;
    margin-bottom: 5px;
    cursor: pointer;
}
.teacher_information_new_generata_middle_II button:hover{
    border: 1px solid #ff8b00;
    color: #c3c3c3;
}
.teacher_information_new_generata_middle_III{
    border: 1px solid #dddddd;
    color: #999999;
    background: white;
}
.teacher_information_new_generata_middle_V{
    border: 1px solid #dddddd;
    color: #999999;
    background: #f7f7f7;
}
.teacher_information_new_generata_middle_V div{
    float: left;
    width: 150px;
    padding-left: 60px;
}
.teacher_information_new_generata_middle_VI{
    border: 1px solid #ff8b00;
    color: #ffffff !important;
    background: #ff8b00;
}
.teacher_information_new_generata_middle_VI div{
    float: left;
    width: 150px;
    padding-left: 60px;
}
.teacher_information_new_generata_bottom{
    margin: 10px auto 0 auto;
    width: 740px;
    height: 54px;
    line-height: 54px;
    background: #e0f2d9;
    border: 1px solid #3caa3c;
    border-radius: 4px;
    text-align: center;
    color: #5aa833;
    font-size: 14px;
}
.teacher_information_new_generata_bottom img{
    position: relative;
    top: 5px;
}
.teacher_information_new_generata_bottom_I{
    font-weight: bold;
    font-size: 16px;
}
.teacher_information_new_generata_bottom_II{
    text-decoration: underline;
    cursor: pointer;
}
/**********************************弹出框**********************************/
.teacher_information_open{
    position: fixed;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    width: 100%;
    height: 100%;
    z-index: 1;
}
.teacher_information_open_bc{
    width: 554px;
    height: 280px;
    background: #ffffff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -277px;
    border: 5px solid ghostwhite;
    z-index: 9999;
    border-radius: 4px;
}
.teacher_information_open_top{
    background: #feaa00;
    height: 41px;
    width: 100%;
    font-size: 25px;
    cursor: pointer;
}
.teacher_information_open_top>span{
    color: #ffffff;
    float: right;
    margin: 2px 20px 0 0;
}
.teacher_information_open_middle{
    width: 490px;
    height: 175px;
    margin: 0 auto;
}
.teacher_information_open_middle dt{
    height: 60px;
    line-height: 60px;
    font-weight:bold;
}
.teacher_information_open_middle dd{
    width: 486px;
    height: 106px;
    border: 1px solid #DDDDDD;
}
.teacher_information_open_middle span{
    line-height: 1.5em;
    margin: 5px 0 0 5px;
}
.teacher_information_generata_XS>div{
    margin: 10px;
}
.teacher_information_generata_XS>div>dl>dd>span{
    padding-right: 100px;
}
.teacher_jiexi{
    display: inline-block;
    background: #e8e8e8;
    width: 76px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.teacher_jiexi_ZT{
    color: #1888e4;
    padding-left: 20px;
}
.teacher_jiexi_ZT_I{
    padding-left: 100px;
}
.teacher_information_generata_right_II{
    margin: 10px;
}
.teacher_information_generata_right_II>dl>dd>span{
    padding-right: 100px;
}
.teacher_information_ssd_ul>ul>li{
    position: relative;
}

#prompt-div {
    background-color: rgba(128,128,128,0.3);
    /*opacity: 1;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*filter: alpha(opacity = 50);*/
    /*-moz-opacity: 0.5;*/
    /*-khtml-opacity: 0.5;*/
    width: 100%;
    height: 100%;
    padding-top: 120px;
    font-size: 14px;
    display: none;
}

.message-box {
    max-width: 450px;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 0px 10px #666;
}

.message-box-title {
    background: lightgray;
    overflow: visible;
    padding: 10px 20px 10px 20px;
}

.message-box-title + div {
    padding: 20px;
    text-align: center;
    overflow: visible;
}
.teacjer_information_right_last_infoo{
    min-height: 25px;
    cursor: pointer;
    width: 75%;
    margin: 0 0 0 40px
}
.item_index{
    vertical-align: top;
}

/*************************分页****************************/
.new-page-links li{
    list-style: none;
    float: left;
    line-height: 30px;
    border: #dcdcdc 1px solid;
    color: #000a25;
    background: #fff;
    padding: 0 10px;
    border-right: 0;
}
.new-page-links li a{
    display: block;
}
.new-page-links li.first{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.new-page-links li.last{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: #dcdcdc 1px solid;
}
.new-page-links li:hover{
    background: #ddd;
}
.new-page-links li a:hover{
    color: #000a25;
}

.new-page-links li.active{
    background: #f5f5f5;
    color: #9d9f9e;
}
.new-page-links li.active a{
    cursor: default !important;
    color: #9d9f9e;
}
.new-page-links li.disabled,.new-page-links li.disabled a{
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

/*****************************弹出窗口************************************/
.bg{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

.wind-up{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -280px;
    margin-top: -200px;
    width: 560px;
    height: 400px;
    background: #FFF none repeat scroll 0% 0%;
    cursor: default;
    z-index: 2;
}

.tc-top em{
    float: right;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}
.tc-top{
    background-color: #000;
    opacity: 0.4;
    height: 40px;
    line-height: 40px;
    color: #fff;
    padding-left: 10px;
    font-size: 16px;
}
.winde-up2 td, .winde-up2 th{
    line-height: 30px;
    border:  #ddd 1px solid;
    text-align: center;
    padding: 10px;
    width: 160px;
    height: 30px;

}

.wind-up{
    overflow: hidden;
}

.winde-up2{
    max-height: 350px;
    overflow-y:auto !important;
    padding:10px 10px 0 10px;
}

