<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 实现UserDao接口对应的方法 -->
<mapper namespace="com.fulaan.groupgather.dao.UserMapper">
    <!-- 增 -->
    <insert id="save" parameterType="com.fulaan.groupgather.pojo.User">
        INSERT INTO t_user(user_id,user_name)
        VALUES (#{userId},#{userName});
    </insert>

    <!-- 查 -->
    <select id="findByUserId" resultType="com.fulaan.groupgather.pojo.User" parameterType="java.lang.String">
        SELECT * FROM t_user WHERE user_id=#{0};
    </select>
</mapper>