/**************************调课***************************/
.hover{
    cursor: pointer;
}
.C-queding{
    border:1px solid #fd8b00;
    color: #fd8b00;
}
.C-quxiao{
    border:1px solid #707070;
    color: #707070;
}
.tab-col{
    border:1px solid #959595;
    position: relative;
    top: 40px;
    margin-bottom: 20px;
}
.tab-col .tab-top{
    width: 100%;
    position: absolute;
    top:-45px;
    left: -1px;
}
.tab-col .tab-top li{
    float: left;
    background: #fda715;
    padding: 12px 20px;
    margin-right: 5px;
}
.tab-col .tab-top ul{
    float: left;
}
.tab-col .tab-top li a{
    color: #ffffff;
    font-size: 16px;
}
.tab-col .tab-top .cur{
    background: #ffffff;
    border:1px solid #959595;
    border-bottom: none;
}
.tab-col .tab-top .cur a{
    color:#fda715;
}
.tab-top .tab-back{
    float: right;
    font-size: 15px;
    height: 42px;
    line-height: 42px;
}
.tab-col .tab-adjust{
    display: none;
    padding: 40px 28px;
}
.tab-col .tab-adjust dt{
    font-weight: bold;
}
.tab-adjust dt i{
    margin-left: 40px;
}
.tab-col .tab-adjust dd{
    margin: 30px 0;
}
.tab-col .tab-adjust dd select{
    width: 190px;
    height: 35px;
}
.adjust-BU{
    float: right;
    border: none;
    background: #9c9c9c;
    color: #ffffff;
    width: 95px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.adjust-BU2{
    border: none;
    background: #9c9c9c;
    color: #ffffff;
    width: 95px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.tab-col .tab-adjust dd tr th{
    background: #cecece;
}
.tab-col .tab-adjust dd tr th,.tab-col .tab-adjust dd tr td{
    text-align: center;
    border: 1px solid #797979;
    height: 38px;
    width: 100px;
}
.tab-col .tab-adjust dd tr .TD{
    width: 155px;
}
.tab-col .tab-adjust dd tr em{
    padding: 0 5px;
}
/***********************临时调课************************/
.tab-col .tab-linshi{
    display: none;
    padding: 40px 28px;
}
.tab-col .tab-linshi dt{
    font-weight: bold;
}
.tab-linshi dt i{
    margin-left: 40px;
}
.tab-col .tab-linshi dd{
    margin: 30px 0;
}
.tab-col .tab-linshi dd em{
    margin-right: 25px;
}
.tab-col .tab-linshi dd i{
    color: #ff8b00;
}
.tab-col .tab-linshi dd button{
    float: right;
    margin-left: 10px;
}
.tab-col .tab-linshi dd input{
    margin-right: 18px;
    width: 130px;
    height: 29px;
}
.tab-col .tab-linshi dd select{
    width: 110px;
    height: 35px;
    margin-left: 15px
}
.tab-col .tab-linshi dd .selectBtn{
    float: right;
    border: none;
    background: #9c9c9c;
    color: #ffffff;
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}
.tab-linshi dd .adjust-mian{
    height: 523px;
}

.tab-linshi dd .adjust-mian .adjust-mian-left{
    float: left;
    width: 135px;
    height: 518px;
    overflow-y: hidden;
    border: 1px solid #797979;
    margin-right: 10px;
}

.adjust-mian-left div:nth-child(2){
    border-bottom: none;
}
.adjust-mian-left-top{
    height: 35px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-bottom:1px solid #797979 ;
}
.adjust-mian-left-top2{
    height: 35px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-bottom:1px solid #797979 ;
}
.ulBorder
{
    height: 483px;
    overflow-y: auto;
}
.ulBorder2
{
    height: 223px;
    overflow-y: auto;
}
.adjust-mian-left ul li{
    height: 78px;
    text-align: center;
    border-bottom:1px solid #797979;
}
.adjust-mian-left .adjust-BK{
    background: #fede77;
}
.adjust-mian-left li strong{
    display: block;
}
.adjust-mian-right{

}
.adjust-mian-right tr th{
    width: 100px;
    height: 28px;
    border: 1px solid #797979;
}
.adjust-mian-right tr td{
    width: 100px;
    height: 60px;
    border: 1px solid #797979;
    text-align: center;
}
.adjust-mian-right tr td label{
    display: block;
}
.adjust-mian-right tr  .adjust-NT{
    background: #bbbbbb;
    color: #ffffff;
}
.adjust-mian-right tr .adjust-KC{
    background: #69d522;
    color: #ffffff;
}
.adjust-mian-right tr .adjust-GR{
    background: #f39a2d;
    color: #ffffff;
}
.adjust-mian-right tr .adjust-JY{
    background: #fe7a00;
    color: #ffffff;
}
.adjust-mian-right tr th:first-child,.adjust-mian-right tr td:first-child{
    width: 80px;
}
.asjust-tiaozheng tr th{
    background: #dadada;
}
.asjust-tiaozheng tr th,.asjust-tiaozheng tr td{
    text-align: center;
    width: 139px;
    height: 38px;
    border: 1px solid #797979;
}
.tab-linshi dd span{
    display: inline-block;
    width: 135px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border:1px solid #c9c9c9;
}
.c-kebiao{
    background: #feaa00;
    color: #ffffff;
    border: 1px solid transparent !important;
}
.tab-linshi .linshi-top{
    width: 100%;
    text-align: center;
}
/***********************跨周调课************************/
.tab-col .tab-kuazhou{
    display: none;
    padding: 40px 28px;
}
.tab-col .tab-kuazhou dt{
    font-weight: bold;
}
.tab-kuazhou dt i{
    margin-left: 40px;
}
.tab-col .tab-kuazhou dd{
    margin: 30px 0;
}
.tab-col .tab-kuazhou dd em{
    margin-right: 25px;
}
.tab-col .tab-kuazhou dd i{
    color: #ff8b00;
}
.tab-col .tab-kuazhou dd button{
    float: right;
    margin-left: 10px;
}
.tab-col .tab-kuazhou dd input{
    margin-right: 18px;
    width: 170px;
    height: 29px;
}
.tab-col .tab-kuazhou dd select{
    width: 125px;
    height: 35px;
    margin-left: 15px
}
.tab-kuazhou dd .adjust-mian{
    height: 523px;
}
.tab-kuazhou dd .adjust-mian .adjust-mian-left{
    float: left;
    width: 135px;
    height: 518px;
    overflow-y: auto;
    border: 1px solid #797979;
    margin-right: 10px;
}

.tab-kuazhou dd span{
    display: inline-block;
    width: 135px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border:1px solid #c9c9c9;
}

.tab-kuazhou .linshi-top{
    width: 100%;
    text-align: center;
}
/*******************发布调课***********************/
.tab-col .tab-lesson{
    display: none;
    padding: 0px 28px 40px 28px;
}
.tab-col .tab-lesson dt{
    font-weight: bold;
}
.tab-lesson dt i{
    margin-left: 40px;
}
.tab-col .tab-lesson dd{
    margin: 30px 0;
}
.tab-col .tab-lesson dd em{
    margin-right: 25px;
}
.tab-col .tab-lesson dd i{
    color: #ff8b00;
}
.tab-lesson dd textarea{
    width: 705px;
    height: 77px;
}
.tab-lesson dd tr th{
    background: #cacaca;
}
.tab-lesson dd tr th,.tab-lesson dd tr td{
    height: 41px;
    text-align: center;
    border:1px solid #797979;
    width:140px;
}
.tab-col .tab-lesson dd label{
    display: block;
}
.tab-col .tab-lesson .lesson-botton{
    text-align: right;
}
.tab-col .tab-lesson .lesson-botton strong{
    display: block;
}
/*******************选择类型弹出框********************/
.adjust-CUR{
    display: none;
    width: 410px;
    height: 285px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -142.5px;
    margin-left: -205px;
    background: #ffffff;
    z-index: 99;
}
.adjust-CUR .adjust-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.adjust-CUR-top em{
    float: left;
    margin-left: 28px;
}
.adjust-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.adjust-CUR dl{
    margin: 10px 39px 0;
    font-size: 14px;
}
.adjust-CUR dl dt{
    height: 40px;
    line-height: 40px;
}
.adjust-CUR dl dd{
    height: 50px;
    line-height: 50px;
}
.adjust-CUR dl dd select{
    width: 230px;
    height: 32px;
}
.adjust-CUR dl dd em{
    text-align: left;
    display: inline-block;
    width: 4em;
    margin-right: 33px
}
.adjust-CUR dl dd button{
    background: #ffffff;
    width: 62px;
    height:29px;
    line-height: 28px;
    margin: 0 5px;
}
.adjust-CUR dl dd div{
    text-align: center;
    margin-top: 15px;
}

/*******************选择类型弹出框2********************/
.linshi-CUR{
    display: none;
    width: 410px;
    height: 338px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -164px;
    margin-left: -205px;
    background: #ffffff;
    z-index: 99;
}
.linshi-CUR .linshi-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.linshi-CUR-top em{
    float: left;
    margin-left: 28px;
}
.linshi-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.linshi-CUR dl{
    margin: 10px 39px 0;
    font-size: 14px;
}
.linshi-CUR dl dt,.linshi-CUR dl dd{
    height: 50px;
    line-height: 50px;
}
.linshi-CUR dl dd select{
    width: 230px;
    height: 32px;
}
.linshi-CUR dl dd em{
    text-align: left;
    display: inline-block;
    width: 4em;
    margin-right: 33px
}
.linshi-CUR dl dd button{
    background: #ffffff;
    width: 62px;
    height:29px;
    line-height: 28px;
    margin: 0 5px;
}
.linshi-CUR dl dd div{
    text-align: center;
    margin-top: 15px;
}

/**************************背景***********************/
.bg
{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

/*分页*/
.page-paginator {
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
    display: none;
}

.page-index span {
    padding: 3px 8px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}

.first-page, .last-page {
    padding: 3px 15px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}

.page-paginator span.active {
    background-color: #E6E6E6;
    color: #779554;
}

/*分页结束*/


.Rclass-main-ZB{
    background: #f7b84a;
    cursor: pointer;/*
    z-index: 99 !important*/;
}
.Rclass-main-Green{
    background: #008000;
    cursor: pointer;/*
    z-index: 99 !important*/;
}
.Rclass-main-Question{
    background: #008000;
    cursor: pointer;/*
    z-index: 99 !important*/;
}
.Rclass-main-Red{
    background:#FEDEDE;
    cursor: default/*
    z-index: 99 !important*/;
}
.Rclass-main-Gray{
    background:#FEDEDE;
    cursor: default/*
    z-index: 99 !important*/;
}
.Rclass-main-ZB .Rclass-ZB-TC{
    display: none;
    position: absolute;
    border: 2px solid #f7b849;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
    background: #fff;
    padding-bottom: 5px;
    z-index: 99999 !important;
}
.Rclass-ZB-TC>div{
    width: 114px;
    border:1px solid #f7b849;
    margin: 5px 0 0 15px;
    position: relative;
    background: #fff;
    color: #000000;
}
.Rclass-ZB-TC .Rclass-ZB-TCC{
    background: #f7b84a;
    color: #ffffff;
}
.Rclass-ZB-TC div em{
    display:block;
}


.Nclass-ZB-TC .Rclass-ZB-TCC{
    background: #f7b84a;
    color: #ffffff;
}

.Rclass-ZB-TCC-stl{
    background:#71C671 !important;
    border:none !important;
}

.Rclass-ZB-TC div i{
    position: absolute;
    right: -20px;
    color: black;
    top: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.Rclass-main-ZB .Rclass-ZB-SJ{
    display: none;
    position: absolute;
    width: 4px;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 101px;
    z-index: 999 !important;
}
.inner{
    width: 26px;
    height: 59px;
    position: relative;
    top: -23px;
    left: -2px;
}
.Rclass-main-ZB .Rclass-ZB-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 1px;
    border-top: 0px solid transparent;
    border-right: 24px solid #f7b849;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
    z-index: 99 !important;
}
.Rclass-main-PE .Rclass-ZB-SJ{
    display: none;
    position: absolute;
    width: 4px;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 101px;
    z-index: 999 !important;
}

.Rclass-main-PE .Rclass-ZB-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 1px;
    border-top: 0px solid transparent;
    border-right: 24px solid #f7b849;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
    z-index: 99 !important;
}
.Rclass-main-PE .Rclass-ZB-TC{
    display: none;
    position: absolute;
    border: 2px solid #f7b849;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
    background: #fff;
    padding-bottom: 5px;
    z-index: 99999 !important;
}
.Rclass-main-right table .Rclass-main-GR{
    background: #f39a2d;
    cursor: pointer;
}
.Rclass-main-right table .Rclass-main-JY{
    background: #fe7a00;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.Rclass-main-JY .Rclass-JY-SJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 98px;
    z-index: 9;
}
.Rclass-main-JY .Rclass-JY-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 24px solid #fe7a00;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
}
.Rclass-main-JY .Rclass-JY-TC{
    display: none;
    position: absolute;
    border: 2px solid #fe7a00;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;

}
.Rclass-JY-TCC em{
    color: #000000;
    display: block;
}
.Rclass-JY-TC .Rclass-JY-TCC button{
    width: 42px;
    height: 22px;
    line-height: 22px;
    background: #ffffff;
    border:1px solid #707070;
    color: #707070;
    cursor: pointer;
}
.Rclass-JY-TC .Rclass-JY-TCC .Rclass-JY-TCC-QD{
    border:1px solid #ff8c00;
    color: #ff8c00;
}

.Rclass-main-right table th,.Rclass-main-right table td{
    border:1px solid #797979;
    position: relative;
}
.Rclass-main-right table td em{
    margin: 0!important;
    line-height: 20px;
}
.TB_black
{
    background: #9c9c9c;
}