/*****************排课课表结构设置********************/
.tab-col{
    border:1px solid #959595;
    position: relative;
    top: 44px;
    margin-bottom: 25px;
}
.tab-col .tab-top{
    width: 100%;
    position: absolute;
    top:-45px;
    left: -1px;
}
.tab-col .tab-top li{
    float: left;
    background: #fda715;
    padding: 12px 20px;
    margin-right: 5px;
}
.tab-col .tab-top ul{
    float: left;
}


.tab-col .tab-top li a{
    color: #ffffff;
    font-size: 16px;
}
.tab-col .tab-top .cur{
    background: #ffffff;
    border:1px solid #959595;
    border-bottom: none;
}
.tab-col .tab-top .cur a{
    color:#fda715;
}
.tab-top .tab-back{
    float: right;
    font-size: 15px;
    height: 42px;
    line-height: 42px;
}
.tab-timetable{
    padding-bottom: 20px;
}

.tab-col .tab-timetable dl{
    margin: 0 28px;
}
.tab-timetable dl dd{
    min-height: 60px;
    line-height: 60px;
}
.tab-timetable dl dd em{
    margin-right: 28px;
}
.tab-timetable dl dd select{
    width: 160px;
    height: 35px;
    line-height: 35px;
}
.tab-timetable dl dd button{
    width: 80px;
    height: 35px;
    line-height: 35px;
    background: #9c9c9c;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: 330px;
}
.tab-timetable dl dd input{
    width: 15px;
    height: 15px;
}
.tab-timetable dl dd i{
    margin-right: 20px;
}
.tab-timetable dl dd .timetable-SE{
    width: 130px;
    height: 35px;
    line-height: 35px;
}
#tableShow{
    font-size: 14px;
}
#tableShow2{
    font-size: 14px;
}
#tableShow4{
    font-size: 14px;
}
.tab-timetable dl dd table{
    margin-top: 20px;
}
.tab-timetable dl dd th{
    background: #cccccc;
}
.tab-timetable dl dd th,.tab-timetable dl dd td{
    height: 32px;
    line-height: 32px;
    width: 85px;
    border: 1px solid #797979;
    text-align: center;
}
.tab-timetable dl dd td{
    cursor: pointer;
}
.tab-timetable dl dd td:first-child{
    cursor: default;
    width: 95px;
}
.tab-timetable dl dd td input{
    border: 1px solid transparent;
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.tab-timetable dl dd td input:hover{
    border: 1px solid #797979;
}
.tab-timetable dl dd .arranging-N{
    background: #e6e6e6;
    cursor: default;
}
.tab-timetable dl dd table td em{
    color: #ffffff;
    margin: 0;
    display: block;
    height: 50%;
}
.tab-timetable dl dd .arranging-JY{
    background: #fe7a00;
}
.tab-timetable dl dd .arranging-GR{
    background: #f39a2d;
}
.tab-timetable dl dd .arranging-JY2{
    background: #fe7a00;
    height: 100%;
    line-height: 63px;
}
.tab-timetable dl dd .arranging-GR2{
    background: #f39a2d;
    height: 100%;
    line-height: 63px;
}
/***********************走班排课************************/
#tab-Rclass{
    display: none;
}
.tab-col .tab-Rclass dl{
    margin: 0 28px;
}
.tab-Rclass dl dd{
    min-height: 60px;
    line-height: 60px;
}
 .tab-Rclass dl dd em{
    /*margin-right: 27px;*/
}
 .tab-Rclass dl dd #fenduan
 {
     margin-left: 27px;
 }
.tab-Rclass dl dd #lockTable
{
    margin-left: 27px;
}
 .tab-Rclass dl dd select{
    margin-right: 20px;
    width: 120px;
    height: 35px;
    line-height: 35px;
}
.tab-Rclass dl dd button{
    width: 100px;
    height: 35px;
    line-height: 35px;
    background: #9c9c9c;
    color: #ffffff;
    border: none;
}
.tab-Rclass dl dd p{
    width: 580px;
    height: 38px;
    line-height: 38px;
    border:1px solid #797979;
    background: #ffe8c1;
    padding: 0 20px;
    float: right;
}
.tab-Rclass dl dd p a{
    text-decoration: underline;
    cursor: pointer;
}
.tab-Rclass dl dd p i{
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #f9ce89;
    margin-top: 9px;
    cursor: pointer;
}
.tab-Rclass .Rclass-main{
    min-height: 512px;
    margin-bottom: 30px;
}
.Rclass-main .Rclass-main-left{
    width: 135px;
    border: 1px solid #797979;
    float: left;
}
.Rclass-main-left .Rclass-main-left-top{
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #797979;
    text-align: center;
}
.Rclass-main-left ul{
    height: 481px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Rclass-main-left ul li{
    padding:15px 0;
    line-height: 18px;
    border-bottom:1px solid #797979;
    text-align: center;
}
.Rclass-main-left ul li em{
    display: block;
    margin: 0;
}
.Rclass-main-left ul li:first-child{
    padding-top: 15px;
}
.Rclass-main-left ul .Rclass-Hov{
    background: #fede77;
}
.Nclass-main-left ul .Rclass-Hov{
    background: #fede77;
}
.Rclass-main .Rclass-main-right{
    width: 570px;
    float: right;
}
.Rclass-main-right table th{
    height: 31px;
    line-height: 31px;
}
.Rclass-main-right table td{
    height: 59px;
    line-height: 20px;
    text-align: center;
    width: 100px;
    color: #000;
}
.Rclass-main-right table td:first-child{
    width: 81px;
    color: #000000;
}
.Rclass-main-right table th,.Rclass-main-right table td{
    border:1px solid #797979;
    position: relative;
}
.Rclass-main-right table td em{
    margin: 0;
    line-height: 20px;
}
.Rclass-main-right table .Rclass-main-ZB{
    background: #f7b84a;
    cursor: pointer;/*
    z-index: 99 !important*/;
}
.xzbPointTag
{
    background: #6af522 !important;
    cursor: pointer;
}
.Rclass-main-right table .Rclass-main-Green{
    background: #008000;
    cursor: pointer;/*
    z-index: 99 !important*/;
}
.Rclass-main-right table .Rclass-main-Question{
    background: #008000;
    cursor: pointer;/*
    z-index: 99 !important*/;
}
.Rclass-main-right table .Rclass-main-Red{
    background:#FEDEDE;
    cursor: default/*
    z-index: 99 !important*/;
}
.Rclass-main-right table .Rclass-main-Gray{
    background:#FEDEDE;
    cursor: default/*
    z-index: 99 !important*/;
}
.Rclass-main-ZB .Rclass-ZB-TC{
    display: none;
    position: absolute;
    border: 2px solid #f7b849;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
    background: #fff;
    padding-bottom: 5px;
    z-index: 99999 !important;
}
.Rclass-ZB-TC>div{
    width: 114px;
    border:1px solid #f7b849;
    margin: 5px 0 0 15px;
    position: relative;
    background: #fff;
    color: #000000;
}
.Rclass-ZB-TC .Rclass-ZB-TCCC{
    background: #f7b84a;
    color: #ffffff;
}
.Rclass-ZB-TC .Rclass-ZB-TCC{
    background: #ff7200;
    color: #ffffff;
}
.Rclass-ZB-TC div em{
    display:block;
}


.Nclass-ZB-TC .Rclass-ZB-TCC{
    background: /*#f7b84a*/#ff7200;
    color: #ffffff;
}

.Rclass-ZB-TCC-stl{
    background:#71C671 !important;
    border:none !important;
}

.Rclass-ZB-TC div i{
    position: absolute;
    right: -20px;
    color: black;
    top: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.Rclass-main-ZB .Rclass-ZB-SJ{
    display: none;
    position: absolute;
    width: 4px;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 101px;
    z-index: 999 !important;
}
.inner{
    width: 26px;
    height: 59px;
    position: relative;
    top: -23px;
    left: -2px;
}
.Rclass-main-ZB .Rclass-ZB-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 1px;
    border-top: 0px solid transparent;
    border-right: 24px solid #f7b849;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
    z-index: 99 !important;
}
.Rclass-main-PE .Rclass-ZB-SJ{
    display: none;
    position: absolute;
    width: 4px;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 101px;
    z-index: 999 !important;
}

.Rclass-main-PE .Rclass-ZB-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 1px;
    border-top: 0px solid transparent;
    border-right: 24px solid #f7b849;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
    z-index: 99 !important;
}
.Rclass-main-PE .Rclass-ZB-TC{
    display: none;
    position: absolute;
    border: 2px solid #f7b849;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
    background: #fff;
    padding-bottom: 5px;
    z-index: 99999 !important;
}
.Rclass-main-right table .Rclass-main-GR{
    background: #f39a2d;
    cursor: pointer;
}
.Rclass-main-right table .Rclass-main-JY{
    background: #fe7a00;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.Rclass-main-JY .Rclass-JY-SJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 98px;
    z-index: 9;
}
.Rclass-main-JY .Rclass-JY-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 24px solid #fe7a00;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
}
.Rclass-main-JY .Rclass-JY-TC{
    display: none;
    position: absolute;
    border: 2px solid #fe7a00;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;

}
.Rclass-JY-TCC em{
    color: #000000;
    display: block;
}
.Rclass-JY-TC .Rclass-JY-TCC button{
    width: 42px;
    height: 22px;
    line-height: 22px;
    background: #ffffff;
    border:1px solid #707070;
    color: #707070;
    cursor: pointer;
}
.Rclass-JY-TC .Rclass-JY-TCC .Rclass-JY-TCC-QD{
    border:1px solid #ff8c00;
    color: #ff8c00;
}

/***********************小走班排课************************/
#tab-Xclass{
    display: none;
}
#tab-Pclass{
    display: none;
}
.tab-col .tab-Xclass dl{
    margin: 0 28px;
}
.tab-Xclass dl dd{
    min-height: 60px;
    line-height: 60px;
}
.tab-Xclass dl dd em{
    margin-right: 27px;
}
.tab-Xclass dl dd select{
    margin-right: 20px;
    width: 120px;
    height: 35px;
    line-height: 35px;
}
.tab-Xclass dl dd button{
    width: 100px;
    height: 35px;
    line-height: 35px;
    background: #9c9c9c;
    color: #ffffff;
    border: none;
}
.tab-Xclass dl dd p{
    width: 580px;
    height: 38px;
    line-height: 38px;
    border:1px solid #797979;
    background: #ffe8c1;
    padding: 0 20px;
    float: right;
}
.tab-Xclass dl dd p a{
    text-decoration: underline;
    cursor: pointer;
}
.tab-Xclass dl dd p i{
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #f9ce89;
    margin-top: 9px;
    cursor: pointer;
}
.tab-Xclass .Xclass-main{
    min-height: 512px;
    margin-bottom: 30px;
}
.Xclass-main .Xclass-main-left{
    width: 135px;
    border: 1px solid #797979;
    float: left;
}
.Xclass-main-left .Xclass-main-left-top{
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #797979;
    text-align: center;
}
.Xclass-main-left ul{
    height: 481px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Xclass-main-left ul li{
    height: 91px;
    line-height: 18px;
    border-bottom:1px solid #797979;
    text-align: center;
}
.Xclass-main-left ul li em{
    display: block;
    margin: 0;
}
.Xclass-main-left ul li:first-child{
    padding-top: 15px;
}
.Xclass-main-left ul .Xclass-Hov{
    background: #fede77;
}
.Xclass-main .Xclass-main-right{
    width: 570px;
    float: right;
}
.Xclass-main-right table th{
    height: 31px;
    line-height: 31px;
}
.Xclass-main-right table td{
    height: 59px;
    line-height: 20px;
    text-align: center;
    width: 100px;
    /*color: #ffffff;*/
}
.Xclass-main-right table td:first-child{
    width: 81px;
    color: #000000;
}
.Xclass-main-right table th,.Xclass-main-right table td{
    border:1px solid #797979;
    position: relative;
}
.Xclass-main-right table td em{
    margin: 0;
    line-height: 20px;
}
.Xclass-main-right table .Xclass-main-ZB{
    background: #f7b84a;
    cursor: pointer;
    z-index: 99;
}
.Xclass-main-ZB .Xclass-ZB-TC{
    display: none;
    position: absolute;
    border: 2px solid #f7b849;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
}
.Xclass-ZB-TC>div{
    width: 114px;
    height: 60px;
    border:1px solid #f7b849;
    margin: 5px 0 0 15px;
    position: relative;
    color: #000000;
}
.Xclass-ZB-TC .Xclass-ZB-TCC{
    background: #f7b84a;
    color: #ffffff;
}
.Xclass-ZB-TC div em{
    display:block;
}
.Xclass-ZB-TC div i{
    position: absolute;
    right: -20px;
    color: black;
    top: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.Xclass-main-ZB .Xclass-ZB-SJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 98px;
    z-index: 9;
}
.Xclass-main-ZB .Xclass-ZB-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 24px solid #f7b849;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
}
.Xclass-main-right table .Xclass-main-GR{
    background: #f39a2d;
    cursor: pointer;
}
.Xclass-main-right table .Xclass-main-JY{
    background: #fe7a00;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.Xclass-main-right table .Xclass-Green{
    background: #008000;
    cursor: pointer;
}
.Xclass-main-JY .Rclass-JY-SJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 98px;
    z-index: 9;
}
.Xclass-main-JY .Xclass-JY-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 24px solid #fe7a00;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
}
.Xclass-main-JY .Xclass-JY-TC{
    display: none;
    position: absolute;
    border: 2px solid #fe7a00;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
}
.Xclass-JY-TCC em{
    color: #000000;
    display: block;
}
.Xclass-JY-TC .Xclass-JY-TCC button{
    width: 42px;
    height: 22px;
    line-height: 22px;
    background: #ffffff;
    border:1px solid #707070;
    color: #707070;
    cursor: pointer;
}
.Xclass-JY-TC .Xclass-JY-TCC .Xclass-JY-TCC-QD{
    border:1px solid #ff8c00;
    color: #ff8c00;

}
/***********************非走班排课************************/
#tab-Nclass{
    display: none;
}
.tab-col .tab-Nclass dl{
    margin: 0 28px;
}
.tab-Nclass dl dd{
    min-height: 60px;
    line-height: 60px;
}
.tab-Nclass dl dd em{
    margin-right: 27px;
}
.tab-Nclass dl dd select{
    margin-right: 20px;
    width: 120px;
    height: 35px;
    line-height: 35px;
}
.tab-Nclass dl dd button{
    width: 100px;
    height: 35px;
    line-height: 35px;
    background: #9c9c9c;
    color: #ffffff;
    border: none;
    margin-right: 15px;
    cursor: pointer;
}
.tab-Nclass dl dd p{
    width: 580px;
    height: 38px;
    line-height: 38px;
    border:1px solid #797979;
    background: #ffe8c1;
    padding: 0 20px;
    float: right;
}
.tab-Nclass dl dd p a{
    text-decoration: underline;
    cursor: pointer;
}
.tab-Nclass dl dd p i{
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #f9ce89;
    margin-top: 9px;
    cursor: pointer;
}
.tab-Nclass .Nclass-main{
    min-height: 512px;
    margin-bottom: 30px;
}
.Nclass-main .Nclass-main-left{
    width: 135px;
    border: 1px solid #797979;
    float: left;
}
.Nclass-main-left .Nclass-main-left-top{
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #797979;
    text-align: center;
}
.Nclass-main-left ul{
    height: 481px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Nclass-main-left ul li{
    padding: 15px 0;
    line-height: 18px;
    border-bottom:1px solid #797979;
    text-align: center;
}
.Nclass-main-left ul li em{
    display: block;
    margin: 0;
}
.Nclass-main-left ul li:first-child{
    padding-top: 15px;
}
.Nclass-main-left ul .Nclass-Hov{
    background: #fede77;
}
.Nclass-main .Nclass-main-right{
    width: 570px;
    float: right;
}
.Nclass-main-right table th{
    height: 31px;
    line-height: 31px;
}
.Nclass-main-right table td{
    height: 59px;
    line-height: 20px;
    text-align: center;
    width: 100px;
    color: #000;
}
.Nclass-main-right table td:first-child{
    width: 81px;
    color: #000000;
}
.Nclass-main-right table th,.Nclass-main-right table td{
    border:1px solid #797979;
    position: relative;
}
.Nclass-main-right table td em{
    margin: 0;
    line-height: 20px;
}
.Nclass-main-right table .Nclass-main-ZB{
    background: #f7b84a;
    cursor: pointer;
    /*z-index: 9;*/
}
.Nclass-main-ZB .Nclass-ZB-TC{
    display: none;
    position: absolute;
    border: 2px solid #f7b849;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
    background: #fff;
    padding-bottom: 5px;
    z-index: 99999 !important;
}
.Nclass-main-PE .Nclass-ZB-TC{
    display: none;
    position: absolute;
    border: 2px solid #f7b849;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
    background: #fff;
    padding-bottom: 5px;
    z-index: 99999 !important;
}
.Nclass-ZB-TC>div{
    width: 114px;
    height: 60px;
    border:1px solid #f7b849;
    margin: 5px 0 0 15px;
    position: relative;
    color: #000000;
    z-index: 99;
}
.Nclass-ZB-TC .Nclass-ZB-TCC{
    background: #f7b84a;
    color: #ffffff;
    z-index: 99;
}
.Nclass-ZB-TC div em{
    display:block;
}
.Nclass-ZB-TC div i{
    position: absolute;
    right: -20px;
    color: black;
    top: 20px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.Nclass-main-ZB .Nclass-ZB-SJ{
    display: none;
    position: absolute;
    width: 5px;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 98px;
    z-index: 99;
}
.Nclass-main-PE .Nclass-ZB-SJ{
    display: none;
    position: absolute;
    width: 5px;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 98px;
    z-index: 99;
}
.Nclass-PE-td-Full{
    background: #F7B84A;
    color: #000000;
    cursor: pointer;
}
.Nclass-PE-td-Empty{
    background: #FEDEDE;
    color: #000000;
}
.Nclass-main-right table .Nclass-main-Green{
    background: #008000;
    cursor: pointer;
    /*z-index: 99 !important;*/
}
.Nclass-main-right table .Nclass-main-Question{
    background: #008000;
    cursor: pointer;/*
    z-index: 99 !important*/;
}
.Nclass-main-right table .Nclass-main-Red{
    background:#FEDEDE;
    cursor: default/*
    z-index: 99 !important*/;
}
.Nclass-main-right table .Nclass-main-Gray{
    background:#FEDEDE;
    cursor: default/*
    z-index: 99 !important*/;
}
.Nclass-main-ZB .Nclass-ZB-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 24px solid #f7b849;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
}
.Nclass-main-PE .Nclass-ZB-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 24px solid #f7b849;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
}
.Nclass-main-right table .Nclass-main-GR{
    background: #f39a2d;
    cursor: pointer;
}
.Nclass-main-right table .Nclass-main-JY{
    background: #fe7a00;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.Nclass-main-JY .Nclass-JY-SJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 19px solid #ffffff;
    border-bottom: 15px solid transparent;
    top: 22px;
    left: 98px;
    z-index: 9;
}
.Nclass-main-JY .Nclass-JY-SJJ{
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 24px solid #fe7a00;
    border-bottom: 19px solid transparent;
    top: 20px;
    left: 92px;
}
.Nclass-main-JY .Nclass-JY-TC{
    display: none;
    position: absolute;
    border: 2px solid #fe7a00;
    min-height: 70px;
    width: 150px;
    top: 0px;
    left: 115px;
}
.Nclass-JY-TCC em{
    color: #000000;
    display: block;
}
.Nclass-JY-TC .Nclass-JY-TCC button{
    width: 42px;
    height: 22px;
    line-height: 22px;
    background: #ffffff;
    border:1px solid #707070;
    color: #707070;
    cursor: pointer;
}
.Nclass-JY-TC .Nclass-JY-TCC .Nclass-JY-TCC-QD{
    border:1px solid #ff8c00;
    color: #ff8c00;
}
/**********************弹出框教研活动************************/
.gring-CUR{
    display: none;
    width: 630px;
    height: 650px;
    background: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -315px;
    margin-top: -325px;
    z-index: 99;
    overflow: hidden;
}
.gring-CUR .gring-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.gring-CUR .gring-CUR-top em{
    float: left;
    margin-left: 28px;
}
.gring-CUR .gring-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.gring-CUR dl {
    margin: 5px 0px 0 20px;
    font-size: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0 0 5px 0;
    overflow: auto;
    height: 600px;
}
.gring-CUR dl dt,.gring-CUR dl dd {
    min-height: 40px;
    line-height: 40px;
}
.gring-CUR dl dt strong{
    margin-right: 20px;
}
.gring-CUR dl dd button{
    width: 80px;
    height: 29px;
    line-height: 29px;
    border:1px solid #707070;
    padding: 0;
    background: #ffffff;
    cursor: pointer;
    margin-right: 17px;
}
/*.gring-CUR dl dd em{
    margin-right: 29px;
}*/
.gring-CUR dl dd select{
    height: 32px;
    width: 243px;
}
.gring-CUR dl dd textarea{
    width: 237px;
    height: 63px;
}
.gring-CUR dl dd .arranging-TJ{
    background: #a0a0a0;
    color: #ffffff;
    height: 32px;
    line-height: 32px;
    margin-bottom: -35px;
}
.gring-CUR dl dd table{
    margin-top: 30px;
}
.gring-CUR dl dd table td{
    width: 98px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #959595;
    text-align: center;
}
.gring-CUR dl dd table td:nth-child(3){
    width: 146px;
}
.gring-CUR dl dd table td:last-child{
    border: none;
    width: 40px;
    cursor: pointer;
}
.gring-CUR dl .arranging-bottom{
    text-align: center;
    margin:15px 0 0 -10px;
    width: 100%;
}
.arranging-bottom .arranging-QD{
    border:1px solid #fe9c42;
    color: #fe9c42;
}
.selected{
    background: #ff9327 !important;
}
.div-sub{
    line-height: 30px;
    overflow: hidden;
}
.div-sub span{
    display: inline-block;
    float: left;
    font-weight: bold;
}
.label-sub{
    display: inline-block;
    width: 82px;
    font-size: 12px;
    white-space:nowrap;
}
.label-sub input{
    margin-right: 3px;
}
.div-subtea{
    float: left;
    width: 517px;
}
.dd-sub-tea{
    max-height: 308px;
    overflow-y:auto ;
}
.bold-weight{
    font-weight: bold;
}


/***********************教研弹窗start****************************/
.Rclass-JY-wind{
    width: 460px;
    height: 250px;
    background: #FFF none repeat scroll 0% 0%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -230px;
    margin-top: -357.5px;
    z-index: 99;
    display: none;
}
.Rclass-JY-wind2{
    width: 460px;
    height: 250px;
    background: #FFF none repeat scroll 0% 0%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -230px;
    margin-top: -357.5px;
    z-index: 99;
    display: none;
}
.JY-wind-1{
    width: 100%;
    height: 38px;
    line-height: 38px;
    background: #616161 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 16px;


}

.JY-wind-cl{
    display: inline-block;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    font-size: 26px;
}

.Rclass-JY-wind span{
    display: inline-block;
    width: 380px;
    height: 40px;
    line-height: 40px;
    margin-top: 51px;
    margin-left:39px;
    text-align: center;
    letter-spacing:2px;
}
.Rclass-JY-wind2 span{
    display: inline-block;
    width: 380px;
    height: 40px;
    line-height: 40px;
    margin-top: 51px;
    margin-left:39px;
    text-align: center;
    letter-spacing:2px;
}
.JY-wind-2{
    margin-top: 26px;
    margin-left: 148px;
}
.JY-wind-2 button{
    color: #FE9C42;
    border: 1px solid #FE9C42;
    width: 62px;
    height: 30px;
    background: #fff;
    cursor: pointer;
}

.JY-wind-canc{
    color: #333 !important;
    border: 1px solid #707070 !important;
    margin-left: 20px;
    margin-left: 20px;
}

/***********************教研弹窗end****************************/
/**************************背景***********************/
.bg
{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}
/*小走班详情*/
.clash-detial{
    width: 100%;
    height: 100%;
    z-index: 1000000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.detial-bg{
    width: 100%;
    height: 100%;
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.5;
}
.detial-wind{
    width: 354px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -177px;
    padding-bottom: 30px;
    background: #fff;
}

.setwind-top{
    height: 37px;
    background:#616161;
    line-height: 37px;
    padding-left: 25px;
    padding-right: 15px;
}
.setwind-top i{
    color: #fff;
}

.detial-cl{
    display: inline-block;
    font-size: 25px;
    float: right;
    cursor: pointer;
}

.clash-info{
    margin:12px 0 0 26px;
    line-height: 35px;
}

.clash-info .p1{
    font-weight: bold;
}

.clash-tab{
    margin:7px 0 0 27px;
    display: block;
    max-height: 276px;
    overflow: auto;
}

.clash-tab td{
    width: 149px;
    border: 1px solid #9a9a9a;
    text-align: center;
}

.clash-tab .row1{
    height: 40px;
    line-height: 40px;
    background: #dcdcdc;
    font-weight: bold;
}

.clash-tab .row{
    height: 25px;
    line-height: 25px;
}

.clash-btn{
    margin:23px 0 0 159px;
}

.clash-conf{
    width: 60px;
    height: 30px;
    color: #fe8a00;
    border: 1px solid #fe8a00;
    cursor: pointer;
}

.clash-canc{
    width: 60px;
    height: 30px;
    border: 1px solid #707070;
    margin-left: 19px;
    cursor: pointer;
}

/*小走班详情*/