/*
* @Author: Tony
* @Date:   2015-10-14 10:10:18
* @Last Modified by:   Tony
* @Last Modified time: 2015-10-15 10:29:38
*/
.cont-right{
    width: 790px;
}

.right-title{
    width: 790px;
    height: 40px;
    line-height: 40px;
}



.right-title i{
    display: inline-block;
    float: right;
    color: #626262;
    cursor: pointer;
    width: 134px;
}

.right-title li{
    float: left;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position:relative;
    top:2px;
    z-index:8888888;
    background: #fba713;
    color: #fff;
}
.cont-style{
    color: #fba713 !important;
    border: #bbbbbb 1px solid;
    border-bottom:none;
    background: #fff !important;
}
.editcl{
    width: 85px;
}

.notset{
    width: 119px;
}

.right-main1{
    width: 790px;
    min-height:693px ;
    border: #bbb 1px solid;
    padding-bottom: 30px;
}

.main1-1{
    width: 743px;
    height: 35px;
    line-height: 35px;
    margin-top: 35px;
}

.main1-1 em{
    display: inline-block;
    /*width: 40px;*/
    height: 35px;
    margin-left: 35px;
}

.main1-1 select{
    width: 170px;
    height: 35px;
    position: relative;
    top: -1px;
}

.main1-btn{
    width: 92px;
    height: 35px;
    color: #fff;
    background: #9c9c9c;
    float: right;
    text-align: center;
    cursor: pointer;
}

.main1-2{
    width: 658px;
    height: 35px;
    line-height: 35px;
    margin-top: 35px;
}

.main1-2 em{
    display: inline-block;
    width: 40px;
    height: 35px;
    margin-left: 35px;
}

.main1-2 select{
    width: 136px;
    height: 35px;
    position: relative;
    top: -1px;
}

.main1-2btn{
    width: 92px;
    height: 35px;
    color: #fff;
    background: #9c9c9c;
    float: right;
    text-align: center;
    cursor: pointer;
}

.edit-tab{
    margin-left: 27px;
    margin-top: 30px;
    font-size: 14px;
    max-height: 700px;
    display: inline-block;
    overflow: auto;
}

.edit-set{
    display: inline-block;
    cursor: pointer;
}

.edit-tab td{
    border: 1px solid #7a7a7a;
    text-align: center;
    height: 30px;
}

.edit-tab .row1{
    font-weight: bold;
    background: #cccccc;
}

.edit-tab .col1{
    width: 125px;
}

.edit-tab .col2{
    width: 62px;
}

.edit-tab .col3{
    width: 62px;
}

.edit-tab .col4{
    width: 82px;
}

.edit-tab .col5{
    width: 82px;
}

.edit-tab .col6{
    width: 100px;
}

.edit-tab .col7{
    width: 100px;
}

.edit-tab .col8{
    width: 105px;
}

.peo-set{
    display: inline-block;
    cursor: pointer;
}

.tab-check{
    display: inline-block;
    cursor: pointer;
}

/*设置*/
.edit-set-div{
    width: 100%;
    height: 1016px;
    z-index: 1000000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.edit-set-bg{
    width: 100%;
    height: 100%;
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.5;
}
.edit-set-wind{
    width: 366px;
    height: 363px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -183px;
    margin-top: -183px;
    background: #fff;
}

.setwind-top{
    height: 37px;
    background:#616161;
    line-height: 37px;
    padding-left: 25px;
    padding-right: 15px;
}
.setwind-top i{
    color: #fff;
}

.setwind-cl{
    display: inline-block;
    font-size: 25px;
    float: right;
    cursor: pointer;
}

.edit-info{
    padding-left: 30px;
    padding-top: 16px;
    font-weight: bold;
    line-height: 32px;
}

.edit-info i{
    display: inline-block;
    margin-right: 10px;
}

.edit-form{
    padding-left: 30px;
    padding-top: 20px;
    line-height: 50px;
}

.edit-form select{
    width: 215px;
    height: 33px;

}

.edit-form span{
    margin-right: 20px;
}

.cc-btn{
    width: 140px;
    height: 30px;
    margin-left: 114px;
    margin-top: 28px;
    text-align: center;
}

.cc-btn div{
    width: 60px;
    height: 28px;
    float: left;
    line-height: 27px;
    cursor: pointer;
}

.cofi-btn{
    color: #fe8a00;
    border: 1px #fe8a00 solid;
}

.canc-btn{
    border: 1px solid #717171;
    margin-left: 14px;
}
/*设置*/




/*查看*/

.right-main2{
    width: 790px;
    min-height:673px ;
    border: #bbb 1px solid;
    padding-left: 30px;
    padding-top: 20px;
    display: none;
}

.back-btn{
    color: #8b8b8b;
    display: block;
    cursor: pointer;
    margin-bottom: 14px;
    width:50px;
}

.main2-1{
    width: 504px;
    height: 35px;
    line-height: 35px;
    margin-top: 28px;
}

.main2-1 select{
    width: 130px;
    height: 35px;
    position: relative;
    top: -1px;
    margin:0 20px;
}

.btn-screen{
    float: right;
    width: 88px;
    height: 35px;
    background: #9c9c9c;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.main2-info{
    width: 500px;
    height: 20px;
    line-height: 20px;
    margin-top: 30px;
}

.main2-info em{
    margin-left: 20px;
}

.table-stu{
    margin-top: 20px;
}

.table-stu td{
    width: 240px;
    border: 1px solid #9a9a9a;
    text-align: center;
    height: 29px;
}

.table-stu .row1{
    background: #dbdbdb;
    font-weight: bold;
}


/*查看*/

/*调整人员*/
.right-main3{
    width: 790px;
    min-height:673px ;
    border: #bbb 1px solid;
    padding-top: 20px;
    display:none;
}



.main3-sel1 , .main3-sel2{
    width: 319px;
    height: 218px;
    border: 1px solid #959595;
    float: left;
    overflow: auto;

}

.main3-set1{
    height: 35px;
    line-height: 35px;
    margin-top: 28px;
    margin-left: 35px;
}

.main3-set2{
    height: 35px;
    line-height: 35px;
    margin-top: 18px;
    margin-left: 35px;
}

.main3-set2 i{
    display: inline-block;
}

.main3-num{
    width: 27px;
}

.main3-teach{
    width: 60px;
}

.main3-classroom{
    width: 70px;
}

.select-all{
    width: 88px;
    height: 35px;
    background:#9c9c9c;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: 69px;
    display: inline-block;
}

.main3-2{
    margin-top: 15px;
    margin-left: 35px;
}

.ex-change{
    width: 78px;
    height: 218px;
    float: left;
}

.aim-cla{
    display: inline-block;
    width: 80px;
    margin-left: 74px;
}
.aim-class{
    width: 230px;
    height: 32px;
}

.ex-arrow1 , .ex-arrow2{
    width: 36px;
    height: 20px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 17px;
    background:#a0a0a0;
    cursor: pointer;
}

.ex-arrow1{
    margin-top: 84px;
    margin-left: 21px;
}

.ex-arrow2{
    margin-top: 11px;
    margin-left: 21px;
}

.main3-sel1 i{
    display:inline-block;
}

.main3-sel1 li{
    padding-left:15px;
    margin-top:5px;}

.stu-name{
    width:48px;
    display: inline-block;}
.stu-sex{
    display: inline-block;
    width:35px;}
.stu-class{
    width:80px;}


/*调整人员*/

/*非走班设置*/
.right-main4{
    width: 790px;
    min-height:693px ;
    border: #bbb 1px solid;
    display: none;
}

.main4-1{
    width: 690px;
    height: 35px;
    margin:35px 0 0 30px;
}

.main4-1 ,.main4-2 span{
    margin-right: 15px;
}

.main4-1 select{
    width: 220px;
    height: 35px;
    position: relative;
    top: -1px;
}


.main4-2{
    width: 420px;
    height: 35px;
    margin:35px 0 0 30px;
}

.main4-2 select{
    width: 136px;
    height: 35px;
    position: relative;
    top: -1px;
}

.main4-btn{
    width:73px;
    height: 35px;
    background: #9c9c9c;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-left: 22px;
    color: #fff;
}
#userlist{
    font-size: 14px;
    height: 700px;
    display: inline-block;
    overflow: auto;
}

.disclass-tab{
    margin:30px 0 0 30px;
    font-size: 14px;
}

.disclass-tab td{
    border: 1px #797979 solid;
    height: 29px;
    text-align: center;
    line-height: 29px;
}

.disclass-tab .col1{
    width: 173px;
}

.disclass-tab .col2{
    width: 140px;
}

.disclass-tab .col3{
    width: 135px;
}

.disclass-tab .col4{
    width: 135px;
}

.disclass-tab .col5{
    width: 138px;
}

.disclass-tab .row1 td{
    background: #cccccc;
    font-weight: bold;
}

.disclass-set{
    display: inline-block;
    cursor: pointer;
}

.disclass-set-div{
    width: 100%;
    height:996px;
    z-index: 100000000000;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}

.disclass-bg{
    width: 100%;
    height: 100%;
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.5;
}

.disclass-set-wind{
    width: 366px;
    height: 310px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -183px;
    margin-top: -105px;
    background: #fff;
}

.setwind-cont1{
    width: 300px;
    height: 60px;
    line-height: 30px;
    font-weight: bold;
}

.setwind-cont1 .i1{
    display: inline-block;
    width: 178px;
    margin-right: 20px;
}

.setwind-cont1 .i2{
    display: inline-block;
    width: 40px;
    margin-right: 5px;
}

.setwind-cont1{
    margin-left: 30px;
    margin-top: 20px;
}

.setwind-cont2{
    width: 300px;
    height: 84px;
    margin-left: 30px;
}

.setwind-cont2 span{
    display: inline-block;
    margin-top: 20px;
}

.setwind-cont2 select{
    width: 212px;
    margin-left: 21px;
}

.setwind-cont3{
    width: 138px;
    height: 29px;
    margin:47px 0 0 114px;
}

.disclass-conf{
    width: 60px;
    height: 27px;
    border: 1px solid #fe8a00;
    float: left;
    color: #fe8a00;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
}

.disclass-canc{
    width: 60px;
    height: 27px;
    border: 1px solid #717171;
    float: left;
    color: #717171;
    text-align: center;
    line-height: 27px;
    margin-left: 14px;
    cursor: pointer;
}

#weekcnt{
    width: 212px;
    height: 30px;
    border: 1px solid #DDD;
    margin-left: 21px;
}

/*非走班设置*/

.phy-conf
{
    width: 100%;
    height: 1016px;
    z-index: 1000000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}