/* 
* @Author: Tony
* @Date:   2015-10-16 09:15:14
* @Last Modified by:   Tony
* @Last Modified time: 2015-10-16 15:26:10
*/


/***********查看课表**************/
.cont-right{
	width: 790px;
}

.right-title{
	width: 790px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.right-title li{
	width: 125px;
	float: left;
	margin-right: 3px;
	background: #fda716 ;
	color: #fff ;
	border: none ;
	cursor: pointer;
}

.right-title i{
	color: #fda716 ;
	position: relative;
	left: 86px;
}

.right-title span{
	display: inline-block;
	float: right;
	cursor: pointer;
}

.cur{
	color: #fda716 !important;
	border: 1px solid #babcb9 !important;
	border-bottom: none !important;
	background: #fff !important;
}

.right-main1{
	width: 790px;
	min-height:693px ;
	border: #bbb 1px solid;
	display: none;
}

.right-main1 span{
	float: left;
}

.main1-1{
	width: 180px;
	height: 16px;
	line-height: 16px;
	margin:30px 0 0 35px;
}

.main1-1 em{
	margin-right: 4px;
}

.main1-1 i{
	margin-left: 4px;
}

.main1-2{
	width: 750px;
	height: 35px;
	line-height: 35px;
	margin:23px 0 0 7px;
}

.main1-2 select{
	width: 137px;
	height: 35px;
	position: relative;
	top: -1px;
}

.main1-2 i{
	margin-right: 15px;
	margin-left: 28px;
}

.main1-btn1{
	width: 73px;
	height: 35px;
	float: right;
	background: #9b9b9b;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.main1-3{
	margin:30px 0 0 33px;
	text-align: center;
    font-size: 14px;
}


.main1-3 td{
	border: 1px solid #797979;
}

.main1-3 .row1 {
	height: 30px;
	font-weight: bold;
}

.main1-3 .row{
	height: 65px;
}

.main1-3 .col1{
	width: 94px;
	font-weight: bold;
}

.main1-3 .col{
	width: 125px;

}

.main1-3 .row .col{
	color: #a4a4a4;
}



/*模块一*/



/*模块二*/
.right-main2{
	width: 790px;
	min-height:693px ;
	border: #bbb 1px solid;

}

.main2-1{
	width: 180px;
	height: 16px;
	line-height: 16px;
	margin:30px 0 0 35px;
}

.main2-1 em{
	margin-right: 4px;
}

.main2-1 i{
	margin-left: 4px;
}

.main2-2{
	width: 750px;
	height: 35px;
	line-height: 35px;
	margin:23px 0 0 7px;
}

.main2-2 span{
	display: block;
	float: left;
}

.main2-2 select{
	width: 137px;
	height: 35px;
	position: relative;
	top: -1px;
}

.main2-2 i{
	margin-right: 15px;
	margin-left: 28px;
}

.main2-btn1{
	width: 73px;
	height: 35px;
	float: left;
	background: #9b9b9b;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.main2-3{
	margin:30px 0 0 33px;
	text-align: center;
    font-size: 14px;
}


.main2-3 td{
	border: 1px solid #797979;
}

.main2-3 .row1 {
	height: 30px;
	font-weight: bold;
}

.main2-3 .row{
	height: 65px;
}

.main2-3 .col1{
	width: 94px;
	font-weight: bold;
}

.main2-3 .col{
	width: 125px;

}

.main2-3 .row .col{
	color: #a4a4a4;
}

.main2-3 i{
	color:  #fda716 ;
}

.zbtd{
	background:  #fda716;
	color: #fff !important;
	cursor: pointer;
    height: 65px;
    line-height: 65px;
}



/*模块二弹窗*/
.main2-hide{
	width: 100%;
	height: 1016px;
	z-index: 1000000000000;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.main2-hide-bg{
	width: 100%;
	height: 100%;
	background: #000 none repeat scroll 0% 0%;
	opacity: 0.5;
}
.main2-hide-wind{
	width: 644px;
	height: 613px;
	position: fixed;
	top:50%;
    left: 50%;
    margin-left: -322px;
    margin-top: -307px;
	background: #fff;
}

.main2wind-top{
	height: 37px;
	background:#616161; 
	line-height: 37px;
	padding-left: 25px;
	padding-right: 15px;
}
.main2wind-top i{
	color: #fff;
}

.main2wind-cl{
	display: inline-block;
	font-size: 25px;
	float: right;
	cursor: pointer;
}

.hide2-main1{
	width: 570px;
	height: 32px;
	line-height: 32px;
	margin:20px auto;
}

.hide2-main1 select{
	width: 104px;
	height: 30px;
	margin-left: 16px;
}

.hide2-main1 span{
	float: left;
}

.hide2-main1 span .i2{
	margin-left: 26px;
}

.hidemain-btn{
	width: 61px;
	height: 32px;
	float: left;
	color: #fff;
	background: #9c9c9c;
	margin-left: 16px;
	text-align: center;
	cursor: pointer;
}

.hide2-tab{
	margin:20px auto;
}

#detailShow{
    font-size: 14px;
}
.hide2-tab td{
	border: 1px solid #797979;
	text-align: center;
}

.hide2-tab .row1{
	background: #cccccc;
}

.hide2-tab .row{
	height: 30px;
}

.hide2-tab .col1{
	width: 155px;
}

.hide2-tab .col{
	width: 103px;
}



/*模块二*/

/*模块三*/
.right-main3{
	width: 790px;
	min-height:693px ;
	border: #bbb 1px solid;
	display: none;
}

.main3-1{
	width: 180px;
	height: 16px;
	line-height: 16px;
	margin:30px 0 0 35px;
}

.main3-1 em{
	margin-right: 4px;
}

.main3-1 i{
	margin-left: 4px;
}

.main3-2{
	width: 757px;
	height: 35px;
	line-height: 35px;
	margin:23px 0 0 7px;
}

.main3-2 span{
	display: block;
	float: left;
}

.main3-2 input{
	width: 137px;
	height: 29px;
	float: left;
	margin-left: 14px;
}

.main3-2 select{
	width: 137px;
	height: 35px;
	position: relative;
	top: -1px;
}

.main3-2 i{
	margin-right: 15px;
	margin-left: 26px;
}

.main3-btn1{
	width: 73px;
	height: 35px;
	float: left;
	margin-left: 14px;
	background: #9b9b9b;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.main3-3{
	margin:30px 0 0 33px;
	text-align: center;
    font-size: 14px;
}


.main3-3 td{
	border: 1px solid #797979;
}

.main3-3 .row1 {
	height: 30px;
	font-weight: bold;
}

.main3-3 .row{
	height: 65px;
}

.main3-3 .col1{
	width: 94px;
	font-weight: bold;
}

.main3-3 .col0{
	width: 40px;
	font-weight: bold;
}

.main3-3 .col{
	width: 125px;

}

.main3-3 .row .col{
	color: #a4a4a4;
}

.main3-3 i{
	color:  #fda716 ;
}

.publish-table
{
	float: right;
	width: 85px;
	height: 29px;
	background: #fe7a00;
	border: none;
	color: #ffffff;
	cursor: pointer;
	margin: 10px 20px 0 0;
}
/*模块三*/