/* 
* @Author: Tony
* @Date:   2015-10-15 10:38:10
* @Last Modified by:   Tony
* @Last Modified time: 2015-10-19 10:38:57
*/
.cont-right{
	width: 790px;
}

.right-title{
	height: 40px;
}

.title-t{
	width: 110px;
	height: 41px;
	border: #bbbbbb 1px solid ;
	border-bottom: none;
	background: #fff;
	position: relative;
	top: -1px;
	color: #ff8a00;
	font-size: 16px;
	text-align: center;
	line-height: 41px;
	float: left;
	cursor: pointer;
}

.backindex{
	display: inline-block;
	height: 41px;
	line-height: 41px;
	float: right;
	cursor: pointer;
}
.right-main{
	width: 790px;
	min-height:693px ;
	border: #bbb 1px solid;
	padding-bottom: 20px;
}

.right-main1{
	width: 600px;
	height: 125px;
	margin: 10px 0 0 35px;

}

.right-main1 span{
	display: inline-block;
	width: 230px;
	height: 35px;
	line-height: 35px;
	margin-top: 28px;
	margin-right: 13px;
}

.right-main1 select{
	width: 172px;
	height: 35px;
	position: relative;
	top: -2px;
}

.main1-btn{
	width: 73px;
	height: 35px;
	background: #9c9c9c;
	color:#fff;
	cursor: pointer;
	text-align: center;
	line-height: 35px;
	display: inline-block;
}

.right-main2{
	width: 724px;
	height: 614px;
	margin:35px 0 0 30px;
	overflow: auto;
}

#tableShow{
    font-size: 14px;
}

.main2-tab{
	table-layout : fixed ;
	white-space:nowrap;
	line-height: 15px;
}

.main2-tab td{
	border: 1px solid #797979;
	text-align: center;
}

.main2-tab .row1{
}

.main2-tab .row1 td{
	height: 51px;
	font-weight: bold;
}

.main2-tab  .col1{
	min-width: 110px;
	font-weight: bold;
}

.main2-tab  .col2{
	min-width: 60px;
}

.main2-tab  .col{
	min-width: 110px;
}

.main2-tab .row{
	height: 40px;
}

.main2-tab .row1 .col1{
	background: #cccccc;
}

.main2-tab .row1 .col2{
	background: #cccccc;
}
.red-clash{
	background: #ff5959;
	cursor: pointer;
}




.right-main3{
	width: 724px;
	height: 614px;
	margin:35px 0 0 30px;
	display: none;

}

.main3-tab td{
	border: 1px solid #797979;
	text-align: center;
    font-size: 14px;
}

.main3-tab .col1{
	width: 385px;
	font-weight: bold;

}

.main3-tab .col2{
	width: 162px;
}

.main3-tab .col3{
	width: 175px;
}

.main3-tab .row1{
	height: 52px;
	background: #ccc;
	font-weight: bold;
}
.main3-tab .row{
	height: 40px;
}

/*冲突详情*/


.clash-detial{
	width: 100%;
	height: 100%;
	z-index: 1000000000000;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.detial-bg{
	width: 100%;
	height: 100%;
	background: #000 none repeat scroll 0% 0%;
	opacity: 0.5;
}
.detial-wind{
	width: 354px;
	position: fixed;
    top: 50%;
    left: 50%;
	margin-top: -250px;
    margin-left: -177px;
    padding-bottom: 30px;
	background: #fff;
}

.setwind-top{
	height: 37px;
	background:#616161;
	line-height: 37px;
	padding-left: 25px;
	padding-right: 15px;
}
.setwind-top i{
	color: #fff;
}

.detial-cl{
	display: inline-block;
	font-size: 25px;
	float: right;
	cursor: pointer;
}

.clash-info{
	margin:12px 0 0 26px;
	line-height: 35px;
}

.clash-info .p1{
	font-weight: bold;
}

.clash-tab{
	margin:7px 0 0 27px;
    display: block;
    max-height: 276px;
    overflow: auto;
}

.clash-tab td{
	width: 149px;
	border: 1px solid #9a9a9a;
	text-align: center;
}

.clash-tab .row1{
	height: 40px;
	line-height: 40px;
	background: #dcdcdc;
	font-weight: bold;
}

.clash-tab .row{
	height: 25px;
	line-height: 25px;
}

.clash-btn{
	margin:23px 0 0 159px;
}

.clash-conf{
	width: 60px;
	height: 30px;
	color: #fe8a00;
	border: 1px solid #fe8a00;
	cursor: pointer;
}

.clash-canc{
	width: 60px;
	height: 30px;
	border: 1px solid #707070;
	margin-left: 19px;
	cursor: pointer;
}

/*冲突详情*/
