/**********设置分段*************/
.tab-col{
    border:1px solid #959595;
    position: relative;
    top: 45px;
    margin-bottom: 25px;
}
.tab-col .tab-top{
    width: 100%;
    position: absolute;
    top:-46px;
    left: -1px;
}
.tab-col .tab-top li{
    float: left;
    background: #fda715;
    padding: 12px 20px;
    margin-right: 5px;
}
.tab-col .tab-top ul{
    float: left;
}
.tab-col .tab-top li a{
    color: #ffffff;
    font-size: 16px;
}
.tab-col .tab-top .cur{
    background: #ffffff;
    border:1px solid #959595;
    border-bottom: none;
}
.tab-col .tab-top .cur a{
    color: #feaa00;
}
.tab-top .tab-back{
    float: right;
    font-size: 15px;
    height: 42px;
    line-height: 42px;
}
.tab-col .tab-rules{
    /* display: none;*/
    margin: 20px 0;
}
.tab-rules dl dt{
    height: 25px;
    line-height: 25px;
}
.tab-rules dl dt em{
    margin-right: 15px;
    margin-left: 35px;
}
.tab-rules dl dt select{
    width: 223px;
    height: 35px;
}
.tab-rules dl dt button{
    width: 80px;
    height: 35px;
    line-height: 35px;
    background: #9c9c9c;
    border: none;
    color: #ffffff;
    margin-left: 20px;
    cursor: pointer;
}
.tab-rules dl dd{
    margin-left: 30px;
    min-height: 35px;
    line-height: 35px;
    margin-top: 10px;
}

.span-bold{
    font-weight: bold;
}
.tab-rules dl  ul{
    margin-left: 30px !important;
    height: 75px;
}
.tab-rules dl  ul li a{
    float: left;
    padding: 10px 20px;
    border:1px solid #c5c5c5;
    margin-top:25px;
    margin-right: 66px;
    cursor: pointer;
}
.rules-LI{
    background: #feaa00;
    color: #ffffff;
}
.rules-LII{
    background: #c4c4c4;
    color: #ffffff;
}
#fenduanlist{
    margin: 0 auto;
    font-size: 14px;
}
#coursecountlist{
    margin: 0 auto;
    font-size: 14px;
}
#fencenglist{
    margin: 0 auto;
    font-size: 14px;
}

#studentlist{
    font-size: 14px;
    max-height: 763px;
    display: block;
    overflow: auto;
}

.classrul-tab{
    font-size: 14px;
}
.classrul-tab th{
    height: 39px;
}

.classrul-tab td{
    height: 39px;
}


#fencenglist th{
    width: 180px;
}
#sliceTable{
    font-size: 14px;
}
#couselist{
    font-size: 14px;
}
.tab-rules dl dd button{
    float: right;
    padding: 0px 20px;
    height: 35px;
    line-height: 35px;
    background: #9c9c9c;
    border: none;
    color: #ffffff;
    margin-right: 20px;
    cursor: pointer;
}
.dd-table{
    display: block;
    overflow: auto;
    font-size: 14px;
}

.dd-table th{
    width: 75px;
    height: 35px;
}

.dd-table td{
    height: 35px;
}

.dd-table th:first-child , .dd-table th:last-child{
    width: 121px;
}

.tab-rules dl dd table th{
    background: #cccccc;
}
.tab-rules dl dd table th,.tab-rules dl dd table td{
    border:1px solid #7f7f7f;
    line-height: 32px;
    text-align: center;
}
/*.tab-rules dl dd .tab-rules-XY{
    width: 95px;
    height: 35px;
    background: #feaa00;
    color: #ffffff;
    float: left;
}*/

/***********************分段后表单st******************/
.fdh-tab dl dd {
    margin-left: 0;
    min-height: 35px;
    line-height: 35px;
    margin-top: 10px;
}

.fdh-tab{
    margin-top: 31px;
    margin-left: 31px;
    width: 716px;
    border-top:1px dashed #666 ;
    padding-top: 16px;
    display: none;
}

.fdh-tab dl dd button {
    float: right;
    padding: 0px 20px;
    height: 35px;
    line-height: 35px;
    background: #9C9C9C none repeat scroll 0% 0%;
    border: medium none;
    color: #FFF;
    margin-right:0;
    cursor: pointer;
}

.fdh-tab dl{
    margin-bottom: 30px;
}




.fdh-a{
    text-decoration: underline;
    color: #FEAA00;
    cursor: pointer;
}
.fdh-a:hover{
    text-decoration: underline;
}

.dd-table2{
    display: block;
    max-height: 244px;
    overflow: auto;
    font-size: 14px;
}

.dd-table2 th{
    width: 75px;
    height: 35px;
}

.dd-table2 td{
    height: 35px;
}

.dd-table2 th:first-child , .dd-table2 th:last-child{
    width: 121px;
}



/***********************分段后表单ed******************/

/********************设置每班人数********************/

.tab-li-II{
    display: none;
}
.tab-li-II dd em{
    float: left;
    margin-left: 24px;
}
.tab-li-II dd button{
    float: left!important;
    margin-left: 30px;
}
.tab-li-II table th,.tab-li-II table td{
    width:235px!important;
}
.tab-li-II .tab-rules-XY{
    margin: 0;
}

.tab-li-II  dd {
    margin-left: 30px;
    min-height: 35px;
    line-height: 35px;
    margin-top: 10px;
}

.tab-li-II dd button {
    float: right;
    padding: 0px 20px;
    height: 35px;
    line-height: 35px;
    background: #9C9C9C none repeat scroll 0% 0%;
    border: medium none;
    color: #FFF;
    margin-right: 20px;
    cursor: pointer;
}


.tab-li-II  dd table th, .tab-li-II  dd table td {
    border: 1px solid #7F7F7F;
    line-height: 32px;
    text-align: center;
}
.tab-li-II  dd table th {
    background: #CCC none repeat scroll 0% 0%;
}
/********************设置分层********************/
.tab-li-III dd {
    margin-left: 30px;
    min-height: 35px;
    line-height: 35px;
    margin-top: 10px;
}
.tab-li-III dd button {
    float: right;
    padding: 0px 20px;
    height: 35px;
    line-height: 35px;
    background: #9C9C9C none repeat scroll 0% 0%;
    border: medium none;
    color: #FFF;
    margin-right: 20px;
    cursor: pointer;
}

.tab-li-III  dd table th, .tab-li-III  dd table td {
    border: 1px solid #7F7F7F;
    line-height: 32px;
    text-align: center;
}
.tab-li-III  dd table th {
    background: #CCC none repeat scroll 0% 0%;
}
.tab-li-III{
    display: none;
}
.tab-li-III dd select{
    float: left;
    width: 132px;
    height: 35px;
    /*margin-top: 20px;*/
    margin-left: 23px;
}
.tab-li-III dd button{
    float: left!important;
    margin-left: 30px;
    /*margin-top: 20px!important;*/
}
.tab-li-III table th,.tab-li-III table td{
    /*width:235px!important;*/
}
.tab-li-III .tab-rules-XY{
    margin: 0 0 0 310px;
}
/****************************查看分段后选课情况 **************/
.tab-variable{
    display: none;
}
.tab-variable dl dd{
    margin: 25px 0 0 28px;
    min-height: 42px;
    line-height: 42px;
}
.tab-variable dl dd em{
    margin-right: 35px;
}
.tab-variable dl dd select{
    border: 1px solid #c9c9c9;
    height: 35px;
}
.tab-variable dd table{
    margin-bottom: 40px;
}
.tab-variable dd th{
    background: #cccccc;
}
.tab-variable dd th,.tab-variable dd td{
    height: 32px;
    line-height: 32px;
    text-align: center;
    border:1px solid #787878;
    width: 235px;
}
.tab-variable-MX{
    cursor: pointer;
}
/*********************编班规则 查看分段后选课情况*************/
.tab-regulation{
    display: none;
}
.tab-regulation dl{
    margin: 25px 0 0 35px;
}
.tab-regulation dl dd{
    min-height: 42px;
    line-height: 42px;
}
.tab-regulation dl dd em{
    margin-right: 20px;
}
.tab-regulation dl dd i{
    margin-left: 20px;
}
.tab-regulation dl dd select{
    width: 132px;
    height: 35px;
    margin-right: 15px;
}
.tab-regulation dl dd .regulation-SX{
    width: 90px;
    height: 35px;
    line-height: 35px;
    background: #9c9c9c;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.tab-regulation dl dd table{
    margin: 32px 0;
}
.tab-regulation dl dd table th{
    background: #cccccc;
}
.tab-regulation dl dd table th,.tab-regulation dl dd table td{
    width: 170px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border:1px solid #787878;
}
.tab-regulation dl dd table td:last-child{
    cursor: pointer;
}
/*********************7.编班规则*************************/
.tab-slice{
    display: none;
}
.tab-slice dl{
    margin: 25px 35px 0 35px;
}
.tab-slice dl dd{
    min-height: 42px;
    line-height: 42px;
}
.tab-slice dl dd em{
    margin-right: 20px;
}
.tab-slice dl dd i{
    margin-left: 20px;
    margin-right: 20px;
}
.tab-slice dl dd button{
    width: 80px;
    height: 35px;
    background: #feaa00;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.tab-slice dl dd span{
    float: right;
    color: #feaa00;
    cursor: pointer;
}
.tab-slice-main{
    margin-bottom: 30px;
}
.tab-slice .tab-slice-left{
    display: inline-block;
    vertical-align: top;
}
.tab-slice-left .tab-slice-I{
    width: 40px;
}
.tab-slice-left table th{
    background: #cccccc;
}
.tab-slice-left table th,.tab-slice-left table td{
    height: 32px;
    line-height: 32px;
    border: 1px solid #8a8a8a;
    width: 80px;
    text-align: center;
}
.tab-slice .tab-slice-right{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.tab-slice-right .tab-slice-II{
    width: 94px;
}
.tab-slice-right .tab-slice-III{
    background: #fe9a33;
}
.tab-slice-right table th{
    background: #cccccc;
}
.tab-slice-right table th,.tab-slice-right table td{
    height: 32px;
    line-height: 32px;
    width: 70px;
    border: 1px solid #8a8a8a;
    text-align: center;
}
/********************分段设置调整班级*********************/
.adjust-CUR{
    display: none;
    width: 480px;
    height: 470px;
    background: #ffffff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -235px;
    z-index: 99;
}
.adjust-CUR .adjust-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.adjust-CUR-top em{
    float: left;
    margin-left: 28px;
}
.adjust-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.adjust-CUR .adjust-main{
    /* margin:10px 32px;*/
}
.adjust-main-left{
    float: left;
    margin:10px 0 0 32px;
    position: relative;
}
.adjust-main-left .adjust-ZY{
    position: absolute;
    border: none;
    height: 70px;
    width: 56px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13px;
    top: 140px;
    left: 172px;
}
.adjust-main-left .adjust-ZY button{
    width: 37px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}
.adjust-main-right{
    float: right;
    margin:10px 32px 0 0;
}
.adjust-main-left,.adjust-main-right{
    width: 180px;
}
.adjust-main-left dl dt,.adjust-main-right dl dt{
    height: 45px;
    line-height: 45px;
}
.adjust-main-left dl dd,.adjust-main-right dl dd{
    border:1px solid #a0a0a0;
    height: 280px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13px;
}
.adjust-main-left dl dd li,.adjust-main-right dl dd li{
    height: 40px;
    line-height: 40px;
}
.adjust-main-left dl dd li input,.adjust-main-right dl dd li input{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.adjust-main-left dl dd li em,.adjust-main-right dl dd li em{
    margin-left: 10px;
}
.adjust-main-left dt em,.adjust-main-right dt em{
    float: left;
}
.adjust-main-left button,.adjust-main-right button{
    float: right;
    margin-top: 10px;
    background: #a0a0a0;
    color: #ffffff;
    width: 54px;
    height: 24px;
    line-height: 24px;
    border: none;
    padding: 0;
    cursor: pointer;
}
.adjust-bottom{
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.adjust-bottom button{
    width: 62px;
    height: 29px;
    line-height: 29px;
    background: #ffffff;
    border: 1px solid #a0a0a0;
    color:#a0a0a0 ;
    cursor: pointer;
}
.adjust-bottom .adjust-bottom-BU{
    border:1px solid #fe8c00;
    color:#fe8c00 ;
    padding: 0;

}
/*****************************设置班级 自动分段*****************************/
.section-CUR{
    display: none;
    width: 410px;
    height: 550px;
    background: #ffffff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -205px;
    margin-top: -225px;
    z-index: 99;
}

.section-CUR .se1{
    width: 230px;
}

.section-CUR .se2{
    width: 155px;
}

.section-CUR .section-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.section-CUR-top em{
    float: left;
    margin-left: 28px;
}
.section-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.section-CUR dl dd{
    line-height: 50px;
    margin-left: 30px;
    font-size: 15px;
}

.section-CUR dl .dd-text input{
    width: 94px;
    height: 30px;
    border:1px solid #707070;
    padding-left: 10px;
}



.section-CUR dl dd select{
    height: 35px;
    margin-left: 27px;
    border: 1px solid #a0a0a0;
}

.section-CUR .div-rule{
    display: inline-block;
    margin-top: 12px;

}

.section-CUR .div-rule #examlist{
    width: 215px;
    height: 30px;
}

.section-CUR .em-rule{
    display: inline-block;
    width: 64px;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-top: 15px;
}

.dl-rule{
    line-height: 36px;
}
.section-CUR dl dd .section-CK{
    margin-left: 27px;
}
.dl-rule .dd-padding{
    padding-left: 27px;
}

.section-CUR .dl-rule dd{
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
}
.section-CUR dl dd input{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.section-CUR dl dd a{
    text-decoration: underline;
    cursor: pointer;
}
.section-CUR dl dd button{
    width: 62px;
    height: 29px;
    line-height: 29px;
    background: #ffffff;
    border:1px solid #707070;
    color:#707070 ;
    cursor: pointer;
}
.section-CUR dl dd .section-CUR-QR{
    border:1px solid #fea655;
    color: #fea655;
    margin-left:85px;
}
.section-CUR dl dd .section-CUR-QX{
    margin-left: 56px;
}
/*********************设置分段 班级排名****************/
.ranking-CUR{
    display: none;
    width: 375px;
    height: 575px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -187.5px;
    margin-top: -287.5px;
    background: #ffffff;
    z-index: 99;
}
.ranking-CUR .ranking-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.ranking-CUR-top em{
    float: left;
    margin-left: 28px;
}
.ranking-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.ranking-CUR dl dd{
    margin-left: 60px;
    margin-top: 26px;
}
.ranking-CUR dl dd th{
    background: #cccccc;
}
.ranking-CUR dl dd th,.ranking-CUR dl dd td{
    border: 1px solid #7a7a7a;
    width: 65px;
    height: 32px;
    text-align: center;
}
.ranking-CUR dl dd td:nth-child(2){
    width: 122px;
}
.ranking-CUR button{
    width: 62px;
    height: 29px;
    line-height: 29px;
    background: #ffffff;
    border:1px solid #707070;
    color:#707070 ;
    cursor: pointer;
}
.ranking-CUR .ranking-CUR-QR{
    border:1px solid #fea655;
    color: #fea655;
    margin-left: 50px;
}
.ranking-CUR .ranking-CUR-QX{
    margin-left: 10px;
}
/******************************选课弹出框**************************************/
.Sschedule-CUR{
    display: none;
    width: 480px;
    height: 668px;
    background: #ffffff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -240px;
    margin-top: -334px;
    z-index: 99;
}
.Sschedule-CUR .Sschedule-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.Sschedule-CUR .Sschedule-CUR-top em{
    float: left;
    margin-left: 28px;
}
.Sschedule-CUR .Sschedule-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.Sschedule-CUR dl{
    margin: 25px 0px 0 40px;
    font-size: 15px;
    height: 605px;
    overflow-y: auto;
    overflow-x: hidden;
}
.Sschedule-CUR dl dt span{
    font-weight: bold;
}
.Sschedule-CUR dl dt,.Sschedule-CUR dl dd{
    min-height: 40px;
    line-height: 40px;
}
.Sschedule-CUR dl dd button{
    width: 75px;
    height: 29px;
    line-height: 29px;
    border: 1px solid #fda715;
    background: #ffffff;
    margin-right: 10px;
    line-height: 29px;
}
.Sschedule-CUR dl dd em{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.Sschedule-CUR dl dd div{
    display: inline-block;
    width: 270px;
}
.Sschedule-CUR dl dd table th{
    background: #cccccc;
}
.Sschedule-CUR dl dd table th ,.Sschedule-CUR dl dd td{
    border: 1px solid #7a7a7a;
    width: 97px;
    text-align: center;
}
.Sschedule-CUR dl dd table td span{
    display: inline-block;
    border:1px solid #7a7a7a;
    width: 40px;
    height: 25px;
    line-height: 25px;
    background: #ededed;
    cursor: pointer;
}
.Sschedule-CUR .Sschedule-CUR-hov{
    background: #ffffff;
    border: 1px solid #fda715;
    color: #FDA715;
}
.Sschedule-CUR dd {
    width: 100%;
}
.Sschedule-CUR dd  button{
    width: 62px;
    height: 29px;
    line-height: 29px;
    background: #ffffff;
    border:1px solid #7a7a7a;
    cursor: pointer;
}
.Sschedule-CUR dd .Sschedule-CUR-BU{
    border:1px solid #7a7a7a;
}
.Sschedule-CUR dd .Sschedule-CUR-bottom{
    text-align: center;
    margin: 17px 65px;
}
/************************批量设置弹出框***************/
.batch-CUR{
    display: none;
    width: 330px;
    height: 253px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -165px;
    margin-top: -126.5px;
    background: #ffffff;
    z-index: 99;
}
.batch-CUR .batch-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.batch-CUR .batch-CUR-top em{
    float: left;
    margin-left: 28px;
}
.batch-CUR .batch-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.batch-CUR dl dd{
    height: 65px;
    line-height: 65px;
    margin-left: 30px;
}
.batch-CUR dl dd input{
    margin-left: 28px;
    width: 180px;
    height: 28px;
    border:1px solid #C5C5C5;
}
.batch-CUR dl dd button{
    width: 62px;
    height: 29px;
    line-height: 29px;
    background: #ffffff;
    border:1px solid #7a7a7a;
    cursor: pointer;
    padding: 0;
}
.batch-CUR dl dd .batch-CUR-QR{
    border: 1px solid #fd8b00;
    color: #fd8b00;
    margin-left: 60px;
}
.batch-CUR dl dd .batch-CUR-QX{
    margin-left: 15px;
}
/**************************背景***********************/
.bg
{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

.main1-2{
    width: 730px;
    height: 35px;
    line-height: 35px;
    margin-top: 35px;
}

.main1-2 em{
    display: inline-block;
    width: 40px;
    height: 35px;
    margin-left: 35px;
}

.main1-2 select{
    width: 100px;
    height: 35px;
    position: relative;
    top: -1px;
}

.main1-2btn{
    width: 140px;
    height: 35px;
    color: #fff;
    background: #9c9c9c;
    float: right;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
}

.edit-tab{
    margin-left: 27px;
    margin-top: 30px;
    font-size: 14px;
    max-height: 700px;
    display: inline-block;
    overflow: auto;
}

.edit-tab td,th{
    border: 1px solid #7a7a7a;
    text-align: center;
    height: 30px;
}

.edit-tab .row1{
    font-weight: bold;
    background: #cccccc;
}

.edit-tab .col1{
    width: 180px;
}

.edit-tab .col2{
    width: 140px;
}

.edit-tab .col3{
    width: 120px;
}
.edit-tab .col4{
    width: 100px;
}
.edit-tab .col5{
    width: 85px;
}


.peo-set{
    display: inline-block;
    cursor: pointer;
}

.tab-check{
    display: inline-block;
    cursor: pointer;
}

/*查看*/

.right-main2{
    width: 790px;
    min-height:673px ;
    border: #bbb 1px solid;
    padding-left: 30px;
    padding-top: 20px;
    display: none;
}
.back-btn{
    color: #8b8b8b;
    display: block;
    cursor: pointer;
    margin-bottom: 14px;
    width:50px;
}

.main2-info{
    width: 500px;
    height: 20px;
    line-height: 20px;
    margin-top: 30px;
}

.main2-info em{
    margin-left: 20px;
}


.table-stu{
    margin: 20px 0;
}

.table-stu td,th{
    width: 240px;
    border: 1px solid #9a9a9a;
    text-align: center;
    height: 29px;
}

.table-stu .row1{
    background: #dbdbdb;
    font-weight: bold;
}

/*调整人员*/
.right-main3{
    width: 790px;
    min-height:673px ;
    border: #bbb 1px solid;
    padding-top: 20px;
    display:none;
}



.main3-sel1 , .main3-sel2{
    width: 319px;
    height: 218px;
    border: 1px solid #959595;
    float: left;
    overflow: auto;

}

.main3-set1{
    height: 35px;
    line-height: 35px;
    margin-top: 28px;
    margin-left: 35px;
}

.main3-set2{
    height: 35px;
    line-height: 35px;
    margin-top: 18px;
    margin-left: 35px;
}

.main3-set2 i{
    display: inline-block;
}

.main3-num{
    width: 27px;
}

.main3-teach{
    width: 60px;
}

.main3-classroom{
    width: 70px;
}
.select-all{
    width: 88px;
    height: 35px;
    background:#9c9c9c;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin-left: 69px;
    display: inline-block;
}

.main3-2{
    margin-top: 15px;
    margin-left: 35px;
}

.ex-change{
    width: 78px;
    height: 218px;
    float: left;
}

.aim-cla{
    display: inline-block;
    width: 80px;
    margin-left: 74px;
}
.aim-class{
    width: 230px;
    height: 32px;
}

.ex-arrow1 , .ex-arrow2{
    width: 36px;
    height: 20px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 17px;
    background:#a0a0a0;
    cursor: pointer;
}

.ex-arrow1{
    margin-top: 84px;
    margin-left: 21px;
}

.ex-arrow2{
    margin-top: 11px;
    margin-left: 21px;
}

.main3-sel1 i{
    display:inline-block;
}

.main3-sel1 li{
    padding-left:15px;
    margin-top:5px;}

.stu-name{
    width:48px;
    display: inline-block;}
.stu-sex{
    display: inline-block;
    width:35px;}
.stu-class{
    width:80px;}

/***************************提示*****************************/
.tishi-CUR{
    display: none;
    width: 375px;
    height: 192px;
    background: #ffffff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -187.5px;
    margin-top: -96px;
    z-index: 99;
}
.tishi-CUR .tishi-CUR-top{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.tishi-CUR-top em{
    float: left;
    margin-left: 28px;
}
.tishi-CUR-top i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.tishi-CUR .tishi-CUR-info{
    text-align: left;
    padding: 25px;
}
.tishi-CUR .tishi-CUR-buttom{
    width: 100%;
    text-align: center;
}
.tishi-CUR-buttom button{
    width: 62px;
    height: 29px;
    background: #ffffff;
    border:1px solid #a0a0a0;
    cursor: pointer;
}
.tishi-CUR-buttom .curri-TJ{
    color: #fd8b00;
    border: 1px solid #fd8b00;
}
/**重命名**/
.renameWin{
    display: none;
    width: 375px;
    height: 192px;
    background: #ffffff;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -187.5px;
    margin-top: -96px;
    z-index: 99;
}
.renameWin .tishi-CUR-top1{
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.renameWin .tishi-CUR-info1{
    text-align: left;
    padding: 25px;
}
.tishi-CUR-info1 input
{
    border:1px solid #000;
    width: 100%;
}
.rename{
    cursor: pointer;
}
.tishi-CUR-top1 em{
    float: left;
    margin-left: 28px;
}
.tishi-CUR-top1 i{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.renameWin .tishi-CUR-info{
    text-align: left;
    padding: 25px;
}
.renameWin .tishi-CUR-buttom1{
    width: 100%;
    text-align: center;
}
.tishi-CUR-buttom1 button{
    width: 62px;
    height: 29px;
    background: #ffffff;
    border:1px solid #a0a0a0;
    cursor: pointer;
}
.tishi-CUR-buttom1 .rename-TJ{
    color: #fd8b00;
    border: 1px solid #fd8b00;
}
.edit-error {
    margin-left: 25px;
    font-size: 14px;
    color: #f00;
    font-weight: bold;
}

.setting {
    cursor: pointer;
}

.bianbanTip
{
    display: none;
    width: 250px;
    height: 120px;
    background: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -187.5px;
    margin-top: -96px;
    z-index: 99;
}
.gezhiConf
{
    display: none;
    width: 550px;
    height: 320px;
    background: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -187.5px;
    margin-top: -96px;
    z-index: 99;
}
.gezhiConf .tishi-CUR-top {
    height: 38px;
    line-height: 38px;
    background: #616161;
    color: white;
    font-size: 16px;
}
.gezhiConf table{
    width: 100%;
    font-size: 14px;
    /* max-height: 700px; */
    display: inline-block;
    overflow: auto;
}
.gezhiConf .head
{
    font-weight: bold;
    background: #cccccc;
}
.gezhiConf td{
    border: 1px solid #7a7a7a;
    text-align: center;
    height: 30px;
}
.gezhiConf .tishi-CUR-buttom
{
    width: 100%;
    text-align: center;
    margin-top: 13px;
}
.curri-TJ1
{
    color: #fd8b00;
    border: 1px solid #fd8b00;
}
#temp
{
    max-height: 216px;
    overflow-y: auto;
}
.tip{
    color: #FF0000;
}
.edit-set-tea,.edit-set-room
{
    cursor: pointer;
}
/*设置*/
.edit-set-div-tea{
    width: 100%;
    height: 1016px;
    z-index: 1000000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.edit-set-div-room{
    width: 100%;
    height: 1016px;
    z-index: 1000000000000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.edit-set-bg{
    width: 100%;
    height: 100%;
    background: #000 none repeat scroll 0% 0%;
    opacity: 0.5;
}
.edit-set-wind{
    width: 366px;
    height: 363px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-left: -183px;
    margin-top: -183px;
    background: #fff;
}

.setwind-top{
    height: 37px;
    background:#616161;
    line-height: 37px;
    padding-left: 25px;
    padding-right: 15px;
}
.setwind-top i{
    color: #fff;
}

.setwind-cl{
    display: inline-block;
    font-size: 25px;
    float: right;
    cursor: pointer;
}

.edit-info{
    padding-left: 30px;
    padding-top: 16px;
    font-weight: bold;
    line-height: 32px;
}

.edit-info i{
    display: inline-block;
    margin-right: 10px;
}

.edit-form{
    padding-left: 30px;
    padding-top: 20px;
    line-height: 50px;
}

.edit-form select{
    width: 215px;
    height: 33px;

}

.edit-form span{
    margin-right: 20px;
}

.cc-btn{
    width: 140px;
    height: 30px;
    margin-left: 114px;
    margin-top: 28px;
    text-align: center;
}

.cc-btn div{
    width: 60px;
    height: 28px;
    float: left;
    line-height: 27px;
    cursor: pointer;
}

.cofi-btn{
    color: #fe8a00;
    border: 1px #fe8a00 solid;
}
.canc-btn{
    border: 1px solid #717171;
    margin-left: 14px;
}
/*设置*/
.duanSelect
{
    height: 24px;
    line-height: 24px;
    margin-top: 10px;
    width: 80px;
}
.rename
{

}


/*******************编班规则设置start**********************/
.top-nav li {
    float: left;
    width: 104px;
    height: 40px;
    line-height: 40px;
    background: #FDA715;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin-right: 2px;
    font-size: 15px;
    /*position: relative;*/
    top: 1px;
    left: 0;
    border: 1px solid #FDA715;
    border-bottom: 1px solid #bbb;
    z-index: 2;
}
.cur-li {
    background: #fff !important;
    color: #fda652 !important;
    border: 1px solid #bbb !important;
    border-bottom: 1px solid #fff !important;
}
.placement-main{
    width: 790px;
    min-height: 693px;
    border: #bbb 1px solid;
}
.placement-a{
    float: right;
    margin-top: -25px;
}
.placement-BB{
    margin: 30px 0 0 10px;
}
.placement-BB-top{
    margin-left: 30px;
}
.placement-BB-top em{
    margin-right: 55px;
}
.placement-BB-li{
    height: 75px;
    line-height: 75px;
    margin-left: 30px;
    margin-top: 30px;
}
.placement-BB-li ul li{
    float: left;
    display: inline-block;
    width:110px;
    height:42px;
    text-align: center;
    line-height: 42px;
    background: #c4c4c4;
    color: white;
    margin-right: 32px;
    cursor: pointer;
}
.placement-BB-li ul .place-cur{
    background: #fbac02
}
.place-IN em{
    margin-right: 10px;
}
.place-IN input{
    width: 135px;
    height: 34px;
    text-indent: 0.5em;
    margin-right: 35px;
}
.place-BJ{
    cursor: pointer;
}
.placement-TB{
    margin-top: 20px;
}
.placement-TB table th,.placement-TB table td{
    border:1px solid #8c8c8c;
    height: 37px;
    text-align: center;
}
.placement-TB table th{
    background: #cccccc;
}
.placement-popup{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    width: 396px;
    height: 300px;
    margin-top: -198px;
    margin-left: -150px;
    background: white;
    z-index: 999999999999;
}
.place-popup-main{
    margin: 15px 30px 0 30px;
}
.place-popup-main div {
    margin-top: 20px;
    margin-left: 15px;
}
.place-popup-main dd {
    margin-top: 15px;
    min-height: 30px;
}
.place-popup-main dd em {
    display: inline-block;
    width: 5em;
    text-align: right;
    margin-right: 10px;
}
.place-popup-main dd div {
    float: right;
    width: 255px;
    margin: 0;
}
.place-popup-main dd span{
    width: 7em;
    display: inline-block;
}
.place-popup-main .popup-buttom-s{
    margin-top: 25px!important;
    position: relative;
    bottom: -95px;
}
.placement-FB{
    display: none;
}
.placement-FB .place-IN img{
    margin-left: 30px;
    cursor: pointer;
}
.placement-FB .placement-TB .place-BJ em{
    margin: 0 5px;
}
.placement-popup-FB{
    display: none;
    position: fixed;
    top:50%;
    left: 50%;
    width: 396px;
    height: 450px;
    margin-top: -198px;
    margin-left: -150px;
    background: white;
    z-index: 999999;
}
.popup-IN{
    width: 40px;
    height: 24px;
    text-align: center;
}
.place-popup-main label{
    display: inline-block;
    border:1px solid #787878;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}
.placement-popup-FB .place-popup-main dl em{
    display: inline-block;
    width: 10em;
    margin-left: 15px;
    margin-top: 15px;
}
.place-FB-BJ{
    cursor: pointer;
}
.placement-popup-FB .place-popup-main .popup-buttom-s {
    position: relative;
    bottom: -15px;
}
.place-JS-BJ{
    cursor: pointer;
}
.placement-JS{
    display: none;
}
.placement-popup-JS{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 396px;
    height: 300px;
    margin-top: -198px;
    margin-left: -150px;
    background: white;
    z-index: 999999999999;
}
.placement-popup-JS .place-popup-main dl em{
    display: inline-block;
    width: 7em;
}
.place-popup-main select{
    width: 100px;
    height: 35px;
    margin-right: 3px;
}
.placement-popup-JS .place-popup-main .popup-buttom-s {
    position: relative;
    bottom: -45px;
}

.content{
    margin-bottom: 20px;
}