/* 
* @Author: Tony
* @Date:   2015-10-28 10:08:23
* @Last Modified by:   Tony
* @Last Modified time: 2015-10-28 11:08:35
*/
.cont-right{
	width: 790px;
}

.right-title{
	width: 790px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.right-title li{
	float: left;
	margin-right: 3px;
	background: #fda716 ;
	color: #fff ;
	border: none ;
	cursor: pointer;
}

.main1-l1{
	width: 100px;
}

.main1-l2{
	width: 123px;
}

.main1-l3{
	width: 140px;
}

.right-title i{
	color: #fda716 ;
	position: relative;
	left: 86px;
}

.main1-2{
	margin:14px 0 0 35px;
}

.main1-2 select{
	width: 106px;
	height: 35px;
	line-height: 35px;
	margin-left: 12px;
	border: 1px solid #c9c9c9;
	margin-right: 12px;
}

.main1-2 em{
	margin-left: 12px;
}

.main1-2 .text1{
	width: 112px;
	height: 31px;
	line-height: 35px;
	border: 1px solid #c9c9c9;
	margin-right: 6px;
}






.cur{
	color: #fda716 !important;
	border: 1px solid #babcb9 !important;
	border-bottom: none !important;
	background: #fff !important;
}

.right-main1{
	width: 790px;
	min-height:744px ;
	border: #bbb 1px solid;
}

.right-main1 span{
	float: left;
}

.main1-1{
	width: 717px;
	height: 35px;
	margin:35px 0 0 35px;
	line-height: 35px;
}

.main1-1 button{
	float: right;
	width: 73px;
	height: 35px;
	background: #9c9c9c;
	color: #fff;
	border: none;
	cursor: pointer;
}

.main1-3{
	margin:30px 0 0 33px;
	text-align: center;
	font-size: 14px;
}


.main1-3 td{
	border: 1px solid #797979;
}

.main1-3 .row1 {
	height: 30px;
	font-weight: bold;
}

.main1-3 .row{
	height: 65px;
}

.main1-3 .col1{
	width: 94px;
	font-weight: bold;
}

.main1-3 .col{
	width: 125px;

}

.main1-3 .row .col{
	color: #a4a4a4;
}

.main1-3 i{
	color:  #fda716 ;
}


/*模块一end*/




/*模块二start*/
.right-main2{
	width: 790px;
	min-height:744px ;
	border: #bbb 1px solid;
	display: none;
}

.main2-1{
	width: 270px;
	height: 18px;
	line-height: 18px;
	margin:36px 0 0 35px;
}

.main2-2{
	width: 500px;
	height: 35px;
	margin:26px 0 0 35px;
	line-height: 35px;
}

.main2-3{
	margin:30px 0 0 30px;
	max-height: 550px;
	display: inline-block;
	overflow: auto;
}
.main2-3 .row1 .col1{
	width: 177px;
}

.main2-3 .row1 .col2{
	width: 140px;
}

.main2-3 .row1 .col3{
	width: 140px;
}

.main2-3 .row1 .col4{
	width: 150px;
}

.main2-3 .row1 .col5{
	width: 107px;
}

.main2-3 .row1{
	background: #cccccc;
	font-weight: bold;
}

.main2-3 td{
	text-align: center;
	height: 30px;
	border: #797979 1px solid ;
}

.main2-3 em{
	cursor: pointer;
}










/*模块二end*/


/*查看名单start*/
.main2a{
	width: 790px;
	min-height:744px ;
	border: #bbb 1px solid;
	display: none;
	padding-bottom: 20px;
}
.main2a-1{
	width: 50px;
	height: 18px;
	line-height: 18px;
	margin:38px 0 0 35px;
	cursor: pointer;
}

.main2a-2{
	width: 270px;
	height: 18px;
	line-height: 18px;
	margin:38px 0 0 35px;
}

.main2a-3{
	margin:35px 0 0 35px;;
}

.main2a-3 span{
	display: inline-block;
	width: 158px;
	height: 20px;
}

.main2a-3 em{
	display: inline-block;
	width: 174px;
	height: 20px;
}

.main2a-4{
	margin:35px 0 0 35px;
	max-height: 550px;
	display: inline-block;
	overflow: auto;
}





.main2a-4 .row1{
	background: #cccccc;
	font-weight: bold;
}

.main2a-4 td{
	text-align: center;
	height: 30px;
	border: #797979 1px solid ;
	width: 236px;
}

/*查看名单end*/

/*模块三start*/

.right-main3{
	width: 790px;
	min-height:744px ;
	border: #bbb 1px solid;
	display: none;
	padding-bottom: 20px;
}


.main3-2{
	width: 270px;
	height: 18px;
	line-height: 18px;
	margin:36px 0 0 35px;
}

.main3-3{
	margin:35px 0 0 35px;;
}

.main3-3 span{
	display: inline-block;
	/*width: 51px;*/
	height: 20px;
}

.main3-3 em{
	display: inline-block;
	width: 150px;
	height: 20px;
}


.main3-4{
	margin: 30px 0px 0px 30px;
	max-height: 550px;
	display: inline-block;
	overflow: auto;
}

.main3-4 td{
	border: #797979 1px solid;
	height: 29px;
	text-align: center;
}

.main3-4 .row0{
	background: #cccccc;
	font-weight: bold;
}

.main3-4 .col1{
	width: 120px;
}

.main3-4 .col2{
	width: 120px;
}


.main3-4 .col3{
	width: 120px;
}


.main3-4 .col4{
	width: 120px;
}

.main3-4 .col5{
	width: 235px;
}
#gradeShow
{
	width: 150px;
	margin-left: 10px;
	height: 35px;
}
#getDetail
{
	margin-right: 50px;
}

/*模块三end*/

/*调课通知*/
.asjust-tiaozheng tr th,.asjust-tiaozheng tr td
{
	height: 41px;
	text-align: center;
	border: 1px solid #797979;
	width: 140px;
}
.asjust-tiaozheng tr th {
	background: #cacaca;
}

.no-class {
	display: inline-block;
	height: 24px;
	width: 100%;
	font-size: 24px;
	margin-top: 130px;
	margin-left: 300px;
	color: #cbcbcb;
}
.right-main7 {
	width: 790px;
	min-height: 693px;
	border: #bbb 1px solid;
	display: none;
}