/* 
* @Author: Tony
* @Date:   2015-10-12 15:02:06
* @Last Modified by:   Tony
* @Last Modified time: 2015-10-13 17:50:37
*/
/*right-main-top*/
.cont-right{
	width: 790px;
}

.right-title{
	width: 790px;
	height: 40px;
	line-height: 40px;
}


	
.right-title i{
	display: inline-block;
	float: right;
	color: #626262;
	cursor: pointer;
	width: 134px;
}

.right-title li{
	float: left;
	width: 98px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	position:relative;
	top:2px;
	z-index:8888888;
	background: #fba713;
	color: #fff;
}

.cont-style{
	color: #fba713 !important;
	border: #bbbbbb 1px solid;
	border-bottom:none;
	background: #fff !important;
}
/*right-main-top*/

/*right-main1*/
.right-main1{
	width: 790px;
	min-height:740px ;
	border: #bbb 1px solid;
	
}

.class-cont1{
	width: 720px;
	height: 34px;
	line-height: 34px;
	margin:35px 0 0 35px;
}

.class-cont i{
	display: inline-block;
	height: 34px;
	width: 80px;
	float: left;
	font-size: 14px;
	color: #343434;
	}

.class-cont1 select{
	width: 225px;
	height: 35px;
	line-height: 34px;
	vertical-align: middle;
	background: #fff;
	appearance:none;
	-moz-appearance:none; 
	-webkit-appearance:none; 
}

.class-cont1 button{
	width: 73px;
	height: 34px;
	color: #fff;
	background: #9c9c9c;
	float: right;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.no-class{
	display: inline-block;
	height: 24px;
	width: 210px;
	font-size: 24px;
	margin-top:130px;
	margin-left: 300px;
	color: #cbcbcb;
}
/*right-main1*/

/*right-main2*/
.right-main2{
	width: 790px;
	min-height:693px ;
	border: #bbb 1px solid;
	display: none;
}

.class-cont2{
	width: 720px;
	height: 34px;
	line-height: 34px;
	margin:35px 0 0 35px;
}

.class-cont2 i{
	display: inline-block;
	height: 34px;
	width: 180px;
	float: left;
	font-size: 14px;
	color: #343434;
	}

.class-cont2 button{
	width: 73px;
	height: 34px;
	color: #fff;
	background: #9c9c9c;
	float: right;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.lesson-list{
	width: 720px;
	height: 510px;
	margin-top: 17px;
	margin-left: 35px;

}
.lesson-list .cell1{
	width: 95px !important;
	font-weight: bold;
}

.lesson-list .row1{
	height: 30px;
	font-weight: bold;
}

.lesson-list .row{
	height: 60px;
}

.lesson-list table{
	text-align: center;
	color: #333333;
	font-size: 12px;
}

.lesson-list table td{
	border: 1px #797979 solid;
	width: 125px;
	line-height: 13px;
	vertical-align: middle;
}

.li-cot div{
	width: 120px;
	margin:auto 1px;
	display: inline-block;
}

.lesson-list table .li-cot span{
	
	
	
	
}

.lesson-list table .li-cot em{
	
	
	
	
	
	
}

.lesson-list table .li-cot i{
	
	
	
	
}

.li-cot em{
	color:#ff9327;
}

.li-cot span,i{
	color: #343434;
}

.right-main2 span{
	display: inline-block;
}

.right-main2 .studye{
	width: 180px;
	display: inline-block;
	margin:42px 500px 7px 35px;
}
.select-des{
	margin-left: 35px;
	margin-top: 25px;
	width: 272px;

}

.select-des i{
	color: #ff9327;
}

.select-list{
	width: 720px;
	text-align: center;
	padding-left: 35px;
	padding-top: 15px;
}

.select-list td{
	border: 1px #797979 solid;
}

.select-list .cell1, .cell2 ,.cell3{
	width: 155px;
}

.select-list .cell4{
	width: 248px;
}

.select-list .cow1{
	height: 35px;
	font-weight: bold;
	background: #cccccc;
}

.select-list .cow2{
	height: 38px;
}

.select-me{
	border: 1px solid #797979;
	background: #e3e3e3;
	color: #989898;
	cursor: pointer;
	height: 23px;
	width: 38px;
	margin:auto;
}

.select-sub{
	width: 73px;
	height: 35px;
	margin:37px 360px;
	border: none;
	background: #ff9327;
	color: #fff;
	cursor: pointer;
}
.select-sty{
	background: #ff9327;
}

.class-selected{
	width: 700px;
	height: 105px;
	margin-top:23px;
	margin-left: 35px;
}

.lesson-ted{
	width: 695px;
	height: 35px;
}

.lesson-ted i{
	display: inline-block;
	width: 90px;
	float: left;
	line-height: 35px;
}

.ted-ul{
	width: 600px;
	height: 35px;
	float: left;
	text-align: center;
}

.ted-ul li{
	width: 73px;
	height: 27px;
	border: 1px solid #ff9327;
	float: left;
	margin:3px 5px;
	line-height: 27px;
}
/*right-main2*/
.sub-div{
	width: 100%;
	height: 1016px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000000;
	display:none;
}

.sub-wind-bg{
	width: 100%;
	height: 100%;
	background: #000 none repeat scroll 0% 0%;
	opacity: 0.5;
}

.alert-wind{
	width: 370px;
	height:193px;
	z-index: 1000000000000;
	position: fixed;
	top: 253px;
	left: 40%;
	background: #fff;
	font-size: 16px;
	color: #474747;
}

.alert-top{
	height:37px;
	width:100%;
	background:#616161;
}

.alert-top i{
	color: #fefefe;
	font-size:16px;
	line-height: 37px;
	float: left;
	margin-left: 25px;
}

.alert-top em{
	color: #fefefe;
	font-size:29px;
	line-height: 37px;
	float: right;
	margin-right:12px;
	cursor: pointer;
}

.alert-wind span{
	display: block;
	width: 140px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin:0 auto;
	margin-top: 44px;
}

.sub-cof{
	float: left;
	width: 60px;
	height: 27px;
	line-height: 27px;
	color: #ff9327;
	text-align: center;
	border: 1px solid #ff9327;
	cursor: pointer;
}

.sub-can{
	float: right;
	height: 27px;
	width: 60px;
	line-height: 27px;
	text-align: center;
	border: 1px solid #707070;
	cursor: pointer;
}


.selected{
	background: #ff9327;
}
/*调课通知*/
.asjust-tiaozheng tr th,.asjust-tiaozheng tr td
{
	height: 41px;
	text-align: center;
	border: 1px solid #797979;
	width: 140px;
}
.asjust-tiaozheng tr th {
	background: #cacaca;
}