/*tzxuanke_content*/
.tzxuanke_content{
	width: 794px;
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
}
/*tzxuanke_content*/
/*tzxuanke_tab*/
.tzxuanke_tab{
	width: 100%;
	border-bottom: 1px solid #cccccc;

}
.tzxuanke_tab  ul a{
	display: inline-block;
	float:left;
	font-size: 16px;
	background: #fda716;
	color:#fff;
	padding: 8px 32px;
	margin-right: 3px;
	position: relative;
	top:1px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-bottom: none;
}
.tzxuanke_tab  ul a:hover{
	background: #fff;
	color: #fda716;
}
.tzxuanke_tab .tzxuanke_current{
	background: #fff;
	color: #fda716;	
}
/*dypeizhi_tab*/
/*dypeizhi_mian*/
.tzxuanke_mian{
	width: 752px;
	border: 1px solid #ccc;
	border-top: none;
	padding: 20px 20px 100px 20px;
}
.tzxuanke_mian span{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}
table{
	margin-top: 10px;
	border: 1px solid #ccc;
	text-align: center;
}
table th{
	background: #ccc;
	height: 36px;
	border: 1px solid #949494;
}
table td{
	height: 20px;
	border: 1px solid #949494;
	
}
table td{
	color:#646464;
}
.tzxuanke_selected{
	color:#fb131e !important;
}
.tzxuanke_class{
	font-size: 14px;
	font-weight: bold;
	color:#333 !important;
}
/*tzxuanke_mian*/

.tzxuanke_active
{
	background: #fff !important;
	color: #fda716 !important;
}
