/*content_tiyumanage*/
.content_tiyumanage{width:768px;margin-top:20px;margin-left:20px;}
/*content_tiyumanage*/
/*tiyumanage_tab*/
.tiyumanage_tab{border-bottom:1px solid #959595;}
.tiyumanage_tab li{float:left;padding:10px 15px;background:#fda715;color:#fff;margin-right:5px;border:1px solid #fda715;border-bottom:none;position: relative;top: 1px;}
.tiyumanage_tab li:hover{background:#fff;border:1px solid #959595;border-bottom:none;color:#fda715;cursor:pointer;}
.tiyumanage_tab a{float:right;font-size:16px;margin-top:15px;}
/*tiyumanage_tab*/
/*tiyumanage_main*/
.tiyumanage_main{width:768px;/*border:1px solid #959595;*/border-top:none;display: none}
.tiyumanage_main span{display:inline-block;margin:24px auto 20px 28px;}
.tiyumanage_main button{float: right;margin: 8px 30px auto;margin-top: 22px;height: 30px;padding: 1px 20px;background: #9c9c9c;color: #fff;border: none;cursor: pointer;border: 1px solid #7a7a7a;}
.tiyumanage_main table{width:715px;margin-left:28px;margin-bottom:395px;}
.tiyumanage_main th,.tiyumanage_main td{height: 30px;line-height:30px;font-size:16px;text-align: center;border-color:#7a7a7a;border: 1px solid !important;}
.tiyumanage_main th{background:#cccccc;font-weight:normal;}
.tiyumanage_main a{cursor: pointer;}
.setTeaCRxzb{cursor: pointer}
/*tiyumanage_main*/