/*zhiban-hbsh*/
.zhiban-hbsh{
	width: 762px;
	padding-left: 8px;
	display: none;
	
}
/*zhiban-hbsh*/
/*zhiban-title*/
.zhiban-title{
	padding-bottom: 20px;
	border-bottom: 2px solid #eee;
	margin-bottom: 25px;
}
.zhiban-title span{
	display: inline-block;
	margin-right: 10px;
	color:#333;
}
.zhiban-title .Wdate{
	width: 100px;
	height: 28px;
	border: 1px solid #ddd;
}
.zhiban-title select{
	width: 80px;
	height: 28px;
	border:1px solid #ddd;
	margin:0 18px;
}
.zhiban-name{
	width: 78px;
	height: 28px;
	border:1px solid #ddd;
	margin-right: 15px;
}
.zhiban-qr{
	font-size: 12px;
	padding: 5px 25px;
	border:1px solid #cacaca;
	background: #eee;
	color:#333;
}
/*zhiban-title*/
/*zhiban-chart*/
.zhiban-daochu{
	display:block;
	float: right;
	padding: 4px 10px;
	padding-left: 28px !important;
	background-color: #3999d5;
	color:#fff;
	background-image:url(/static_new/images/zhiban/zhiban-1.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	margin-bottom: 30px;
}
.zhiban-table{
	float: left;
	width: 100%;
	text-align: center;
}
.zhiban-table th{
	height: 50px;
	background:#5db85b;
	color:#fff;
	border:1px solid #d2d2d2;
}
.zhiban-table td{
	height: 40px;
	border:1px solid #d2d2d2;
}
.zhiban-table a{
	display: inline-block;
	color: #3999d5;
	padding: 0 5px;
}
.zhiban-table i{
	color: #d2d2d2;
}
/*zhiban-chart*/
/*zhiban-set*/
.zhiban-set{
	width: 762px;
	padding-left:8px;
	display: none;
}
.zhiban-set-title{
	width: 100%;
	border-bottom: 1px solid #dfdfdf;
}
.zhiban-set-title ul li{
	display: inline-block;
	float: left;
	padding: 10px 16px;
	margin-right: 10px;
	cursor: pointer;
}
.zb-active{
	border:1px solid #dfdfdf;
	border-bottom: none;
	background:#fff;
	position: relative;
	top:1px;
}
/*zhiban-set*/
/*zhiban-set-time*/
.zhiban-set-time{
	border:1px solid #dfdfdf;
	border-top: none;
	padding: 80px 140px;
	display: none;
}
.zhiban-set-time ul{
	display: block;
	width: 440px;
	border-top: 1px solid #dfdfdf;
	padding: 20px 20px;
}
.zhiban-set-time ul li{
	display:block;
	margin-bottom: 15px;
}
.zb-time-type{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	text-align: center;
	width:78px;
	background: #efefef;
	color:#333;
	margin: 0  15px 0 20px;
	border:1px solid #d7d7d7;
}
.zb-time-txt{
	width: 78px;
	height:28px;
	border:1px solid #d7d7d7;
}
.zhiban-set-time em{
	display: inline-block;
	margin-left: 8px;
}
.zhiban-set-time input{
	text-align: center;
}
/*zhiban-set-time*/
/*zhiban-meng*/
.zhiban-meng{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #333;
	opacity: 0.4;
	filter:alpha(opacity=40);
	display: none;
}
/*zhiban-meng*/
/*zb-set-alert*/
.zb-set-alert{
	z-index:999;
	width: 456px;
	position: fixed;
	left: 40%;
	top:30%;
	background: #fff;
	display: none;
}
.zb-set-title{
	background: #616161;
	padding: 15px 0; 
	margin-bottom: 30px;
} 
.zb-set-title p{
	display: inline-block;
	float: left;
	color: #fff;
	margin-left: 20px;
}
.zb-set-title span{
	display: inline-block;
	float:right;
	color: #fff;
	cursor: pointer;
	margin-right: 20px;
}
.zb-set-list span{
	display: inline-block;
	width:8em;
	text-align:right;
	color: #999;
	margin-bottom: 15px;
	margin-right: 15px;
}
.zb-set-list em{
	color: #343434;
    word-break: break-all;
}
.zb-set-list select{
	width: 128px;
	height: 30px;
}
.zb-alert-btn{
	width: 100%;
	text-align: center;
	margin: 50px 0;

}
.zb-btn-sure{
	padding: 4px 20px;
	background: #5db85b;
	border:1px solid #5db85b;
	color:#fff;
	margin-right: 25px;
}
.zb-btn-qx{
	padding: 4px 20px;
	background: #eee;
	border:1px solid #cacaca;
	color:#333;
}
/*zb-set-alert*/
/*zhiban-set-ren*/
.zhiban-set-ren{
	border:1px solid #dfdfdf;
	border-top: none;
	padding: 80px 140px;
}
.zhiban-set-new{
	display: inline-block;
	padding: 4px 25px;
	background: #3999d5;
	border:1px solid #3999d5;
	color:#fff;
	margin-bottom: 36px;
	float: right;
}
.zb-set-ren{
	float: left;
	width: 490px;
	padding: 20px 10px;
	border-top: 2px solid #f3f3f3;	
}
.zb-set-ren span{
	display: inline-block;
	width: 98px;
	padding:8px 0;
	border:1px solid #d7d7d7;
	text-align: center;
	margin-right: 18px;
	margin-bottom: 15px;
	position: relative;
}
.zb-set-ren img{
	position: absolute;
	right: -12px;
	top:-12px;
	display: none;
	cursor: pointer;
}
.zb-set-active{
	background: #eee;
}
.zb-set-active img{
	display:inline-block;
}
/*zhiban-set-ren*/
/*zhiban-set-sd*/
.zhiban-set-sd{
	border:1px solid #dfdfdf;
	border-top: none;
	padding: 80px 140px;
	display: none;
}
.zb-set-sd{
	float: left;
	width: 490px;
	border-top: 2px solid #f3f3f3;	
}
.zb-set-cz{
	display: inline-block;
	margin-left: 45px;
}
.zb-set-sd span{
	display: inline-block;
	width: 78px;
	height: 28px;
	border:1px solid #d7d7d7;
	background: #eee;
	line-height: 28px;
	text-align: center;
}
.set-sd-type{
	width: 55px !important;
	height: 22px;
	margin-right: 20px;
}
.zb-input{
	width: 80px !important;
	height: 22px;
}
.zb-set-sd li{
	display:block;
	height: 54px;
	line-height: 54px;
	text-align: center;
	border-bottom: 1px solid #d7d7d7;
}
.zb-set-edit,.zb-set-del,.zb-set-save{
	display: inline-block;
	padding: 0 5px;
	color: #3999d5;
}
.zb-set-cz i{
	color: #d4d4d4;
}
.set-sd-only span{
	background: #fff !important;
}
/*zhiban-set-sd*/
/*zhiban-set-xm*/
.zhiban-set-xm{
	border:1px solid #dfdfdf;
	border-top: none;
	padding: 80px 80px;	
	display: none;
}
.zb-set-xm{
	width: 100%;
	text-align: center;
	float: left;
}
.zb-set-xm th{
	height: 50px;
	background: #5db85b;
	border:1px solid #d2d2d2;
	color: #fff;
}
.zb-set-xm td{
	height: 40px;
	border:1px solid #d2d2d2;
}
.zb-set-xm i{
	color: #d2d2d2;
}
/*zhiban-set-xm*/
/*zb-set-newadd*/
.zb-set-newadd{
	z-index:999;
	width: 640px;
	position: fixed;
	left: 40%;
	top:30%;
	background: #fff;
	display: none;
}
.zb-newadd-main{
	padding: 20px 100px;
}
.zb-newadd-main p{
	margin-bottom:40px;
}
.zb-newadd-main input,.zb-newadd-main select{
	width: 134px;
	height: 28px;
	border:1px solid #bbb;
	margin-right: 15px;
}
.zb-newadd-main span{
	display: inline-block;
	margin-right: 10px;
}
/*zb-set-newadd*/
/*zhiban-jhgl*/
.zhiban-jhgl{
	width: 762px;
	padding-left: 8px;
}
.zb-jhgl-title{
	padding-bottom: 10px;
	border-bottom: 2px solid #eee;
	margin-bottom: 20px;
}
.zb-jhgl-title span{
	display: inline-block;
	color: #3999d5;
	float: right;
	padding-left: 25px;
	cursor: pointer;
	margin-left: 15px;
}
.zb-jhgl-school{
	background: url(/static_new/images/zhiban/zhiban-5.png) no-repeat 4px 5px;
}
.zb-jhgl-tj{
	background: url(/static_new/images/zhiban/zhiban-4.png) no-repeat 4px 5px;
}
.zb-jhgl-look{
	background: url(/static_new/images/zhiban/zhiban-3.png) no-repeat 4px 5px;
}
.zb-jhgl-mb span{
	display: inline-block;
	padding: 4px 20px;
	cursor: pointer;
	margin-right: 12px;
	color:#fff;
}
.zb-jhgl-use{
	background: #3999d5;	
}
.zb-jhgl-sz{
	padding-left: 25px !important;
	background: #afafaf;
	background-repeat:no-repeat;
	background-position:5px 7px;
}
.zb-jhgl-zz{
	padding-left: 25px !important;
	background: #afafaf;
	background-repeat:no-repeat;
	background-position:5px 7px;
}
.zb-jhgl-xz{
	padding-left: 25px !important;
	background: #afafaf;
	background-repeat:no-repeat;
	background-position:5px 7px;
}
.zb-ri{
	float: right;
	background: #3999d5;
}
.zb-jhgl-save{
	padding-left: 25px !important;
	background-color:#afafaf;
	background-image:url(/static_new/images/zhiban/zhiban-6.png);
	background-repeat:no-repeat;
	background-position:5px 7px;   
}
.zb-jhgl-manage{
	padding-left: 25px !important;
	background-color:#afafaf;
	background-image:url(/static_new/images/zhiban/zhiban-7.png);
	background-repeat:no-repeat;
	background-position:5px 7px;   
}
.zb-jhgl-table{
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.zb-jhgl-table td:hover .zb-td-meng{
	display: inline-block;
}
.zb-jhgl-table td:hover .zb-td-edit{
	display: inline-block!important;
}
.zb-jhgl-table th{
	height: 50px;
	background:#5db85b;
	color: #fff;
	border:1px solid #d2d2d2;
}
.zb-jhgl-table td{
	height: 58px;
	border: 1px solid #d2d2d2 !important;
	position: relative;
}
.zb-td-meng{
	display: inline-block;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left: 0;
	z-index: 99;
	background: #000;
	opacity: 0.4;
	filter:alpha(opacity=40);
	display: none;
}
.zb-td-edit{
	/*display: inline-block;*/
	z-index: 999;
	padding: 5px 20px;
	border:1px solid #fff;
	border-radius:3px;
	position: absolute;
	top:24%;
	left: 26%;
	color: #fff;
	cursor: pointer;
	display: none!important;
}
.zb-jhgl-add{
	display: inline-block;
	background: #ececec;
	padding: 20px 60px;
	background-image: url(/static_new/images/zhiban/zhiban-9.png);
	background-repeat:no-repeat;
	background-position:50px 10px;
}
.zb-today img{
	position: absolute;
	top:0;
	left: -7px;
}
/*zhiban-jhgl*/
/*zb-ren-alert*/
.zb-ren-alert{
	z-index:999;
	width: 456px;
	position: fixed;
	left: 40%;
	top:30%;
	background: #fff;
	display: none;
}
.zb-ren-alert select{
	width: 128px;
	height: 28px;
	border:1px solid #bebebe;
	margin-right: 15px;
}
.zb-ren-alert a{
	display: inline-block;
	width: 78px;
	height: 28px;
	line-height: 28px;
	border:1px solid #c3c3c3;
	border-radius: 3px;
	margin-right: 12px;
	margin-bottom: 8px;
	text-align: center;
	position: relative;
}
.zb-ren-alert a:hover .zb-set-del{
	display: inline-block;
}
/*.zb-set-del{
	display: none;
	position: absolute;
	right: -5px;
	top: -1px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	z-index: 9999999999999999;
}*/
.zb-ren-add{
	background: url(/static_new/images/zhiban/zhiban-10.png) no-repeat 28px 5px;
}

.zb-ren-active{
	border:2px solid #5db85b !important;
}
/*zb-ren-alert*/
/*zb-model-alert*/
.zb-model-alert{
	z-index:999;
	width: 456px;
	position: fixed;
	left: 40%;
	top:30%;
	background: #fff;
	display: none;
}
.zb-model-main{
	padding-left: 76px;
}
.zb-model-main span{
	display: inline-block;
	margin-right: 10px;
}
.zb-model-main input,.zb-model-main select{
	display: inline-block;
	width: 158px;
	height: 28px;
	border: 1px solid #bebebe;
}
/*zb-model-alert*/
/*zb-plan-alert*/
.zb-plan-alert{
	z-index:999;
	width: 456px;
	position: fixed;
	left: 40%;
	top:30%;
	background: #fff;
	display: none;
}
.zb-plan-main{
	padding-left: 115px;
}
/*zb-plan-alert*/
/*zb-lookjl*/
.zb-lookjl{
	width: 762px;
	padding-left: 8px;
	display: none;
}
.zhiban-back{
	display: block;
	color: #3999d5;
	margin-bottom: 20px;
}
.zhiban-title select{
	height: 28px;
	width: 98px;
	border:1px solid #ddd;
}
.zb-table-dc{
	display: inline-block;
	float: right;
	padding: 4px 10px;
	padding-left: 25px !important;
	background-color:#3999d5;
	background-image:url(/static_new/images/zhiban/zhiban-1.png);
	background-repeat: no-repeat;
	background-position: 6px 8px;
	color: #fff;
	margin-bottom: 20px;
}
.zb-jl-table{
	float: left;
	width: 100%;
	text-align: center;
}
.zb-jl-table th{
	height: 50px;
	background:#5db85b;
	border:1px solid #d2d2d2;
	color: #fff;
}
.zb-jl-table td{
	height: 40px;
	border:1px solid #d2d2d2;
	color: #333;
}
/*zb-lookjl*/
/*zb-jl-tj*/
.zb-jl-tj{
	width: 762px;
	padding-left: 8px;
	display: none;
}
.zb-table-tj{
	float: left;
	width: 100%;
	text-align: center;
}
.zb-table-tj th{
	height: 50px;
	background:#5db85b;
	border:1px solid #d2d2d2;
	color: #fff;
}
.zb-table-tj td{
	height: 40px;
	border:1px solid #d2d2d2;
	color: #333;
}
/*zb-jl-tj*/
/*zb-pay-gl*/
.zb-pay-gl{
	width: 762px;
	padding-left: 8px;
	display: none;
}
.zb-pay-num{
	width: 83px;
	height: 28px;
	border:1px solid #d2d2d2;
	text-align: center;
}
.zb-table-pay{
	float: left;
	width: 100%;
	text-align: center;
}
.zb-table-pay th{
	height: 50px;
	background:#5db85b;
	border:1px solid #d2d2d2;
	color: #fff;
}
.zb-table-pay td{
	height: 40px;
	border:1px solid #d2d2d2;
	color: #333;
}
/*zb-pay-gl*/
/*****************新增值班人员**********************/

.popup-XZZB{
	display: none;
	position: fixed;
	width: 460px;
	height: 284px;
	top:50%;
	left: 50%;
	margin-top: -142px;
	margin-left: -230px;
	background: white;
	z-index: 999999999999999999999
}
.popup-XZZB-top{
	height: 45px;
	line-height: 45px;
	background: #616161;
	color: white;
	margin-bottom: 15px;
}
.popup-XZZB-main{
	margin-top: 20px;
}
.popup-XZZB-top em{
	margin-left: 15px;
}
.popup-XZZB-main dd{
	min-height: 115px;
	line-height: 115px;
	margin-top: 15px;
}
.popup-XZZB-main dd em{
	display: inline-block;
	width: 7em;
	margin-left: 105px;
	text-align: right;
	vertical-align: top;
}
.popup-XZZB-main dd select{
	height: 32px;
	width: 118px;
}
.popup-XZZB-bottom{
	margin-top: 25px;
	width: 100%;
	text-align: center;
}
.popup-XZZB-bottom span{
	display: inline-block;
	width: 80px;
	text-align: center;
	height: 28px;
	line-height: 28px;
	margin: 0 10px;
}
.popup-XZZB-bottom .XZZB-TJ{
	background: #5cb95b;
	color: white;
	border: 1px solid #5cb95b;
}
.popup-XZZB-bottom .XZZB-QX {
	background: #eeeeee;
	color: black;
	border: 1px solid #cacaca;
}
.popup-XZZB-top i{
	float: right;
	margin-right: 15px;
}
.h-cursor{
	cursor: pointer;
}

.JBSQ-II{
	display: none;
}
.JBSQ-II .JBSQ-II-back{
	color: #389ad4;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	margin-left: 10px;
}
.JBSQ-main tr th{
	height: 55px;
	background: #5cb95b;
	color: white;
}
.JBSQ-main tr td{
	height: 42px;
	text-align: center;
}
.JBSQ-main tr th,.JBSQ-main tr td{
	border:1px solid #d2d2d2;
}
.JBSQ-main tr td em{
	color: #389ad4;
	margin: 0 5px;
}
.JBSQ-main .JBSQ-td{
	background: #ececec
}
.LWDJB-main{
	width: 760px;
	height: auto;
	background: #f8f8f8;
	margin-left: 10px;
}
.LWDJB-main table {
	margin: 0 10px;
	padding: 15px 0;
	display: inline-block;
}
.LWDJB-main tr th{
	background: #5cb95b;
	color: white;
	height: 55px;
	color: white;
}
.LWDJB-main tr td{
	height: 60px;
	position: relative;
}
.LWDJB-main tr th,.LWDJB-main tr td{
	border:1px solid #d2d2d2;
	text-align: center;
}
.LWDJB-main .JBSQ-td{
	background: #ececec;
}
.LWDJB-main tr td img{
	position: absolute;
	left: -15px;
	top: 0px;
}
.LWDJB-top-right span{
	color: #3799d3;
	background: url("/static_new/images/zhiban/LWDJB-yan.jpg") 0px 6px no-repeat;
	padding-left: 20px;
}
.JBSQ-top select{
	width: 100px;
	margin-right: 10px;
}
/*************加班薪酬***************/
.tab-MYZB{
	display: none;
    margin-top: -30px;
}
/***************值班薪酬************************/
.tab-ZBXC{
	display: none;
}
/***************我的值班*********************/
.LWDJB-main tr td em{
	display: inline-block;
	width: 300px;
	word-break:break-all;
	float: left;
	margin-left: 10px;
}
.LWDJB-main span{
	display: inline-block;
	height: 25px;
	text-align: center;
	line-height: 25px;
	margin-left: 10px;
}
.LWDJB-main div{
    float: right;
    margin: 5px 20px 5px 0px;
    line-height: 35px;
}
.LWDJB-main .LWDJB-TX{
	width:110px;
	border:1px solid #cacaca;
	background: #eeeeee;
}
.LWDJB-main .LWDJB-HB{
	width: 80px;
	border:1px solid #cacaca;
	background: #eeeeee;
}
.LWDJB-main .LWDJB-QT{
	width: 55px;
	border:1px solid #5cb95b;
	color: white;
	background: #5cb95b;
}
.LWDJB-main .LWDJB-QD{
	width: 55px;
	border:1px solid #ff8b00;
	color: white;
	background: #ff8b00;
}
/*****************我的值班详情*********************/
.LWDZB-II{
	display: none;
}
/****************申请换班***************/
.LWDZB-II a{
	margin-left: 10px;
	display: inline-block;
	margin-top: 25px;
	color: #379bd4;
}
/*****************申请换班弹窗框******************/
.popup-ZBJL{
	display: none;
    position: fixed;
    width: 460px;
    height: 516px;
    top: 50%;
    left: 50%;
    margin-top: -208px;
    margin-left: -230px;
    background: white;
    z-index: 999999999999999999999;
}
.popup-HB{
	display: none;
	position: fixed;
	width: 460px;
	height: 480px;
	top:50%;
	left: 50%;
	margin-top: -240px;
	margin-left: -230px;
	background: white;
	z-index: 999999999999999999999
}
.popup-HB-top{
	height: 45px;
	line-height: 45px;
	background: #616161;
	color: white;
	margin-bottom: 15px;
}
.popup-HB-main{
	margin-top: 20px;
}
.popup-HB-top em{
	margin-left: 15px;
}
.popup-HB-top i{
	float: right;
	margin-right: 15px;
}
.popup-HB-main dd{
	min-height: 32px;
	line-height: 32px;
	margin-top: 15px;
}
.popup-HB-main dd em{
	display: inline-block;
	width: 5em;
	margin-left: 40px;
	text-align: right;
	vertical-align: top;
}
.popup-HB-bottom{
	margin-top: 25px;
	width: 100%;
	text-align: center;
}
.popup-HB-main dd .popup-TJ{
    margin-left: 30px;
    background: url("/static_new/images/zhiban/popup-fujian-img.jpg") no-repeat;
    width: 75px;
    height: 16px;
    vertical-align: middle;
}
.popup-HB-main .popup-TJ-IN{
    opacity: 0;
    z-index: 99999999999999999999;
    height: 32px;
    width: 100px;
}
.popup-bottom-LAB{
    display: inline-block;
    width: 350px;
}
.popup-bottom-LAB label{
    position: relative;
    display: inline-block;
    margin: -5px 10px;
    width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.popup-bottom-LAB label span{
    margin-left: 15px;
}
.popup-bottom-LAB label:hover>.popup-bottom-IMG{
    display: inline-block;
}
.popup-bottom-LAB label img{
    width: 15px;
    cursor: pointer;
    display: none;
}
.popup-HB-bottom span{
	display: inline-block;
	width: 80px;
	text-align: center;
	height: 28px;
	line-height: 28px;
	margin: 0 10px;
}
.popup-HB-bottom .HB-TJ{
	background: #5cb95b;
	color: white;
	border: 1px solid #5cb95b;
}
.popup-HB-main dd textarea{
	width: 268px;
	height: 90px;
	border:1px solid #bebebe;
}
.popup-HB-bottom .HB-QX {
	background: #eeeeee;
	color: black;
	border: 1px solid #cacaca;
}

/*********************教师我的加班******************/
.LWDJB-top{
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
}
.LWDJB-top-left{
    float: left;
}
.LWDJB-top-left span{
    display: inline-block;
    border:1px solid #656565;
    border-radius: 3px;
    width: 63px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-right: 15px;
}
.LWDJB-top-right{
    float: right;
}
.LWDJB-top-right span{
    color: #3799d3;
    background: url("/static_new/images/zhiban/LWDJB-yan.jpg") 0px 6px no-repeat;
    padding-left: 20px;
}
.LWDJB-main{
    width: 760px;
    height: auto;
    background: #f8f8f8;
    margin-left: 10px;
}
.LWDJB-main table {
    margin: 0 10px;
    padding: 15px 0;
    display: inline-block;
}
.LWDJB-main tr th{
    background: #5cb95b;
    color: white;
    height: 55px;
    color: white;
}
.LWDJB-main tr td{
    height: 60px;
    position: relative;
}
.LWDJB-main tr th,.LWDJB-main tr td{
    border:1px solid #d2d2d2;
    text-align: center;
}
.LWDJB-main .JBSQ-td{
    background: #ececec;
}
.LWDJB-main tr td img{
    position: absolute;
    left: -15px;
    top: 0px;
}
.JBSQ-top select{
    width: 100px;
    margin-right: 10px;
}
/*********************值班薪酬**********************/
.JBSQ-top{
    height: 75px;
    line-height: 75px;
    border-bottom:3px solid #eeeeee;
}
.JBSQ-top input{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-indent: 0.5em;
    border:1px solid #dcdcdc;
}
.JBSQ-top .JBSQ-day{
    width: 150px;
}
.JBSQ-top em{
    margin-left: 10px;
}
.JBSQ-top span{
    display: inline-block;
    width: 80px;
    height: 30px;
    border:1px solid #cacaca;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: black;
    background:#eeeeee;
    vertical-align:middle;
    margin-left: 20px;
}
.JBSQ-middle{
    height: 65px;
    line-height: 65px;
    margin-left: 10px;
}
.JBSQ-middle .JBSQ-jiaban{
    display: inline-block;
    width: 85px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #389ad4;
    color: white;
    margin-right: 10px;
}
.JBSQ-middle .JBSQ-muban {
    display: inline-block;
    width: 85px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: white;
    background: url("/static_new/images/zhiban/WDZB-MB.jpg") 6px 7px no-repeat #afafaf;
    padding-left: 10px;
}
.JBSQ-middle .JBSQ-daochu{
    float: right;
    display: inline-block;
    width: 66px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: white;
    background: url("/static_new/images/zhiban/WSZB-DC.jpg") 12px 8px no-repeat #389ad4;
    padding-left: 8px;
    margin-top: 18px;
}
.tab-ZBXC{
    margin-top: -30px;
}
.JBSQ-main {
    width: 760px;
    height: auto;
    background: #f8f8f8;
    margin-left: 10px;
}
.JBSQ-main table {
    margin: 0 10px;
    padding: 15px 0;
    display: inline-block;
}
.zhiban-set-ip{
	width: 360px;
	border-top: 1px solid #dfdfdf;
	padding: 80px 185px;
}
#ipset{
	margin:0 20px;
}
#sure-ip{
	border: none;
	background: none;
	color: #3999d5;
	margin: 0 5px;
}
.zhiban-FJ{
	height: 25px;
	line-height: 25px;
	width: 135px;
}
.zhiban-FJ>em{
	text-align: left;
	display: inline-block;
	width: 75px;
	text-overflow:ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.zhiban-FJ>a{
	display: inline-block;
	overflow: hidden;
	cursor: pointer;
}
.tab-ZBSM{
    /*display: none;*/
    margin-top: 30px;
}
#dutyExplain{
	border: none;
	width: 770px;
	height: 1000px;
	/*width: 100%;
	height: 100%;*/
	background: white;
	margin-top: 45px;
}
.tab-ZBSM ul{
    display: block;
    width: 690px;
    margin: 0 auto;
    font-size: 16px;
}
.tab-ZBSM ul li{
    margin-bottom: 15px;
}
.tab-ZBSM ul em{
	display: block;
	overflow: hidden;
	vertical-align: top;
	width: 770px;
	text-align: center;
	font-size: 20px;
	margin-left: -45px;
}
.tab-ZBSM ul span{
    display: inline-block;
    width: 38em;
  /*  text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;*/
}
.ZBSM-butn{
	text-align: center;
	display: inline-block;
	float: right;
	margin-top: -25px;
}
.ZBSM-butn span{
    display: inline-block;
    background: #5cb95b;
    cursor: pointer;
    padding: 5px 20px;
	width: 90px!important;
	height: 20px;
    border-radius:3px;
    color: white;
    font-size: 15px;
}
.popup-ZBSM{
    display: none;
    position: fixed;
    width: 460px;
    height: 284px;
    top: 50%;
    left: 50%;
    margin-top: -142px;
    margin-left: -230px;
    background: white;
    z-index: 999999999999999999999;
}
.popup-ZBSM-top{
    height: 45px;
    line-height: 45px;
    background: #616161;
    color: white;
    margin-bottom: 15px;
}
.popup-ZBSM-top em {
    margin-left: 15px;
}
.popup-ZBSM-top i {
    float: right;
    margin-right: 15px;
}
.popup-mian{
    margin-left: 32px;
    margin-top: 35px;
}
.popup-mian em{
    vertical-align:top;
}
.popup-mian textarea{
    width: 295px;
    height: 135px;
}
.popup-mian div{
    text-align: center;
    margin-top: 15px;
}
.popup-mian span{
    display: inline-block;
    padding: 5px 20px;
    background: #5db85b;
    color: white;
    cursor: pointer;
}
.bg
{
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* margin-left: -467px; */
	/* margin-top: -254px; */
	filter: alpha(opacity=40);
	opacity: 0.4;
	z-index: 1001;
	position: fixed !important;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}

.zhiban-jl{
	font-size: 12px;
	padding: 5px 15px;
	border:1px solid #cacaca;
	background: #eee;
	color:#333;
}

/*分页*/
.page-paginator {
	width: 100%;
	margin: 40px auto 20px auto;
	text-align: center;
	display: none;
}

.page-index span {
	padding: 3px 8px;
	color: #838383;
	border-radius: 4px;
	border: 1px solid #838383;
	background-color: #F6F7F6;
	cursor: pointer;
	margin: 0 2px;
}
.first-page,.last-page {
	padding: 3px 15px;
	color: #838383;
	border-radius: 4px;
	border: 1px solid #838383;
	background-color: #F6F7F6;
	cursor: pointer;
	margin: 0 2px;
}
.page-paginator span.active {
	background-color:#E6E6E6;
	color: #779554;
}