/*
* @Author: Tony
* @Date:   2016-08-15 10:41:36
* @Last Modified by:   Tony
* @Last Modified time: 2016-08-16 11:32:01
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.header{
	min-width: 466px;
	max-width: 1366px;
	margin: 0 auto;
	height: 69px;
}
.header img{
	float: left;
	margin-top: 20px;
}
.container{
	width: 936px;
	height: 486px;
	margin: 0 auto;
	position: relative;
}
.container .c-bg{
	position: absolute;
	width: 1920px;
	height: 486px;
	left: -492px;
	top: 0;
	z-index: -1;
}
.login-wind{
	float: right;
	padding: 38px 40px;
	background: #fff;
	border-radius: 4px;
	margin-top: 50px;
}
.p-welcome{
	font-size: 19px;
	line-height: 20px;
	height: 20px;
	color: #474F70;
	margin-bottom: 30px;
}
.p-input{
	height: 46px;
	line-height: 46px;
	margin-top: 22px;
}
.p-input img{
	float: left;
	width: 47px;
	height: 46px;
}
.p-input input{
	line-height: 46px;
	height: 46px;
	border: none;
	background: #F2F2F2;
	padding-left: 15px;
	width: 221px;
	margin-left: 1px;
}
.btn-sub{
	width: 283px;
	height: 46px;
	background: #474F70;
	color: #fff;
	border: none;
	border-radius: 4px;
	margin-top: 25px;
	cursor: pointer;
}
.footer{
	color: #444;
	height: 80px;
}
.footer-cont{
	color: #444;
	height: 80px;
	line-height: 80px;
	max-width: 1366px;
	margin: 0 auto;
}
.footer .sp1{
	float: left;
	margin-right: 19px;
}
.footer .sp2{
	color: #444;
	height: 80px;
	line-height: 80px;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}