/*********************互动课堂**************************/
.tab-col {
    position: relative;
    top: 20px;
}

.tab-col .tab-top {
    width: 100%;
    border-bottom: 1px solid #959595;
}

.tab-col .tab-top li {
    float: left;
    padding: 12px 20px;
    background: #F1F1F1;
}

.tab-col .tab-top ul {
    float: left;
}

.tab-col .tab-top li a {
    color: #666666;
    font-size: 16px;
}

.tab-col .tab-top .curl {
    background: #ffffff;
    box-shadow: 0 0 1px #959595;
    box-shadow: 0 -1px 1px #ff8900;
    border-bottom: none;
}

.tab-col .tab-top .curl a {
    color: #fda715;
    background: white;
}

/********************互动课堂内容**********************/
.tab-col .lanclass-main ul li {
    height: 100px;
    border: 1px solid #959595;
    border-top: none;
}

.tab-col .lanclass-main ul li div {
    padding: 20px;
}

.lanclass-main img {
    margin-right: 20px;
}

.lanclass-main input {
    vertical-align: top;
    height: 28px;
    width: 350px;
    border: 1px solid #dfdfdf;
    cursor: default;
    background: white;
}

.lanclass-main span {
    position: relative;
    cursor: pointer;
}

.lanclass-main span em {
    position: absolute;
    left: 0px;
    bottom: 5px;
}

.lanclass-main span i {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 20px;
}

.lanclass-main .lanclass-edi {
    background: url("/static/images/lanclass-edit.png") no-repeat;
}

/*.lanclass-main .lanclass-true{*/
/*background: url("/static/images/lanclass-true.png") no-repeat;*/
/*}*/
.lanclass-main .lanclass-lock {
    background: url("/static/images/lanclass-lock.png") no-repeat;
}

.lanclass-main .lanclass-del {
    background: url("/static/images/lanclass-del.png") no-repeat;
}

.lanclass-main .lanclass-Nkock {
    background: url("/static/images/lanclass-Nlock.png") no-repeat;
}

.lanclass-main .laclass-right {
    position: relative;
    left: 67px;
    top: -5px;
}

/************************互动课堂内容************************/
.L-interactive dt {
    height: 90px;
    line-height: 90px;
}

h1 {
    font-weight: normal;
}

.tab-sta {
    border: 1px solid #dddddd;
}

.tab-sta .sta-top {
    height: 60px;
    border-bottom: 1px solid #dddddd;
}

.tab-sta .sta-top li {
    float: left;
    height: 25px;
    width: 80px;
    line-height: 25px;
    margin: 18px 20px;
    text-align: center;
}

.tab-sta .sta-top li a {
    display: inline-block;

}

.sta-cur {
    background: #ff8a00;
    color: #ffffff;
}

.sta-cur a {
    color: white;
}

/*******************行为统计*******************/
.tab-sta .sta-xingwei {
    margin: 20px;
}

.tab-sta .sta-xingwei dt span {
    background: #74A3F2 none repeat scroll 0% 0%;
    color: #FFF;
    width: 100px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.tab-sta .sta-xingwei dt i {
    float: right;
}

.echarts-pgfId {
    position: relative;
    width: 730px;
    overflow-y: auto;
}

#xwtj {
    display: block;
    /* display: inline-block;
     height: 365px;
     overflow-x: auto;
     overflow-y: hidden;*/
    width: 770px;
    height: 400px;
}

.sta-xingwei dd tr {
    border: 1px solid #dfdfdf;
    height: 35px;
}

.sta-xingwei dd table {
    width: 100%;
    margin-bottom: 20px;
}

.sta-xingwei dd th {
    background: #fff8f0;
    color: #ff8a00;
}

.sta-xingwei dd th, .sta-xingwei dd td {
    width: 33.3%;
    text-align: center;
}

.tab-sta dd tr:nth-child(even) {
    background: #ffffff;
}

.tab-sta dd tr:nth-child(odd) {
    background: #f3f3f3;
}

/************************考试统计**************************/
.tab-sta .sta-kaoshi {
    display: none;
    margin: 0 20px;
}

.tab-sta .sta-kaoshi dl dt h1 {
    width: 730px;
    text-align: center;
}

.sta-kaoshi dl dd {
    width: 730px;
    min-height: 60px;
    line-height: 60px;
}

.sta-kaoshi dl dd ul li {
    float: left;
    width: 93px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #dfdfdf;
    color: #ff9326;
    text-align: center;
    font-size: 18px;

}

.sta-kaoshi dl dd ul li a {
    color: #ff8a00;
}

.kaoshi-cur {
    background: #ff8a00;
    border: 1px solid #ff8a00 !important;
}

.kaoshi-cur a {
    color: #ffffff !important;
}

.sta-kaoshi dl dd select {
    float: right;
}

.sta-kaoshi dl dd span {
    /*font-size: 18px;*/
    color: #ff8e26;
    width: 100%;
}

.sta-kaoshi dl dd button {
    border: 1px solid #FF8A00;
    color: #FFF;
    background: #FF8A00 none repeat scroll 0% 0%;
    width: 85px;
    height: 28px;
    text-align: center;
    float: right;
    margin-top: 15px;
    cursor: pointer;
}

.echarts-bjtj {
    width: 770px;
    height: 400px !important;
}

#bjtj {
    display: block;
    width: 770px;
    height: 400px;
}

.bjti-error {
    color: red !important;
}

.sta-kaoshi table {
    width: 730px;
}

.sta-kaoshi tr {
    height: 35px !important;
    line-height: 35px;
    border: 1px solid #dddddd;
}

.sta-kaoshi tr th {
    background: #fff8f0;
    color: #ff8a00;
}

.sta-kaoshi tr td {
    text-align: center;
}

.sta-zjms {
    display: inline-block;
}

.sta-dtms {
    display: none;
}

.sta-dtms dd span em {
    font-size: 14px;
}

.echarts-kstj {
    width: 770px;
    height: 400px !important;
}

#kstj {
    width: 770px;
    height: 400px !important;
}

/*.sta-zjms dd tr:nth-child(odd){
    background: #f3f3f3;
}
.sta-zjms dd tr:nth-child(even){
    background: #ffffff;
}*/
/******************单题模式********************/
.sta-dtms table {
    width: 730px;
}

.sta-dtms tr {
    border: 1px solid #dddddd;
}

.sta-dtms tr th {
    background: #fff8f0;
    color: #ff8a00;
}

.sta-dtms tr td {
    text-align: center;
}

/*.sta-dtms dd tr:nth-child(odd){
    background: #f3f3f3;
}
.sta-dtms dd tr:nth-child(even){
    background: #ffffff;
}*/
/***************答题统计*****************/
.tab-sta .sta-dati {
    display: none;
    margin: 0 20px;
}

.tab-sta .sta-dati dt {
    text-align: center;
}

.tab-sta .sta-dati dd {
    width: 730px;
    min-height: 60px;
    line-height: 60px;
}

.tab-sta .sta-dati dd select {
    width: 190px;
}

.sta-dati dl dl dd span {
    font-size: 18px;
    color: #ff8e26;
}

.echarts-dttj {
    width: 770px;
    height: 440px;
}

#dttj {
    width: 770px;
    height: 440px;
}

.tab-sta .sta-dati table {
    width: 730px;
}

.tab-sta .sta-dati tr {
    height: 35px;
    line-height: 35px;
    border: 1px solid #dddddd;
}

.tab-sta .sta-dati th {
    background: #fff8f0;
    color: #ff8a00;
}

.tab-sta .sta-dati td {
    text-align: center;
}

/**********************课堂课件*********************/
.tab-sta .sta-ketang {
    display: none;
}

.tab-sta .sta-ketang span {
    display: block;
}

.sta-ketang span img {
    margin: 20px 14px;
}

/**********************学生上传*********************/
.sta-xuesheng .stufilelist {
    margin: 0px 0px 50px 0px;
}

.sta-xuesheng .stufilelist a {
    width: 160px;
    height: 110px;
    display: inline-block;
    margin: 20px 10px;
    text-align: center;
}

.tab-sta .sta-xuesheng {
    display: none;
}

.tab-sta .sta-xuesheng select {
    width: 160px;
    margin: 20px 15px;
}

.tab-sta .sta-xuesheng span {
    display: block;
}

.sta-xuesheng span img {
    margin: 20px 14px;
}

.video-player-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 575px;
    height: 405px;
    overflow: visible;
    display: none;
}

.video-player-container div {
    overflow: visible;
}

#player-div .player-prompt {
    line-height: 400px;
    text-align: center;
    height: 100%;
    color: #fff;
    font-size: 20px;
    background: #000;
}

#videoplayer-div {
    overflow: visible;
    background: black;
    height: 405px;
    position: relative;
}

.video-thumb-list {
    position: absolute;
    left: 575px;
    height: 100%;
    background: #303030;
    width: 190px;
    text-align: center;
    color: white;
    overflow: auto;
}

.video-thumb-list div {
    overflow: hidden;
}

.video-thumb-list > div {
    width: 100%;
    margin: 4px 0;
    position: relative;
}

.video-thumb-list > div:hover {
    background-color: #FF7900;
}

.video-thumb-list > div.active {
    background-color: #FF7900;
}

.video-thumb-list .indicator {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -9px;
    display: none;
}

.video-thumb-list > div:hover .indicator {
    display: block;
}

.video-thumb-list > div.active .indicator {
    display: block;
}

.video-thumb {
    position: relative;
    cursor: pointer;
    text-align: center;
    width: 138px;
    border: solid white 1px;
    margin-left: 24px;
    min-height: 30px;
}

.video-thumb img {
    width: 138px;
    height: 78px;
    margin-bottom: -5px;
}

.video-thumb .video-name {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2px;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 134px;
    font-weight: bold;
    word-wrap: break-word;
    max-height: 60%;
}

/*****************添加****************/
.techfilelist li {
    float: left;
    list-style-type: none;
}

.stufilelist li {
    float: left;
    list-style-type: none;
}

.sta-ketang .techfilelist {
    margin: 0px 0px 50px 0px;
}

.sta-ketang .techfilelist a {
    width: 160px;
    height: 110px;
    display: inline-block;
    margin: 20px 10px;
    text-align: center;
}

/*分页*/
.page-paginator {
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
    display: none;
}

.page-index span {
    padding: 3px 8px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}

.first-page, .last-page {
    padding: 3px 15px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}

.page-paginator span.active {
    background-color: #E6E6E6;
    color: #779554;
}

.lanclass-list {
    font-size: 16px;
    font-family: 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif', 'simsun', 'Lucida Grande', 'Lucida Sans Unicode';
    border-bottom: 1px solid #ddd;
    height: 45px;

}

.lanclass-list dt {
    padding: 12px 0px 6px 8px;
}

.lanclass-list em {
    display: inline-block;
    width: 4em;
    text-align: center;
    border-right: 1px solid #FCA618;
    color: #FCA618;
}

.lanclass-list span {
    display: inline-block;
    padding: 5px 10px;
}

.lanclass-list span:hover {
    background: #FCA618;
    color: white;
}

.lanclass-kemu-hover {
    background: #FCA618;
    color: white;
}

/***/
.echarts-astol {
    width: 730px;
    height: 400px !important;
}

#awto {
    display: block;
    width: 770px;
    height: 400px;
}

.echarts-sqtj {
    width: 770px;
    height: 400px !important;
}

#djms {
    display: block;
    width: 770px;
    height: 400px;
}

.lessonclass-ho {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 25px;
}

/***********************学生个人情况**********************/
.interactive-xuesheng {
    /* display: none;
     width: 960px;
     margin: 0 auto;*/
    display: none;
    width: 770px;
    float: left;
    margin-left: 10px;
}

.interactive-xuesheng dl dt {
    border-bottom: 1px solid #0294e3;
    margin-top: 30px;
    margin-bottom: 45px;
}

.interactive-xuesheng dl dt em {
    padding: 10px 30px;
    display: inline-block;
    font-size: 18px;

}

.interactive-xuesheng dl dd {
    width: 735px;
    margin: 0 auto;
}

.interactive-xuesheng dl dd select {
    width: 156px;
}

.interactive-xuesheng dl dd em {
    display: inline-block;
    background: #74a3f2;
    color: #ffffff;
    padding: 5px 25px;
    margin: 20px 0;
}

.interactive-xuesheng dl dd img {
    margin-bottom: 40px;
}

.interactive-xuesheng dl dd .xuesheng-se {
    float: right;
}

.sta-hov {
    position: absolute;
    width: 730px;
    height: 20px;
    background: white none repeat scroll 0% 0%;
    bottom: 37px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.lessonclass-ziti {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 3em;
}

.lessonclass-use {
    display: block;
    width: 5em;
    color: black;
}

.lessonclass-rete {
    display: block;
    width: 100%;
    font-size: 16px !important;
    color: black !important;
}

.lanclass-hov {
    display: none;
}