/*
* @Author: Tony
* @Date:   2016-08-15 10:41:36
* @Last Modified by:   Tony
* @Last Modified time: 2016-08-15 11:24:44
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.header{
	min-width: 466px;
	max-width: 1366px;
	margin: 0 auto;
	height: 69px;
}
.header img{
	float: left;
	margin-top: 20px;
}
.container{
	width: 344px;
	height: 682px;
	margin: 0 auto;
	position: relative;
}
.container .c-bg{
	position: absolute;
	width: 1920px;
	height: 682px;
	left: -788px;
	top: 0;
	z-index: -1;
}
.container h1{
	color: #fff;
	margin-left: 32px;
	float: left;
	font-size: 26px;
	width: 344px;
}
.container .h11{
	margin-top: 38px;
}
.container .h12{
	margin-top: 273px;
}
.sel-sel{
    float: right;
    width: 70px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 12px;
    text-align: center;
}
.container a{
	float: left;
	color: #fff;
	margin: 19px 0 0 32px;
	padding: 0 20px;
	border: 1px solid #fff;
	border-radius: 14px;
	font-size: 16px;
	line-height: 27px;
	height: 27px;
	text-decoration: none;
	transition: all .3s;
}
.container .a1:hover{
	background: #fff;
	color: #C72C2D;
}
.container .a2:hover{
	background: #fff;
	color: #207EC3;
}
.footer{
	background: #1F1F1F;
	color: #D6D6D6;
	height: 80px;
}
.footer-cont{
	color: #D6D6D6;
	height: 80px;
	line-height: 80px;
	max-width: 1366px;
	margin: 0 auto;
}
.footer .sp1{
	float: left;
	margin-right: 19px;
}
.footer .sp2{
	color: #D6D6D6;
	height: 80px;
	line-height: 80px;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}
.span-hello{
	float: right;
	line-height: 69px;
	margin-left: 10px;
}
.cu-pointer{
	cursor: pointer;
}

/* new css */
.videolist-f{
	background: #f0f0f0;
	overflow: hidden;
	min-height: 500px;
}
.videolist{
	width: 1280px;
	margin: 38px auto;
}
.review-title{
	height: 54px;
	background: #C0C0C0;
	width: 1265px;
	margin: 0 auto 38px;
}
.review-title span{
	float: left;
	height: 54px;
	line-height: 54px;
	width: 120px;
	padding-left: 18px;
	background: #828282;
	color: #fff;
	font-size: 17px;
}
.review-title>img{
	float: left;
}
.sel-module{
	width: 430px;
	float: right;
	margin: 9px;
	position: relative;
}
.header-rebtn{
    float: left;
    width: 240px;
    margin-left: 189px;
    height: 69px;
    transition: all .3s;
}
.header-rebtn button{
    color:#fff;
    width: 108px;
    font-size: 15px;
    font-weight:bold;
    height: 29px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}
.header-rebtn .btn1{
    float: left;
    background: #C62B2E;
    border: 1px solid #C62B2E;
}
.header-rebtn .btn1:hover{
    background: #fff;
    color: #C62B2E;
    transition: all .3s;
}
.header-rebtn .btn2:hover{
    background: #fff;
    transition: all .3s;
    color: #207DC4;
}
.header-rebtn .btn2{
    float: right;
    background: #207DC4;
    border:1px solid #207DC4;
}
.sel-module>img{
	position: absolute;
	top: 10px;
	right: 10px;
}
.sel-module input{
	float: right;
	width: 130px;
	padding: 0 28px 0 12px;
	border-radius: 4px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	border: none;
}
.sel-module button{
	float: right;
	width: 95px;
	height: 35px;
	line-height: 35px;
	background: #fff;
	border: none;
	border-radius: 4px;
	margin-right: 12px;

}
.video-li{
	width: 242px;
	float: left;
	background: #fff;
	position: relative;
	margin: 0 7px 32px;
}
.video-li .img-img{
	width: 242px;
	height: 176px;
}
.video-li .img-play{
	position: absolute;
	top: 72px;
	left: 103px;
	cursor: pointer;
}
.video-li p{
	height: 42px;
	line-height: 42px;
    padding: 0 20px 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    position: relative;
}
.video-li p img{
    position: absolute;
    cursor: pointer;
    right: 7px;
    top: 12px;
}
.footer-b{
	height: 69px;
	line-height: 69px;
	background: #1F1F1F;
	color: #fff;
}
.footer-cont2 {
	color: #fff;
	height: 69px;
	line-height: 69px;
	max-width: 1280px;
	margin: 0 auto;
}
.footer-b .sp1 {
	float: left;
	margin-right: 19px;
}
.footer-b .sp2 {
	color: #fff;
	height: 80px;
	line-height: 80px;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

/*播放器*/
.player-container {
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-415px;
	margin-top:-240px;
	z-index: 1000;
	overflow: visible;
	display: none;
	background-color: white;
	box-shadow: 0 10px 25px #000;
	box-sizing: content-box;
	border-radius: 4px;
	padding:15px;
	z-index: 9999999999999999999999999;
}
.player-container * {
	overflow: visible;
}

.player-div {
	background: #000;
	width: 800px;
	height: 450px;
	overflow: hidden;
}

.player-close-btn {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
	background-image: url('/static/plugins/fancyBox/fancybox_sprite.png');
}

/*************************分页****************************/
.new-page-links{
    text-align: center;
}
.new-page-links li{
	list-style: none;
    display: inline-block;
	line-height: 30px;
	border: #dcdcdc 1px solid;
	color: #000a25;
	background: #fff;
	padding: 0 10px;
	border-right: 0;
}
.new-page-links li a{
	display: block;
}
.new-page-links li.first{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.new-page-links li.last{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right: #dcdcdc 1px solid;
}
.new-page-links li:hover{
	background: #ddd;
}
.new-page-links li a:hover{
	color: #000a25;
}

.new-page-links li.active{
	background: #f5f5f5;
	color: #9d9f9e;
}
.new-page-links li.active a{
	cursor: default !important;
	color: #9d9f9e;
}
.new-page-links li.disabled,.new-page-links li.disabled a{
	color: #999;
	background-color: #fff;
	border-color: #ddd;
	cursor: not-allowed;
}