/*kq-count-con*/
.kq-count-con{
	width: 770px;
	margin-top: 32px;
	margin-left: 10px;
}
/*kq-count-con*/
/*kq-count-nav*/
.kq-count-nav{
	border-bottom: 2px solid #5db85c;
	margin-bottom: 20px;
}
.kq-count-ul li{
	height: 38px;
	line-height:38px;
	text-align: center;
	display: inline-block;
	color:#000;
	font-weight: bold;
	background: #fff;
	border:1px solid #5db85c;
	float: left;
	display: inline-block;
	padding:0 20px;
	margin-left: 10px;
	position: relative;
	cursor: pointer;
}
.kq-count-ul em{
	display:none;
	width: 0;
	height: 0;
	border-left:8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: absolute;
	bottom:-3px;
	left: 40%;
}
.kq-active{
	background:#5db85c !important;	
}
.kq-active a{
	color: #fff !important;
}
.kq-active em{
	display: inline-block;
}
/*kq-count-nav*/
/*kq-count-mian*/
.kq-count-name{
	display:block;
	margin-left: 10px;
	border-left: 10px solid #5db85c;
	font-size: 16px;
	padding:3px 0 3px 12px; 
	margin-bottom: 25px;
}
.kq-select{
	margin-left: 32px;
	height: 30px;
	margin-bottom: 15px;
}
.kq-select i{
	display: inline-block;
	height: 26px;
	line-height:22px;
	text-align: center;
	border: 1px solid #d2d2d2;
	padding: 0 3px;
	cursor: pointer;
}
.kq-left{
	margin-right: -1px;
}
.kq-right{
	margin-left: -1px;
}
.kq-select select{
	width: 96px;
	height: 28px;
}
.kq-table{
	text-align: center;
	width: 750px;
	font-weight: bold;
}
.kq-table th{
	background: #eee;
	height: 45px;
	font-weight: normal !important;
}
.kq-table th,.kq-table td{
	border: 1px solid #d2d2d2;
}
.kq-table td{
	height: 70px;
	position: relative;
}
.kq-table img{
	position: absolute;
	left: 65px;
	top:30px;
}
.kq-table span{
	display: inline-block;
	margin-bottom: 30px;
}
.kq-weekend{
	color: #5db85c !important;
}
/*kq-count-mian*/