/*mykq-con*/
.mykq-con{
	width: 770px;
	margin-top: 32px;
	margin-left: 10px;
}
/*mykq-con*/
/*mykq-nav*/
.mykq-nav{
	border-bottom: 2px solid #5db85c;
	margin-bottom: 20px;
	padding-left: 10px;
}
.mykq-ul a{
	color: #666;
}
.mykq-ul li{
	height: 38px;
	line-height:38px;
	text-align: center;
	display: inline-block;
	color:#b7b7b7;
	font-weight: bold;
	background: #eee;
	border:1px solid #d0d0d0;
	border-bottom: none;
	float: left;
	display: inline-block;
	padding:0 20px;
	margin-right:2px;
	position: relative;
	cursor: pointer;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.mykq-ul em{
	display:none;
	width: 0;
	height: 0;
	border-left:8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: absolute;
	bottom:-3px;
	left: 40%;
}
.mykq-active{
	background:#5db85c !important;
	border: 1px solid #5db85c;
}
.mykq-active a{
	color: #fff !important;
}
.mykq-active em{
	display: inline-block;
}
/*mykq-nav*/
/*mykq-mian*/
.mykq-name{
	display:block;
	margin-left: 10px;
	border-left: 10px solid #5db85c;
	font-size: 16px;
	padding:3px 0 3px 12px; 
	margin-bottom: 25px;
}
.mykq-select{
	margin-left: 32px;
	height: 30px;
	margin-bottom: 15px;
}
.mykq-select i{
	display: inline-block;
	height: 26px;
	line-height:22px;
	text-align: center;
	border: 1px solid #d2d2d2;
	padding: 0 3px;
	cursor: pointer;
}
.mykq-left{
	margin-right: -1px;
}
.mykq-right{
	margin-left: -1px;
}
.mykq-select select{
	width: 96px;
	height: 28px;
}
.mykq-table{
	text-align: center;
	width: 750px;
	font-weight: bold;
}
.mykq-table th{
	background: #eee;
	height: 45px;
	font-weight: normal !important;
}
.mykq-table th,.mykq-table td{
	border: 1px solid #d2d2d2;
}
.mykq-table td{
	height: 70px;
	position: relative;
}
.mykq-table img{
	position: absolute;
	left: 65px;
	top:30px;
}
.mykq-table span{
	display: inline-block;
	margin-bottom: 30px;
}
.mykq-weekend{
	color: #5db85c !important;
}
.stukq-back{
	display: inline-block;
	margin-bottom: 20px;
	color:#3999d4;
	cursor: pointer;
}
.headkq-back{
	display: inline-block;
	margin-bottom: 20px;
	color:#3999d4;
	cursor: pointer;
}
/*mykq-mian*/