/*
* @Author: Voyage
* @Date:   2016-09-22 17:05:19
* @Last Modified by:   Tony
* @Last Modified time: 2016-09-29 16:02:29
*/
 /* css reset  */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#444; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
button{cursor: pointer;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/* main */
.header{
	height: 66px;
	background: #3FA8D8;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid #ccc;
}
.header .img1{
	float: left;
	margin: 24px 10px 0 16px;
}
.header .p1{
	float: left;
	line-height: 66px;
	height: 66px;
	color: #fff;
	font-size: 28px;
}
.header .img2{
	float: right;
	margin: 19px 9px 0 0;
	width: 32px;
	height: 32px;
	border-radius: 100%;
}
.header .p2{
	float: right;
	color: #fff;
	height: 40px;
	line-height: 20px;
	margin: 14px 0 0 0;
}
.header button{
	float: right;
	width: 56px;
	height: 28px;
	color: #fff;
	background: #2B98CA;
	border: 1px solid #1786B7;
	border-radius: 4px;
	margin: 20px 42px 0 30px;
}

.header .ch-pw{
	width: 70px;
	margin: 20px 0px 0 20px;
}

.left-nav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 249px;
	background: #F1F1F1;
	z-index: 1;
}
/* 左侧导航 */
.left-nav ul{
	margin-top: 116px;
}
.left-nav ul li{
	height: 105px;
	cursor: pointer;
}
.left-nav ul li>div{
	height: 42px;
	transition: .3s all;
}
.left-nav ul li>p{
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	color: #999;
	text-align: center;
	transition: .3s all;
}
.li1-img{
	background: url('../images/img_new_project2.png') 110px 2px no-repeat;
}
.li1-imgi{
	background: url('../images/img_new_project1.png') 110px 2px no-repeat;
}
.li1:hover>div{
	background: url('../images/img_new_project1.png') 110px 2px no-repeat;
	transition: .3s all;
}
.li2-img{
	background: url('../images/img_project_list2.png') 110px 2px no-repeat;
}
.li2-imgi{
	background: url('../images/img_project_list1.png') 110px 2px no-repeat;
}
.li2:hover>div{
	background: url('../images/img_project_list1.png') 110px 2px no-repeat;
	transition: .3s all;
}
.li3-img{
	background: url('../images/img_company_member2.png') 110px 2px no-repeat;
}
.li3-imgi{
	background: url('../images/img_company_member1.png') 110px 2px no-repeat;
}
.li3:hover>div{
	background: url('../images/img_company_member1.png') 110px 2px no-repeat;
	transition: .3s all;
}
.p-blue{
	color: #3FA8D8 !important;
}
.left-nav ul li:hover>p{
	color: #3FA8D8 !important;
	transition: .3s all;
}
.container{
	margin: 66px 0 0 249px;
	border-top: 1px solid #fff;
}
.ul-new{
	margin-top: 35px;
}
.ul-new>li{
	min-height: 70px;
	position: relative;
}
.ul-new>li>.sp1{
	width: 173px;
	float: left;
	line-height: 70px;
	font-size: 17px;
	color: #444;
	text-align: right;
	margin-right: 14px;
}
.ul-new>li h3{
	width: 173px;
	float: left;
	line-height: 70px;
	font-size: 17px;
	color: #444;
	text-align: right;
	margin-right: 14px;
	font-weight: bold;
}
.ul-new>li>.sp1 em{
	color: red;
}
.ul-new>li>.sp2{
	width: 53px;
	float: left;
	line-height: 70px;
	font-size: 17px;
	color: #444;
	text-align: center;
}
.ul-new>li>.sp3{
	width: 24px;
	height: 24px;
	float: left;
	background: url('../images/img_add_icon.png') no-repeat;
	margin: 24px 0 0 0;
	cursor: pointer;
	transition: all .6s;
}
.trang1{
	transform:rotate(405deg);
	-ms-transform:rotate(405deg); 	/* IE 9 */
	-moz-transform:rotate(405deg); 	/* Firefox */
	-webkit-transform:rotate(405deg); /* Safari 和 Chrome */
	-o-transform:rotate(405deg); 	/* Opera */
	margin: 24px 0 0 137px !important;
}
.ul-new>li .inp1{
	float: left;
	width: 467px;
	height: 36px;
	border: 1px solid #CDCDCD;
	padding-left: 6px;
	margin-top: 16px;
}
.ul-new>li .inp2{
	float: left;
	width: 209px;
	height: 36px;
	border: 1px solid #CDCDCD;
	padding-left: 6px;
	margin-top: 16px;
}
.ul-new>li .inp3{
	float: left;
	width: 153px;
	height: 36px;
	border: 1px solid #CDCDCD;
	padding-left: 6px;
	margin-top: 16px;
}
.ul-new>li select{
	float: left;
	width: 153px;
	height: 36px;
	border: 1px solid #CDCDCD;
	padding-left: 6px;
	margin-top: 16px;
}
.ul-list-detial{
	display: none;
}
.member-list{
	display: none;
	position: absolute;
	top: 55px;
	left: 200px;
	width: 148px;
	border-bottom: 1px solid #dcdcdc;
	z-index: 1;
	cursor: pointer;
	box-shadow: 0 0 3px #999;
	max-height: 350px;
	overflow-y: auto;
}
.member-list>p{
	background: #F5F5F5;
	height: 28px;
	line-height: 28px;
	border: 1px solid #dcdcdc;
	border-bottom: none;
	padding-left: 22px;
}
.member-list>p .arrow{
	float: right;
	width: 12px;
	height: 12px;
	background: url('../images/arrow_down.png') no-repeat;
	margin: 8px 25px 0 0;
	transition: all .3s;
}
.trang2{
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 	/* Opera */
}
.member-list>ul{
	background: #fff;
	border: 1px solid #dcdcdc;
	border-bottom: none;
}
.member-list>ul li{
	height: 28px;
	line-height: 28px;
	cursor: pointer;
	transition: all .3s;
}
.member-list>ul li>label{
	display: block;
	cursor: pointer;
}
.member-list>ul li:hover{
	background: #f1f1f1;
}
.member-list>ul li>label span{
	float: left;
	width: 90px;
	margin-left: 20px;
	text-align: center;
}
.member-list>ul li>label input{
	float: left;
	margin: 8px 0 0 0;
}
.ul-new li textarea{
	float: left;
	width: 700px;
	height: 145px;
	border: 1px solid #dcdcdc;
	resize: none;
	line-height: 20px;
	padding: 2px 6px;
	margin-top: 16px;
}
.new-item-list{
	float: left;
	width: 600px;
	margin-top: 27px;
}
.new-item-list p{
	margin-bottom: 
}
.new-item-list .sp4{
	display: inline-block;
	padding-left: 20px;
	/* width: 92px; */
	height: 20px;
	color: #3FA8D8;
	background: url('../images/img_huixing.png') no-repeat 3px 2px;
	cursor: pointer;
	margin-bottom: 16px;
}
.new-item-list .p-word{
	padding-left: 24px;
	background: url('../images/img_word.png') no-repeat 4px 2px;
	color: #777;
	height: 24px;
	cursor: pointer;
}
.new-item-list .p-word:hover{
	text-decoration: underline;
}
.my-list-cont{
	margin: 0 0 0 66px;
}
.my-list-cont>h3{
	height: 24px;
	font-size: 18px;
	font-weight: bold;
	margin:56px 0 15px 0;
}
.ul-company-member{
	width: 829px;
	border: 1px solid #dcdcdc;
	border-bottom: none;
}
.ul-company-member li{
	height: 54px;
	line-height: 54px;
	border-bottom: 1px solid #dcdcdc;
}
.ul-company-member li .sp1{
	float: left;
	width: 344px;
	line-height: 54px;
	padding-left: 17px;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}
.ul-company-member li .sp1 em{
	font-weight: bold;
	font-size: 15px;
}
.ul-company-member li .sp1 em:hover{
	text-decoration: underline;
	cursor: pointer;
}
.ul-company-member li .sp2{
	float: left;
	width: 140px;
	margin-left: 20px;
}
.ul-company-member li .sp2 img{
	float: left;
	margin: 17px 3px 0 0;
}
.ul-company-member li .sp3{
	float: left;
	width: 163px;
}
.page{
	text-align: center;
	width: 600px;
	height: 30px;
	margin: 30px 0 0 0;
}
.page span{
	padding: 3px 6px;
	border: 1px solid #dcdcdc;
	margin: 0 6px;
	cursor: pointer;
}
.p-detial-top {
    height: 24px;
    margin: 56px 0 46px 0;
    width: 830px;
}
.p-detial-top .em1{
	font-size: 18px;
	font-weight: bold;
}
.p-detial-top .em1:hover{
	text-decoration: underline;
	cursor: pointer;
}
.p-detial-top .em2{
	font-size: 15px;
	margin-left: 6px;
}
.detial-cont1{
	width: 830px;
	border-top: 3px solid #f1f1f1;
	padding-bottom: 20px;
}
.detial-item-tit{
	height: 50px;
	line-height: 50px;
	padding-left: 27px;
	font-size: 18px;
	color: #444;
	font-weight: bold;
}
.dt1{
	background: url('../images/img_infor.png') no-repeat 1px 16px;
}
.dt2{
	background: url('../images/img_team.png') no-repeat 0 16px;
}
.dt3{
	background: url('../images/img_huixing_big.png') no-repeat 1px 16px;
}
.detial-cont1 .p1{
	line-height: 40px;
}
.detial-cont1 .p1 .sp1{
	font-weight: bold;
	float: left;
	width: 126px;
	text-align: right;
	color: #444;
	line-height: 40px;
}
.detial-cont1 .p1 .sp2{
	float: left;
	width: 700px;
	line-height: 40px;
}
.detial-cont1 .p1 .sp3{
	float: left;
	width: 700px;
	padding-top: 6px;
	line-height: 28px;
}
.detial-cont1 .p2{
	line-height: 31px;
	height: 30px;
}
.detial-cont1 .p2 .sp1{
	float: left;
	width: 126px;
	text-align: right;
	color: #444;
	line-height: 30px;
}
.detial-cont1 .p2 .sp1 em{
	border: 1px solid #999;
	border-radius: 12px;
	padding: 1px 8px;
}
.detial-cont1 .p2>em{
	float: left;
	line-height: 30px;
	margin-left: 20px;
}
.detial-cont1-p3{
	margin-bottom: 10px;
}
.detial-cont1 .dt3 .sp1{
	float: right;
	height: 32px;
	width: 100px;
	border: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 32px;
	padding-left: 11px;
	font-weight: normal;
	cursor: pointer;
	border-radius: 5px;
	margin: 10px 2px 0 0;
	transition: all .3s;
}
.detial-cont1 .dt3 span:hover{
	box-shadow: 1px 1px 2px #999;
	color: #222;
	transition: all .3s;
}

.detial-cont1 .dt1 .sp1{
	float: right;
	height: 32px;
	width: 115px;
	border: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 32px;
	border-radius: 5px;
	padding-left: 15px;
	font-weight: normal;
	cursor: pointer;
	transition: all .3s;
	margin: 10px 16px 0 0;
}

.detial-cont1 .dt1 .sp1 em {
    font-size: 20px;
    float: left;
    line-height: 29px;
    font-weight: bold;
}

.detial-cont1 .dt2 .sp1{
	float: right;
	height: 32px;
	width: 108px;
	border: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 32px;
	border-radius: 5px;
	padding-left: 20px;
	font-weight: normal;
	cursor: pointer;
	transition: all .3s;
	margin: 10px 16px 0 0;
}

.detial-cont1 .dt2 .sp1 em {
    font-size: 20px;
    float: left;
    line-height: 29px;
    font-weight: bold;
}

.detial-cont1 .dt3 .sp2{
	float: right;
	height: 32px;
	width: 48px;
	border: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 32px;
	border-radius: 5px;
	padding-left: 32px;
	font-weight: normal;
	cursor: pointer;
	transition: all .3s;
	margin: 10px 16px 0 0;
	background: url('../images/img_up.png') no-repeat 13px 9px;
}
.detial-cont1 .dt3 .sp1 em {
    font-size: 20px;
    float: left;
    line-height: 29px;
    font-weight: bold;
}
.p-doc-all{
	height: 35px;
	border-top: 1px solid #dcdcdc;
	background: #f1f1f1;
	line-height: 35px;
	padding-left: 10px;
}
.p-doc-all label {
	float: left;
	width: 80px;
}
.p-doc-all label input{
	margin-right: 8px;
}
.p-doc-all button{
	float: left;
	width: 55px;
	height: 24px;
	border: none;
	border-radius: 3px;
	background: #ccc;
	margin: 5px 0 0 0;
	color: #888;
	transition: all .3s;
}
.p-doc-all button:hover{
	background: #aaa;
	color: #fff;
}
.ul-doc{
	margin-top: 4px;
}
.ul-doc li{
	height: 35px;
	border: 1px solid #fff;
	border-radius: 4px;
	line-height: 35px;
	padding-left: 9px;
	transition: all .3s;
}
.ul-doc li:hover{
	background: #F2FAFD;
	border: 1px solid #3FA8DA;
}
.ul-doc li:hover>em{
	display: block;
	transition: all .3s;
}
.ul-doc li label{
	float: left;
}
.ul-doc li em{
	float: left;
	color: #3FA8DA;
	margin-left: 16px;
	cursor: pointer;
	display: none;
	transition: all .3s;
}
.member-cont{
	margin: 48px 0 0 66px;
	width: 830px;
}
.p-member-top{
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	font-size: 18px;
}
.p-member-top span{
	float: right;
	width: 101px;
	height: 37px;
	line-height: 37px;
	font-weight: normal;
	border: 1px solid #dcdcdc;
	background: #f5f5f5;
	cursor: pointer;
	transition: all .3s;
	border-radius: 6px;
}
.p-member-top span:hover{
	box-shadow: 1px 1px 1px #999;
	border: 1px solid #ddd;
	background: #eee;
	color: #222;
}
.p-member-top span em{
	font-size: 22px;
	float: left;
	margin: 0 0 0 22px;
	line-height: 35px;
}
.mt38{
	margin-top: 15px;
}
.mt13{
	margin-top: 13px;
}
.tab-member th{
	background: #F1F1F1;
	font-weight: bold;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
}

.tab-project th{
	background: #F1F1F1;
	font-weight: bold;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
}

.tab-project .th1{
	width: 354px;
}

.tab-project .th2{
	width: 120px;
}

.tab-project .th3{
	width: 145px;
}

.tab-project .th4{
	width: 210px;
}

.tab-member td{
	height: 44px;
	text-align: center;
	line-height: 44px;
}
.tab-member td img{
	position: relative;
	top: 4px;
}
.tab-member  tr{
	border: 1px solid #dcdcdc;
}
.tab-member .th1{
	width: 120px;
}
.tab-member .th2{
	width: 120px;
}
.tab-member .th3{
	width: 120px;
}
.tab-member .th4{
	width: 120px;
}
.tab-member .th5{
	width: 160px;
}
.tab-member .th6{
	width: 187px;
}
.tab-member .th6 .sp1{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/img_pencil.png') no-repeat 0 0;
	margin-right: 13px;
	cursor: pointer;
}
.tab-member .th6 .sp2{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../images/img_delete.png') no-repeat 0 0;
	cursor: pointer;
}
.wind-edit{
	margin-left: -215px;
	margin-top: -230px;
	width: 390px;
	/* height: 425px; */
}

.wind-upload{
	margin-left: -215px;
	margin-top: -230px;
	width: 390px;
	/* height: 425px; */
}

.wind-new{
	margin-left: -215px;
	margin-top: -230px;
	width: 390px;
	/* height: 550px; */
}

.wind-new .ul-infor li{
	height: 50px;
	line-height: 50px;
}

.wind-new .ul-infor li .sp1{
	float: left;
	text-align: right;
	width: 92px;
	padding-right: 11px;
}

.wind-new .ul-infor li .inp1{
	float: left;
	width: 185px;
	height: 38px;
	border: 1px solid #B9B9B9;
	padding:0 0 0 6px;
	margin: 11px 0 0 0;
}
.wind-new .ul-infor li label{
	float: left;
	margin: 0 24px 0 4px;
}
.wind-new .ul-infor li select{
	border: 1px solid #B9B9B9;
	width: 110px;
	height: 38px;
}
.wind-edit .ul-infor li label input{
	margin-right: 4px;
}

.wind-edit .ul-infor li{
	height: 60px;
	/* line-height: 60px; */
}
.wind-del .ul-infor li{
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: 16px;
}
.wind-edit .ul-infor li .sp1{
	float: left;
	text-align: right;
	width: 92px;
	padding-right: 11px;
	padding-top: 20px;
}
.wind-edit .ul-infor li .inp1{
	float: left;
	width: 185px;
	height: 38px;
	border: 1px solid #B9B9B9;
	padding:0 0 0 6px;
	margin: 11px 0 0 0;
}


.wind-log-tb .ul-infor li .inp2{
	float: left;
	width: 185px;
	height: 38px;
	border: 0px solid #B9B9B9;
	padding:0 0 0 6px;
	margin: 11px 0 0 0;
	readonly : true;
}

.wind-log-tb {
	width: 650px;
	height: 500px !important;
	margin-left: -355px;
    margin-top: -230px;
}

.wind-log-tb .ul-infor li .inp1{
	margin: 11px 0px 0px; 
	height: 130px; 
	width: 389px;
	resize: none;
	padding:5 0 0 6px;
}

.wind-log-tb .ul-infor li .sp1 {
    float: left;
    text-align: center;
    width: 205px;
    padding-right: 17px;
}

.wind-log-tb .ul-infor li .sp2 {
    float: left;
    text-align: center;
    width: 370px;
    padding-right: 11px;
    line-height: 22px;
    word-wrap: break-word;
    word-break: break-all;
    display:inline-block;
}

.wind-log-tb .ul-infor li .th {
    float: left;
    text-align: center;
    width: 370px;
    padding-right: 11px;
    font-weight: bold;
    font-size: 15px;
    border:1px solid #3FA8D8;
    display:inline-block;
    height: 40px;
    line-height: 40px;
}

.wind-log-tb ul {
	height: 380px;
}

.wind-log .ul-infor li .inp1{
	margin: 11px 0px 11px; 
	height: 103px; 
	width: 389px;
	resize: none;
	padding:5 0 0 6px;
}

.wind-del .ul-infor li .inp1{
	float: left;
	width: 185px;
	height: 38px;
	border: 1px solid #B9B9B9;
	padding:0 0 0 6px;
	margin: 11px 0 0 0;
}

.wind-edit .ul-infor li label{
	float: left;
	margin: 0 24px 0 4px;
}
.wind-edit .ul-infor li select{
	border: 1px solid #B9B9B9;
	width: 110px;
	height: 38px;
}
.wind-edit .ul-infor li label input{
	margin-right: 4px;
}
.wind{
	display: none;
	position: fixed;
	top: 40%;
	left:50%;
	padding: 0 20px;
	background: #fff;
	border: 2px solid #ccc;
	z-index: 4;
}
.wind .p1{
	height: 54px;
	line-height: 54px;
	font-size: 17px;
}
.wind .p1 em{
	float: right;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: url('../images/img_cha.png') no-repeat;
	margin:18px 0 0 0;
}
.tcenter{
	text-align: center;
}
.btn-ok{
	width: 92px;
	height: 32px;
	background: #3FA8D8;
	border-radius: 4px;
	border: none;
	margin-right: 10px;
	color: #fff;
}
.btn-no{
	width: 92px;
	height: 32px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #BEBEBE;
}
.btn-log {
	width: 92px;
	height: 32px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #BEBEBE;
}
.bg{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	z-index: 3;
	filter: alpha(opacity=50);
}
.wind-del{
	width: 390px;
	height: 240px;
	margin-left: -215px;
	margin-top: -130px;
}
.login-cont{
	width: 700px;
	margin: 0 auto;
	position: relative
}
.wind-login{
	position:absolute;
	width: 400px;
	height: 300px;
	top: 200px;
	left: 150px;
	background: #fff;
	z-index: 4;
	border-radius: 10px;
	box-shadow: 0 6px 10px #444;
}

.wind-login .top{
	height: 40px;
	overflow: hidden;
}
.wind-login .top .sp1{
	float: left;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 100%;
	background: #3FA8D8;
	margin: 7px 0 0 8px;
	box-shadow: 1px 2px 6px #555 inset;
}
.wind-login .top .sp2{
	float: right;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 100%;
	background: #3FA8D8;
	margin: 7px 8px 0 0;
	box-shadow: 1px 2px 6px #555 inset;
}


.wind-ch-pw{
	position:absolute;
	width: 400px;
	height: 370px;
	top: 200px;
	left: 150px;
	background: #fff;
	z-index: 4;
	border-radius: 10px;
	box-shadow: 0 6px 10px #444;
}

.wind-ch-pw .top{
	height: 40px;
	overflow: hidden;
}
.wind-ch-pw .top .sp1{
	float: left;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 100%;
	background: #3FA8D8;
	margin: 7px 0 0 8px;
	box-shadow: 1px 2px 6px #555 inset;
}
.wind-ch-pw .top .sp2{
	float: right;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 100%;
	background: #3FA8D8;
	margin: 7px 8px 0 0;
	box-shadow: 1px 2px 6px #555 inset;
}



.mid-do{    
	margin: 8px auto;
    width: 120px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 7px;
    background: #3FA8D8;
    box-shadow: 1px 2px 6px #555 inset;
}
.line1{
	position: absolute;
	top: 13px;
	left: 252px;
	background: #fff;
	width: 10px;
	height: 238px;
	box-shadow: 1px 2px 6px #555;
	z-index: 6;
	border-radius: 9px;
	border-bottom: 1px solid #ccc;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}
.line2{
	position: absolute;
	top: 13px;
	left: 437px;
	background: #fff;
	width: 10px;
	height: 238px;
	box-shadow: 1px 2px 6px #555;
	z-index: 6;
	border-radius: 9px;
	border-bottom: 1px solid #ccc;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg); 	/* IE 9 */
	-moz-transform:rotate(-45deg); 	/* Firefox */
	-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
	-o-transform:rotate(-45deg); 	/* Opera */
}
.dintou{
	width: 30px;
	height: 30px;
	background: #444;
	position: absolute;
	top: 29px;
	left: 337px;
	z-index: 8;
	border-radius: 100%;
	border: 1px solid #999;
}
.dinxian{
	position: absolute;
	width: 26px;
	height: 4px;
	background: #444;
	top: 43px;
	left: 339px;
	z-index: 9;
	box-shadow: 0px 3px 3px #333 inset;
	transform:rotate(26deg);
	-ms-transform:rotate(26deg); 	/* IE 9 */
	-moz-transform:rotate(26deg); 	/* Firefox */
	-webkit-transform:rotate(26deg); /* Safari 和 Chrome */
	-o-transform:rotate(26deg); 	/* Opera */
}
.p-input{
	border: 1px solid #ccc;
	height: 50px;
	width: 300px;
	margin: 30px auto 0;
	border-radius: 6px;
	transition: all .3s;
}
.p-input span{
	color: #999;
	padding: 0 0 0 11px;
	transition: all .3s;
}
.p-input:hover{
	border: 1px solid #3FA8D8;
	color: #3FA8D8;
}
.p-input:hover>span{
	color: #3FA8D8;
}
.p-input .inp1{
	padding: 0 0 0 10px;
	color: #70575A;
	font-size: 16px;
}
.p-input input{
	border: none;
}

.li-pad{
	padding:35px 0 0 190px;
}

.p-login{
	width: 300px;
	height: 30px;
	margin: 20px  auto;
	text-align: center;
}
.p-login button{
	width: 300px;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #3FA8D8;
	border-radius: 6px;
	transition: all .3s;
	border: none;
}
.p-login button:hover{
	box-shadow: 0 0 4px #666 inset;
}

/* new add */
.item-conts{
	float: left;
	width: 715px;
	padding: 23px 0 0 0;
}
.item-conts .p1{
	height: 30px;
}
.item-conts .btn-addm{
	width: 100px;
	height: 26px;
	background: #3FA8D8;
	color: #fff;
	border: 1px solid #3FA8D8;
	transition: all .3s;
	border-radius: 6px;
}
.item-conts .ul1{
	padding-top: 10px;
}
.item-conts .ul1 li>span{
	float: left;
	/* width: 40px; */
	border: 1px solid #999;
	border-radius: 12px;
	padding: 0px 10px;
	text-align: center;
	height: 22px;
	line-height: 22px;
}
.item-conts .ul1 li{
	padding-bottom: 8px;
}
.item-conts .p-memb {
	float: left;
	width: 640px;
	padding-left: 10px
}
.item-conts .p-memb span{
	float: left;
	height: 22px;
	line-height: 22px;
	padding: 0 24px 0 6px ;
	border-radius: 12px;
	margin: 0 6px 3px 0;
	transition: all .3s;
	cursor: pointer;
	border: 1px solid #fff;
	position: relative;
}
.item-conts .p-memb span em{
	color: #fff;
	font-size: 18px;
	float: right;
	border-radius: 9px;
	width: 18px;
	height: 18px;
	line-height: 15px;
	position: absolute;
	right: 2px;
	bottom: 2px;
	text-align: center;
}
.item-conts .p-memb span:hover{
	border: 1px solid #3FA8D8;
}
.item-conts .p-memb span:hover>em{
	background: #aaa;
}
.wind-addmember{
	/* width: 600px; */
	margin-left: -300px;
	margin-top: -300px;
	z-index: 4;
	padding-bottom: 15px;
	border-radius: 6px;
}
.wind-addmember .ul-fl li{
	min-height: 30px;
	padding: 10px 0 0 0;
}
.wind-addmember .ul-fl li>span{
	float: left;
	width: 50px;
	font-size: 16px;
}
.wind-addmember .p-wind-cont{
	float: left;
	width: 537px;
	font-size: 14px;
	padding: 0 0 10px 10px;
	border-bottom: 1px dashed #ddd;
}
.wind-addmember .p-wind-cont .div-per-cont{
	float: left;
	margin: 3px 13px 0 0 ;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	position: relative;
	cursor: pointer;
}
.div-per-cont:hover>.p-infor{
	display: block;
}
.wind-addmember .p-infor{
	display: none;
	position: absolute;
	right: -157px;
	top: 20px;
	width: 200px;
	background: #f5f5f5;
	padding: 6px;
	border: 1px solid #ddd;
	z-index: 1;
	box-shadow: 4px 4px 8px #aaa;
	border-radius: 4px;
}
.wind-addmember  .p-infor span{
	display: block;
	font-size: 12px;
}
.wind-addmember input{
	position: relative;
	top: 2px;
	margin: 0 2px 0 0;
}
.wind .p1 {
    border-bottom: 1px solid #ddd;
}
.ul-infor li .pro-th{
	width: 4em!important;
	display:inline-blcok!important;
}
.ul-infor li .pro-thh{
	width: 12em!important;
	display:inline-blcok!important;
}
#log_list .sp1{
	width:4em!important;
	display:inline-block!important;
}
#log_list .sp4{
	width: 12em!important;
	display:inline-blcok!important;
	padding-right: 20px;
}
#log_list li span{
	border: 1px solid #3FA8D8;
	min-height:40px;
	/* line-height:40px; */
}

.wind-log-tb thead th {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #3FA8D8;
    height:40px;
    background: #f1f1f1;
}
.wind-log-tb td {
    text-align: center;
    /* font-weight: bold; */
    font-size: 15px;
    border: 1px solid #3FA8D8;
    word-break: break-all;
    text-align:left;
    height:40px;
}

.p-detial-top .sp1 {
	float: right;
    height: 32px;
    width: 95px;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    line-height: 32px;
    border-radius: 5px;
    padding-left: 15px;
    font-weight: normal;
    /* cursor: pointer; */
    transition: all .3s;
    margin: 10px 16px 0 0;
}

.wind-prj-status .sp1 {
	padding-top: 20px;
}

.wind-prj-status select {
	margin-top: 10px;
}

.p-detial-top .color-1 {
	border: 3px solid #3fa8d8;
}

.p-detial-top .color-2 {
	border: 3px solid #999;
}

.p-detial-top .color-3 {
	border: 3px solid #ffb329;
}

.p-detial-top .color-4 {
	border: 3px solid rgb(13, 210, 28);
}

.my-list-cont .status-sel{
	border: 1px solid #B9B9B9;
    width: 110px;
    height: 38px;
}

.my-list-cont .btn-ok {
	width: 92px;
    height: 32px;
    background: #3FA8D8;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    color: #fff;
}

.my-list-cont .status-div {
	margin-left: 540px;
}

.my-list-cont .em-tx {
	font-weight: bold;
    font-size: 15px;
}