.tab-head{
    margin: 20px 0 0 10px;
    position: relative;
    margin-bottom: 50px;
}
.tab-head .uo{
    height: 40px;
    border-bottom: 1px solid #ddd;
}
.floder-connent-right{
    margin-top: 20px;
    /*border:1px solid #dddddd;
    border-top:none;*/
}
.floder-connent-right .floder-connent-info{
    float: left;
    width: 190px;
    min-height: 160px;
    text-align: left;
}
.floder-connent-info p{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 13em;
}
.tab-head li.cur {
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    color: #333;
}
.tab-head li {
    float: left;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    /* width: 108px; */
    margin-right: 2px;
    color: #fff;
    background: #feaa00;
    border: 1px solid #feaa00;
    border-bottom: none;
    margin-top: 1px!important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 7em;
}
.tab-head li.cur a{
    color: #000000;!important
}
.tab-head li a{
    color: #ffffff;!IMPORTANT
}
.floder-connent-right .floder-connent-info a{
    cursor: pointer;
}
.player-container{
    position: fixed;
    top:50%;
    left: 50%;
    z-index: 9999999999999999;
}
.player-container .player-close-btn{
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url('/static/plugins/fancyBox/fancybox_sprite.png')
}