.wanban-head{
   padding: 2px 10px 0 0;
}
.wanban-head ul{
    float: left;
}
.wanban-head ul li{
    width: 125px;
    line-height: 35px;
    color: #ffffff;
    background: #feaa00;
   /* border-top: #3d87c6 1px solid;*/
    /*border-radius: 2px 0 0 0;*/
    text-align: center;
    margin-right: 1px;
    float: left;
    cursor: pointer;
}
/*
.wanban-head ul li:last-child{
    margin-right: 0;
    color:white;
    background: #fda417;
    border-top: 1px solid #fda417;
}
*/
.wanban-head ul li.cur{
    color: #333;
    background: #fff;
    border-radius:0;
    border: 1px solid #bbbbbb;
    border-bottom: none;
    margin-top: -1px;
}
.wanban-list{
    border-bottom: #ddd 1px solid;
    padding-right: 10px;
    padding-top: 10px;
}
.wanban-img{
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 5px;
}
.wanban-info{
    float: right;
    width: 650px;
    text-align: left;
}
.wanban-info em{
    line-height: 20px;
    font-size: 12px;
    padding-top: 5px;
    display: block;
}
.wanban-info P{
    line-height: 30px;
}
.sub-wanban-info img{
    width: 175px;
    height: 135px;
    float: left;
}
.sub-wanban-info dd{
    width: 460px;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    overflow: hidden
}
.sub-wanban-info dl{
    float: left;
    padding-left: 10px;
    padding-left: 10px;
    line-height: 24px;
}
.sub-wanban-info dt{
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    color:#4087C6;
}
.sub-wanban-info dd.sp span{
    margin-right: 4px;
}
.sub-wanban-info dd.sp span a{
    color:#4087C6;
}
.sub-wanban-txt span, .sub-wanban-txt a{
    float: left;
    color: #999;
    line-height: 40px;
}
.sub-wanban-txt a{
    float: right;
}
/* 添加好友模块 */
.addfriend{
    height:130px;
}
.addfriend ul{
    padding:20px;
}
.addfriend ul li{
    width:60px;
    height:60px;
    float:left;
    text-align: center;
}
.addfriend ul li img{
    display: block;
    margin:0 auto;
}
.addfriend ul li .igtp1{
    margin-top: 10px;
}
.addfriend ul li .igtp2{
    margin-top: 14px;
}
.addfriend p{
    height:30px;
    text-align: center;
    font-size: 12px;
    color:white;
    line-height: 30px;
    background: #ed6162;
    font-weight: bold;
}
.search{
    position: relative;
}
.search input{
    width:183px;
    padding:0 20px 0 15px;
    height:30px;
    border:1px solid #e5e5e5;
    margin:20px 0;
}
.search img{
    cursor: pointer;
    width:15px;
    height:16px;
    position: absolute;
    top:28px;
    right:5px;
}
.recommended .change{
    color:white;
    line-height: 40px;
    background: #fda417;
    height:40px;
    padding:0 15px;
}
.recommended .change span{
    float: right;
    padding-left: 18px;
    background: url(../../images/change1.png) no-repeat left 15px;
    cursor: pointer;
}
.recommended dl{
    padding:10px 0 0 10px;
    font-weight: bold;
    color:#656565;
}
.recommended dl dt img{
    display: block;
    width:48px;
    height:48px;
}
.recommended dl dt{
    float: left;
    margin-right: 5px;
}
.recommended dl dd p{
    font-size: 12px;
    color:#afafaf;

}
.recommended dl dd{
    position: relative;
}
.recommended dl dd a{
    font-weight: bold;
    color:white;
    background: #fda417;
    padding:3px;
    font-size: 12px;
    position: absolute; 
    top:10px;
    right:0;
}
/* 添加好友模块 */
/* 好友活动模块 */
.active-list{
    margin-top:10px;
    padding:10px;
    background: #f7f7f7;
}
.active-list .huodong{
    display: block;
    float: left;
    width:175px;
    height:135px;
    margin-right: 30px;
}
.active-listmain{
    float: left;
    width:345px;
}
.active-listmain a.tit{
    font-weight: bold;
    font-size: 16px;
    color:#000;
}
.active-listmain ul{
    padding:20px 0;
}
.active-listmain ul li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
}
.active-listmain span a{
    color:#4087C6;
}
.jhu{
    margin:4px 0 0 17px;
    float: left;
}
.fa{
    float: left;
}
a.delt{
    padding-left: 30px;
    font-weight: bold;
    color:red;
    cursor: pointer;
}
i.qx{
    float: right;
}
/* 好友活动模块 */
/* 发起活动模块 */
.activity4{
    border:1px solid #ddd;
    margin-top: 10px;
    padding:10px 30px;
}
.left_main{
    width:450px;
    float: left;
}
/* 左侧填写信息 */
.left_main h6{
    font-size: 16px;
    color: #656565;
    line-height: 20px;
}
.left_main .tianxie{
    padding-top: 20px;
}
.left_main .tianxie input,
.left_main .tianxie select,
.left_main .tianxie textarea{
    margin:0;
    padding:0;
    border:1px solid #989898;
    color:#b3b3b3;
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none;
    padding-left: 5px;
    height: 38px;
}
.left_main .tianxie input.ft{
    width:443px;
}
.left_main .tianxie input.sd{
    float: right;
}
.left_main .tianxie textarea{
    width:443px;
    height:100px;
}
.left_main .tianxie select{
    height:40px;
    width:250px;
}
.left_main .tjfm,.left_main .yqhy{
    margin-bottom: 10px;
}
.left_main .tjfm img{
    width:80px;
    height:120px;
    padding:0 10px;
}
.left_main .tjfm a,.left_main .yqhy a{
    color:#ff7900;
    padding:0 10px;
}
.left_main .tjfm a:hover,.left_main .yqhy a:hover{
    text-decoration: underline;
}
.left_main .hou{
    padding-top: 40px;
}
.left_main .hou button,.left_main .hou a{
    margin:0;
    padding:0;
    border:0;
    color:white;
    width:80px;
    height:28px;
    line-height: 28px;
    text-align: center;
    background: #808080;
    border-radius: 4px;
    cursor:pointer;
}
.left_main .hou a{
    background: #ff7900;
    float: right;
}
/* 左侧填写信息 */
.right_main{
    width:210px;
    padding:20px 10px;
    float: right;
    background: #f7f7f7;
    border-radius: 6px;
}
.right_main p{
    color:#ff7900;
    margin-bottom: 5px;
}
.right_main span{
    color: #656565;
    display: block;
    margin-bottom: 20px;
}
/* 弹出层 */
.gay{
    width:100%;
    height:auto;
    background: #000;
    opacity: 0.3;
    -moz-opacity:0.3;
    filter: alpha(opacity=30);
    position: fixed;
    top:0;
    left:0;
    z-index:1;
    display: none;
}
.hylb{
    width: 655px;
    height: 300px;
    background: white;
    position: fixed;
    z-index: 2;
    display: none;
    border: 2px solid #f0f0ee;
    top: 50%!important;
    left: 50%!important;
    margin-left: -327px!important;
    margin-top: -150px!important;
}
.hylb p{
    height:20px;
    background: #546fb4;
    padding:10px 20px;
    color:white;
    line-height: 20px;
    position: relative;
}
.hylb .gb{
    position: absolute;
    top:14px;
    right:20px;
    cursor: pointer;
    width:13px;
    height:13px;
    background: url(../../images/fqhd.png) no-repeat;
}
.hylb_main{
    height:260px;
}
.hylb_left{
    float:left;
    height:240px;
    width:400px;
    padding-top: 20px;
}
.hylb_left input{
    margin:0;
    padding:0;
    width: 208px;
    height: 28px;
    border: 1px solid #DBDBDB;
}
.hylb_left textarea{
    margin:0;
    padding:0;
    resize: none;
    width:293px;
    height:80px;
    padding:10px;
}
.hylb_left .t,.hylb_left .b{
    margin-bottom: 20px;
}
.hylb_left .t span,.hylb_left .b span{
    width:80px;
    text-align: right;
    color: #656565;
    display: inline-block;
    vertical-align: top;
}
.hylb_left button{
    float: right;
    margin:0;
    padding:0;
    border:0;
    background: #ff7900;
    padding:5px 20px;
    color:white;
    margin-top: 20px;
    cursor:pointer;
}
.hylb_right{
    float: right;
    height:260px;
    width:220px;
    overflow: auto;
}
.hylb_right ul li,.hylb_right ul .bj{
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    color:#656565;
}
.hylb_right ul li:hover{
    background: #ebebe4;
    color: #000;
}
.hylb_right ul .bj{
    background:url(../../images/xiaj.png) no-repeat 12px 6px;
    background-color: #cecece;
}
.hylb_right ul .jb{
    background:url(../../images/youj.png) no-repeat 12px 6px;
    background-color: #cecece;
}
/* 弹出层 */
.yqhy dl{
    display: inline-block;
    width:36px;
    margin-right: 10px;
}
.yqhy dl dt img{
    width:36px;
    height:36px;
    display: block;
}
.yqhy dl dt{
    position:relative;
}
.yqhy dl dt s{
    position: absolute;
    width:18px;
    height:18px;
    top:-9px;
    right:-9px;
    background: url(../../images/delete.png) no-repeat;
    cursor: pointer;
}
.yqhy dl dd{
    text-align: center;
    color: #69a1df;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
}
.yqhy a{
    position: relative;
    top:-5px;
    white-space:nowrap; 
}

/* 发起活动模块 */
#xd{
    position: relative;
}
#dw{
    position: absolute;
    bottom:-42px;
    right:0;
}
.left_main .yqhy{
    padding-top:10px;
}
/* 活动页面 */
.huodong_left{
    width:770px;
    float: left;
}

.huodong_leftT{
    padding:20px;
    border:1px solid #ddd;
    border-top: none;
    border-bottom: none;
}
.huodong_leftT h5{
    font-size: 15px;
    color:#656565;
}
.huodong_leftT ul{
    padding-top:5px;
}
.huodong_leftT ul li{
    color:#656565;
    margin-bottom: 5px;
    font-size: 13px;
}
.huodong_leftT img{
    display: block;
    margin:5px 0;
    width:600px;
    height:400px;
}
.huodong_leftT .spl{
    display: block;
    text-align: right;
    color:#656565;
}
.huodong_leftT dl{
    padding-top: 5px;
}
.huodong_leftT dl dt{
    margin-bottom: 5px;
}
.huodong_leftT dl dt span.lan{
    color:#5ea7f2;
    cursor:pointer;    
    position: relative;
    top:5px;
    padding:0 10px;
}
.huodong_leftT dl dt span.lanl{
    padding:0 10px;
    position: relative;
    top:5px;
}
.huodong_leftT dl dt span.lan:hover{
    text-decoration: underline;
} 
.huodong_leftT dl dt .tebie{
    color:white;
    background: #ff7900;
    padding:5px 15px;
    font-size: 16px;
    border-radius: 4px;
    line-height: 31px;
    top:0;
    cursor: pointer;
}
.huodong_leftT dl dt .tebie:hover,
.huodong_leftT dl dt .tebie1:hover{
    text-decoration: none;
}
.huodong_leftB ul{
    border: 1px solid #ddd;
    border-top: none;
    padding:0 20px;
}
.huodong_leftB ul li{
    float: left;
    padding:0 20px;
    line-height: 36px;
    text-align: center;
    color:#656565;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.huodong_leftB ul li.dq{
    border-top:3px solid #ff7900;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid white;
    margin-top: -4px;
    position: relative;
    bottom:-1px;
}
.huodong_leftB .cx{
    border:1px solid #ddd;
    border-top: none;
}
.huodong_leftB .xc{
    padding:20px;
    padding-bottom: 0;
}
.huodong_leftB .xc dl{
    float: left;
    width:98px;
    margin:0 20px 10px 0;
}
.huodong_leftB .xc dl dt img{
    display: block;
    width:98px;
    height:64px;
}
.huodong_leftB .xc dl dd{
    text-align: center;
    color: #656565;
}
.huodong_leftB .tlq .tlqt{
    padding:20px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
}
.huodong_leftB .tlq .tlqt textarea{
    margin:0;
    padding:0;
    resize: none;
    border-radius: 4px;
    border:1px solid #ddd;
    width:726px;
    height:40px;
    padding:10px;
    margin-bottom: 10px;
}
.huodong_leftB .tlq .tlqt span{
    background: url(../../images/img-icon.png) no-repeat;
    padding-left: 23px;
    cursor: pointer;
    position: relative;
}
.huodong_leftB .tlq .tlqt span input{
    position:absolute; 
    top:0; 
    left:0;
    width:83px;
    height:20px;
    filter:alpha(opacity:0);
    opacity: 0;  
    outline:none;
    margin-top:0;
    cursor: pointer;
}
.huodong_leftB .tlq .tlqt button{
    float: right;
    margin:0;
    border:0;
    padding:0;
    background: #add288;
    color:white;
    padding:5px 15px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 20px;
}
.huodong_leftB .tlq .tlqt .ImG{
    margin-top: 10px;
    position: relative;
}
.huodong_leftB .tlq .tlqt .ImG img{
    display: block;
    width:100px;
    height:60px;
}
.huodong_leftB .tlq .tlqt .ImG s{
    width:9px;
    height:10px;
    background: url(../../images/huati.jpg) no-repeat;
    position: absolute;
    top:-6px;
    left:102px;
    cursor: pointer;
}
/* 列表 */
.huodong_leftB .tlq .yiti{
    padding-right: 10px;
}
.huodong_leftB .tlq .floor {
    border-top:1px solid #ddd;
}
.huodong_leftB .tlq .floor .lo{
    float: left;
    width:80px;
    background: #f5f5f5;
    padding:0 20px;
    margin-right: 10px;
}
.huodong_leftB .tlq .floor .lo ol{
    padding-top: 10px;
    text-align: center;
    color: #bdbdbd;
}
.huodong_leftB .tlq .floor .lo ol li{
    margin-bottom: 5px;
}
.huodong_leftB .tlq .floor .lo ol li.um{
    color: #499cf0;
}
.huodong_leftB .tlq .floor .lo ol li img{
    display: block;
    width:40px;
    height:40px;
    margin:0 auto;
}
.huodong_leftB .tlq .floor .rt{
    float: left;
    padding:15px 0 10px 0;
    width:628px;
}
.huodong_leftB .tlq .floor .rt img{
    margin-top: 10px;
    display: block;
    width:160px;
    height:110px;
    float: left;
}
.huodong_leftB .tlq .floor .rt span{
    padding-top:100px;
    float: right;
    color: #bdbdbd;
}
.huodong_leftB .tlq .floor .rt span em{
    color:#499cf0;
    cursor: pointer; 
}
.huodong_leftB .tlq .floor .rt p{
    word-wrap: break-word;
}
.huodong_leftB .tlq dl{
    background: #f5f5f5;
    margin-left:120px;
    padding:0 10px 0 10px;
    margin-bottom: 10px;
}
.huodong_leftB .tlq dl dd{
    border-bottom:1px solid #ddd;
    padding-bottom: 10px;
    padding-top: 10px;
}
.huodong_leftB .tlq dl img{
    width:40px;
    height:40px;
    float: left;
}
.huodong_leftB .tlq dl p{
    float: left;
    width:568px;
    padding-left: 10px;
    word-wrap: break-word;
}
.huodong_leftB .tlq dl p em{
    color:#499cf0;
}
.huodong_leftB .tlq dl dt{
    padding-top: 10px;
    padding-bottom: 10px;
}
.huodong_leftB .tlq dl dt textarea,
.huodong_leftB .tlq dl dt button{
    margin:0;
    border:0;
    padding:0;
    resize: none;
    border-radius: 4px;
}
.huodong_leftB .tlq dl dt textarea{
    width:606px;
    border:1px solid #ddd;
    padding:5px;
    margin-bottom: 20px;
}
.huodong_leftB .tlq dl dt button{
    background: #add288;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    line-height: 20px;
    float: right;
}
/* 右侧活动 */
.huodong_right{
    width:220px;
    padding-top: 10px;
    float: right;
}
.huodong_right .Active{
    height:130px;
    background: #f5f5f5;
    padding:50px 15px 20px 15px;
}
.huodong_right .Active span,
.huodong_right .Active a{
    display: block;
    text-align: center;
}
.huodong_right .Active span{
    font-size: 18px;
    color:#656565;
    line-height: 24px;
}
.huodong_right .Active span.zd{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.huodong_right .Active a{
    background: #ff7900;
    color:white;
    font-size: 18px;
    border-radius: 4px;
    line-height: 36px;
    position: relative;
    top:30px;
}
.huodong_right ol{
    padding:20px 0;
}
.huodong_right ol li{
    margin-bottom: 10px;
    color:#656565;
    font-weight: bold;
    width:50px;
    text-align: center;
}
.huodong_right ol img{
    width:50px;
    height:50px;
}
.huodong_right ol span{
    position: relative;
    top:-20px;
    left:10px;
}
.huodong_right ul{
    margin-bottom: 20px;
}
.huodong_right ul h4{
    color:#656565;
    margin-bottom: 10px;
}
.huodong_right ul h4 span{
    font-weight: 400;
    color: #499bef;
    float: right;
    cursor: pointer;
}
.huodong_right ul li{
    float: left;
    margin:0 5px 5px 0;
    width:50px;
    height:50px;
}
.huodong_right ul li img{
    display: block;
    width:50px;
    height:50px;
}
.huodong_right dl{
    border:1px solid #ddd;
}
.huodong_right dl dt{
    height:40px;
    background: #ed6162;
    line-height: 40px;
    padding:0 10px;
    color: white;
    margin-bottom: 15px;
}
.huodong_right dl dt span{
    float: right;
    cursor: pointer;
}
.huodong_right dl dd{
    padding-left:5px;
    margin-bottom: 15px;
}
.huodong_right dl dd img{
    float: left;
}
.huodong_right dl dd span{
    display: block;
    padding-left:82px;
    font-size:13px;
    color:#949494;
    padding-top: 4px;
}
.huodong_right dl dd span s{
    text-decoration: none;
    color:#ff7900;
}
.huodong_right dl dd span.mc{
    font-size: 15px;
    color: #656565;
}
/* 右侧活动 */
/* 活动页面 */
/* 好友申请，我的好友页面 */
.col-right .sl{
    padding:20px;
    color: #566FB5;
    font-size: 16px;
    line-height: 28px;
}
.col-right .sl li{
    border:1px solid #566FB5;
    padding:0 20px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.col-right .sl li.cut{
    color:white;
    background: #566FB5;
}
.slmT{
    padding-top: 10px;
    position: relative;
}
.slmT ol{
    border:1px solid #ddd;
    color:#656565;
    border-radius: 4px;
    line-height: 28px;
    float: right;
}
.slmT ol li{
    float: left;
    padding:0 20px;
    cursor: pointer;
    border-right: 1px solid #ddd;
}
.slmT ol li:last-child{
    border-right:0;
}
.slmT ol li:hover{
    background: #ebebeb;
}
.slmT ol .shen {
    background: #ebebeb;
}
.slmT .rlb{
    margin-top: 80px;
}
.slmT .rlb dl{
    width:170px;
    height:110px;
    border:1px solid #ddd;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:5px;
    color: #656565;
}
.slmT .rlb dl p img{
    float: left;
    width:60px;
    height:90px;
}
.slmT .rlb dl p span{
    display: block;
    padding-left: 70px;
}

.slmT .rlb dl p em.xsf{
    padding-left: 25px;
    background: url(../../images/yj_03.png) no-repeat left 3.5px;
    cursor: pointer;
}
.slmT .rlb dl p em.xsf:hover{
    color:#566fb5;
}
.slmT .rlb dl p em.hong{
    float: right;
    cursor: pointer;
    color:#ED6162;  
}
.slmT .rlb dl p em.hong:hover{
    color: red;
}
.slmB{
    position: relative;
}
.slmB li{
    border:1px solid #ddd;
    margin-bottom: 10px;
    padding:15px 10px;
    color:#656565;
}
.slmB li dd{
    float: left;
}
.slmB li dd img{
    display: block;
    width:90px;
    height:90px;
}
.slmB li dd p{
    padding-left: 10px;
    margin-bottom: 25px;
}
.slmB li dd p span{
    color:#566fb5;
    margin-right: 10px; 
}
.slmB li dd p em{
    margin-right: 20px;
}
.slmB li dt{
    float: right;
    height:90px;
    line-height: 90px;
}
.slmB li dt span{
    background: #dcdcdc;
    padding:3px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 3px;
}
.slmB li dt span:hover{
    color: white;
    background: #566fb5;
}
/* 好友申请，我的好友页面 */
.addfriend ul li em{
    float: right;
    font-size: 9px;
    line-height: 10px;
    position: relative;
    top:2px;
    right:15px;
    color: white;
}
/* 好友搜索页面 */
.slmT .sousuo{
    margin-top: 10px;
}
.slm .zhongdian{
    border-bottom: 1px solid #ddd;
    padding:20px;
}
.slm .zhongdian select{
    width:150px;
    height:35px;
    border:1px solid #ddd;
    margin-right: 5px;
}
.slm .zhongdian input{
    border:1px solid #ddd;
    margin:0;
    padding:0 25px 0 15px;
    border-radius: 20px;
    float: right;
    width:300px;
    height:33px;
}
.slm .zhongdian img{
    float: right;
    position: relative;
    top:10px;
    right:-290px;
    cursor: pointer;
}
.qqg{
    width:410px;
    height:160px;
    background: white;
    position: fixed;
    z-index: 2;
    display: none;
    padding:15px;
}
.qqg p{
    font-size: 16px;
    margin-bottom: 15px;
}
.qqg p span{
    width:9px;
    height:10px;
    float: right;
    position: relative;
    cursor: pointer;
    top:5px;
    background: url(../../images/huati.jpg) no-repeat;
}
.qqg textarea{
    margin:0;
    padding:10px;
    border:1px solid #ddd;
    resize: none;
    width:388px;
    height:58px;
    margin-bottom: 15px;
}
.qqg button{
    float: right;
    margin:0;
    border:0;
    background: #ff7900;
    padding:5px 15px;
    color:white;
    cursor: pointer;
}
/* 好友搜索页面 */
/* 私信页面 */
.wfsx{
    margin:15px 0 10px 0;
    width:90px;
    height:30px;
    background: #566fb5;
    color:white;
    line-height: 30px;
    text-align: center; 
    font-weight: bold;
    cursor: pointer;
}
.hyyq{
    position: relative;
    margin-bottom: 42px;
}
.hyyq li{
    margin-bottom: 10px;
    border:1px solid #c0e2f1;
    padding:15px 10px;
}
.hyyq li img{
    display: block;
    float: left;
    width:80px;
    height:80px;
}
.hyyq li h3{
    padding-left: 90px;
    color: #ff7900;
    font-size: 15px;
}
.hyyq li h3 span{
    float: right;
    font-style: normal;
    font-size: 12px;
    color: #949494;
    font-weight: 400;
}
.hyyq li p{
    word-wrap: break-word;
    padding-left: 90px;
    color:#949494;
    font-size:13px;
}
.hyyq li .yxj{
    text-align: right;
    line-height: 20px;
    color:#949494;
}
.hyyq li .yxj a{
    color:#949494;
}
.hyyq li .yxj a:hover{
    color:#ff7900;
}
.hyyq li .yxj span{
    width:11px;
    height:13px;
    display: inline-block;
    cursor: pointer;
    background: url(../../images/icon-del.png) no-repeat;
    position: relative;
    top:1px;
}
/* 私信页面 */
/* 回复私信页面 */
.hsx{
    width:125px;
    background: #888fa2;
}
.toname{
    padding-top: 10px;
    color: #949494;
    position: relative;
    margin-bottom: 20px;
}
.toname p{
    margin-bottom: 10px;
}
.toname textarea{
    border:1px solid #ddd;
    margin:0;
    padding:10px;
    width:748px;
    height:148px;
    resize: none;
    margin-bottom: 10px;
}
.toname label{
    position: absolute;
    top:15px;
    right: 0px;
}
.toname button{
    float: right;
    margin:0;
    border:0;
    background: #ff7900;
    color:white;
    padding:3px 15px;
    cursor: pointer;
}
.ptl{
    position: relative;
    margin-bottom: 42px;
}
.both{
    border:1px solid #c0e2f1;
    padding:10px;
}
.both li{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.both li img{
    display: block;
    float: left;
    width: 80px;
    height: 80px;
}
.both li h3{
    padding-left: 90px;
    color: #ff7900;
    font-size: 15px;
}
.both li h3 span{
    float: right;
    font-style: normal;
    font-size: 12px;
    color: #949494;
    font-weight: 400;
}
.both li p {
    word-wrap: break-word;
    padding-left: 90px;
    color: #949494;
    font-size: 13px;
}
.both li .yxj {
    text-align: right;
    line-height: 20px;
    color: #949494;
    margin-bottom: 10px;
}
.both li .yxj span {
    width: 11px;
    height: 13px;
    display: inline-block;
    cursor: pointer;
    background: url(../../images/icon-del.png) no-repeat;
    position: relative;
    top: 1px;
}
.both ol{
    margin-left: 80px;
}
.tan1,.tan2{
    width:440px;
    background: white;
    position: fixed;
    z-index: 2;
    display: none;
    top:50%!important;
    left:50%!important;
    margin-left: -220px;
    margin-top:-120px;
}
.tan1 p,.tan2 p{
    line-height: 40px;
    background: #546fb4;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding:0 20px;
}
.tan1 p span,.tan2 p span{
    background: url(../../images/fqhd.png) no-repeat;
    cursor: pointer;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 14px;
    right: 20px;
}
.tan1 .jinggao,.tan2 .jinggao{
    border-bottom: 1px solid #ddd;
    background: url(../../images/jinggao.jpg) no-repeat;
    text-align: center;
    padding:30px 50px;
    color:#656565;
}
.tan2 .jinggao span{
    color: #ff7900;
    font-weight: bold;
}
.tan1 .muo,.tan2 .muo{
    text-align: center;
    padding:10px 0;
}
.tan1 .muo button,.tan2 .muo button{
    border:0;
    margin:0 5px;
    padding:3px 15px;
    background: #ff7900;
    color:white;
    cursor: pointer;
}
.tan1 .muo button.huidu,.tan2 .muo button.huidu{
    background: #9d9d9d;
}

/*分页*/
.page-paginator {
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
    display: none;
}
.page-index span {
    padding: 3px 8px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}
.first-page,.last-page {
    padding: 3px 15px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}

.page-paginator span.active {
    background-color:#E6E6E6;
    color: #779554;
}
/*分页结束*/

/*玩伴二期添加的样式*/
#center_left_info{background-color: #ffffff;width: 220px;height: 100px;font-size: 13px;color: #666666;font-family: "Microsoft Yahei"}
#center_left_info span{display: block;cursor: pointer}
#center_left_info img{cursor: pointer}
#center_left_info_I{float: left;width: 60px;height: 100px;position: relative;left: 30px;top:20px;}
#center_left_info_I>img+span{font-size: 9px;display: inline-block;-webkit-transform:scale(0.7);-o-transform:scale(0.8);position: relative;left: -15px;top: -32px;color: #ffffff}
#centent_left_info_M{float: left;width: 60px;height: 100px;position: relative;left: 30px;top: 30px;}
#center_left_info_C{float:left;width: 60px;height: 100px;position: relative;left: 30px;top: 34px;}
#center_left_info_IN{position: relative;top: -10px;}
#center_left_info_IN>input{border: 1px solid #E5E5E5;width: 220px;height: 30px;margin-top: 30px;text-indent: 1em;color: #333333}
#center_left_info_IN>img{margin-left: -18px;cursor: pointer;display: inline-block;position:absolute;position: absolute;left: 220px;top: 40px;}
.center_left{width: 220px;height: auto; background-color: #ffffff;}
#center_left_top{ width: 220px; height: 40px; background-color: #FDA417; margin: 10px 0 0 0;}
#center_left_top span{ font-size: 14px; color: #ffffff; position:relative;top:10px; left:20px;font-family:"Microsoft Yahei";cursor:pointer}
ul{list-style-type: none}
#center_left li{position:relative;left:-25px;}
#center_left_li img{float: left;overflow: hidden;}
#center_left_li>ul>li{margin-top: 10px;}
#center_left_li .mingzi{float: left;margin-left: 5px;width:110px;height: auto; }
#center_left_li>div{float: left;position: relative; padding-top: -3px;}
#center_left_li div{font-size:12px; font-weight: bold; font-family: "Microsoft YaHei" ;position: relative;top:-3px;}
.center_left_ziti{color: #AFAFAF;}
.center_left_haoyou { width:45px;height:23px;background-color:#FDA417;float: right;margin-top: 5px;}
.center_left_haoyou span{font-family: "Microsoft YaHei"; font-size: 12px;color: #ffffff;position:relative;top: 2px; left: 5px;cursor:pointer;}


.qx{
    float: right;
    margin-right: -65px;
    cursor: pointer;
}









/* 回复私信页面 */
.hylb_right_IN{
    position: relative;
}
.hylb_right_IN input{
    position: relative;
    border: 1px solid #dddddd;
    margin: 5px 0;
    width: 100%;
    height: 32px;
}
.hylb_right_IN span{
    position: absolute;
    background: url(/img/cloud_search.png) no-repeat;
    width: 21px;
    height: 30px;
    cursor: pointer;
    top: 10px;
    right: 5px;
}

.redpointt {
    background: red;
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    padding: 5px;
    border-radius: 100%;
    position: absolute;
}