html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, a, b, i, em, strong, form, table, tr, th, td, span, input, fieldset, select, option, textarea, label, iframe, header, nav, aside, article, section, button {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

img {
    display: block;
}

ol, ul {
    list-style: none;
}

i, b, em, strong {
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

body {
    font-family: Microsoft YaHei;
    color: #656565;
    background: #fff;
    position: relative;
    z-index: 1;
    height: auto
}

a {
    text-decoration: none;
    color: #666;
    font-family: 'Microsoft YaHei', 'Arial', 'Helvetica', 'sans-serif', 'simsun', 'Lucida Grande', 'Lucida Sans Unicode';
}

a:hover {
    color: #ff5a0b;
}

img {
    display: inline
}

input {
    outline: none;
}

ul {
    list-style-type: none; /*width:100%*/
    margin: 0px !important;
}

img {
    border-style: none
}

/*
a{
    color: #666666;
}*/
.homepage-left-navigation ul {
    width: 100% !important;
}

.hocu {
    cursor: pointer;
}

.homepage-i {
    cursor: pointer;
    display: inline-block;
    height: 40px;
}

.homepage-ii {
    background-color: FDA616;
    display: inline-block;
    height: 50px;
    width: 60px;
    margin-top: -10px;
}

.homepage-i:hover {
    text-decoration: underline;
}

.homepage-i:hover + .homepage-hove {
    display: inline-block;
}

.homepage-hove:hover {
    display: inline-block;
}

.homepage-hove-I {
    display: block;
}

.homepage-hove-II {
    display: inline-block;
}

.homepage-hove {
    z-index: 99999;
    display: none;
    border: 1px solid #D0D0D0;
    width: 100px;
    height: 170px;
    background-color: #ffffff;
    position: absolute;
    left: 50px;
    margin-top: 30px;
}

.homepage-hove-I > ul > li {
    font-size: 15px;
    cursor: pointer;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: #666666;
}

.homepage-hove-I > ul > li:hover {
    background-color: #EEEEEE;
    color: #666666;
}

/**************/
.homepage-i:hover + .homepage-hover {
    display: inline-block;
}

.homepage-hover:hover {
    display: inline-block;
}

.homepage-hover {
    z-index: 99999;
    display: none;
    border: 1px solid #D0D0D0;
    width: 100px;
    height: 170px;
    background-color: #ffffff;
    position: absolute;
    left: 85px;
    margin-top: 30px;
}

/*****************悬浮********************/
.homepage-momery {
    cursor: pointer;
    width: 90px;
    /* height: 200px;*/
    /*  border: 1px solid #ffa902;*/
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -5%;
    margin-left: -35%;
    overflow: visible;
}

.homepage-momery-top {
    width: 88px;
    height: 90px;
    border: 1px solid #ffa902;
    border-bottom: none;
    overflow: visible;
}

.homepage-main {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.homepage-top {
    height: 50px;
    /*width: 100%;*/
    background-color: #fda616;
    position: relative;
    overflow: visible !important;
    min-width: 1215px;
}

.homepage-top-main {
    width: 50px;
    width: 980px;
    margin: 0 auto;
    padding-top: 10px;
}

.homepage-top-left {
    float: left;
    font-size: 22px;
    color: #ffffff;
}

.homepage-top-right {
    position: relative;
    float: right;
    height: 28px;

}

.homepage-top-right-IN {
    float: left;
}

.homepage-top-right-IN > input {

    height: 28px;
    width: 250px;
    text-indent: 1em;
    font-size: 12px;
}

.homepage-top-right-IN > i {
    margin-left: -30px;
    cursor: pointer;
    width: 20px;
    height: 17px;
    background-color: #ffffff;
    z-index: 1;

}

.homepage-top-right-letter {
    position: relative;
    color: #ffffff;
    font-size: 15px;
    padding-top: 3px;
    right: -140px;
}

.homepage-message {
    display: inline-block;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    -webkit-transform: scale(0.9);
    line-height: 15px;
    position: relative;
    left: -33%;
    top: -7px
}

.homepage-top-tuichu {
    cursor: pointer;
}

.homepage-top-right-letter > i {
    padding-left: 30px;
}

.homepage-info {
    width: 1000px;
    margin: 0 auto;
}

.homepage-left {
    position: relative;
    width: 220px;
    min-height: 300px;
    float: left;
}

.homepage-left-head {
    height: 173px;
    width: 100%;
    text-align: center;
    color: #000000;
    padding-top: 10px;
    background-color: #eeeeee;
}

.homepage-left-IM {
    height: 110px;
    width: 110px;
    border: 5px solid #f2f2f2;
    border-radius: 50%;
    overflow: hidden !important;
    margin-left: 50px;
}

.homepage-left-IM > img {
    height: 110px;
    width: 110px;
}

.homepage-left-JY {
    font-size: 12px;
    padding-top: 3px;
}

.homepage-left-JYZ {
    padding-left: 10px;
}

.homepage-left-family {
    overflow: visible;
    height: 42px;
    background-color: #EEEEEE;
    color: #666666;
    line-height: 42px;
    padding-left: 15px;
    border-bottom: 1px solid #D0D0D0;
}

.homepage-left-family > span {
    font-size: 14px;
    padding-left: 10px;
    display: inline-block;
    width: 140px;

}

.homepage-left-family > i {
    width: 20px;
    height: 20px;
}

.homepage-left-family > span > a {
    font-size: 14px;
    color: #ffffff;
}

.homepage-left-horn {
    display: inline-block;
    margin-top: -35px;
    width: 0px;
    height: 0;
    border-top: 14px solid #ff8b01;
    border-bottom: 14px solid #ff8b01;
    border-left: 0px;
    border-right: 14px solid #EEEEEE;
    float: right;
    /* margin-right: 17px;
     overflow: hidden;
     */
}

/*.homepage-left-one{
    height: 42px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #D0D0D0;
    line-height: 42px;
    padding-left: 15px;
    cursor: pointer;
}*/
.copy-one {
    background-color: #666666;
    color: white;
    height: 42px;
    border-bottom: 1px solid #D0D0D0;
    line-height: 42px;
    padding-left: 15px;
    cursor: pointer;
}

.copy-two {
    height: 42px;
    background-color: #EEEEEE;
    border-bottom: 1px solid #D0D0D0;
    line-height: 42px;
    padding-left: 15px;
    cursor: pointer;
    color: #666666;
}

.copy-two:hover {
    background-color: #c9c9c9;
}

.homepage-left-one > i {
    width: 20px;
    height: 20px;
}

.homepage-left-one > span {
    font-size: 15px;
    padding-left: 10px;
    display: inline-block;
    width: 130px;
    /*font-weight: bold;*/
}

.homepage-left-one > span:active {
    color: #ffffff;
}

.homepage-left-two {
    display: none;
}

.homepage-left-one > a > span {
    font-size: 15px;
    padding-left: 10px;
    display: inline-block;
    width: 140px;
    color: #666666;
    /*font-weight: bold;*/
}

.homepage-left-two > a > li {
    height: 32px;
    background-color: #EEEEEE;
    line-height: 32px;
    padding-left: 50px;
    cursor: pointer;
    border-bottom: 1px solid #d0d0d0;
    font-size: 15px;
    color: #666666;
}

.homepage-left-two > a > li:hover {

    background-color: #c9c9c9;
}

.homepage-left-bottom {
    margin-top: 20px;
    /*height:335px;*/
    width: 220px;
    background-color: #eeeeee;
    font-size: 14px;
}

.homepage-left-bottom-top {
    background-color: #FFA800;
    height: 35px;
    width: 100%;
    line-height: 35px;
    color: #ffffff;

}

.homepage-left-bottom-top > span {
    padding-left: 15px;
    float: left;
    color: white;
}

.homepage-left-bottom-top > div {
    padding-right: 15px;
}

.homepage-left-bottom-text > ul > li {
    /*height: 60px;*/
    width: 220px;
    line-height: 60px;
}

.homepage-left-bottom-text > ul > li > img {
    float: left;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
}

.homepage-left-bottom-I {
    display: inline-block;
    width: 4em;
    padding-left: 10px;
    overflow: hidden;
    float: left;
}

.homepage-left-bottom-II {
    font-size: 16px;
    color: #f38028;
}

/**************************右边**************************************/
.homepage-right {
    width: 680px;
    min-height: 900px;
    background-color: #ffffff;
    padding-top: 10px;
    float: left;
    padding-left: 10px;
}

.homepage-right-top {
    width: 100%;
    height: 100px;
    position: relative;
    left: 10px;
    top: 10px
}

.homepage-img-right-left {
    width: 580px;
    height: 100px;
    float: left;
}

.homepage-img-right-right {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.homepage-top * {
    overflow: visible !important;
}

.homepage-left-navigation > ul > li > img {
    width: 20px;
    height: 20px;
}

.homepage-left-one > img {
    width: 20px;
    height: 20px;
}
