@charset "utf-8";
/* CSS Document */
body,p,a,div,span,input,textarea,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,li,ol,img,select{ margin:0; padding:0; border:0; list-style: none;}
.time{ width:396px; height:226px; border:2px solid #5dc564; background:url(../images/time.gif) no-repeat;}
.time span{ display:block; width:87px; height:33px; margin:163px 0 0 186px;}