/*grqingjia_main*/
.grqingjia_main{
	width: 792px;
	margin-top: 15px;
	margin-left: 10px;

}
/*grqingjia_main*/
/*grqingjia_title*/
.grqingjia_title{
	border-bottom:1px solid #babcb9;
}
.grqingjia_title li{
	float: left;
	padding:10px 26px;
	font-size: 16px;
	color:#fe7a00;
	font-weight: bold;
	border: 1px solid #babcb9;
	border-bottom: none;
	cursor: pointer;
	position: relative;
	top:1px;
	background: #fff;
	margin-right: 1px;

}
.grqingjia_title .grqingjia_active{
	background: #fe7a00;
	color: #fff;
}
/*grqingjia_title*/
/*grqingjia_maincon*/
.grqingjia_maincon{
	border:1px solid #babcb9;
	border-top:none;
	padding-top:15px;
	padding-right: 15px;
	padding-left: 25px;
	min-height: 700px;
}
/*grqingjia_maincon*/
/*grqingjia_select*/
.grqingjia_select{
	margin-bottom: 26px;
}
.grqingjia_select span{
	font-size: 16px;
	font-weight: bold;
	margin-right:20px;
}
.grqingjia_select select{
	width: 120px;
	height: 32px;
	margin-right: 14px;
}
.grqingjia_select input{
	width: 120px;
	height: 26px;
	margin-right: 14px;	
}
/*tqingjia_select*/
/*tqingjia_inf*/
.grqingjia_inf .grqingjia_reason{
	border:1px solid #bbb;
	margin-bottom: 13px;
	padding:8px 15px 8px 8px;
	
}
.grqingjia_inf p{
	margin-top: 3px;
	color: #333;
	font-size: 14px;
}
.grqingjia_inf span,.grqingjia_inf em{
	display: inline-block;
	color: #666;
	font-size: 12px;
}
.grqingjia_inf em{
	margin-left: 30px;
}
.grqingjia_inf button{
	float: right;
	background: #fff;
	color: #fe7a00;
	border:1px solid #fe7a00;
	padding: 6px 14px;
	cursor: pointer;
}
.daike{
	display: none;
}
.right2
{
	display: none;
}
.right3
{
	display: none;
}
.bg
{
	display: none;
	background-color: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	filter: alpha(opacity=40);
	opacity: 0.4;
	z-index: 1;
	position: fixed !important;
	position: absolute;
}
.qjtijiao_title button
{
	float: right;
	background: #fe7a00;
	border: 1px solid #fe7a00;
	color: #fff0e9;
	padding: 4px 30px;
	margin-top: 10px;
	cursor: pointer;
}
/*tqingjia_inf*/