.webuploader-container {
    position: relative;
}

.webuploader-element-invisible {
    position: absolute !important;
    width: 86px !important;
    height: 40px !important;
    display: block;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: #00b7ee;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.webuploader-pick-hover {
    background: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events: none;
}

.file-item .error {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background: red;
    color: white;
    text-align: center;
    height: 20px;
    font-size: 14px;
    line-height: 23px;
}

#uploader-demo .thumbnail {
    width: 110px;
    height: 110px;
}

.file-item {
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    padding: 4px;
}

.thumbnail > img, .thumbnail a > img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.file-item .info {
    position: absolute;
    left: 4px;
    bottom: 4px;
    right: 4px;
    height: 20px;
    line-height: 20px;
    text-indent: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    z-index: 10;
}

.btns .btn-default {
    float: left;
    height: 40px;
    margin-left: 20px;
    background: #EC6D51;
    border: #EC6D51 1px solid;
    color: #fff;
    border-radius: 3px;
    padding: 0 10px;
}

.progress {
    width: 100%;
    height: 10px;
    overflow: hidden;
    margin: 0;
    background: none;
    -webkit-box-shadow: 0 0 0;
    border: #1483d8 1px solid;
    border-radius: 10px;

}

.progress .progress-bar {
    display: block;
    overflow: hidden;
    width: 0;
    height: 8px;
    background: #1483d8;
    border-radius-topleft: 10px;
    -webit-transition: width 200ms linear;
    -moz-transition: width 200ms linear;
    -o-transition: width 200ms linear;
    -ms-transition: width 200ms linear;
    transition: width 200ms linear;
    -webkit-animation: progressmove 2s linear infinite;
    -moz-animation: progressmove 2s linear infinite;
    -o-animation: progressmove 2s linear infinite;
    -ms-animation: progressmove 2s linear infinite;
    animation: progressmove 2s linear infinite;
    -webkit-transform: translateZ(0);
}
