@charset "utf-8";
html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
table{ border-collapse:collapse; border-spacing:0;}
img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:'Arial','Microsoft YaHei','Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';font-size:12px;color:#333; background-color:#fff;position:relative;}
a:hover{text-decoration:none;}
/*清除浮动*/
.clearfix:after{
	content:"";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	}
.w{width:1050px;margin:0 auto;position:relative;overflow:hidden;}
.hide{display:none;}/*用于隐藏元素，不占占位置*/
.visible{visibility:hidden;}/*用于隐藏元素，占位置*/
.show{display:block;}/*用于显示元素*/
iframe{width:100%;}
.content{
	width:900px;
	_width:860px;
	border:2px solid #E2E3E7;
	border-top:0;
	padding:19px 18px 20px;
	margin:0 auto 21px;
	overflow:hidden;
	zoom:1;
	}
.con_l{float:left;width:275px;}
.con_r{float:right;width:561px;}
.left_w{border:1px solid #C7C7C7;border-radius:4px;margin-bottom:21px;}
.experience_area{background-color:#E5E5E5;margin-bottom:0;width:273px;margin:0;}

.experience_area li{overflow:hidden;zoom:1;}
.experience_area li.title{border-bottom:1px solid #CACACA;padding-right:10px;}
.experience_area h4{height:48px;line-height:48px;padding-left:16px;margin:0;display:inline-block;float:left;color:#CF432E;font-size:20px;font-weight:bold;}
.hot{display:inline-block;width:60px;height:48px;background-image:url(/img/pet/hot.png);float:right;}
.progress{height:18px;background-color:#B3B3B3;border-radius:10px;width:241px;margin-top:5px;}
.progress-bar-success{background:url(/img/pet/progress.jpg) repeat-x;border-top:1px solid #ABC781;border-bottom:1px solid #738D4C;border-left:1px solid #94B06C;border-right:1px solid #94B06C;line-height:16px;border-radius:10px;box-shadow: 2px 4px 3px #888888;}
.experience_area li.experience{height:57px;padding:6px 0 0 17px;}
.experience_area li.experience span{color:#556939;}
.experience_area li.experience span i{padding-left:10px;font-style:normal;}
.current_pet h4{height:46px;width:273px;_width:256px;background-color:#DD6161;margin:0;padding-left:17px;line-height:46px;color:#ffffff;}
.current_pet dd{padding:0 15px 15px;}
.current_pet dd p{line-height:20px;}
.petName{border-bottom:1px solid #62615F;overflow:hidden;zoom:1;padding:10px 0 7px;margin-bottom:6px;}
.petName em{font-style:normal;color:#000;font-size:14px;display:inline-block;float:left;padding-top:7px;font-weight:bold;}
.petName a,a.pet_name{display:inline-block;width:63px;height:26px;border-radius:4px;background-color:#FF9549;color:#fff;text-align:center;line-height:26px;font-size:14px;float:right;}
a.pet_name{float:left;}
.petName a:hover,a.pet_name:hover{text-decoration:none;color:#ffffff;}
.current_pet dd p{font-size:12px;color:#616161;width:243px;}
.right_w{width:561px;_width:523px;border:1px solid #C7C7C7;border-radius:4px;margin-bottom:21px;}
.student_list li{padding:18px;overflow:hidden;zoom:1;}
.student_list li.fuhua{background-color:#E5E5E5;}
.student_list dl{overflow:hidden;zoom:1;margin:0;}
.student_list dt{padding-right:18px;float:left;display:inline-block;}
.student_list dd{float:left;display:inline-block;}
.student_list dd.list_btn{float:right;margin-top:38px;}
.student_list dd.list_btn_egg{float:right;margin-top:38px;}
.student_list dd.pet_introduce{width:290px;position:relative;_height:134px;}
.student_list dd#petIntroduce{width:290px;}
.student_list dd.hatch{margin-top:28px;}
.student_list dd.list_curPet{margin-top:50px;_margin-top:0;}
.student_list dd.list_btn a{display:inline-block;width:auto;height:26px;background-color:#DD6161;color:#ffffff;line-height:26px;text-align:center;border-radius:4px;padding:0 15px;}
.student_list dd.list_btn_egg a{display:inline-block;width:auto;height:26px;background-color:#DD6161;color:#ffffff;line-height:26px;text-align:center;border-radius:4px;padding:0 15px;}
.student_list dd.list_btn a:hover{text-decoration:none;color:#ffffff;}
.student_list dd.list_btn a.change{background-color:#A0A0A0;}
.student_list dd.list_btn a.current_pet{border:1px solid #717171;background-color:#fff;color:#B0B0B0;padding:0 10px;_margin-top:50px;}
.student_list ul{margin:0;}
.student_list h4{overflow:hidden;zoom:1;margin:0;}
.student_list h4 em{font-style:normal;color:#000;font-size:16px;font-weight:bold;float:left;padding:4px 17px 0 0;}
.student_list p{font-size:12px;color:#616161;margin-top:12px;width:270px;}
.reviseName{display:none;width:154px;_width:144px;height:27px;_height:23px;background-image:url(/img/pet/bg01.png);padding:2px 0 0 10px;_padding-top:4px;}
.reviseName input{width:88px;_width:86px;height:18px;line-height:18px;padding-left:2px;background-color:#fff;border-radius:2px;font-size:12px;margin:0;border:0;vertical-align:middle;}
a.sure_btn{display:inline-block;width:40px;height:18px;line-height:18px;background-color:#626262;color:#fff;font-size:12px;text-align:center;margin-left:7px;border-radius:2px;vertical-align:middle;}
a.sure_btn:hover{text-decoration:none;}
.pet_num{font-weight:bold;position:absolute;bottom:0;left:0;}
.pet_num em{font-style:normal;font-weight:bold;}
.experience_help h3,.experience_help h4{color:#000;font-weight:bold;line-height:36px;}
.experience_help h3{border-bottom:1px solid #C9C9C9;padding-bottom:10px;}
.experience_help p{line-height:20px;}
.popup{position:absolute;left:0;top:110px;z-index:9999;}
.popup_bg{position:absolute;left:0;top:0;z-index:99999;opacity:0.2;filter:alpha(opacity=20);background-color:#000;}
.transparent{background-color:#000;opacity:0.1;filter:alpha(opacity=10);width:370px;height:189px;border-radius:6px;}
.popup_con{background-color:#fff;z-index:999999;width:358px;height:177px;border-radius:4px;}
.petCon{border-bottom:2px solid #DDDDDD;height:95px;position:relative;overflow: visible;!important;}
.petCon dl{overflow:hidden;zoom:1;}
.petCon dt{display:inline-block;padding:18px 18px 14px 18px;vertical-align:middle;border-radius:4px;_width:94px;_float:left;}
.petCon dt img{border-radius:4px;}
.petCon dd{display:inline-block;vertical-align:middle; width:208px;line-height:20px;color:#C91900;font-size:16px;_float:left;_padding-top:40px;}
.petCon p{width:310px;line-height:20px;margin:40px 0 14px 30px;font-size:14px;color:#306799;}
.pet_btn{border-top:1px solid #fff;text-align:right;position:relative;}
a.sureBtn{display:inline-block;padding:4px 15px;background-color:#9D9D9D;border-radius:4px;color:#656565;font-size:14px;margin:10px 20px 0 0;}
a.sureBtn:hover{color:#656565;}
a.getExperienceBtn{display:inline-block;padding:4px 15px;background-color:#306799;border-radius:4px;color:#fff;font-size:14px;margin-right:122px;vertical-align:middle;}
a.getExperienceBtn:hover{color:#fff;}
a.know{margin-right:27px;color:#000;font-size:14px;}
a.know:hover{color:#000;}
.nopet{padding-top:8px;}
a.del-icon{display:block;width:27px;height:27px;background-image:url(/img/pet/delete.png);text-indent:-9999em;position:absolute;top:-25px;right:11px;}


.get{width:561px;_width:559px;border:1px solid #C9C9C9;margin-bottom:21px;position:relative;border-radius:4px;}
.get img{border-radius:4px;}
.get a{display:block;width:111px;height:29px;border-radius:4px;background-color:#E79725;position:absolute;bottom:20px;left:224px;color:#fff;font-size:16px;font-weight:bold;text-align:center;line-height:29px; }
.hatch_pet{width:561px;}
.hatch_pet h3{color:#000;font-weight:bold;font-size:16px;padding-bottom:20px;}
.hatch_pet ul{overflow:hidden;zoom:1;padding-bottom:27px;}
.hatch_pet li{float:left;width:98px;_width:96px;margin-right:17px;border:1px solid #C9C9C9;border-radius:4px;}
.hatch_pet li.nomargin{margin-right:0;}
.hatch_pet li img{border-radius:4px;}
.curtRename{
	background:url(/img/pet/bg02.png);
	position: absolute;
	left: 552px;
}
#curt-rename{
	float:right;
}
.curtRename a{position:absolute;}
.petid{display:none;}
.incheng{
	float: left;
    line-height: 26px;
}
.sorrymsg{
	font-size: 14px;
    font-family: "Microsoft YaHei";
    line-height: 1.786;
    text-align: left;
	display:none;
	padding: 20px;
	text-indent: 1em;
}
#r_sorry{
	border: 1px solid #C7C7C7;
	border-radius: 4px;
	padding: 95px 80px;
}

#r_sorry div{
	float:left;
}
#r_sorry span{
	display:block;
}
#r_tips{
	padding:20px;
}











