html, body {
    background: #fff !important;
}

.k6kt-body {
    width: 900px;
    margin: auto;
    border-left: 2px solid #E7F2F8;
    border-right: 2px solid #E7F2F8;
    min-height: 400px;
}

/*顶部信息banner*/

.info-banner a {
    color: white;
    margin-left: 0 !important;
}

.info-banner a:hover {
    color: white;
    text-decoration: underline;
}

.info-banner div {
    overflow: visible;
}

.info-banner .info span {
    font-size: 14px;
}

.info-banner span.big {
    font-size: 20px;
}

.info-banner .info > div {
    margin: 5px 0 10px 5px ;
}

.info-banner img {
    vertical-align: middle;
}

#user-help {
    text-decoration: none;
    margin-left: 20px !important;
}

#experience{
    width: 150px !important;
    height: 150px !important;
    right: 80px;
    position: absolute;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
}

#experience.pet-level-1 {
    background-image: url('/img/tree-1.png');
}
#experience.pet-level-2 {
    background-image: url('/img/tree-2.png');
}
#experience.pet-level-3 {
    background-image: url('/img/tree-3.png');
}
#experience.pet-level-4 {
    background-image: url('/img/tree-4.png');
}
#experience.pet-level-5 {
    background-image: url('/img/tree-5.png');
}
#experience:hover + *.change-name {
    display: inline-block;
}

.pet-name {
    overflow: hidden;
    font-size: 16px;
    position: absolute;
    right: 78px;
    bottom: 10px;
    text-shadow: 2px 0 5px #000;
    width: 190px !important;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-name{
    width: 144px;
    font-size: 14px;
    padding: 5px;
    position: absolute;
    right: 90px;
    bottom: 6px;
    display: none;
}
.change-name {
    position: absolute;
    bottom:33px;
    right: 110px;
    text-decoration: underline;
    font-size: 15px;
    display: none;
    font-weight: bold;
    cursor: pointer;
}

.change-name:hover {
    display: inline-block;
}

.user-exp {
    position: absolute;
    bottom:0px;
    right: 0px;
    border: none !important;
    width: auto !important;
    height: auto !important;
    margin: 0px !important;
}
.exp-level{
    position: absolute;
    bottom: 53px;
    right: 32px;
    font-size: 14px;
    cursor: pointer;
}
.exp-title{
    position: absolute;
    bottom:37px;
    right: 23px;
    font-size: 15px;
    margin: 0 !important;
}
.exp-number{
    position: absolute;
    bottom:19px;
    right: 21px;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    width: 47px !important;
}
.exp-number span {
    margin: 0px !important;
}
#makescore{
    position:absolute;
    z-index:100;
    background: url(/img/howto.png) no-repeat 0 50%;
    border-radius: 4px;
    padding: 5px 8px;
    top: 2px;
    right: 8px;
    font-size:13px;
    padding-left: 20px;
}