html,body,div,h1,h2,h3,h4,h5,h6,p,img,dl,dt,dd,ol,ul,li,a,b,i,em,strong,form,table,tr,th,td,span,input,fieldset,select,option,textarea,label,iframe,header,nav,aside,article,section,button{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{display:block;}
ol,ul{ list-style:none;}
i,b,em,strong { font-style:normal; text-decoration:none; font-weight: normal;}
body{font-family:Microsoft YaHei;color:#656565; background-color:#fff;position:relative;z-index:1;}
a{text-decoration:none; color:white;font-family:'Microsoft YaHei','Arial', 'Helvetica', 'sans-serif','simsun','Lucida Grande','Lucida Sans Unicode';}
a:hover{color: #ff5a0b;}
img{display: inline}
input{outline: none;}
ul{list-style-type: none}
img{border-style: none}
div{overflow:visible;}
button{font-family: Microsoft yahei;cursor: pointer;outline:none}





.curriculai-right{
    width: 1000px;
    margin:0 auto;
    border: 1px solid #d0d0d0;
    height: auto;
}
.curricula-info{
    padding:30px 0;
  /*  text-align: center;*/
}
.curricula-info dd{
    padding: 0 25px;
}
.curricula-info dt{
    text-align: center;
    font-size: 18px;
    margin-bottom: 45px;
}
.curricula-info select{
    border:1px solid #a9a9a9
}
.curricula-sel{
    border: 1px solid #d0d0d0;
    width: 200px;
    height: 25px;
    outline: none;
}
.curricula-see{
    border: 1px solid #d0d0d0;
    width: 200px;
    height: 25px;
    outline: none;
}
.curricula-info em{
    padding-right: 25px;
    padding-left: 35px;
}
.curricula-info dl{
    margin-bottom: 55px;
}
.curricula-info button{
    width: 110px;
    height: 26px;
    line-height: 26px;
    border-radius: 5px;
    background: #FEA418;
    color: #ffffff;
    margin-left: 10px;
}
.curricula-info button:hover{
    background: #e45b91
}
.curricula-top{
    background: rgb(235,238,247);
    padding: 10px 0;
    color: #004B97;
    border-top: none;
}
.curricula-top span{
    /*width: 24%;*/
    text-align: center;
    display: inline-block;
}
.curricula-ta{
    height: 20px;
    background: #ECF5FF;
    border-bottom: 3px solid #d0d0d0;
}
.curricula-bl{
    overflow: auto;
}
.curricula-b{
    display: block;
    border-bottom: 1px solid #D0D0D0;
    padding: 5px 0;
    font-size: 15px;
}
span.b{
    width: 240px;
}
.curricula-img{
    vertical-align:top;
    padding-left: 7px;
}
.curricula-sp{
    color: black;
    width: 85px;
    display: inline-block;
    word-break: break-all;
    vertical-align: top;
    padding: 20px 0;
}
.curricula-a{
    text-align: left;
    color: black;
    width: 140px;
    display: inline-block;
    word-break: break-all;
    vertical-align: top;
    padding: 20px 10px;
}
.curricula-t{
    text-align: center;
    color: black;
    width: 140px;
    display: inline-block;
    word-break: break-all;
    vertical-align: top;
    padding: 20px 10px;
}
.curricula-s{
    text-align: center;
    color: black;
    width: 400px;
    display: inline-block;
    word-break: break-all;
    vertical-align: top;
    padding: 20px 10px;
}
.curricula-top-I{
    width: 24%;
}
.curricula-top-II{
    width: 16%;
}
.curricula-top-III{
    width: 16%;
}
.curricula-top-IIII{
    width: 40%;
}

/*分页*/
.page-paginator {
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
    display: none;
}
.page-index span {
    padding: 3px 8px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}
.first-page,.last-page {
    padding: 3px 15px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}
.page-paginator span.active {
    background-color:#E6E6E6;
    color: #779554;
}

.export{
    position: relative;
    left: 0px;
    top: 15px;
}