/*kebiao_main*/
.kebiao_main{
	width: 790px;
	margin-top: 20px;
	margin-left: 10px;
	
}
/*kebiao_main*/
/*kebiao_maincon*/
.kebiao_maincon{
	border: 1px solid #bbb;
	/*border-top: none;*/
}
/*kebiao_maincon*/
/*kebiao_title*/

.kebiao_title{
	border-bottom: 1px solid #babcb9;

}
.kebiao_title li{
	float: left;
	padding:12px 40px 12px 34px;
	font-size: 14px;
	color:#fda716;
	border: 1px solid #babcb9;
	border-bottom: none;
	cursor: pointer;
	position: relative;
	top:1px;
	background: #fff;

}
.kebiao_title button{
	float: right;
	background: #fe7a00;
	border:1px solid #fe7a00;
	color:#fff0e9;
	padding:6px 20px;
	margin-left: 3px;
	margin-top:10px;
	
	cursor: pointer;
}
/*kebiao_title*/
/*kebiao_select*/
.kebiao_select{
	padding-left:30px;
	padding-top: 24px;
}
.kebiao_select em{
	margin-right:12px;
}
.kebiao_select select{
	margin-right: 22px;
}
.kebiao_select input{
	margin-right: 22px;
	width: 186px;
}
.kebiao_select .xueqi_select{
	width: 188px;
	
}
.grade_select,.class_select{
	width: 95px;
	
}

/*kebiao_select*/
/*kebiao_table*/
table{
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left:30px;
	font-weight: bold;
	text-align: center;
}
table td{
	border: 1px solid #797979;
}
.kebiao_table thead td{
	height:28px; 
}
.kebiao_table tbody td{
	height:64px;
}
.kebiao_table td{
	width:125px;
}
.kebiao_table .kebiao_first_col{
	width: 95px !important;
	
}
/*kebiao_table*/

.rd-days
{
	margin-top: 0px !important;
	margin-left: 0px !important;
	margin-bottom: 0px !important;
	font-weight: normal !important;
}
.rd-day-body
{
	border:none !important;
}

.unchoosed-li
{
	background: #FDA716 !important;
	color:#fff !important;
}
.courseName
{
	font-weight: normal;
}
.teacherName
{
	font-weight: normal;
	color:#FDA716;
}
