.consume-main{
    width: 770px;
    margin-top: -30px;
    height: auto;
}
.consume-top{
    height: 85px;
    margin-left: 10px;
}
.consume-top div {
    float: left;
    width: 115px;
    margin-top: 20px;
}
.consume-top div em {
    display: block;
}
.consume-top div select {
    border: 1px solid #dddddd;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
.consume-top div input {
    border: 1px solid #dddddd;
    width: 100px;
    height: 26px;
    margin-top: 5px;
}
.consume-top span {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #ececec;
    border: 1px solid #cacaca;
    margin-left: 10px;
    margin-top: 42px;
}
.consume-top .consume-DV{
    width: 215px;
}
.consume-info{
    width: 760px;
    border:1px solid #d8d8d8;
    height: auto;
    border-bottom:none;
}
.consume-info>div{
    border-bottom:1px solid #d8d8d8;
}
/******************学生轨迹********************/
.track-main{
    width: 770px;
    margin-top: -30px;
    height: auto;
}
.track-top{
    height: 85px;
}
.track-top div {
    float: left;
    width: 115px;
    margin-top: 20px;
}
.track-top div em {
    display: block;
}
.track-top div select {
    border: 1px solid #dddddd;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
.track-top .consume-DV {
    width: 215px;
}
.track-top .consume-DV input {
    border: 1px solid #dddddd;
    width: 100px;
    height: 26px;
    margin-top: 5px;
}
.track-top span {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #ececec;
    border: 1px solid #cacaca;
    margin-left: 10px;
    margin-top: 42px;
}
.track-map{
    position: relative;
    width: 760px;
    height: 460px;
}
.track-map-I{
    background: url('/static_new/images/smartcard/student-track.jpg') no-repeat;
    width: 760px;
    height: 460px;
    border:1px solid #d8d8d8;
}
.track-hotsopt-D{
    position: absolute;
    top: 95px;
    left: 320px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-hotsopt-Z{
    position: absolute;
    top: 115px;
    left: 390px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-hotsopt-S{
    position: absolute;
    top: 70px;
    left: 510px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-hotsopt-J{
    position: absolute;
    top: 230px;
    left: 335px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-hotsopt-T{
    position: absolute;
    top: 260px;
    left: 190px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-hotsopt-L{
    position: absolute;
    top: 260px;
    left: 420px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-hotsopt-SJ{
    position: absolute;
    top: 325px;
    left: 200px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-hotsopt-Q{
    position: absolute;
    top: 345px;
    left: 575px;
    display: inline-block;
    width: 17px;
    height: 25px;
    background: url('/static_new/images/smartcard/student-hotsopt.png') no-repeat;
}
.track-bottom{
    margin-top: 20px;
    width: 575px;
}
.track-bottom .track-btoom-left{
    width:350px;
    float: left;
}
.track-btoom-left tr th{
    background: #eaf6ff;
}
.track-btoom-left tr th,.track-btoom-left tr td{
    border:1px solid #d2d2d2;
    height: 43px;
    width: 90px;
    text-align: center;
    line-height: 43px;
}
.track-btoom-left tr td>em{
    color: #3b9bd3;
    cursor: pointer;
    position: relative;
}
.track-btoom-left tr td em:hover{
    text-decoration: underline;
}
.track-btoom-right{
    display: none;
    float: right;
    width: 200px;
    height: 180px;
    border:1px solid #d2d2d2;
    border-radius: 5px;
    margin-top: 25px;
    position: absolute;
    top: -50px;
    right: -265px;
}
.triangle-left{
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    top: 28px;
    border-top: 5px solid transparent;
    border-right: 10px solid white;
    border-bottom: 5px solid transparent;
    z-index: 1
}
.triangle-left-I{
    position: absolute;
    width: 0;
    height: 0;
    left: -12px;
    top: 26px;
    border-top: 7px solid transparent;
    border-right: 12px solid #d2d2d2;
    border-bottom: 7px solid transparent;
}
.track-hot-left{
    float: left;
    margin:20px;
}
.track-hot-I{
    display: block;
    width: 25px;
    height: 30px;
    background: url('/static_new/images/smartcard/track-hot.jpg') no-repeat;
}
.track-hot-II{
    display: block;
    width: 10px;
    height: 48px;
    background: url('/static_new/images/smartcard/track-sopt.jpg') no-repeat;
    margin: 25px 0px 0px 7px;
}
.track-hot-right{
    margin-top: 20px;
    float: left;
    width: 125px;
    line-height: 22px;
    cursor: default;
}
.track-hot-right i{
    display: block;
    margin-bottom: 10px;
    margin-left: -60px;
}
.track-hot-right label{
    margin-top: 18px;
    display: inline-block;
}
.track-hot-right div{
    border-top: 1px solid #d2d2d2;
    width: 105px;
    margin-top: 15px;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
}
.track-XIQ:hover .track-btoom-right{
    display: inline-block;
}