.dorm{
	margin-left: -35px;
}
.check-right {
    float: right;
    height: 40px;
    line-height: 40px;
}
.check-right span {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #ececec;
    border: 1px solid #cacaca;
    margin-left: 10px;
}
#dormitory-main .dormitory-right span{
	width: 100px;
}
.dormitory-main{
	width: 770px;
    margin-top: -30px;
    height: auto;
}
.check-top {
    height: 85px;
}
.check-top div {
    float: left;
    width: 115px;
    margin-top: 20px;
}
.check-top div em {
    display: block;
}
.check-top div select {
    border: 1px solid #dddddd;
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
.check-top div input {
    border: 1px solid #dddddd;
    width: 100px;
    height: 26px;
    margin-top: 5px;
}
.check-main li {
    margin-top: 20px;
    margin-right: 15px;
}
.check-main li:nth-child(3n){
	margin-right: 0px;
}
.check-top span {
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background: #ececec;
    border: 1px solid #cacaca;
    margin-left: 10px;
    margin-top: 42px;
}
.dormitory-info{
	height: 100px;
	width: 100%;
	margin-top: 20px;
}
.dormitory-info div{
	display: inline-block;
	position: relative;
	margin-right: 20px;
}
.dormitory-info div em{
	display: inline-block;
	font-size: 25px;
	position: absolute;
	top: 27px;
	right: 65px;
	color: white;
}
.dormitory-info-right{
	display: inline-block;
	width: 175px;
	height: 25px;
	background: url('/static_new/images/dormitory-C.jpg') no-repeat;
	padding-left: 30px;
	margin-left: 100px;
}
.dormitory-num{
	margin-top: 15px;
	width: 760px;
	min-height: 76px;
	border:1px solid #dcdcdc;
}
.dormitory-num span{
	display: block;
    color: #999999;
    padding: 0px 10px 0px 10px;
}
.dormitory-num span em{
	color: black;
	display: inline-block;
    padding: 10px 10px 0px 0px;
}
.dormitory-num span em:first-child{
	padding-left: 10px;
}
.dormitory-num-last{
	padding: 0px 0px 10px 10px!important;
}
.check-main>ul>li {
    float: left;
    border: 2px solid #dcdcdc;
    width: 240px;
    height: 160px;
}
.check-main .check-li-top {
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-bottom: 2px solid #dcdcdc;
    font-size: 24px;
    color: #666666;
    font-weight: bold;
    position: relative;
}
.check-main .check-li-top em {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 14px;
}
.check-li-bo li {
    float: left;
    /* background: #eaf6ff; */
    width: 78px;
    height: 52px;
    text-align: center;
    margin-top: 2px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    position: relative;
}
.check-li-bo li .check-bo-num {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #92c5ed;
    line-height: 20px;
    margin: 8px auto 0;
}
.check-bo-li {
    background: #eaf6ff;
}
.dormitory-QI{
	background: #9c6ffb;
	color: white;
}
.dormitory-QJ{
	background: #4a9df6;
	color: white;
}
.dormitory-QI .check-bo-num,.dormitory-QJ .check-bo-num{
	background: white!important;
	color: black;
}
/*******************考勤记录管理***********************/
#dormiroty-record{
	display: none;
}
.check-top .dormitory-DV {
    width: 215px;
}
.dormitory-DV input {
    border: 1px solid #dddddd;
    width: 100px;
    height: 26px;
    margin-top: 5px;
}
.dorm-info{
	background: #f8f8f8;
}
.dorm-info table {
    display: inline-block;
    padding: 15px 5px;
}
.dorm-info th {
    height: 55px;
}
.dorm-info td {
    height: 42px;
    line-height: 42px;
    background: white;
}
.dorm-info table tr th {
    background: #5cb95b;
    color: white;
}
.dorm-info table tr th, .dorm-info table tr td {
    border: 1px solid #d2d2d2;
    text-align: center;
}
.dorm-info table tr td:first-child {
    background: #ececec;
}
.dorm-info em{
	color: #3699d5;
	cursor: pointer;
	margin: 0 10px
}
/********************考勤时间设置**********************/
#dormiroty-set{
	display: none;
}
.set-info tr th , .set-info tr td{
	border:1px solid #e6e6e6;
}
.set-info tr th{
	height: 36px;
	background: #eaf6ff;
}
.set-info tr td{
	height: 60px;
	text-align: left;
	padding-left: 25px;
}
.set-info tr td input{
	width: 80px;
	height: 30px;
	border:1px solid #bebebe;
	margin: 0 5px;
	text-indent: 1em;
}
/***************************请假登记***************************/
#dormiroty-leave{
	display: none;
}
.leave-popup{
	display: none;
	position: fixed;
	width: 460px;
	height: 310px;
	top: 50%;
	left: 50%;
	margin-top: -147.5px;
	margin-left: -230px;
	background: white;
	z-index: 99999;
}
.popup-top {
    height: 45px;
    background: #616161;
    color: white;
    line-height: 45px;
}
.popup-top em {
    margin-left: 20px;
}
.popup-top i {
    margin-right: 20px;
    float: right;
    cursor: pointer;
}
.dorm-new-main {
    margin-top: 50px;
    margin-left: 65px;
}
.dorm-new-main dd {
    margin-top: 20px;
}
.dorm-new-main dd em {
    display: inline-block;
    width: 5em;
    text-align: right;
}
.dorm-new-main label {
    display: inline-block;
    width: 80%;
    text-align: center;
}
.leave-popup dd em {
    margin-left: -45px;
}
.leave-popup dd textarea {
    border: 1px solid #bebebe;
    height: 75px;
    width: 305px;
}
.dorm-dell {
    font-weight: bold;
}
.dorm-new-bottom {
    width: 100%;
    text-align: center;
    margin-top: 45px;
}
.dorm-new-bottom span {
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 80px;
    margin-left: 25px;
    cursor: pointer;
}
.dorm-new-bottom .dorm-QD {
    background: #5cb95b;
    color: white;
    border: 1px solid #5cb95b;
}
.dorm-new-bottom .dorm-QX {
    background: #eeeeee;
    border: 1px solid #bbbbbb;
}
#dormiroty-leave-I{
	display: none;
}
.check-top .dormitory-DVV{
 	margin-right: 10px;
 	width: 215px;
}