.population-main{
	margin-top: 20px;
	width:760px;
	margin-left: 10px;
	background: #f8f8f8;
	height: 635px;
}
.population-title{
	height: 65px;
	line-height: 65px;
	padding-left: 10px;
}
.population-left{
	float: left;
	margin-left: 10px;
	border:1px solid #d8d8d8;
	position: relative;
}
.population-right{
	float: left;
	margin-left: 15px;
}
.population-right th{
	height: 58px;
	background: #ececec;
}
.population-right td{
	height: 42px;
	background: white;
}
.population-right th,.population-right td{
	border:1px solid #d8d8d8;
	width: 80px;
	text-align: center;
}
.pop-td{
	color: black;
	font-weight: bold;
}
.population-po{
	position: absolute;
	top: 200px;
	left: 150px;
	width: 135px;
	height: 90px;
	cursor: pointer;
}
.population-tb{
	display: none;
	position: absolute;
	top: 170px;
	left: 295px;
	width: 85px;
	height: 186px;
	background: white;
	border-radius: 5px;
	box-shadow:0px 0px 10px black;
}
.population-tri{
	position: absolute;
	top: 245px;
	left: 285px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid white;
	border-bottom: 5px solid transparent;
}
.population-tb dd{
	height: 30px;
	border-bottom: 1px solid #dfdfdf;
	width: 65px;
	margin-left: 10px;
	line-height: 30px;
}
.population-tb i{
	cursor: pointer;
	color: #6e75b6;
}
.population-tb i:hover{
	color: #e83432;
	text-decoration: underline;
}
#population-II{
	display: none;
	margin-top: 45px;
}
#population-II>a{
	position: relative;
	top: -30px;
	color: #3b99d4;
}
.population-poo{
	position: absolute;
	top: 100px;
	left: 30px;
	width: 110px;
	height: 145px;
	cursor: pointer;
}
#population-III{
	display: none;
}
.population-main-III{
	margin-top: 45px;
	width: 760px;
	margin-left: 10px;
	background: #f8f8f8;
	height: 750px;
}
.population-main-III>a{
	position: relative;
	top: -30px;
	color: #3b99d4;
}
.population-main-III>p{
	position: relative;
	top: -50px;
	left: 325px;
	font-size: 18px;
}
.population-main-III tr th{
	height: 55px;
	background: #5cb95b;
	color: white;
}
.population-main-III tr td{
	height: 39px;
	background: white;
}
.population-main-III tr th,.population-main-III tr td{
	border:1px solid #d2d2d2;
	text-align: center;
}
.population-main-III table{
	margin: 0px 7px;
}
/********************宿舍管理***************************/
.dorm{
	margin-left: -35px;
}
.dorm-main{
	width: 770px;
	margin-top: -30px;
	height: auto;
}
.dorm-top{
	height: 65px;
}
.dorm-top-right{
	float: right;
}
.dorm-top-right span{
	display: inline-block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background: #ececec;
	border:1px solid #cacaca;
	margin-top: 25px;
	margin-left: 15px;
}
.dorm-info{
	background: #f8f8f8;
}
.tab-main table tr th{
	background: #5cb95b;
	color: white;
}
.tab-main table tr th,.tab-main table tr td{
	border:1px solid #d2d2d2;
	text-align: center;
}
.tab-main table tr td:first-child{
	background: #ececec;
}
.dorm-info  table{
	display: inline-block;
	padding: 15px 5px;
}
.dorm-info th{
	height: 55px;
}
.dorm-info td{
	height: 42px;
	line-height: 42px;
	background: white;
}
.dorm-info td em{
	color: #3799d1;
	margin-right: 5px;
	cursor: pointer;
}
.dorm-new{
	/*display: none;*/
	position: fixed;
	width: 460px;
	height: 295px;
	top: 50%;
	left: 50%;
	margin-top: -147.5px;
	margin-left: -230px;
	background: white;
	z-index: 99999;
}
.popup-top{
	height: 45px;
	background: #616161;
	color: white;
	line-height: 45px;
}
.popup-top em{
	margin-left: 20px;
}
.popup-top i{
	margin-right: 20px;
	float: right;
	cursor: pointer;
}
.dorm-new-main{
	margin-top: 50px;
	margin-left: 65px;
}
.dorm-new-main dd{
	margin-top: 20px;
}
.dorm-new-main dd em{
	display: inline-block;
	width: 5em;
	text-align: right;
}
.dorm-new-main dd input{
	border:1px solid #bbbbbb;
	width: 220px;
	height: 30px;
	margin-left: 15px;
	text-indent: 0.5em;
}
.dorm-new-main dd select{
	border:1px solid #bbbbbb;
	width: 135px;
	height: 30px;
	margin-left: 11px;
	text-indent: 0.5em;
}
.dorm-new-main dd .dorm-ra{
	width: 15px;
	height: 15px;
}
.dorm-new-bottom{
	width: 100%;
	text-align: center;
	margin-top: 45px;
}
.dorm-new-bottom span{
	display: inline-block;
	text-align: center;
	height: 30px;
	line-height: 30px;
	width: 80px;
	margin-left: 25px;
	cursor: pointer;
}
.dorm-new-bottom .dorm-QD{
	background: #5cb95b;
	color:white;
	border:1px solid #5cb95b;
}
.dorm-new-bottom .dorm-QX{
	background: #eeeeee;
	border:1px solid #bbbbbb;
}
.dorm-QC{
	/*display: none;*/
	position: fixed;
	width: 460px;
	height: 260px;
	top: 50%;
	left: 50%;
	margin-top: -130px;
	margin-left: -230px;
	background: white;
	z-index: 99999;
}
.dorm-new-main label{
	display: inline-block;
	width: 80%;
	text-align: center;
}
.dorm-dell{
	font-weight: bold;
}
#dorm-SS{
	display: none;
}
#dorm-SSL{
	display: none;
}
#dorm-newW{
	display: none;
}
#dorm-QC{
	display: none;
}
#dorm-QCC{
	display: none;
}
#dorm-QCCC{
	display: none;
}
#dorm-new{
	display: none;
}
#dorm-newWw{
	display: none;
	height: 365px!important;
	margin-top: -182.5px!important;
}
.check-right{
	float: right;
	height: 40px;
	line-height: 40px;
	display: none;
}
.check-right span{
	display: inline-block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background: #ececec;
	border: 1px solid #cacaca;
	margin-left: 10px;
}
/*********************入住管理*************************/
#dorm-check{
	display: none;
}
.check-top{
	height: 85px;
}
.check-top div{
	float: left;
	width: 115px;
	margin-top: 20px;
}
.check-top div select{
	border:1px solid #dddddd;
	width: 100px;
	height: 30px;
	margin-top: 5px;
}
.check-top div input{
	border:1px solid #dddddd;
	width: 100px;
	height: 26px;
	margin-top: 5px;
}
.check-top div em{
	display: block;
}
.check-top span{
	display: inline-block;
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	background: #ececec;
	border: 1px solid #cacaca;
	margin-left: 10px;
	margin-top: 42px;
}
.check-num{
	border:1px solid #dddddd;
	width: 760px;
	height: 88px;
}
.check-num div{
	border-left: 6px solid #5cb95b;
	font-weight: bold;
	padding-left: 15px;
	margin: 15px 0 0 10px;
}
.check-num span{
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
}
.check-num span em{
	color: #5bb95b;
}
.check-main{
	/*margin-top: 20px;*/
}
.check-main>ul>li{
	float: left;
	border:2px solid #dcdcdc;
	width: 240px;
	height: 214px;

}
.check-main .check-li-top{
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-bottom: 2px solid #dcdcdc;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
	position: relative;
}
.check-main li{
	margin-top: 20px;
	margin-right: 15px;
}
.check-main li:nth-child(3n){
	margin-right: 0px;
}
.check-main .check-li-top em{
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 14px;
}
.check-li-bo li{
	float: left;
	/*background: #eaf6ff;*/
	width: 78px;
	height: 52px;
	text-align: center;
	margin-top: 2px;
	margin-left: 1px;
	margin-right: 1px;
	cursor: pointer;
	position: relative;
}

.check-bo-li{
	background: #eaf6ff;
}
.check-bo-li:hover .check-TZ,.check-bo-li:hover .check-QC{
	display: inline-block;
}
.check-RZ:hover .check-RZZ{
	display: inline-block;
}
.check-TZ{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	/*display: inline-block;*/
	background: #999999;
	opacity: 0.8;
	color: white;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.check-QC{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	/*display: inline-block;*/
	background: #999999;
	opacity: 0.8;
	color: white;
	width: 100%;
	height: 100%;
}
.check-RZZ{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	/*display: inline-block;*/
	background: #999999;
	opacity: 0.8;
	color: white;
	width: 100%;
	height: 100%;
}
.check-TZ em{
	display: inline-block;
	border: 1px solid white;
	border-radius: 20px;
	width: 60px;
	height: 22px;
	margin-top: 2px;
	line-height: 22px;
}
.check-QC em{
	display: inline-block;
	border: 1px solid white;
	border-radius: 20px;
	width: 60px;
	height: 28px;
	margin-top: 11px;
	line-height: 28px;
}
.check-RZZ em{
	display: inline-block;
	border: 1px solid white;
	border-radius: 20px;
	width: 60px;
	height: 28px;
	margin-top: 11px;
	line-height: 28px;
}
.check-li-bo li .check-bo-num{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #92c5ed;
	line-height: 20px;
	margin: 8px auto 0;
}
#dorm-QSQC{
	display: none;
	height: 305px!important;
	margin-top: -152.5px;
}
#dorm-QSQC dd textarea{
	border:1px solid #bebebe;
	height: 75px;
	width: 305px;
}
#dorm-QSQC dd em{
	margin-left: -45px;
}
#dorm-QSQC .dorm-new-bottom{
	margin-top: 25px;
}
#dorm-QSRZ{
	display: none;
	height: 370px!important;
	margin-top: -135px;
}
#dorm-QSRZ .dorm-new-main{
	margin-top: 30px!important;
	margin-left: 25px!important;
}
#dorm-QSRZ dt em{
	font-weight: bold;
}
#dorm-QSRZ .dorm-new-main dd{
	margin-bottom: 20px;
}
.dorm-DOQS span{
    display: inline-block;
    width: 140px;
    margin-left: 11px;
}
#dorm-QSRZ .dorm-new-main dd em{
	width: 2em;
}
#dorm-QSRZ .dorm-new-main dd select{
	width: 90px;
}
#dorm-QSRZ .dorm-new-main .dorm-DOQS em{
	width: 3em;
	margin-top: 15px;
}
#dorm-QSRZ .dorm-new-main .dorm-DOQS select{
	width: 140px;
}
#dorm-QSRZ .dorm-new-bottom{
	margin-top: 25px;
}
#dorm-QSTZ{
	display: none;
	height: 335px!important;
	margin-top: -162.5px;
}
#dorm-QSTZ .dorm-new-main{
	margin-top: 30px;
	margin-left: 20px;
}
.QSTZ-QS{
	background: #d6d6d6;
	padding: 2px 10px;
	border-radius: 20px;
}
.QSTZ-XQS{
	background: #a5f6a4;
	padding: 2px 10px;
	border-radius: 20px;
}
#dorm-RZMD{
	display: none;
}
#dorm-QSTZ em{
	width: 3em!important;
}
#dorm-QSTZ select{
	width: 120px!important;
}
.QSTZ-faly{
	margin-left: 65px;
}
#dorm-QCMD{
	display: none;
}
.dorm-clean{
    display: none;
    position: fixed;
    width: 460px;
    height: 260px;
    top: 50%;
    left: 50%;
    margin-top: -130px;
    margin-left: -230px;
    background: white;
    z-index: 99999;
}
.dorm-clean dt input {
    border: 1px solid #bbbbbb;
    width: 220px;
    height: 30px;
    margin-left: 15px;
    text-indent: 0.5em;
}
/*分页*/
.page-paginator {
    width: 100%;
    margin: 40px auto 20px auto;
    text-align: center;
    /*display: none;*/
}
.page-index span {
    padding: 3px 8px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}
.first-page,.last-page {
    padding: 3px 15px;
    color: #838383;
    border-radius: 4px;
    border: 1px solid #838383;
    background-color: #F6F7F6;
    cursor: pointer;
    margin: 0 2px;
}

.page-paginator span.active {
    background-color:#E6E6E6;
    color: #779554;
}
/*分页结束*/
/**************************背景***********************/
.bg
{
    display: none;
    background-color: #000;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    filter: alpha(opacity=40);
    opacity: 0.4;
    z-index: 1;
    position: fixed !important; /*FF IE7*/
    position: absolute;
    _top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
            documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 :/*IE6*/
            document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/
}
